@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }
    
    .navbar .navbar-collapse {
        text-align: center;
    }
}
 
.certificate-nav {
	position: relative;
	width: 100%;
	height: 150px;
	background-color: blue;
}

.certificate-nav-logo-container {
	background-color: red;
	width: 300px;
	height: 100px;
	position: absolute;
	left: 100px;
	top: 20px;
}

.certificate-nav-logo {
	width: 100%;
}

.certificate-nav-bar {
	width: 50%;
	margin: 0 auto;
	background-color: transparent !important;
	background-image: none !important;
	border: none !important;
}

.certificate-content-container {
	/*margin-top: 20px;*/
	width: 100%;
	height: 800px;
	background-color: lightgray;
}

.certificate-pane {
	width: 1024px;
	height: 600px;
	background-color: white;
	margin: 0 auto;
	/*margin-top: 20px !important;*/
}

.certificate-pane-head {
	width: 100%;
	height: 50px;
	border-bottom-color: blue;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}