@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }
    
    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar {
    	font-family:"Microsoft YaHei";
    }
}

.banner-two-set {
	background-image: url("/assets/images/home/Banner-two.png");
	background-repeat: no-repeat;
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size:100% 100%;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 18.77%; /* (img-height / img-width * width) */
                /* (853 / 1280 * 100) */
}

.first {
	padding-top:140px;  
	background-image:url('/assets/images/main-banner.png');
	height: 350px;
}

.second {
	padding-top:330px;
	background-image:url('/assets/images/home/Banner.png');
	height: 850px;
}

.third {
	background-image:url('/assets/images/home/Banner-two.png');
	height: 280px;
}

.affix {
  -webkit-transition:padding 0.2s ease-out !important;
  -moz-transition:padding 0.2s ease-out !important;  
  -o-transition:padding 0.2s ease-out !important;         
  transition:padding 0.2s ease-out !important;
}

.affix-top {
  /* navbar style at top */
  background:transparent !important;
  border-color:transparent !important;
  padding: 15px !important;
  -webkit-transition:all 0.5s ease !important;
  -moz-transition:all 0.5s ease !important; 
  -o-transition:all 0.5s ease !important;         
  transition:all 0.5s ease !important;  
}

.affix-top .nav>li>a {
   color: #FFFFFF !important;
}

.affix-top .navbar-collapse {
   border-color:transparent !important;
}

section {
  height:calc(90% - 50px);
  height: 90vh;
}

.position-set {
	position: relative;
	width: 100%;
}

.main-image {
	position: absolute;
	left: 0;
	top: 0;
}

.main-text {
    position:absolute;    
    font-size:24px;
    width: 100%;
    left: 0;
    top: 200px;
}

.in-middle {
   display: table;
   width: 100%;
}

.in-middle-setting {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}

.in-middle-setting-two {
   display: table-cell;
   text-align: left;
   vertical-align: middle;
}

.home-nav {
	background-color: transparent;
	width: 100%;
	height: 200px;
	position: relative;
}

.home-nav-phone {
	background-color: transparent;
	position: absolute !important;
}

.home-nav-phone-logo {
	padding-top: 35px;
}

.home-nav-phone-text {
	color: #FFFFFF;
	font-size: 14px;
	padding-top: 10px;
	position: absolute !important;
	padding-left: 20px;
}

.home-nav-phone-number {
	color: #FFFFFF;
	font-size: 24px;
}

.home-nav-logo-container {
	text-align: center;
	margin-top: 20px;
/*	vertical-align: middle; */
}

.home-nav-logo {
	text-align: center;
	margin: 0 auto;
}



/**
.navbar-nav>.active>a {
	box-shadow: none !important;
	-web-box-shadow: none !important;
	font-size: 24px !important;
}

.nav.navbar-nav li a {
	color: #FFFFFF !important;
	font-size: 18px;
}

.nav.navbar-nav > .active > a{
	background-image: none !important;
	background-color: #008bdc !important;
}

.nav.navbar-nav > .active > a:focus{
	color: #FFFFFF !important;
	font-size: 24px !important;
	background-image: none !important;
	background-color: #008bdc !important;
}
**/

.home-nav-sign-btn-group {
	position: absolute;
	right: 20px;
	top: 20px;
}

.home-nav-sign-btn-group>button {
	background-image: none !important;
	background-color: transparent !important;
	color: white !important;
	border: 1px solid white;
	border-radius: 0px !important;
}

.home-nav-sign-btn-group>button:hover {
	color: #ffaf02 !important;
	border: 1px solid #ffaf02;
}

.home-reg-dialog {
	background-image: none !important;
	background-color: rgba(255, 255, 255, 0.5) !important; 
	width: 560px;
	height: 280px;
	margin: 280px auto;
}

.home-reg-header {
	border: none !important;
}

.home-reg-table-title {
	text-align: center;
	color: #000b2a;
	font-size: 24px;
	height: 80px;
}

.table>thead>tr>th {
	border: none !important;
}

.table>tbody>tr>td {
	border: none !important;
}

.home-reg-table-cell {
	text-align: center;
	margin: 0;
	font-size: 18px;
	height: 60px;
	vertical-align: middle !important;
}

.home-reg-table-cell>a {
	color: #333333;
	width: 100%;
}

.home-reg-table-cell:hover {
	color: white;
	background-color: #008bdc;
	cursor: pointer;
}

.home-reg-table-cell:hover>a {
	color: white;
	text-decoration: none;
}

.home-login-header {
	position: relative;
	border-bottom: 2px solid #008bdc !important;
}

.home-login-title {
	text-align: center;
}

.home-login-icon {
	position: absolute;
	top: 5px;
	left: 10px;
}

.home-login-btn {
	text-align: center;
	margin: 0 auto !important;
	color: black !important;
	font-size: 18px;
	max-width: 405px;
	height: 35px;
	border: 2px solid #008bdc !important;
	background-color: transparent !important;
	background-image: none !important;
	border-radius: 0px;
	float: none !important;
}

.home-login-btn:hover {
	background-color: rgba(255, 255, 255, 0.5) !important;
}

.home-img-wall {
	height: auto !important;
}

.home-table-container {
	width: 100%;
	background-color: #FFFFFF;
}

.home-table {
	width: 80%;
	height: 400px;
	margin: 0 auto;
	background-color: #FFFFFF;
}

.home-table-icon {
	text-align: center;
}

.home-table-des-text {
/*	font-size: 1.5em; */
	font-size: 36px;
	color: #008bdc;
	letter-spacing: 1px;
	text-align: center;
}

.home-footer {
	width: 100%;
	height: 300px;
	background-image: url("/assets/images/home-footer-bkg.png");
	background-repeat: no-repeat;
	background-color: #008bdc;
}

.homebanner {
	width: 100%;
	background-image: url("/assets/home/Banner.png");
	background-repeat: no-repeat;
	background-color: none;
	-moz-background-size:100% 100%;
	background-size:100% 100%;
}

.home-footer-table {
	width: 40%;
	margin: 0 auto;	
}

.home-footer-table-title {
	font-size: 24px;
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
	padding-top: 40px;
}

.home-footer-cell {
	text-align: center;
	padding-top: 30px;
}

.footer-setting {
	margin-top: 20px;
}

.footer-margin-right {
	margin-right: 20px;
}

.footer-color {
	color:#FFFFFF;
}

.register-btn{
	text-align: center;
}

.register-btn>button {
	border: 1px solid #008bdc;
	background-color: transparent !important;
	background-image: none !important;
	width: 150px;
}


/**
	Certificate Page CSS
**/

.business-license-btn {
	text-align: center;
}

.business-license-btn>button {
	border: 1px solid #008bdc;
	background-color: #008bdc; !important;
	background-image: none !important;
	color: white;
	border-radius: 0px !important;
}

.road-license-btn {
	text-align: center;
}

.road-license-btn>button {
	border: 1px solid #008bdc;
	background-color: #008bdc !important;
	background-image: none !important;
	color: white;
	border-radius: 0px !important;
	width: 400px;
	min-width: 250px;
}

.verifiable-code-btn>button {
	border: 1px solid #008bdc;
	background-color: #008bdc; !important;
	background-image: none !important;
	color: white;
	border-radius: 0px !important;
}

.validate-error {
	border: 1px solid red !important;
}



/* the image of user experience in home page */

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

