@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }
    
    .navbar .navbar-collapse {
        text-align: center;
    }
}

.home-nav {
	background-color: #008bdc;
	width: 100%;
	height: 200px;
	position: relative;
}

.home-nav-phone {
	background-color: transparent;
	position: absolute !important;
}

.home-nav-phone-text {
	color: #FFFFFF;
	font-size: 14px;
	
}

.home-nav-phone-number {
	color: #FFFFFF;
	font-size: 24px;
}

.home-nav-logo-container {
	text-align: center;
	margin-top: 20px;
/*	vertical-align: middle; */
}

.home-nav-logo {
	text-align: center;
	margin: 0 auto;
}

.home-nav-bar {
	text-align: center !important;
	background-image: none !important;
	background-color: transparent !important;
	border: none !important;
	font-size: 18px;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.navbar-nav>.active>a {
	box-shadow: none !important;
	-web-box-shadow: none !important;
	font-size: 24px !important;
}

.nav.navbar-nav li a {
	color: #FFFFFF !important;
	font-size: 18px;
}

.nav.navbar-nav > .active > a{
	background-image: none !important;
	background-color: #008bdc !important;
}

.nav.navbar-nav > .active > a:focus{
	color: #FFFFFF !important;
	font-size: 24px !important;
	background-image: none !important;
	background-color: #008bdc !important;
}

.home-nav-sign-btn-group {
	position: absolute;
	right: 20px;
	top: 20px;
}

.home-img-wall {
	height: auto !important;
}

.home-table-container {
	width: 100%;
	background-color: #FFFFFF;
}

.home-table {
	width: 80%;
	height: 400px;
	margin: 0 auto;
	background-color: #FFFFFF;
}

.home-table-icon {
	text-align: center;
}

.home-table-des-text {
/*	font-size: 1.5em; */
	font-size: 36px;
	color: #008bdc;
	letter-spacing: 1px;
	text-align: center;
}

.home-footer {
	width: 100%;
	height: 300px;
	background-image: url("/assets/images/home-footer-bkg.png");
	background-repeat: no-repeat;
	background-color: #008bdc;
}

.home-footer-table {
	width: 40%;
	margin: 0 auto;	
}

.home-footer-table-title {
	font-size: 24px;
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
}

.home-footer-cell {
	text-align: center;
}

/* the image of user experience in home page */

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

