@(token : String)(cars : List[play.api.libs.json.JsValue])

@admin_main("平台福利车历史记录")(110) {
    
} {

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">平台福利车历史记录</h3>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                    <div class="form-horizontal">

                        <div class="form-group">
                            

                            <div class="driver-line" style="min-height: 40px !important">
                                <label class="col-sm-2 control-label">起始时间选择</label>

                                <div class="col-sm-2" style="padding-right: 0px !important">
                                    <input type="text" id="datepicker_start">
                                </div>

                                <div class="form-group" style="display: none;" data-name='start-error'>
                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-8">
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            请填写有效的起始时间
                                        </div>
                                    </div>
                                </div> 

                                <label class="col-sm-2 control-label">终止时间选择</label>
                                <div class="col-sm-2" style="padding-right: 0px !important">
                                    <input type="text" id="datepicker_end">
                                </div>

                                <div class="form-group" style="display: none;" data-name='end-error'>
                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-8">
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            请填写有效的起始时间
                                        </div>
                                    </div>
                                </div> 

                                <div class="col-sm-3 col-sm-offset-1" style="padding-right: 0px !important">
                                    <button id="" class="btn btn-default col-sm-3 car-send-btn" onclick="startSearch()">搜索</button>
                                </div>
                            </div>

                        </div>
                    </div>

                        <div class="dataTable_wrapper table-responsive" style="margin-top: 20px;">
                            <table class="table table-striped table-bordered table-hover" id="">
                                <thead>
                                    <tr>
                                        <th>发车时间</th>
                                        <th>发车状态</th>
                                        <th>查看详情</th>
                                    </tr>
                                </thead>

                                <tbody data-name="result-container">
                                @admin_car_search_result(cars)(false)
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>

    </div>
    <!-- /#page-wrapper -->
} {
    <script type="text/javascript">
        $(function(){
            $("#datepicker_start").datepicker();
            $("#datepicker_end").datepicker();
        });

        function validate(ele, result, name) {
            if (result) $(ele).removeClass('validate-error');
            else $(ele).addClass('validate-error');

            if (name) {
                if (result) $(String(name)).css({"display": "none"});
                else $(String(name)).css({"display": "block"});
            }

            return result;
        }

        function hasInput(str) {
            var result = (typeof(str) == "string") && (str != "");
            return result;
        }

        function showContent(pl_id) {
            $('#view-details-' + pl_id).show('fast');
        }

        function hideContent(pl_id) {
            $('#view-details-' + pl_id).hide('fast');   
        }

        function startSearch() {
            var result = true;

            var start = $('#datepicker_start').val();
            result &= validate($('#datepicker_start'), hasInput(start), 'div[data-name="start-error"]');

            var end = $('#datepicker_end').val();
            result &= validate($('#datepicker_end'), hasInput(end), 'div[data-name="end-error"]');

            if (result) {
                var query_object = new Object();

                var date = new Object();
                date['min'] = start;
                date['max'] = end;

                query_object['date'] = date;

                $.ajax({
                    url: "/admin/platform/query/html",
                    type: 'POST',
                    // dataType: 'json',
                    dataType: 'html',
                    contentType: 'application/json, charset=utf-8',
                    data: JSON.stringify(query_object),
                    cache: false,
                    success: function (data) {
                        $("tr[data-name='car-result']").remove();
                        $("tbody[data-name='result-container']").add(data).appendTo($("tbody[data-name='result-container']"));
                    },
                    error: function (xhr, status, error) {
                        alert("请检查您的输入");
                    }
                });
            }
        }

        function appendCars() {
            var result = true;

            var start = $('#datepicker_start').val();
            result &= validate($('#datepicker_start'), hasInput(start), 'div[data-name="start-error"]');

            var end = $('#datepicker_end').val();
            result &= validate($('#datepicker_end'), hasInput(end), 'div[data-name="end-error"]');

            if (result) {
                var query_object = new Object();

                var date = new Object();
                date['min'] = start;
                date['max'] = end;

                query_object['date'] = date;

                query_object['skip'] = $('div[data-name="car-result"]').length;

                $.ajax({
                    url: "/admin/platform/query/html",
                    type: 'POST',
                    // dataType: 'json',
                    dataType: 'html',
                    contentType: 'application/json, charset=utf-8',
                    data: JSON.stringify(query_object),
                    cache: false,
                    success: function (data) {
                        $(data).appendTo($('tbody[data-name="result-container"]'));
                    },
                    error: function (xhr, status, error) {
                        alert("请检查您的输入");
                    }
                });
            }
        }

        var $window = $(window);
        var $document = $(document);
        $window.scroll(function(){
            if ($document.scrollTop() + $window.height() >= $document.height()) {
                appendCars();
            } else {

            }
        });
    </script>
}
