@(message: String)

@main("易聚货-商务合作")  {
    
} {

	<section class="first">
		<div class="container"> 

			<div class="in-middle">
				<p class="in-middle-setting" style="color:#FFFFFF; font-size:27px">合作共赢</br>Cooperation & Collaboration</p>
			</div>

		</div>
	</section>

	<section>
		<div class="container">


			<div class="col-sm-12" style="margin-top:30px">

				<div class="col-sm-6 col-xs-12">
					<img style="width: 100%;" src="@routes.Assets.at("images/business/business-image.png")">
				</div>

				<div class="col-sm-6 col-xs-12">

					<p class="" style="color:#40c3f3; font-size: 20px; margin-top:20px">
						平台福利车的合作
					</p>

					<p class="" >
						诚邀信誉及服务良好的个人、车队、物流服务商加盟“易聚货”平台福利车行列，携手打造更专业、更高效的互联网线下运输合作。平台福利车采用预约用车的方式，合作车辆只需提前一天将次日发车的车源信息告知平台，平台安排调度进行找货拼货，达到车辆最大满载量后告知车主次日装货的相关信息，以节省车主找货浪费的宝贵时间。</br></br>
	           			物流公司、车队应符合在中国境内具备合法营业手续并具有道路运输许可相关资质的专线、物流公司，并拥有直接或间接合作的一定数量的货运车辆，具备货物承运能力等条件。</br></br>
	           			个人应通过平台实名认证，能熟练使用平台各项功能并引导其他司机注册使用。具有较好的服务态度和吃苦耐劳、诚实守信精神。</br></br>
					</p>
				</div>

			</div>


			<div class="col-sm-12" style="margin-top:36px;">
				<p class="col-sm-12 col-xs-12" style="color:#40c3f3; font-size: 20px">
					保险机构的合作
				</p>

				<p class="col-sm-12 col-xs-12" >
					“易聚货”致力于推行在线快捷投保功能，通过电子保单形式为平台会员提供投保服务。 </br>
					其服务模式为第三方网络产品提供商建立在线交易平台，提供保险信息咨询及投保服务，实行在“易聚货”平台上完成交易和清算。</br>
					公司诚邀有资质的保险机构携手“易聚货”，共同开拓物流运输保险业务的合作，实现三方互利共赢。</br>
				</p>

			</div>


			<div class="col-sm-12" style="margin-top:36px; margin-bottom: 20px">
				<p class="col-sm-12 col-xs-12" style="color:#40c3f3; font-size: 20px">
					广告的合作
				</p>

				<p class="col-sm-12 col-xs-12" >
					“易聚货”是杭州恒昇网络科技有限公司推行的一个结合当下互联网科技与传统物流行业的整合平台，致力于让每位与物流相关的人都能分享到互联网科技带来的更高效更便捷的服务；平台通过PC端、手机PC适应端，微信公众号实现人与货、运力与货主、人与人之间的实时连接；根据货源、位置、运力状况、线路等信息，利用大数据技术完成实时信息智能推送，精准投放受众目标,为每个发货者与配货用户提供真实的“生意信息”；为充分发挥“易聚货”网络平台的潜在优势，诚邀各企业平台供应商加盟“易聚货”平台广告合作，实现双方互利共赢。</br></br>
				</p>

			</div>


		</div>

		<div class="col-sm-12 in-middle" style="height: 150px; background-color: #50555e; text-align: center;">

			<p class="in-middle-setting" style="font-size: 32px; color:#40c3f3;">+&nbsp;&nbsp;关注我们</p>

		</div>

		<div class="col-sm-12 in-middle" style="height: 330px; background-color: #282e3a;">   

			<div class="col-sm-12 in-middle-setting-two" style="margin-top:80px">
					<div class="col-sm-3 col-sm-offset-3">
						<p class="footer-color col-sm-12"><i class="fa fa-home fa-lg" aria-hidden="true" style="margin-right:20px;"></i>浙江省杭州市余杭区望梅路578号</p></br>
						<p class="footer-color col-sm-12" style="margin-top:10px"><i class="fa fa-internet-explorer fa-lg footer-margin-right" aria-hidden="true"></i>www.elogco.com</p></br>
						<p class="footer-color col-sm-12" style="margin-top:10px"><i class="fa fa-phone-square fa-lg footer-margin-right" aria-hidden="true"></i>0571-89160770</p></br> 
						<p class="footer-color col-sm-12" style="margin-top:10px"><i class="fa fa-envelope fa-lg footer-margin-right" aria-hidden="true"></i>hz_hskj@@foxmail.com</p></br>		
						<p class="footer-color col-sm-12" style="margin-top:10px"><i class="fa fa-weixin fa-lg footer-margin-right" aria-hidden="true"></i>elogco</p>				
					</div>

					<div class="col-sm-3 col-sm-offset-1">
						<img style="width:200px; height:200px" src="@routes.Assets.at("images/weixin_public.jpg")">	
					</div>

			</div>
		</div>  

	</section>

} {
	<script type="text/javascript">
		$(function(){
		//	$('li[data-current="business"]').addClass("active");
		});
	</script>
}
