@(message: String)

@main("Welcome to Play") {
    
} {
	<div class="container-fluid content-bkg">
		<div class="container another-bkg">
			<div class="third-bkg">

				<label style="font-size: 36px; text-align: left;">驾驶员</label>
				<label style="font-size: 18px; text-align: center;">注册认证</label> </br>

				<div style="margin:0; padding:0; width:100%; height:1px; background-color:#008bdc; overflow:hidden; margin-top:5px;"></div>

				<form class="form-horizontal" style="margin-top: 40px;">
				
					<div class="form-group">
						<label for="company-name" class="col-sm-2 control-label">姓名</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="company-name">
						</div>
					</div>

					<div class="form-group">
						<label for="legal-person" class="col-sm-2 control-label">身份证号码</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="legal-person">
						</div>
					</div>

					<div class="form-group">
						<label for="business-license" class="col-sm-2 control-label">驾驶员行驶证</label>
						<div class="col-sm-10 business-license-btn">
							<button type="button" class="btn" data-toggle="modal" data-target="">上传照片</button>
						</div>
					</div>

					<div class="form-group">
						<label for="business-license" class="col-sm-2 control-label">驾驶员驾驶证</label>
						<div class="col-sm-10 business-license-btn">
							<button type="button" class="btn" data-toggle="modal" data-target="">上传照片</button>
						</div>
					</div>

					<div class="form-group">
						<label for="principal-phone-no" class="col-sm-2 control-label">手机号码</label>
						<div class="col-sm-2">
							<select class="form-control" disabled>
								<option value="china">中国大陆&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+86</option>
							</select>
						</div>
						<div class="col-sm-8">
							<input type="email" class="form-control" id="principal-phone-no">
						</div>
					</div>

					<div class="form-group">
						<label for="verifiable-code" class="col-sm-2 control-label" >动态验证码</label>
						<div class="col-sm-8">
							<input type="email" class="form-control" id="verifiable-code" placeholder="在此输入验证码" >
						</div>
						<div class="col-sm-2 verifiable-code-btn">
							<button type="button" class="btn" data-toggle="modal" data-target="verifiable-code-btn">获取动态验证码</button>
						</div>
					</div>

					<div class="form-group">

						<label for="certificate-type" class="col-sm-2 control-label" >拥有车型</label>

						<div class="col-sm-2 checkbox">
							<label>
								<input type="checkbox"> 平板车
							</label>
						</div>

						<div class="col-sm-2 checkbox">
							<label>
								<input type="checkbox"> 高栏车
							</label>
						</div>						
						
						<div class="col-sm-2 checkbox">
							<label>
								<input type="checkbox"> 厢式车
							</label>
						</div>

						<div class="col-sm-2 checkbox">
							<label>
								<input type="checkbox"> 保温冷藏
							</label>
						</div>

						<div class="col-sm-2 checkbox">
							<label>
								<input type="checkbox"> 半挂车
							</label>
						</div>
					</div>	

					<div class="form-group">

						<label for="certificate-type" class="col-sm-2 control-label" ></label>

						<div class="col-sm-2 checkbox">
							<label>
								<input type="checkbox"> 危险品车
							</label>
						</div>						
						
						<div class="col-sm-2 checkbox">
							<label>
								<input type="checkbox"> 高低板
							</label>
						</div>

						<div class="col-sm-2 checkbox">
							<label>
								<input type="checkbox"> 起重车
							</label>
						</div>

						<div class="col-sm-2 checkbox">
							<label>
								<input type="checkbox"> 牵引车
							</label>
						</div>

						<div class="col-sm-2 checkbox">
							<label>
								<input type="checkbox"> 仓棚车
							</label>
						</div>	
					</div>	

					<div class="form-group">

						<label for="certificate-type" class="col-sm-2 control-label" ></label>
						
						<div class="col-sm-2 checkbox">
							<label>
								<input type="checkbox"> 罐式车
							</label>
						</div>

						<div class="col-sm-2 checkbox">
							<label>
								<input type="checkbox"> 特种车
							</label>
						</div>

						<div class="col-sm-2 checkbox">
							<label>
								<input type="checkbox"> 集装箱车
							</label>
						</div>						

					</div>

					<div class="form-group">
						<label for="legal-person" class="col-sm-2 control-label">载重</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="legal-person">
						</div>
					</div>

					<div class="form-group">
						<label for="legal-person-id" class="col-sm-2 control-label">车长</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="legal-person-id">
						</div>
					</div>			  

					<div class="form-group">
						<label for="principal-phone-no" class="col-sm-2 control-label">常用路线</label>

						<div class="col-sm-2">
							<select class="form-control">
								<option selected disabled>请选择省区</option>
								<option value="zhejiang">浙江省</option>
							</select>
						</div>

						<div class="col-sm-2">
							<select class="form-control">
								<option selected disabled>请选择市区</option>
								<option value="zhejiang">杭州市</option>
							</select>
						</div>

						<div class="col-sm-1" style="text-align:center; vertical-">
							<img  src="@routes.Assets.at("images/arrow/oneway.png")">
						</div>

						<div class="col-sm-2">
							<select class="form-control">
								<option selected disabled>请选择省区</option>
								<option value="zhejiang">浙江省</option>
							</select>
						</div>

						<div class="col-sm-2">
							<select class="form-control">
								<option selected disabled>请选择市区</option>
								<option value="zhejiang">杭州市</option>
							</select>
						</div>

					</div>		

					<div class="form-group">
						<label for="" class="col-sm-2 control-label"></label>
						<div class="col-sm-10 business-license-btn">
							<button type="button" class="btn" data-toggle="modal" data-target="newroute">常用路线添加</button>
						</div>
					</div>	

					<div class="form-group">
						<label for="certificate-type" class="col-sm-2 control-label" >是否购买货物险</label>
						<div class="col-sm-10">
							<div class="radio">
								<label>
									<input type="radio"> 已购买
								</label>

								<label style="margin-left: 90px">
									<input type="radio"> 未购买
								</label>

							</div>
						</div>
					</div>	  

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox" style="text-align: center;">
								<label>
									<input type="checkbox" checked="true"><a href>注册视为认同《易聚货会员服务协议》</a>
								</label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10 register-btn">
							<button type="submit" class="btn btn-lg">注册</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
} {
	<script type="text/javascript">
	/**
		only one type of certification can be selected
	**/
		$('input[type="radio"]').on('change', function() {
		   $('input[type="radio"]').not(this).prop('checked', false);
		});

		$(function(){
			




		});

	</script>
}
