@(message: String)

@main("注册成功")  {
    
} {
	<div class="container-fluid content-bkg">
		<div class="container another-bkg">
			<div class="third-bkg" style="text-align: center">
				<div>
					<label style="font-size: 30px; ">恭喜您！注册认证流程已完成</label>
				</div>

				<div style="margin-top: 55px;">
					<img  src="@routes.Assets.at("images/certification/complete-logo.png")">
				</div>

				<div>
					<label style="font-size: 14px; margin-top: 70px;">正在为您跳转至首页</label>
				</div>

				</table>
			</div>
		</div>
	</div>
} {
	<script type="text/javascript">
		$(function(){
			
		});
	</script>
}
