@(message: String)

@main("Welcome to Play")  {
    
} {
	<div class="container-fluid content-bkg">
		<div class="container another-bkg">
			<div class="third-bkg">

				<label style="font-size: 36px; text-align: left;">公司注册</label>
				<label style="font-size: 18px; text-align: center;">注册认证</label> </br>

				<div style="margin:0; padding:0; width:100%; height:1px; background-color:#008bdc; overflow:hidden; margin-top:5px;"></div>

				<form class="form-horizontal" style="margin-top: 40px;">
				
					<div class="form-group">

						<label for="certificate-type" class="col-sm-2 control-label" >业务领域</label>

						<div class="col-sm-2 checkbox">
							<label>
								<input type="checkbox"> 公路
							</label>
						</div>

						<div class="col-sm-2 checkbox">
							<label>
								<input type="checkbox"> 铁路
							</label>
						</div>						

						<div class="col-sm-2 checkbox">
							<label>
								<input type="checkbox"> 船运
							</label>
						</div>

						<div class="col-sm-2 checkbox">
							<label>
								<input type="checkbox"> 航空
							</label>
						</div>							
						
					</div>				

					<div class="form-group">
						<label for="principal-phone-no" class="col-sm-2 control-label">营业范围</label>

						<div class="col-sm-2">
							<select class="form-control">
								<option selected disabled>请选择省区</option>
								<option value="zhejiang">浙江省</option>
							</select>
						</div>

						<div class="col-sm-2">
							<select class="form-control">
								<option selected disabled>请选择市区</option>
								<option value="zhejiang">杭州市</option>
							</select>
						</div>

						<div class="col-sm-1" style="text-align:center;">
							<img  src="@routes.Assets.at("images/arrow/oneway.png")">
						</div>

						<div class="col-sm-2">
							<select class="form-control">
								<option selected disabled>请选择省区</option>
								<option value="zhejiang">浙江省</option>
							</select>
						</div>

						<div class="col-sm-2">
							<select class="form-control">
								<option selected disabled>请选择市区</option>
								<option value="zhejiang">杭州市</option>
							</select>
						</div>

					</div>				
				
					<div class="form-group">
						<label for="" class="col-sm-2 control-label"></label>
						<div class="col-sm-10 business-license-btn">
							<button type="button" class="btn" data-toggle="modal" data-target="newroute">新增主营路线</button>
						</div>
					</div>									
				
					<div class="form-group">
						<label for="company-name" class="col-sm-2 control-label">公司网站</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="company-name">
						</div>
					</div>



					<div class="form-group">
						<label for="legal-person" class="col-sm-2 control-label">公司传真</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="legal-person">
						</div>
					</div>

					<div class="form-group">
						<label for="legal-person-id" class="col-sm-2 control-label">公司邮箱</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="legal-person-id">
						</div>
					</div>			  


					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox" style="text-align: center;">
								<label>
									<input type="checkbox" checked="true"><a href>注册视为认同《易聚货会员服务协议》</a>
								</label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10 register-btn">
							<button type="submit" class="btn btn-lg">注册</button>
						</div>
					</div>

				</form>

			</div>
		</div>
	</div>
} {
	<script type="text/javascript">

		$(function(){
			
		});

	</script>
}
