@(title: String)(name : String)(include: Html)(content: Html)(scripts: Html)

@ci_login_index_main("易聚货公司厂家平台")(name) {
    
} {
    <ul id="sidebar-menu">

    <li class="header"><span>发布信息</span></li>

    <li>
        <a href="/company/sendproduct">
            <i class="glyph-icon icon-share"></i>
            <span>发布货源信息</span>
        </a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="/company/sendinfo">
            <i class="glyph-icon icon-share-alt"></i>
            <span>发布其他信息</span>
        </a>
    </li>

    <li class="header"><span>已发布信息</span></li>

    <li>
        <a href="/company/sentproduct">
            <i class="glyph-icon icon-list"></i>
            <span>已发布货源信息</span>
        </a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="/company/sentinfo">
            <i class="glyph-icon icon-list"></i>
            <span>已发布其他信息</span>
        </a>
    </li>

    <li class="header"><span>已完成信息</span></li>

    <li>
        <a href="/company/completeproduct">
            <i class="glyph-icon icon-check"></i>
            <span>已完成货源信息</span>
        </a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="/company/completeinfo">
            <i class="glyph-icon icon-check"></i>
            <span>已完成其他信息</span>
        </a>
    </li>

    <li class="header"><span>信息列表</span></li>

    <li>
        <a href="/company/driverlist">
            <i class="glyph-icon icon-list-alt"></i>
            <span>车源信息搜索</span>
        </a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="/company/specialwaylist">
            <i class="glyph-icon icon-road"></i>
            <span>专线信息搜索</span>
        </a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="/company/companylist">
            <i class="glyph-icon icon-tasks"></i>
            <span>其他公司货源信息搜索</span>
        </a>
    </li>

    <li class="header"><span>物流公社</span></li>

    <li>
        <a href="/company/recruitment">
            <i class="glyph-icon icon-align-justify"></i>
            <span>其他信息</span>
        </a>
    </li>

    <li class="header"><span>账户管理</span></li>

    <li>
        <a href="/company/account/validateinfo">
            <i class="glyph-icon icon-lock"></i>
            <span>认证资料</span>
        </a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="/company/account/normalinfo">
            <i class="glyph-icon icon-bookmark"></i>
            <span>公司资料</span>
        </a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="/company/account/people">
            <i class="glyph-icon icon-magnet"></i>
            <span>调度信息管理</span>
        </a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="/company/account/productname">
            <i class="glyph-icon icon-cog"></i>
            <span>货物名称管理</span>
        </a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="/company/account/extra">
            <i class="glyph-icon icon-user"></i>
            <span>分账号管理</span>
        </a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="/company/account/psw">
            <i class="glyph-icon icon-edit"></i>
            <span>修改密码</span>
        </a>
    </li>

    <li class="header"><span>易聚货【车联盟】</span></li>

    <li>
        <a href="/company/rewards">
            <i class="glyph-icon icon-bullhorn"></i>
            <span>平台福利车</span>
        </a>
    </li>

    </ul><!-- #sidebar-menu -->
} {

    @content

} {
    @scripts
}
