@(token : String)(open_id : String)(company_name: String)(pdns : List[String])(contacts : List[play.api.libs.json.JsValue])(products : List[play.api.libs.json.JsValue])(cities : List[play.api.libs.json.JsValue])(vc : play.api.libs.json.JsValue)

@ci_login_index_sliders("易聚货公司厂家平台")(company_name)  {
    
} {

<div id="page-content-wrapper">
    <div id="page-content">
        <div class="container">

            <div id="page-title">
                <h3>已发布货源信息</h3>
                <p>#文案添加</p>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-body">
                            <h3 class="title-hero">
                                
                            </h3>

                            @{ (products zipWithIndex) map { tmp =>
                                val iter = tmp._1
                                val index = tmp._2
                                val product_id = (iter \ "product_id").asOpt[String].get
                            <div class="example-box-wrapper">
                                <div class="row">

                                    <div class="col-sm-12">

                                        <div class="row">

                                            <div class="col-sm-4" style="font-size:15px">
                                                <label>
                                                    { 
                                                        (iter \ "date" \ "year").asOpt[Int].get + "年" + (iter \ "date" \ "month").asOpt[Int].get + "月" + (iter \ "date" \ "day").asOpt[Int].get + "日"
                                                    }
                                                </label>
                                            </div>
                  
                                            <div class="col-sm-4" style="font-size:15px">
                                                <label>
                                                    {
                                                        (iter \ "origin" \ "province").asOpt[String].get + " " + 
                                                        (iter \ "origin" \ "city").asOpt[String].get + " --> " + 
                                                        (iter \ "destination" \ "province").asOpt[String].get + " " +
                                                        (iter \ "destination" \ "city").asOpt[String].get
                                                    }
                                                </label>
                                            </div>

                                            <div class="col-sm-2" style="font-size:15px">
                                                <label>
                                                    {
                                                        (iter \ "product_name").asOpt[String].get
                                                    }
                                                </label>
                                            </div>

                                            <button type="button" class="btn btn-info mrg20B col-sm-2 col-xs-12" data-toggle="collapse" data-target={"#" + product_id} style="font-size:15px">
                                                查看详情
                                            </button>

                                        </div>

                                        <div id={product_id} class="collapse">

                                            <div class="panel">

                                                <div class="panel-body">
                                                    <div class="form-horizontal bordered-row">

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">起运地</label>
                                                            <div class="col-sm-8">
                                                                <div class="row">
                                                                    <div class="col-sm-3">
                                                                        <select class="form-control" data-name="origin-province" data-index="0" onchange="cityChanges($(this), $(this).parent().parent(), 1)" >
                                                                            @{cities map { p => 
                                                                                if ({(p \ "province").asOpt[String].get}.equals((iter \ "origin" \ "province").asOpt[String].get)) {
                                                                                    <option value={(p \ "province").asOpt[String].get} selected="">{(p \ "province").asOpt[String].get}</option>
                                                                                } else {
                                                                                    <option value={(p \ "province").asOpt[String].get}>{(p \ "province").asOpt[String].get}</option>
                                                                                }
                                                                            }};
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <select class="form-control" data-name="origin-city" data-index="1" onchange="districtChanges($(this), $(this).parent().parent(), 1)" >
                                                                            @{cities map { p => (p \ "cities").asOpt[List[String]].get map { x => 
                                                                                if (x.equals((iter \ "origin" \ "city").asOpt[String].get)) {
                                                                                    <option style="display:none" data-filter={(p \ "province").asOpt[String].get} value={x} selected="">{x}</option>
                                                                                } else {
                                                                                    <option style="display:none" data-filter={(p \ "province").asOpt[String].get} value={x}>{x}</option>
                                                                                }
                                                                            }}};
                                                                        </select>   
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <select class="form-control">
                                                                            @{cities map { cd => (cd \ "city_ditails").asOpt[List[play.api.libs.json.JsValue]].get map { inner => 
                                                                                (inner \ "districts").asOpt[List[String]].get map { x => 

                                                                                if (x.equals((iter \ "origin" \ "district").asOpt[String].get)) {
                                                                                    <option style="display:none" data-filter={(inner \ "city").asOpt[String].get} value={x} selected="">{x}</option>
                                                                                } else {
                                                                                    <option style="display:none" data-filter={(inner \ "city").asOpt[String].get} value={x}>{x}</option>
                                                                                }
                                                                            }}}};
                                                                        </select>   
                                                                    </div>
                                                                </div>          
                                                                <textarea type="text" class="form-control" placeholder="详细地址" rows="4" style="resize: none; margin-top:10px">{(iter \ "origin" \ "address").asOpt[String].get}</textarea>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">目的地</label>
                                                            <div class="col-sm-8">
                                                                <div class="row">
                                                                    <div class="col-sm-3">
                                                                        <select class="form-control">
                                                                            @{cities map { p => 
                                                                                if ({(p \ "province").asOpt[String].get}.equals((iter \ "destination" \ "province").asOpt[String].get)) {
                                                                                    <option value={(p \ "province").asOpt[String].get} selected="">{(p \ "province").asOpt[String].get}</option>
                                                                                } else {
                                                                                    <option value={(p \ "province").asOpt[String].get}>{(p \ "province").asOpt[String].get}</option>
                                                                                }
                                                                            }};
                                                                        </select>   
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <select class="form-control">
                                                                            @{cities map { p => (p \ "cities").asOpt[List[String]].get map { x => 
                                                                                if (x.equals((iter \ "destination" \ "city").asOpt[String].get)) {
                                                                                    <option style="display:none" data-filter={(p \ "province").asOpt[String].get} value={x} selected="">{x}</option>
                                                                                } else {
                                                                                    <option style="display:none" data-filter={(p \ "province").asOpt[String].get} value={x}>{x}</option>
                                                                                }
                                                                            }}};
                                                                        </select>   
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <select class="form-control">
                                                                            @{cities map { cd => (cd \ "city_ditails").asOpt[List[play.api.libs.json.JsValue]].get map { inner => 
                                                                                (inner \ "districts").asOpt[List[String]].get map { x => 

                                                                                if (x.equals((iter \ "destination" \ "district").asOpt[String].get)) {
                                                                                    <option style="display:none" data-filter={(inner \ "city").asOpt[String].get} value={x} selected="">{x}</option>
                                                                                } else {
                                                                                    <option style="display:none" data-filter={(inner \ "city").asOpt[String].get} value={x}>{x}</option>
                                                                                }
                                                                            }}}};
                                                                        </select>   
                                                                    </div>
                                                                </div>          
                                                                <textarea type="text" class="form-control" placeholder="详细地址" rows="4" style="resize: none; margin-top:10px">{(iter \ "destination" \ "address").asOpt[String].get}</textarea>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">吨位</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control" data-name="weight" placeholder="吨" value={(iter \ "weight").asOpt[Float].get.toString} />
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">体积</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control" date-name="volume" placeholder="立方米" value={(iter \ "volume").asOpt[Float].get.toString} />
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">需求车型</label>
                                                            <div class="col-sm-8">
                                                                { (vc \ "vehicle").asOpt[List[String]].get map { x =>
                                                                <div class="col-sm-2 checkbox">
                                                                    {if ( (iter \ "vehicle").asOpt[List[String]].get.contains(x) ) {
                                                                        <label><input data-name="vehicle" type="checkbox" value={x} checked="" /> {x} </label>
                                                                    } else {
                                                                        <label><input data-name="vehicle" type="checkbox" value={x} /> {x} </label>
                                                                    }}
                                                                </div>
                                                                }}
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">需求车长</label>
                                                            <div class="col-sm-8">
                                                                { (vc \ "vehicle_length").asOpt[List[Double]].get map { x =>
                                                                <div class="col-sm-2 checkbox">
                                                                    {if ( (iter \ "vehicle_length").asOpt[List[Double]].get.filter(y => x - y < 0.0001) ) {
                                                                        <label><input data-name="vehicle-length" type="checkbox" value={x.toString} checked="" /> {x.toString}米 </label>
                                                                    } else {
                                                                        <label><input data-name="vehicle-length" type="checkbox" value={x.toString} /> {x.toString}米 </label>
                                                                    }}
                                                                </div>
                                                                }}
                                                            </div>
                                                        </div>

                                                        <div class="form-group">

                                                            <label class="col-sm-2 control-label">货物名称</label>

                                                            <div class="col-sm-8">

                                                                <div class="row">
                                                                    <div class="col-sm-8">
                                                                    <select class="form-control">
                                                                        <optgroup label="常用货物名称">
                                                                        @{ pdns map { iter =>
                                                                            <option>{iter}</option>    
                                                                        }}                                           
                                                                        </optgroup>
                                                                    </select>
                                                                    </div>
                                                                    <div class="col-sm-4">
                                                                    <button data-toggle="collapse" class="form-control" data-parent="#accordion" href="#name-collapse" style="border: 1px solid #008bdc">
                                                                        添加其他货物名称
                                                                    </button>
                                                                    </div>
                                                                </div>

                                                                <div class="row  collapse" id="name-collapse" style="margin-top:10px">
                                                                    <div class="col-sm-8">
                                                                        <input type="text" name="others" class="form-control" />
                                                                    </div>
                                                                    <div class="col-sm-4">
                                                                        <input name="save" type="checkbox" checked="true" value="save" style="margin-top:10px" /> 并保存至常用货物名称
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">时效需求</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" data-name="date-requirement" class="form-control" value={(iter \ "date_requirement").asOpt[String].get} />
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">其他备注</label>
                                                            <div class="col-sm-8">
                                                                <textarea type="text" class="form-control" rows="3" style="resize: none;">{(iter \ "notes").asOpt[String].get}</textarea>
                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            <div class="row">
                                                            <label class="col-sm-2 control-label">联系人</label>

                                                            <div class="col-sm-8">

                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                    <select class="form-control">
                                                                        <optgroup label="常用联系人">
                                                                        @{ contacts map { iter =>
                                                                            <option data-ct-phone={(iter \ "contact_phone").asOpt[String].get} value={(iter \ "contact_name").asOpt[String].get} >{(iter \ "contact_name").asOpt[String].get}</option>    
                                                                        }}                                          
                                                                        </optgroup>
                                                                    </select>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            </div>

                                                            <div class="row" style="margin-top:10px">
                                                            <label class="col-sm-2 control-label">联系人电话</label>
                                                            <div class="col-sm-8">

                                                                <div class="row">
                                                                    <div class="col-sm-8">
                                                                    <select class="form-control">
                                                                        <optgroup label="常用联系人电话">
                                                                            @{ contacts map { iter =>
                                                                                <option data-ct-name={(iter \ "contact_name").asOpt[String].get}  value={(iter \ "contact_phone").asOpt[String].get} >{(iter \ "contact_phone").asOpt[String].get}</option>
                                                                            }}                                              
                                                                        </optgroup>
                                                                    </select>
                                                                    </div>
                                                                    <div class="col-sm-4">
                                                                    <button data-toggle="collapse" class="form-control" data-parent="#accordion" href="#phone-collapse" style="border: 1px solid #008bdc">
                                                                        添加常用调度员
                                                                    </button>
                                                                    </div>
                                                                </div>

                                                                <div class="row  collapse" id="phone-collapse" style="margin-top:10px">

                                                                    <div class="col-sm-12">
                                                                        <input type="text" name="otherpeople" class="form-control" placeholder="输入调度员姓名" /> 
                                                                    </div>
                              
                                                                    <div class="col-sm-8" style="margin-top:10px">
                                                                        <input type="text" name="otherphone" class="form-control" placeholder="输入调度员联系电话" />
                                                                    </div>

                                                                    <div class="col-sm-4">
                                                                        <input name="save" type="checkbox" value="save" checked="true" style="margin-top:20px" /> 并保存调度员至调度信息管理
                                                                    </div>

                                                                </div>

                                                            </div>
                                                            </div>

                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">货源状态设置</label>

                                                            <div class="col-sm-2 col-sm-offset-1">
                                                                <button class="form-control" style="border: 1px solid #008bdc">保存并发布</button> 
                                                            </div>                 
                                                            <div class="col-sm-2 col-sm-offset-1">
                                                                <button class="form-control" style="border: 1px solid #008bdc">交易完成</button>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <button class="form-control" style="border: none; color:#848484;"><i class="fa fa-trash-o fa-2x" style="color:#6E6E6E"></i> &nbsp;&nbsp;&nbsp; 删除</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

} {
    <script type="text/javascript">
        $(function(){
            $('li[data-current="index"]').addClass("active");
        });

        function contactNameChange() {
            var t = $('select[data-name="contact-name"]').val();
            $('option[data-ct-name="' + t + '"]').attr("selected", true);
        }

        function contactPhoneChange() {
            var t = $('select[data-name="contact-phone"]').val();
            $('option[data-ct-phone="' + t + '"]').attr("selected", true);
        }

        function cityChanges(ele, container, index) {
            var a = Number($(ele).attr("data-index"));
            var province = $(ele).val();
            $(container).find('select[data-index="' + String(a + 1) + '"]').children().css({"display":"none"});
            $(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="choice"]').css({"display":"block"});
            $(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="' + province + '"]').css({"display":"block"});
        }

        function districtChanges(ele, container, index) {
            var a = Number($(ele).attr("data-index"));
            var city = $(ele).val();
            $(container).find('select[data-index="' + String(a + 1) + '"]').children().css({"display":"none"});
            $(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="choice"]').css({"display":"block"});
            $(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="' + city + '"]').css({"display":"block"});
        }
    </script>
}