@(cities : List[play.api.libs.json.JsValue])(token : String)(open_id : String)(company_name : String)(auth : Int)(pdns : List[String])(contacts : List[play.api.libs.json.JsValue])(vc : play.api.libs.json.JsValue)

@ci_login_index_sliders("易聚货-公司")(company_name)(auth) {
    
} {

<div id="page-content-wrapper">
    <div id="page-content">
        <div class="container">
            <div id="page-title">
                <h2>发布货源</h2>
            </div>

            <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                    </h3>
                    <div class="example-box-wrapper">
                        <div class="form-horizontal bordered-row">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">起运地</label>
                                <div class="col-sm-8" data-name="origin">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <select class="form-control" data-name="origin-province" data-index="0" onchange="cityChanges2($(this), $(this).parent().parent(), 1)">
                                                <option selected disabled>请选择省</option>
                                                @{cities map { iter => 
                                                    <option value={(iter \ "province").asOpt[String].get}>{(iter \ "province").asOpt[String].get}</option>
                                                }};
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            <select class="form-control" data-name="origin-city" data-index="1" onchange="districtChanges($(this), $(this).parent().parent(), 1)">
                                                <option selected disabled data-filter="choice" >请选择市</option>
                                                @{cities map { iter => (iter \ "cities").asOpt[List[String]].get map { x => 
                                                    <option style="display:none" data-filter={(iter \ "province").asOpt[String].get} value={x}>{x}</option>
                                                }}};
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            <select class="form-control" data-name='origin-district' data-index='2'>
                                                <option selected disabled data-filter="choice" >请选择区</option>
                                                @{cities map { iter => (iter \ "city_ditails").asOpt[List[play.api.libs.json.JsValue]].get map { inner => 
                                                    (inner \ "districts").asOpt[List[String]].get map { x => 
                                                    <option style="display:none" data-filter={(inner \ "city").asOpt[String].get} value={x}>{x}</option>
                                                }}}};
                                            </select>
                                        </div>
                                    </div>          
                                    <textarea type="text" class="form-control" placeholder="详细地址（选填）" rows="4" data-name="origin-address" style="resize: none; margin-top:10px;"
                                    onchange="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\u4E00-\u9FA5]/g,''))"></textarea>
                                </div>
                            </div>

                            <div class="form-group" style="display: none;" data-name='origin-error'>
                                <label for="company-name" class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        请输入完整的起运地
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">目的地</label>
                                <div class="col-sm-8">
                                    <div class="row" data-name="destination">
                                        <div class="col-sm-3">
                                            <select class="form-control" data-name="destination-province" data-index="0" onchange="cityChanges2($(this), $(this).parent().parent(), 1)">
                                                <option selected disabled>请选择省</option>
                                                @{cities map { iter => 
                                                    <option value={(iter \ "province").asOpt[String].get}>{(iter \ "province").asOpt[String].get}</option>
                                                }};
                                            </select> 
                                        </div>
                                        <div class="col-sm-3">
                                            <select class="form-control" data-name="destination-city" data-index="1" onchange="districtChanges($(this), $(this).parent().parent(), 1)">
                                                <option selected disabled data-filter="choice" >请选择市</option>
                                                @{cities map { iter => (iter \ "cities").asOpt[List[String]].get map { x => 
                                                    <option style="display:none" data-filter={(iter \ "province").asOpt[String].get} value={x}>{x}</option>
                                                }}};
                                            </select> 
                                        </div>
                                        <div class="col-sm-3">
                                            <select class="form-control" data-name='destination-district' data-index='2'>
                                                <option selected disabled data-filter="choice" >请选择区</option>
                                                @{cities map { iter => (iter \ "city_ditails").asOpt[List[play.api.libs.json.JsValue]].get map { inner => 
                                                    (inner \ "districts").asOpt[List[String]].get map { x => 
                                                    <option style="display:none" data-filter={(inner \ "city").asOpt[String].get} value={x}>{x}</option>
                                                }}}};
                                            </select> 
                                        </div>
                                    </div>          
                                    <textarea type="text" class="form-control" placeholder="详细地址（选填）" rows="4" data-name='destination-address' style="resize: none; margin-top:10px;"
                                    onchange="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\u4E00-\u9FA5]/g,''))"></textarea>
                                </div>
                            </div>

                            <div class="form-group" style="display: none;" data-name='destination-error'>
                                <label for="company-name" class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        请输入完整的目的地
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">吨位</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" data-name="weight" placeholder="吨">
                                </div>
                            </div>

                            <div class="form-group" style="display: none;" data-name='weight-error'>
                                <label for="company-name" class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        请输入有效的吨位(数字)
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">体积</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" data-name="volume" placeholder="立方米">
                                </div>
                            </div>

                            <div class="form-group" style="display: none;" data-name='volume-error'>
                                <label for="company-name" class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        请输入有效的体积(数字)
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" data-name="vehicle-container">
                                <label class="col-sm-2 control-label">需求车型</label>
                                <div class="col-sm-8">
                                    @{(vc \ "vehicle").asOpt[List[String]].get map { x =>
                                        <div class="col-sm-2 checkbox">
                                            <label><input data-name="vehicle" type="checkbox" value={x} /> {x} </label>
                                        </div>
                                    }}
                                </div>
                            </div>

                            <div class="form-group" style="display: none;" data-name='vehicle-error'>
                                <label for="company-name" class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        请选择有效的车型
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" data-name="vehicle-length-container">
                                <label class="col-sm-2 control-label">需求车长</label>
                                <div class="col-sm-8">
                                    @{(vc \ "vehicle_length").asOpt[List[Double]].get map { x =>
                                        <div class="col-sm-2 checkbox">
                                            <label><input data-name="vehicle-length" type="checkbox" value={x.toString} /> {x.toString}米 </label>
                                        </div>
                                    }}
                                </div>
                            </div>

                            <div class="form-group" style="display: none;" data-name='vehicle-length-error'>
                                <label for="company-name" class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        请选择有效的车长
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" data-name="product-name-container">

                                <label class="col-sm-2 control-label">货物名称</label>

                                <div class="col-sm-8">

                                    <div class="row">
                                        <div class="col-sm-8">
                                        <select class="form-control" data-name="product-name">
                                            <optgroup label="常用货物名称">
                                                <option disabled selected></option>
                                                @{ pdns map { iter =>
                                                    <option>{iter}</option>    
                                                }}                                  
                                            </optgroup>
                                        </select>
                                        </div>
                                        <div class="col-sm-4">
                                        <button data-toggle="collapse" class="form-control" data-parent="#accordion" href="#name-collapse" style="border: 1px solid #008bdc">
                                            添加新货物名称
                                        </button>
                                        </div>
                                    </div>

                                    <div class="row  collapse" id="name-collapse" style="margin-top:10px">
                                        <div class="col-sm-8">
                                            <input type="text" data-name="product-name-input" class="form-control">
                                        </div>
                                        <div class="col-sm-4">
                                            <input data-name="product-name-save" type="checkbox" checked="true" style="margin-top:10px"> 保存至货物名称管理
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group" style="display: none;" data-name='product-name-error'>
                                <label for="company-name" class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        请填写有效的货物名称信息
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">时效需求</label>
                                <div class="col-sm-8">
                                    <input type="text"  data-name='date-requirement' class="form-control" placeholder="默认为正常时效">
                                </div>
                            </div>

                            <div class="form-group" style="display: none;" data-name='date-requirement-error'>
                                <label for="company-name" class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        请填写有效的失效需求
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">其他备注</label>
                                <div class="col-sm-8">
                                    <textarea type="text" class="form-control" rows="3" data-name='notes' style="resize: none;"></textarea>
                                </div>
                            </div>

                            <div class="form-group" style="display: none;" data-name='notes-error'>
                                <label for="company-name" class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        请填写有效的备注信息
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" data-name="contact-container">
                                <div class="row">
                                    <label class="col-sm-2 control-label">调度员</label>

                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-12">
                                            <select class="form-control" data-name="contact-name" onchange="contactNameChange()">
                                                <optgroup label="调度员姓名">
                                                    @{ contacts map { iter =>
                                                        <option data-ct-phone={(iter \ "contact_phone").asOpt[String].get} value={(iter \ "contact_name").asOpt[String].get} >{(iter \ "contact_name").asOpt[String].get}</option>    
                                                    }}                                           
                                                </optgroup>
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="margin-top:10px">
                                    <label class="col-sm-2 control-label">调度员电话</label>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <select class="form-control" data-name="contact-phone" onchange="contactPhoneChange()">
                                                    <optgroup label="调度员电话" editable>
                                                        @{ contacts map { iter =>
                                                            <option data-ct-name={(iter \ "contact_name").asOpt[String].get}  value={(iter \ "contact_phone").asOpt[String].get} >{(iter \ "contact_phone").asOpt[String].get}</option>
                                                        }}                                            
                                                    </optgroup>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <button data-toggle="collapse" class="form-control" data-parent="#accordion" href="#phone-collapse" style="border: 1px solid #008bdc">
                                                    添加新调度员
                                                </button>
                                            </div>
                                        </div>

                                        <div class="row  collapse" id="phone-collapse" style="margin-top:10px">

                                            <div class="col-sm-12">
                                                <input type="text" data-name="contact-name-input" class="form-control" placeholder="输入调度员姓名">
                                            </div>

                                            <div class="col-sm-8" style="margin-top:10px">
                                                <input type="text" data-name="contact-phone-input" class="form-control" placeholder="输入调度员联系电话">
                                            </div>

                                            <div class="col-sm-4">
                                                <input data-name="contact-save" type="checkbox" value="save" checked="true" style="margin-top:20px" > 保存至调度员信息管理
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="form-group" style="display: none;" data-name='contact-error'>
                                <label for="company-name" class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        请填写有效的调度员信息
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group text-center">
                                <label class="col-sm-2 control-label"></label>
                                <button class="col-sm-6 col-xs-offset-1 col-xs-8 btn bg-blue" onclick="pushProduct()" style="margin-right:20px !important">
                                    发布
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

} {
    <script src="@routes.Assets.at("javascripts/district-change.js")"></script>
    <script type="text/javascript">
        $(function(){
            $('li[data-current="index"]').addClass("active");
        });

        function contactNameChange() {
            var t = $('select[data-name="contact-name"]').val();
            $('option[data-ct-name="' + t + '"]').attr("selected", true);
        }

        function contactPhoneChange() {
            var t = $('select[data-name="contact-phone"]').val();
            $('option[data-ct-phone="' + t + '"]').attr("selected", true);
        }

        function validate(ele, result, name) {
            if (result) $(ele).removeClass('validate-error');
            else $(ele).addClass('validate-error');

            if (name) {
                if (result) $(String(name)).css({"display": "none"});
                else $(String(name)).css({"display": "block"});
            }

            return result;
        }

        function hasInput(str) {
            var result = (typeof(str) == "string") && (str != "");
            return result;
        }

        function pushProduct() {
            var result = true;

            var origin_province = $('select[data-name="origin-province"]').val();
            var origin_city = $('select[data-name="origin-city"]').val();
            var origin_district = $('select[data-name="origin-district"]').val();
            var origin_address = $('textarea[data-name="origin-address"]').val();

            result &= validate($('div[data-name="origin"]'), 
                        (origin_province != undefined) && (origin_city != undefined) && (origin_district != undefined), // && hasInput(origin_address),
                        'div[data-name="origin-error"]');


            var destination_province = $('select[data-name="destination-province"]').val();
            var destination_city = $('select[data-name="destination-city"]').val();
            var destination_district = $('select[data-name="destination-district"]').val();
            var destination_address = $('textarea[data-name="destination-address"]').val();

            result &= validate($('div[data-name="destination"]'), 
                        (destination_province != undefined) && (destination_city != undefined) && (destination_district != undefined), //&& hasInput(destination_address),
                        'div[data-name="destination-error"]');



            var weight = $('input[data-name="weight"]').val();

            result &= validate($('input[data-name="weight"]'),
                        hasInput(weight) && !isNaN(Number(weight)),
                        'div[data-name="weight-error"]');


            var volume = $('input[data-name="volume"]').val();

            result &= validate($('div[data-name="volume"]'),
                        hasInput(volume) && !isNaN(Number(volume)),
                        'div[data-name="volume-error"]');


            var vehicle_lst = $('input[data-name="vehicle"]:checked');

            result &= validate($('div[data-name="vehicle-container"]'),
                        vehicle_lst.length > 0,
                        'div[data-name="vehicle-error"]');


            var vehicle_length_lst = $('input[data-name="vehicle-length"]:checked');

            result &= validate($('div[data-name="vehicle-length-container"]'),
                        vehicle_length_lst.length > 0,
                        'div[data-name="vehicle-length-error"]');

            var reg_product_name = /^[\u4E00-\u9FA5]{2,10}$/; 
            var product_name = "";
            var product_name_save = 0;
            if($('#name-collapse').hasClass("in")) {
                product_name = $('input[data-name="product-name-input"]').val();
                if ($('input[data-name="product-name-save"]').is(':checked')) 
                    product_name_save = 1;
                else
                    product_name_save = 0;
            }else{
                product_name = $('select[data-name="product-name"]').val();
                product_name_save = 0;
            }

            result &= validate($('div[data-name="product-name-container"]'),
                        hasInput(product_name) && reg_product_name(product_name),
                        'div[data-name="product-name-error"]');


            var date_requirement = $('input[data-name="date-requirement"]').val();

            // result &= validate($('input[data-name="date-requirement"]'),
            //             hasInput(date_requirement),
            //             'div[data-name="date-requirement-error"]');


            var notes = $('input[data-name="notes"]').val();
            if (notes == undefined) {
                notes = "";
            }

            var cell_phone_reg = /^1[3|4|5|7|8]\d{9}$/;
            var contact_name_reg = /[\u4e00-\u9fa5]/;
            var contact_name = "";
            var contact_phone = "";
            var contact_save = 0;
            if($('#phone-collapse').hasClass("in")) {
                contact_name = $('input[data-name="contact-name-input"]').val();
                contact_phone = $('input[data-name="contact-phone-input"]').val();
                if ($('input[data-name="contact-save"]').is(':checked')) 
                    contact_save = 1;
                else
                    contact_save = 0;
            } else {
                contact_name = $('select[data-name="contact-name"]').val();
                contact_phone = $('select[data-name="contact-phone"]').val();
                contact_save = 0;
            }

            result &= validate($('div[data-name="contact-container"]'),
                        hasInput(contact_name) && hasInput(contact_phone) && cell_phone_reg.test(contact_phone) && contact_name_reg.test(contact_name),
                        'div[data-name="contact-error"]');

            if (result) {
                var query_object = new Object();

                var origin = new Object();
                origin['origin_province'] = origin_province;
                origin['origin_city'] = origin_city;
                origin['origin_district'] = origin_district;
                origin['origin_address'] = origin_address;

                query_object['origin'] = origin;

                var destination = new Object();
                destination['destination_province'] = destination_province;
                destination['destination_city'] = destination_city;
                destination['destination_district'] = destination_district;
                destination['destination_address'] = destination_address;

                query_object['destination'] = destination;

                query_object['weight'] = Number(weight);
                query_object['volume'] = Number(volume);

                var vehicle_str_lst = [];
                $.each(vehicle_lst, function(index, value){
                    vehicle_str_lst.push($(this).val());
                });
                query_object['vehicle'] = vehicle_str_lst;

                var vehicle_length_number_lst = [];
                $.each(vehicle_length_lst, function(index, value){
                    vehicle_length_number_lst.push(Number($(this).val()));
                });
                query_object['vehicle_length'] = vehicle_length_number_lst;

                query_object['product_name_save'] = product_name_save;
                query_object['product_name'] = product_name;

                query_object['notes'] = notes;
                query_object['date_requirement'] = date_requirement;

                query_object['contact_name'] = contact_name;
                query_object['contact_phone'] = contact_phone;
                query_object['contact_save'] = contact_save;
                query_object['company_name'] = "@company_name";

                query_object['open_id'] = "@open_id";
                
                $.ajax({
                    url: "/data/company/product/push",
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json, charset=utf-8',
                    data: JSON.stringify(query_object),
                    cache: false,
                    success: function (data) {
                        if (data.status == "ok") {                                          
                        //     alert("注册成功审核！");
                             alert("发布成功");
                             location.href = "/company/sentproduct"
                        } else {
                            alert(data.error.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("请检查您的输入");
                    }
                });
            }
        }
    </script>
}