@(token : String)(open_id : String)(company_name: String)(pdns : List[String])(contacts : List[play.api.libs.json.JsValue])(products : List[play.api.libs.json.JsValue])(cities : List[play.api.libs.json.JsValue])(vc : play.api.libs.json.JsValue)

@ci_login_index_sliders("易聚货-公司")(company_name)  {
    
} {

<div id="page-content-wrapper">
    <div id="page-content">
        <div class="container">

            <div id="page-title">
                <h3>已发布货源信息</h3>
                <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#D4AC0D; margin-top:10px;">
                    <span style="color:#424949;margin-left: 5px;"> 如需修改发布内容，请在修改完成后保存并发布；如已完成交易，请及时更改货物状态，点击交易完成，谢谢合作！</span>
                </i>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-body">
                            <h3 class="title-hero">
                                
                            </h3>

                            <div data-name="result-container">
                            @company_sent_products(pdns)(contacts)(products)(cities)(vc)
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

} {
    <script type="text/javascript">
        $(function(){
            $('li[data-current="index"]').addClass("active");
        });

        function contactNameChange(product_id) {
            var tmp = $('select[data-name="contact-name-' + product_id + '"]');
            var t = tmp.val();
            tmp.find('option[data-ct-name="' + t + '"]').attr("selected", true);
        }

        function contactPhoneChange(product_id) {
            var tmp = $('select[data-name="contact-phone-' + product_id + '"]');
            var t = tmp.val();
            tmp.find('option[data-ct-phone="' + t + '"]').attr("selected", true);
        }

        function validate(ele, result, name) {
            if (result) $(ele).removeClass('validate-error');
            else $(ele).addClass('validate-error');

            if (name) {
                if (result) $(String(name)).css({"display": "none"});
                else $(String(name)).css({"display": "block"});
            }

            return result;
        }

        function hasInput(str) {
            var result = (typeof(str) == "string") && (str != "");
            return result;
        }

        function cityChanges(ele, container, index) {
            var a = Number($(ele).attr("data-index"));
            var province = $(ele).val();
            $(container).find('select[data-index="' + String(a + 1) + '"]').children().css({"display":"none"});
            $(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="choice"]').css({"display":"block"});
            $(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="' + province + '"]').css({"display":"block"});
        }

        function districtChanges(ele, container, index) {
            var a = Number($(ele).attr("data-index"));
            var city = $(ele).val();
            $(container).find('select[data-index="' + String(a + 1) + '"]').children().css({"display":"none"});
            $(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="choice"]').css({"display":"block"});
            $(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="' + city + '"]').css({"display":"block"});
        }

        function updateProduct(product_id) {
            var result = true;

            var origin_province = $('select[data-name="origin-province-' + product_id + '"]').val();
            var origin_city = $('select[data-name="origin-city-' + product_id + '"]').val();
            var origin_district = $('select[data-name="origin-district-' + product_id + '"]').val();
            var origin_address = $('textarea[data-name="origin-address-' + product_id + '"]').val();

            result &= validate($('div[data-name="origin"]'), 
                        (origin_province != undefined) && (origin_city != undefined) && (origin_district != undefined) && hasInput(origin_address),
                        'div[data-name="origin-error-' + product_id + '"]');


            var destination_province = $('select[data-name="destination-province-' + product_id + '"]').val();
            var destination_city = $('select[data-name="destination-city-' + product_id + '"]').val();
            var destination_district = $('select[data-name="destination-district-' + product_id + '"]').val();
            var destination_address = $('textarea[data-name="destination-address-' + product_id + '"]').val();

            result &= validate($('div[data-name="destination"]'), 
                        (destination_province != undefined) && (destination_city != undefined) && (destination_district != undefined) && hasInput(destination_address),
                        'div[data-name="destination-error-' + product_id + '"]');


            var weight = $('input[data-name="weight-' + product_id + '"]').val();

            result &= validate($('input[data-name="weight-' + product_id + '"]'),
                        hasInput(weight) && !isNaN(Number(weight)),
                        'div[data-name="weight-error-' + product_id + '"]');


            var volume = $('input[data-name="volume-' + product_id + '"]').val();

            result &= validate($('div[data-name="volume-' + product_id + '"]'),
                        hasInput(volume) && !isNaN(Number(volume)),
                        'div[data-name="volume-error-' + product_id + '"]');


            var vehicle_lst = $('input[data-name="vehicle-' + product_id + '"]:checked');

            result &= validate($('div[data-name="vehicle-container"]'),
                        vehicle_lst.length > 0,
                        'div[data-name="vehicle-error-' + product_id + '"]');


            var vehicle_length_lst = $('input[data-name="vehicle-length-' + product_id + '"]:checked');

            result &= validate($('div[data-name="vehicle-length-container"]'),
                        vehicle_length_lst.length > 0,
                        'div[data-name="vehicle-length-error-' + product_id + '"]');


            var product_name = "";
            var product_name_save = 0;
            if($('#name-collapse').hasClass("in")) {
                product_name = $('input[data-name="product-name-input-' + product_id + '"]').val();
                if ($('input[data-name="product-name-save-' + product_id + '"]').is(':checked')) 
                    product_name_save = 1;
                else
                    product_name_save = 0;
            }else{
                product_name = $('select[data-name="product-name-' + product_id + '"]').val();
                product_name_save = 0;
            }

            result &= validate($('div[data-name="product-name-container"]'),
                        hasInput(product_name),
                        'div[data-name="product-name-error-' + product_id + '"]');


            var date_requirement = $('input[data-name="date-requirement-' + product_id + '"]').val();

            // result &= validate(
            //             $('input[data-name="date-requirement-' product_id + '"]'),
            //             hasInput(date_requirement),
            //             'div[data-name="date-requirement-error-' + product_id + '"]');


            var notes = $('textarea[data-name="notes-' + product_id + '"]').val();
            if (notes == undefined) {
                notes = "";
            }

            var contact_name = "";
            var contact_phone = "";
            var contact_save = 0;
            if($('#phone-collapse').hasClass("in")) {
                contact_name = $('input[data-name="contact-name-input-' + product_id + '"]').val();
                contact_phone = $('input[data-name="contact-phone-input-' + product_id + '"]').val();
                if ($('input[data-name="contact-save' + product_id + '"]').is(':checked')) 
                    contact_save = 1;
                else
                    contact_save = 0;
            } else {
                contact_name = $('select[data-name="contact-name-' + product_id + '"]').val();
                contact_phone = $('select[data-name="contact-phone-' + product_id + '"]').val();
                contact_save = 0;
            }

            // result &= validate($('div[data-name="contact-container"]'),
            //             hasInput(contact_name) && hasInput(contact_phone),
            //             'div[data-name="contact-error-' product_id + '"]');

            if (result) {
                var query_object = new Object();

                var origin = new Object();
                origin['origin_province'] = origin_province;
                origin['origin_city'] = origin_city;
                origin['origin_district'] = origin_district;
                origin['origin_address'] = origin_address;

                query_object['origin'] = origin;

                var destination = new Object();
                destination['destination_province'] = destination_province;
                destination['destination_city'] = destination_city;
                destination['destination_district'] = destination_district;
                destination['destination_address'] = destination_address;

                query_object['destination'] = destination;

                query_object['weight'] = Number(weight);
                query_object['volume'] = Number(volume);

                var vehicle_str_lst = [];
                $.each(vehicle_lst, function(index, value){
                    vehicle_str_lst.push($(this).val());
                });
                query_object['vehicle'] = vehicle_str_lst;

                var vehicle_length_number_lst = [];
                $.each(vehicle_length_lst, function(index, value){
                    vehicle_length_number_lst.push(Number($(this).val()));
                });
                query_object['vehicle_length'] = vehicle_length_number_lst;

                query_object['product_name_save'] = product_name_save;
                query_object['product_name'] = product_name;

                query_object['notes'] = notes;
                query_object['date_requirement'] = date_requirement;

                query_object['contact_name'] = contact_name;
                query_object['contact_phone'] = contact_phone;
                query_object['contact_save'] = contact_save;

                query_object['open_id'] = "@open_id";
                query_object['product_id'] = product_id;
                
                $.ajax({
                    url: "/data/company/product/update",
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json, charset=utf-8',
                    data: JSON.stringify(query_object),
                    cache: false,
                    success: function (data) {
                        if (data.status == "ok") {                                          
                        //     alert("注册成功审核！");
                             alert("发布成功");
                             location.reload();
                        } else {
                            alert(data.error.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("请检查您的输入");
                    }
                });
            }
        }

        function completProduct(product_id) {
            var query_object = new Object();

            query_object['status'] = 1;
            query_object['product_id'] = product_id;
            
            $.ajax({
                url: "/data/company/product/update",
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json, charset=utf-8',
                data: JSON.stringify(query_object),
                cache: false,
                success: function (data) {
                    if (data.status == "ok") {                                          
                    //     alert("注册成功审核！");
                         alert("交易完成");
                         location.reload();
                    } else {
                        alert(data.error.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("请检查您的输入");
                }
            });
        }
    </script>
}