@(message: String)

@ci_login_index_sliders("易聚货-公司")("") {
    
} {

<div id="page-content-wrapper">
    <div id="page-content">
        <div class="container">

        <div id="page-title">
            <h3>平台福利车</h3></br>
            <i class="fa fa-heartbeat" aria-hidden="true" style="color:#B80115; margin-top:10px;">
                <span style="color:#424949;margin-left: 5px;">温馨提示:平台福利车为入驻平台的公司、专线提供低于市场价的预约发车服务。</span>
            </i>
            <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#D4AC0D; margin-top:10px;">
                <span style="color:#424949;margin-left: 5px;">各大公司、专线可于每晚8点之后，根据次日发车详情，对可预约状态下的平台福利车致电预约，预约成功后不可取消，如若爽约将作降权处理，累计满三次将永久冻结此服务。</span>
            </i>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-body">
                        <h3 class="title-hero">
                            
                        </h3>

                        <div class="example-box-wrapper">
                            <div class="row">

                                <div class="col-sm-12">

                                    <div class="row">

                                    <div class="col-sm-3" style="font-size:15px">
                                        <label>浙江杭州->北京北京</label>
                                    </div>
          
                                    <div class="col-sm-3" style="font-size:15px">
                                        <label>平板车 / 15米</label>
                                    </div>

                                    <div class="col-sm-2" style="font-size:15px">
                                        <label>2016年7月1日</label>
                                    </div>

                                    <div class="col-sm-2" style="font-size:15px">
                                        <label>可预约</label>
                                    </div>

                                    <button type="button" class="btn btn-info mrg20B col-sm-2 col-xs-12" data-toggle="collapse" data-target="#depart-view" style="font-size:15px">
                                        查看详情
                                    </button>

                                    </div>

                                    <div id="depart-view" class="collapse">

                                        <div class="panel">

                                            <div class="panel-body">
                                            <div class="form-horizontal bordered-row" role="form">

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">行驶路线</label>
                                                    <div class="col-sm-8">
                                                        <label type="text" class="control-label">张三</label>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">发车时间</label>
                                                    <div class="col-sm-6">
                                                        <label type="text" class="control-label">平板车</label>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">车型</label>
                                                    <div class="col-sm-6">
                                                        <label type="text" class="control-label">平板车</label>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">车长</label>
                                                    <div class="col-sm-6">
                                                        <label type="text" class="control-label">11米</label>
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">吨位报价</label>
                                                    <div class="col-sm-6">
                                                        <label type="text" class="control-label">12 元/吨</label>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">方数报价</label>
                                                    <div class="col-sm-6">
                                                        <label type="text" class="control-label">11 元/立方米</label>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">其他备注</label>
                                                    <div class="col-sm-6">
                                                        <label type="text" class="control-label">已购买</label>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">预约电话</label>
                                                    <div class="col-sm-6">
                                                        <label type="text" class="control-label">400-000-0000</label>
                                                    </div>
                                                </div> 

                                            </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        </div>
    </div>
</div>

} {
    <script type="text/javascript">
        $(function(){
            $('li[data-current="index"]').addClass("active");
        });
    </script>
} 