@(token : String)(open_id : String)(company_name: String)(infos : List[play.api.libs.json.JsValue])

@ci_login_index_sliders("易聚货-公司")(company_name) {
    
} {

<div id="page-content-wrapper">
    <div id="page-content">
        <div class="container">

            <div id="page-title">
                <h2>已发布其他信息</h2>
                <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#D4AC0D; margin-top:10px;">
                    <span style="color:#424949;margin-left: 5px;"> 如需修改发布内容，请在完成后保存并发布；如已完成交易，请及时更改货物状态，点击交易完成，谢谢合作！</span>
                </i>
            </div>

            <div class="panel">
                <div class="panel-body">
                    <div data-name="result-container">
                    @company_sent_info(infos)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

} {
    <script type="text/javascript">
        $(function(){
            $('li[data-current="index"]').addClass("active");
        });

        function setDefault(edit, html) {
            $('div[data-name="' + edit + '"]').find('.note-editable').html(html);
        }

        function completeInfo(info_id) {
            var query_object = new Object();
            query_object['info_id'] = info_id;
            query_object['status'] = 1;

            $.ajax({
                url: "/data/company/info/update",
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json, charset=utf-8',
                data: JSON.stringify(query_object),
                cache: false,
                success: function (data) {
                    if (data.status == "ok") {
                        alert("信息完成");
                        location.reload();
                    } else {
                        alert(data.error.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("请检查您的输入");
                }
            });
        }

        function updateInfo(info_id) {

            var content = $('div[data-name="edit' + info_id + '"]').find('.note-editable').html();
            var title = $('div[data-title="' + info_id + '"]').val();
            var contact = $('div[data-contact="' + info_id + '"]').val();
            var phone_no = $('div[data-phone="' + info_id + '"]').val();

            var query_object = new Object();
            query_object['info_id'] = info_id;
            query_object['title'] = title;
            query_object['contact'] = contact;
            query_object['content'] = content;
            query_object['phone_no'] = phone_no;

            $.ajax({
                url: "/data/company/info/update",
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json, charset=utf-8',
                data: JSON.stringify(query_object),
                cache: false,
                success: function (data) {
                    if (data.status == "ok") {
                        alert("success");
                        location.reload();
                    } else {
                        alert(data.error.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("请检查您的输入");
                }
            });
        }

        function deleteInfo(info_id) {
            var query_object = new Object();
            query_object['info_id'] = info_id;

            $.ajax({
                url: "/data/company/info/pop",
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json, charset=utf-8',
                data: JSON.stringify(query_object),
                cache: false,
                success: function (data) {
                    if (data.status == "ok") {
                        location.reload();
                    } else {
                        alert(data.error.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("请检查您的输入");
                }
            });
        }

        function appendInfos() {
            var query_object = new Object();

            query_object['open_id'] = "@open_id";
            query_object['status'] = 0;
            query_object['skip'] = $('div[data-name="info-item"]').length;

            $.ajax({
                url: "/html/specialway/sendInfo/append",
                type: 'POST',
                // dataType: 'json',
                dataType: 'html',
                contentType: 'application/json, charset=utf-8',
                data: JSON.stringify(query_object),
                cache: false,
                success: function (data) {
                    $(data).appendTo($('div[data-name="result-container"]'));
                },
                error: function (xhr, status, error) {
                    alert("请检查您的输入");
                }
            });
        }

        var $window = $(window);
        var $document = $(document);
        $window.scroll(function(){
            if ($document.scrollTop() + $window.height() >= $document.height()) {
                appendInfos();
            } else {

            }
        });
    </script>
}