@(cities : List[play.api.libs.json.JsValue])

@ci_login_index_sliders("易聚货公司厂家平台")("")  {
    
} {

<div id="page-content-wrapper">
    <div id="page-content">
        <div class="container" data-result='container'>

        <div id="page-title"></div>


        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-body">

                        <h3 class="title-hero">
                            车源信息列表搜索选项栏
                        </h3>

                        <div class="example-box-wrapper">

                            <div class="panel-group" id="accordion">

                                <div class="panel">

                                    <div class="panel-heading">
                                        <form class="form-horizontal bordered-row">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">按路线搜索</label>
                                                <div class="col-sm-5 col-sm-offset-2">
                                                <button type="button" class="col-sm-2 col-xs-12 form-control" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" style="font-size:15px; border:1px solid #008bdc">
                                            常跑路线
                                            <i class="glyph-icon icon-angle-down"></i>
                                                </button>

                                                </div>
                                            </div>              
                                        </form>
                                    </div>

                                    <div id="collapseOne" class="panel-collapse collapse">
                                        <div class="panel-body">
                                        <form class="form-horizontal bordered-row">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-2 col-sm-offset-1">
                                                        <select class="form-control" data-name="origin-province" data-index="0" onchange="cityChanges($(this), $(this).parent().parent(), 1)">
                                                            <option selected disabled>请选择省区</option>
                                                            @{cities map { iter => 
                                                                <option value={(iter \ "province").asOpt[String].get}>{(iter \ "province").asOpt[String].get}</option>
                                                            }};
                                                        </select>   
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <select class="form-control" data-name="origin-city" data-index="1">
                                                            <option selected disabled data-filter="choice" >请选择市区</option>
                                                            @{cities map { iter => (iter \ "cities").asOpt[List[String]].get map { x => 
                                                                <option style="display:none" data-filter={(iter \ "province").asOpt[String].get} value={x}>{x}</option>
                                                            }}};
                                                        </select>   
                                                    </div>

                                                    <div class="col-sm-1 text-center">
                                                        <label><i class="fa fa-long-arrow-right fa-2x" aria-hidden="true"></i></label>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <select class="form-control" data-name="destination-province" data-index="2" onchange="cityChanges($(this), $(this).parent().parent(), 3)">
                                                            <option selected disabled data-filter="choice" >请选择省区</option>
                                                            @{cities map { iter => 
                                                                <option value={(iter \ "province").asOpt[String].get}>{(iter \ "province").asOpt[String].get}</option>
                                                            }};
                                                        </select>   
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <select class="form-control" data-name="destination-city" data-index="3">
                                                            <option selected disabled data-filter="choice" >请选择市区</option>
                                                            @{cities map { iter => (iter \ "cities").asOpt[List[String]].get map { x => 
                                                                <option style="display:none" data-filter={(iter \ "province").asOpt[String].get} value={x}>{x}</option>
                                                            }}};
                                                        </select>   
                                                    </div>
                                                </div>          
                                            </div>  
                                        </form>      
                                        </div>
                                    </div>
                                </div>

                                <div class="panel">
                                    <div class="panel-heading">
                                        <form class="form-horizontal bordered-row">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">按车型搜索</label>
                                                <div class="col-sm-5 col-sm-offset-2">
                                                <button type="button" class="col-sm-2 col-xs-12 form-control" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" style="font-size:15px; border:1px solid #008bdc">
                                            车型选择
                                            <i class="glyph-icon icon-angle-down"></i>
                                                </button>

                                                </div>
                                            </div>              
                                        </form>
                                    </div>

                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                        <form class="form-horizontal bordered-row">
                                            <div class="form-group">
                                                <div class="col-sm-offset-1">
                                                    <div class="col-sm-2 checkbox">
                                                        <label>
                                                            <input name="vehicle" type="checkbox" data-name='vechicle' value="平板车"> 平板车
                                                        </label>
                                                    </div>

                                                    <div class="col-sm-2 checkbox">
                                                        <label>
                                                            <input name="vehicle" type="checkbox" data-name='vechicle' value="高栏车"> 高栏车
                                                        </label>
                                                    </div>                      
                                                    
                                                    <div class="col-sm-2 checkbox">
                                                        <label>
                                                            <input name="vehicle" type="checkbox" data-name='vechicle' value="厢式车"> 厢式车
                                                        </label>
                                                    </div>

                                                    <div class="col-sm-2 checkbox">
                                                        <label>
                                                            <input name="vehicle" type="checkbox" data-name='vechicle' value="半挂车"> 半挂车
                                                        </label>
                                                    </div>
                                                    
                                                    <div class="col-sm-2 checkbox">
                                                        <label>
                                                            <input name="vehicle" type="checkbox" data-name='vechicle' value="高地板"> 高低板
                                                        </label>
                                                    </div>

                                                    <div class="col-sm-2 checkbox">
                                                        <label>
                                                            <input name="vehicle" type="checkbox" data-name='vechicle' value="起重车"> 起重车
                                                        </label>
                                                    </div>

                                                    <div class="col-sm-2 checkbox">
                                                        <label>
                                                            <input name="vehicle" type="checkbox" data-name='vechicle' value="牵引车"> 牵引车
                                                        </label>
                                                    </div>

                                                    <div class="col-sm-2 checkbox">
                                                        <label>
                                                            <input name="vehicle" type="checkbox" data-name='vechicle' value="仓棚车"> 仓棚车
                                                        </label>
                                                    </div>

                                                    <div class="col-sm-2 checkbox">
                                                        <label>
                                                            <input name="vehicle" type="checkbox" data-name='vechicle' value="罐式车"> 罐式车
                                                        </label>
                                                    </div>

                                                    <div class="col-sm-2 checkbox">
                                                        <label>
                                                            <input name="vehicle" type="checkbox" data-name='vechicle' value="特种车"> 特种车
                                                        </label>
                                                    </div>

                                                    <div class="col-sm-2 checkbox">
                                                        <label>
                                                            <input name="vehicle" type="checkbox" data-name='vechicle' value="危险品车"> 危险品车
                                                        </label>
                                                    </div>

                                                    <div class="col-sm-2 checkbox">
                                                        <label>
                                                            <input name="vehicle" type="checkbox" data-name='vechicle' value="保温冷藏"> 保温冷藏
                                                        </label>
                                                    </div>

                                                    <div class="col-sm-2 checkbox">
                                                        <label>
                                                            <input name="vehicle" type="checkbox" data-name='vechicle' value="集装箱车"> 集装箱车
                                                        </label>
                                                    </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>

                                <div class="panel">
                                    <div class="panel-heading">
                                        <form class="form-horizontal bordered-row">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">按车长搜索</label>
                                                <div class="col-sm-5 col-sm-offset-2">
                                                <button type="button" class="col-sm-2 col-xs-12 form-control" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" style="font-size:15px; border:1px solid #008bdc">
                                            车长选择
                                            <i class="glyph-icon icon-angle-down"></i>
                                                </button>

                                                </div>
                                            </div>              
                                        </form>
                                    </div>

                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <form class="form-horizontal bordered-row">
                                                <div class="form-group">
                                                    <div class="col-sm-offset-1">
                                                        <div class="col-sm-2 checkbox">
                                                            <label>
                                                                <input name="vehicle-length" type="checkbox" data-name='vechicle-length' value="4.2"> 4.2米
                                                            </label>
                                                        </div>

                                                        <div class="col-sm-2 checkbox">
                                                            <label>
                                                                <input name="vehicle-length" type="checkbox" data-name='vechicle-length' value="4.5"> 4.5米
                                                            </label>
                                                        </div>                      
                                                        
                                                        <div class="col-sm-2 checkbox">
                                                            <label>
                                                                <input name="vehicle-length" type="checkbox" data-name='vechicle-length' value="5"> 5米
                                                            </label>
                                                        </div>

                                                        <div class="col-sm-2 checkbox">
                                                            <label>
                                                                <input name="vehicle-length" type="checkbox" data-name='vechicle-length' value="6.2"> 6.2米
                                                            </label>
                                                        </div>

                                                        <div class="col-sm-2 checkbox">
                                                            <label>
                                                                <input name="vehicle-length" type="checkbox" data-name='vechicle-length' value="6.9"> 6.9米
                                                            </label>
                                                        </div>

                                                        <div class="col-sm-2 checkbox">
                                                            <label>
                                                                <input name="vehicle-length" type="checkbox" data-name='vechicle-length' value="7.2"> 7.2米
                                                            </label>
                                                        </div>                      
                                                        
                                                        <div class="col-sm-2 checkbox">
                                                            <label>
                                                                <input name="vehicle-length" type="checkbox" data-name='vechicle-length' value="7.7"> 7.7米
                                                            </label>
                                                        </div>

                                                        <div class="col-sm-2 checkbox">
                                                            <label>
                                                                <input name="vehicle-length" type="checkbox" data-name='vechicle-length' value="7.8"> 7.8米
                                                            </label>
                                                        </div>

                                                        <div class="col-sm-2 checkbox">
                                                            <label>
                                                                <input name="vehicle-length" type="checkbox" data-name='vechicle-length' value="8.2"> 8.2米
                                                            </label>
                                                        </div>

                                                        <div class="col-sm-2 checkbox">
                                                            <label>
                                                                <input name="vehicle-length" type="checkbox" data-name='vechicle-length' value="8.6"> 8.6米
                                                            </label>
                                                        </div>

                                                        <div class="col-sm-2 checkbox">
                                                            <label>
                                                                <input name="vehicle-length" type="checkbox" data-name='vechicle-length' value="8.7"> 8.7米
                                                            </label>
                                                        </div>

                                                        <div class="col-sm-2 checkbox">
                                                            <label>
                                                                <input name="vehicle-length" type="checkbox" data-name='vechicle-length' value="9.6"> 9.6米
                                                            </label>
                                                        </div>

                                                        <div class="col-sm-2 checkbox">
                                                            <label>
                                                                <input name="vehicle-length" type="checkbox" data-name='vechicle-length' value="11.7"> 11.7米
                                                            </label>
                                                        </div>
                                                        <div class="col-sm-2 checkbox">
                                                            <label>
                                                                <input name="vehicle-length" type="checkbox" data-name='vechicle-length' value="12.5"> 12.5米
                                                            </label>
                                                        </div>

                                                        <div class="col-sm-2 checkbox">
                                                            <label>
                                                                <input name="vehicle-length" type="checkbox" data-name='vechicle-length' value="13"> 13米
                                                            </label>
                                                        </div>                      
                                                        
                                                        <div class="col-sm-2 checkbox">
                                                            <label>
                                                                <input name="vehicle-length" type="checkbox" data-name='vechicle-length' value="13.5"> 13.5米
                                                            </label>
                                                        </div>

                                                        <div class="col-sm-2 checkbox">
                                                            <label>
                                                                <input name="vehicle-length" type="checkbox" data-name='vechicle-length' value="14"> 14米
                                                            </label>
                                                        </div>

                                                        <div class="col-sm-2 checkbox">
                                                            <label>
                                                                <input name="vehicle-length" type="checkbox" data-name='vechicle-length' value="16"> 16米
                                                            </label>
                                                        </div>

                                                        <div class="col-sm-2 checkbox">
                                                            <label>
                                                                <input name="vehicle-length" type="checkbox" data-name='vechicle-length' value="17"> 17米
                                                            </label>
                                                        </div>                      
                                                        
                                                        <div class="col-sm-2 checkbox">
                                                            <label>
                                                                <input name="vehicle-length" type="checkbox" data-name='vechicle-length' value="17.5"> 17.5米
                                                            </label>
                                                        </div>

                                                        <div class="col-sm-2 checkbox">
                                                            <label>
                                                                <input name="vehicle-length" type="checkbox" data-name='vechicle-length' value="18"> 18米
                                                            </label>
                                                        </div> 
                                                    </div>
                                                </div>                                        
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group text-center">
                            <label class="col-sm-2 control-label"></label>
                            <button class="col-sm-6 col-xs-offset-1 col-xs-8 btn bg-blue" onclick="startSearch()" style="margin-right:20px !important">
                                确认搜索
                            </button>
                        </div>
         
                    </div>
                </div>
            </div>
         </div>

        </div>
    </div>
</div>

} {
    <script type="text/javascript">
        $(function(){
            $('li[data-current="index"]').addClass("active");
        });

        function cityChanges(ele, container, index) {
            var a = Number($(ele).attr("data-index"));
            var province = $(ele).val();
            $(container).find('select[data-index="' + String(a + 1) + '"]').children().css({"display":"none"});
            $(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="choice"]').css({"display":"block"});
            $(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="' + province + '"]').css({"display":"block"});
        }

        function startSearch() {

            var query_object = new Object();

            var origin_province = $('select[data-name="origin-province"]').val();
            var origin_city = $('select[data-name="origin-city"]').val();
            var destination_province = $('select[data-name="destination-province"]').val();
            var destination_city = $('select[data-name="destination-city"]').val();

            if (origin_province != undefined && origin_city != undefined && destination_province != undefined && destination_city != undefined) {
                query_object["origin_province"] = origin_province;
                query_object["origin_city"] = origin_city;
                query_object["destination_province"] = destination_province;
                query_object["destination_city"] = destination_city;
            }

            var vechicle = [];
            $.each($('input[data-name="vechicle"]:checked'), function() {
                vechicle.push($(this).val());
            });
            if (vechicle.length > 0)
                query_object["vehicle"] = vechicle;

            var vechicle_length = [];
            $.each($('input[data-name="vechicle-length"]:checked'), function() {
                vechicle_length.push(Number($(this).val()));
            }); 
            if (vechicle_length.length > 0)
                query_object["vehicle_length"] = vechicle_length;      

            $.ajax({
                url: "/data/company/search/driver",
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json, charset=utf-8',
                data: JSON.stringify(query_object),
                cache: false,
                success: function (data) {
                    if (data.status == "ok") {

                        $("div[data-result='driver']").remove();

                        var html = data2html(data.result);
                        $("div[data-result='container']").add(html).appendTo($("div[data-result='container']"));
                    } else {
                        alert(data.error.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("请检查您的输入");
                }
            });
        }

        function data2html(data) {
            var html = "";

            for (var index = 0; index < data.length; index++) {
                var tmp = data[index];

                html += "<div class=\"row\" data-result='driver'>"
                html += "<div class=\"col-sm-12\">"
                html += "<div class=\"panel\">"
                html += "<div class=\"panel-body\">"
                html += "<h3 class=\"title-hero\"></h3>"

                html += "<div class=\"example-box-wrapper\">"
                html += "<div class=\"row\">"
                html += "<div class=\"col-sm-12\">"
                                        
                html += "<div class=\"row\">"
                
                html += "<div class=\"col-sm-2\" style=\"font-size:15px\">"
                html += "<label>" + tmp["driver_name"] + "</label>"
                html += "</div>"
                                
                html += "<div class=\"col-sm-4\" style=\"font-size:15px\">"
                var line = tmp["driver_lines"][0];
                html += "<label type='text' class=\"control-label\">"
                html += line["origin_province"] + " " + line["origin_city"] + " <i class=\"fa fa-long-arrow-right\" aria-hidden=\"true\"></i> " + line["destination_province"] + " " + line["destination_city"]
                html += "</label>"
                html += "</div>"

                html += "<div class=\"col-sm-4\" style=\"font-size:15px\">"
                html += "<label>" + tmp["vehicle"][0] + " / " + tmp["vehicle_length"] + "米</label>"
                html += "</div>"  

                html += "<button type=\"button\" class=\"btn btn-info mrg20B col-sm-2 col-xs-12\" data-toggle=\"collapse\" data-target=\"#depart-view" + index + "\" style=\"font-size:15px\">查看详情</button>"

                html += "</div>"

                html += "<div id=\"depart-view" + index + "\" class=\"collapse\">"
                html += "<div class=\"panel\"><div class=\"panel-body\"><div class=\"form-horizontal bordered-row\" role=\"form\">"
                
                html += "<div class=\"form-group\">"
                html += "<label class=\"col-sm-2 control-label\">驾驶员姓名</label>"
                html += "<div class=\"col-sm-8\">"
                html += "<label type=\"text\" class=\"control-label\">" + tmp["driver_name"] + "</label>"
                html += "</div></div>"

                html += "<div class=\"form-group\">"
                html += "<label class=\"col-sm-2 control-label\">车型</label>"
                html += "<div class=\"col-sm-6\">"

                html += "<label type=\"text\" class=\"control-label\">"
                var vehicle_lst = tmp["vehicle"];
                for (var j = 0; j < vehicle_lst.length; j++) {
                    html += vehicle_lst[j] + " "
                }
                html += "</label>"
                html += "</div></div>"

                html += "<div class=\"form-group\">"
                html += "<label class=\"col-sm-2 control-label\">车长</label>"
                html += "<div class=\"col-sm-6\">"
                html += "<label type=\"text\" class=\"control-label\">" + tmp["vehicle_length"] + "米</label>"
                html += "</div></div>"

                html += "<div class=\"form-group\">"
                html += "<label class=\"col-sm-2 control-label\">载重</label>"
                html += "<div class=\"col-sm-6\">"
                html += "<label type=\"text\" class=\"control-label\">" + tmp["capacity"] + "</label>"
                html += "</div></div>"

                html += "<div class=\"form-group\">"
                html += "<label for=\"certificate-type\" class=\"col-sm-2 control-label\">常跑路线</label>"
                html += "<div class=\"col-sm-8\">"

                var lines = tmp["driver_lines"];
                for (var j = 0; j < lines.length; j++) {
                    var line = lines[j];
                    html += "<label type='text' class=\"control-label\">"
                    html += line["origin_province"] + " " + line["origin_city"] + " <i class=\"fa fa-long-arrow-right\" aria-hidden=\"true\"></i> " + line["destination_province"] + " " + line["destination_city"]
                    html += "</label>"
                }
                html += "</div></div>"

                html += "<div class=\"form-group\">"
                html += "<label class=\"col-sm-2 control-label\">是否购买货物保险</label>"
                html += "<div class=\"col-sm-6\">"

                if (tmp["insurance"] == 1)
                    html += "<label type=\"text\" class=\"control-label\">已购买</label>"
                else 
                    html += "<label type=\"text\" class=\"control-label\">未购买</label>"
                
                html += "</div></div>"

                html += "<div class=\"form-group\">"
                html += "<label class=\"col-sm-2 control-label\">联系电话</label>"
                html += "<div class=\"col-sm-6\">"
                html += "<label type=\"text\" class=\"control-label\">"+ tmp["phone_no"] +"</label>"
                html += "</div></div>"

                html += "</div></div></div>"
                html += "</div>"

                html += "</div></div></div>"
                html += "</div></div></div></div>"
            }

            return html;
        }
    </script>
}