@(token: String)(open_id : String)(company_name : String)(auth : Int)(user_lst : List[play.api.libs.json.JsValue])

@ci_login_index_sliders("易聚货-公司")(company_name)(auth) {
    
} {
     <div id="page-content-wrapper">
        <div id="page-content">
            <div class="container">


            <div id="page-title">
                <h2>分账号管理</h2>
                <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#D4AC0D; margin-top:10px;">
                    <span style="color:#424949;margin-left: 5px;">分账号没有修改公司相关资料及分账号管理的权限</span>
                </i></br>
                <i class="fa fa-heartbeat" aria-hidden="true" style="color:#B80115; margin-top:10px;">
                    <span style="color:#424949;margin-left: 5px;">分账号手机号码一旦被授权，均无法再用于注册公司或驾驶员账号，如需单独注册务必先注销该手机号码原有的分帐号信息</span>
                </i>
            </div>

            <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">

                    </h3>
                    <div class="example-box-wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">

                                    <div class="form-horizontal bordered-row">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">分账号使用授权手机账号登录</label>
                                            <div class="col-sm-5 col-sm-offset-1">
                                            <button type="button" class="col-sm-2 col-xs-12 form-control" data-toggle="collapse" data-target="#add-new" style="font-size:15px; border:1px solid #008bdc">
                                                添加分账号
                                            </button>
                                            </div>
                                        </div>              
                                    </div>

                                </div>

                                <div id="add-new" class="collapse">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <div class="form-horizontal bordered-row">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">运营者姓名</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" data-name="screen-name-input" class="form-control" /> 
                                                    </div>
                                                </div>

                                                <div class="form-group" style="display: none;" data-name='screen-name-error'>
                                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                                    <div class="col-sm-8">
                                                        <div class="alert alert-danger" role="alert">
                                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                            <span class="sr-only">Error:</span>
                                                            请输入有效的运营者中文名（中文名）
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">身份证号码</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" data-name="social-id-input" class="form-control" />
                                                    </div>
                                                </div>

                                                <div class="form-group" style="display: none;" data-name='social-id-error'>
                                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                                    <div class="col-sm-8">
                                                        <div class="alert alert-danger" role="alert">
                                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                            <span class="sr-only">Error:</span>
                                                            请输入有效的身份证号码
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">授权手机账号</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" data-name="phone-input" class="form-control" placeholder="分账号登录时使用的帐号信息（手机号码）" />
                                                    </div>
                                                </div>     

                                                <div class="form-group" style="display: none;" data-name='phone-error'>
                                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                                    <div class="col-sm-8">
                                                        <div class="alert alert-danger" role="alert">
                                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                            <span class="sr-only">Error:</span>
                                                            没有输入有效的密码或者两次输入的密码不一致（密码不少于6位）
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">输入登陆密码</label>
                                                    <div class="col-sm-8">
                                                        <input type="password" data-name="pwd" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">再次输入登陆密码</label>
                                                    <div class="col-sm-8">
                                                        <input type="password" data-name="pwd2" class="form-control" />
                                                    </div>
                                                </div>

                                                <div class="form-group" style="display: none;" data-name='pwd-error'>
                                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                                    <div class="col-sm-8">
                                                        <div class="alert alert-danger" role="alert">
                                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                            <span class="sr-only">Error:</span>
                                                            没有输入有效的密码或者两次输入的密码不一致（密码不少于6位）
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group text-center">
                                                    <label class="col-sm-2 control-label"></label>
                                                    <button class="col-sm-6 col-xs-offset-1 col-xs-8 btn bg-blue" style="margin-right:20px !important" onclick="pushSubuser()">
                                                        提交分账号
                                                    </button>
                                                </div>              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @{ (user_lst zipWithIndex) map { x =>
                val iter  = x._1
                val index = x._2
                if((iter \ "auth").asOpt[Int].get != 12) {
                <div class="panel">
                    <div class="panel-body">
                        <div class="example-box-wrapper">
                            <div class="form-horizontal bordered-row" id={"user-lst-" + index}>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">运营者姓名</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" data-name={"screen-name-" + index} value={(iter \ "screen_name").asOpt[String].get} />
                                    </div>
                                </div>

                                <div class="form-group" style="display: none;" data-name={"screen-name-error-" + index}>
                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-8">
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            请输入有效的运营者中文名（中文名）
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">身份证号码</label>
                                    <div class="col-sm-8">
                                        <label class="form-control">{(iter \ "social_id").asOpt[String].get}</label>
                                    </div>
                                </div>

                                <div class="form-group" style="display: none;" data-name={"social-id-error-" + index}>
                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-8">
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            请输入有效的身份证号码
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">授权手机账号</label>
                                    <div class="col-sm-8">
                                    {if ((iter \ "auth").asOpt[Int].get == 11) {
                                        <input type="text" class="form-control" data-name={"phone-" + index} value={(iter \ "phone").asOpt[String].get} />
                                    } else {
                                        <input type="text" class="form-control" data-name={"phone-" + index} />
                                    }}
                                    </div>
                                </div>

                                <div class="form-group" style="display: none;" data-name={"phone-error-" + index}>
                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-8">
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            没有输入有效的密码或者两次输入的密码不一致（密码不少于6位）
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-4 col-sm-offset-1">
                                        <button class="form-control" style="border: 1px solid #008bdc" onclick={"updateSubuser(" + index + ",\"" + (iter \ "user_id").asOpt[String].get + "\")"} >修改并保存</button> 
                                    </div>
                                    {if ((iter \ "auth").asOpt[Int].get == 11) {
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <button class="form-control" style="border: none; color:#848484;" onclick={"popSubuser(" + index + ",\"" + (iter \ "user_id").asOpt[String].get + "\")"} ><i class="fa fa-trash-o fa-2x" style="color:#6E6E6E"></i> &nbsp;&nbsp;&nbsp; 删除</button>
                                    </div>
                                    }}
                                </div>

                                <div class="form-group" style="display: none;" data-name='pwd-error'>
                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-8">
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            没有输入有效的密码或者两次输入的密码不一致（密码不少于6位）
                                        </div>
                                    </div>
                                </div>                 
                            </div>
                        </div>
                    </div>
                </div>              
                }
            }}
            </div>
        </div>
    </div>   
} {
	<script type="text/javascript">
		$(function(){
			$('li[data-current="index"]').addClass("active");
		});

        function hasInput(str) {
            var result = (typeof(str) == "string") && (str != "");
            return result;
        }

        function validate(ele, result, name) {
            if (result) $(ele).removeClass('validate-error');
            else $(ele).addClass('validate-error');

            if (name) {
                if (result) $(String(name)).css({"display": "none"});
                else $(String(name)).css({"display": "block"});
            }

            return result;
        }

        function pushSubuser() {
            var result = true;

            var screen_name = $('input[data-name="screen-name-input"]').val();
            var regNameL = /[\u4E00-\u9FA5]{2,5}(?:·[\u4E00-\u9FA5]{2,5})*/;
            result &= validate($('input[data-name="screen-name-input"]'), hasInput(screen_name) && regNameL.test(screen_name), 'div[data-name="screen-name-error"]');

            var phone = $('input[data-name="phone-input"]').val();
            var cell_phone_reg = /^1[3|4|5|7|8]\d{9}$/;
            result &= validate($('input[data-name="phone-input"]'), hasInput(phone) && cell_phone_reg.test(phone), 'div[data-name="phone-error"]');

            var social_id = $('input[data-name="social-id-input"]').val();
            var regIDL = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/; 
            result &= validate($('input[data-name="social-id-input"]'), hasInput(social_id) && regIDL.test(social_id), 'div[data-name="social-id-error"]');

            var pwd = $('input[data-name="pwd"]').val();
            var pwd2 = $('input[data-name="pwd2"]').val();
            result &= validate($('input[data-name="pwd"]'), pwd.length > 5, 'div[data-name="pwd-error"]');
            result &= validate($('input[data-name="pwd2"]'), hasInput(pwd) && hasInput(pwd2) && pwd == pwd2, 'div[data-name="pwd-error"]');


            if (result) {
                var query_object = new Object();

                query_object["screen_name"] = screen_name;
                query_object["phone"] = phone;
                query_object["pwd"] = pwd;
                query_object["open_id"] = "@{open_id}";
                query_object["social_id"] = social_id;

                $.ajax({
                    url: "/auth/sub/push",
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json, charset=utf-8',
                    data: JSON.stringify(query_object),
                    cache: false,
                    success: function (data) {
                        if (data.status == "ok") {                                          
                             location.reload();
                        } else {
                            alert(data.error.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("请检查您的输入");
                    }
                });
            }
        }

        function updateSubuser(index, user_id) {
            var result = true;

            var screen_name = $('input[data-name="screen-name-' + index + '"]').val();
            var regNameL = /[\u4E00-\u9FA5]{2,5}(?:·[\u4E00-\u9FA5]{2,5})*/;
            result &= validate($('input[data-name="screen-name-' + index + '"]'), hasInput(screen_name) && regNameL.test(screen_name), 'div[data-name="screen-name-error-' + index + '"]');

            var phone = $('input[data-name="phone-' + index + '"]').val();
            var regPhone = /^(([0\+]\d{2,3}-)?(0\d{2,3})-)?(\d{7,8})(-(\d{3,}))?$/;
            result &= validate($('input[data-name="phone-' + index + '"]'), hasInput(phone) && regPhone.test(phone), 'div[data-name="phone-error-' + index + '"]');
            // var social_id = $('input[data-name="social-id-' index + '"]').val();

            if (result) {
                var query_object = new Object();

                query_object["screen_name"] = screen_name;
                query_object["user_id"] = user_id;
                query_object["phone"] = phone;;
                query_object["open_id"] = "@{open_id}";
                // query_object["social_id"] = social_id;

                $.ajax({
                    url: "/auth/sub/update",
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json, charset=utf-8',
                    data: JSON.stringify(query_object),
                    cache: false,
                    success: function (data) {
                        if (data.status == "ok") {                                          
                             location.reload();
                        } else {
                            alert(data.error.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("请检查您的输入");
                    }
                });
            }
        }

        function popSubuser(index, user_id) {
            var query_object = new Object();

            query_object["open_id"] = "@{open_id}";
            query_object["user_id"] = user_id;

            $.ajax({
                url: "/auth/sub/pop",
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json, charset=utf-8',
                data: JSON.stringify(query_object),
                cache: false,
                success: function (data) {
                    if (data.status == "ok") {                                          
                         location.reload();
                    } else {
                        alert(data.error.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("请检查您的输入");
                }
            }); 
        }
	</script>
}
