@(message: String)

@ci_login_index_sliders("易聚货公司厂家平台")("") {
    
} {

<div id="page-content-wrapper">
    <div id="page-content">
        <div class="container">

        <div id="page-title">
            <h2>修改密码</h2>
        </div>

        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                可以加文案
                </h3>
                <div class="example-box-wrapper">
                    <div class="form-horizontal bordered-row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">输入旧密码</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="" placeholder="输入旧密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">输入新密码</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="" placeholder="输入新密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">再次输入新密码</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="" placeholder="再次输入新密码">
                            </div>
                        </div>

                        <div class="form-group text-center">
                            <label class="col-sm-2 control-label"></label>
                            <button class="col-sm-4 col-xs-offset-2 col-xs-8 btn bg-blue" style="margin-right:20px !important">
                                保存
                            </button>
                        </div>             
                    </div>
                </div>
            </div>
        </div>



        </div>
    </div>
</div>

} {
    <script type="text/javascript">
        $(function(){
            $('li[data-current="index"]').addClass("active");
        });
    </script>
}
