@(token : String)(open_id : String)(company_name: String)(pdns : List[String])(contacts : List[play.api.libs.json.JsValue])(products : List[play.api.libs.json.JsValue])(cities : List[play.api.libs.json.JsValue])(vc : play.api.libs.json.JsValue)

@ci_login_index_sliders("易聚货-公司")(company_name)  {
    
} {

<div id="page-content-wrapper">
    <div id="page-content">
        <div class="container">

            <div id="page-title">
                <h3>已发布货源信息</h3>
                <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#D4AC0D; margin-top:10px;">
                    <span style="color:#424949;margin-left: 5px;"> 如需修改发布内容，请在修改完成后保存并发布；如已完成交易，请及时更改货物状态，点击交易完成，谢谢合作！</span>
                </i>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-body">
                            <h3 class="title-hero">
                                
                            </h3>

                            @{ (products zipWithIndex) map { tmp =>
                                val iter = tmp._1
                                val index = tmp._2
                                val product_id = (iter \ "product_id").asOpt[String].get
                            <div class="example-box-wrapper">
                                <div class="row">

                                    <div class="col-sm-12">

                                        <div class="row">

                                            <div class="col-sm-3" style="font-size:15px">
                                                <label>
                                                    { 
                                                        (iter \ "date" \ "year").asOpt[Int].get + "年" + (iter \ "date" \ "month").asOpt[Int].get + "月" + (iter \ "date" \ "day").asOpt[Int].get + "日"
                                                    }
                                                </label>
                                            </div>
                  
                                            <div class="col-sm-3" style="font-size:15px">
                                                <label>
                                                    {
                                                        (iter \ "origin" \ "province").asOpt[String].get + " " + 
                                                        (iter \ "origin" \ "city").asOpt[String].get + " --> " + 
                                                        (iter \ "destination" \ "province").asOpt[String].get + " " +
                                                        (iter \ "destination" \ "city").asOpt[String].get
                                                    }
                                                </label>
                                            </div>

                                            <div class="col-sm-3" style="font-size:15px">
                                                <label>
                                                    {
                                                        (iter \ "weight").asOpt[Int].get + "吨/" + 
                                                        (iter \ "volume").asOpt[Int].get + "立方米"
                                                    }
                                                </label>
                                            </div>

                                            <div class="col-sm-1" style="font-size:15px">
                                                <label>
                                                    {
                                                        (iter \ "product_name").asOpt[String].get
                                                    }
                                                </label>
                                            </div>

                                            <button type="button" class="btn btn-info mrg20B col-sm-2 col-xs-12" data-toggle="collapse" data-target={"#" + product_id} style="font-size:15px">
                                                查看详情
                                            </button>

                                        </div>

                                        <div id={product_id} class="collapse">

                                            <div class="panel">

                                                <div class="panel-body">
                                                    <div class="form-horizontal bordered-row">

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">起运地</label>
                                                            <div class="col-sm-8">
                                                                <div class="row">
                                                                    <div class="col-sm-3">
                                                                        <select class="form-control" data-name={"origin-province-" + product_id} data-index="0" onchange="cityChanges($(this), $(this).parent().parent(), 1)" >
                                                                            @{cities map { p => 
                                                                                if ((p \ "province").asOpt[String].get.equals((iter \ "origin" \ "province").asOpt[String].get)) {
                                                                                    <option value={(p \ "province").asOpt[String].get} selected="">{(p \ "province").asOpt[String].get}</option>
                                                                                } else {
                                                                                    <option value={(p \ "province").asOpt[String].get}>{(p \ "province").asOpt[String].get}</option>
                                                                                }
                                                                            }};
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        {
                                                                        val province = (iter \ "origin" \ "province").asOpt[String].get
                                                                        val tmp = (iter \ "origin" \ "city").asOpt[String].get
                                                                        <select class="form-control" data-name={"origin-city-" + product_id} data-index="1" onchange="districtChanges($(this), $(this).parent().parent(), 1)" >
                                                                            @{cities map { p => (p \ "cities").asOpt[List[String]].get map { x => 
                                                                                if (x.equals(tmp)) {
                                                                                    <option data-filter={(p \ "province").asOpt[String].get} value={x} selected="">{x}</option>
                                                                                } else if (province.equals((p \ "province").asOpt[String].get)) {
                                                                                    <option data-filter={(p \ "province").asOpt[String].get} value={x} >{x}</option>
                                                                                } else {
                                                                                    <option style="display:none" data-filter={(p \ "province").asOpt[String].get} value={x}>{x}</option>
                                                                                }
                                                                            }}};
                                                                        </select>   
                                                                        }
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <select class="form-control" data-name={"origin-district-" + product_id} >
                                                                            @{cities map { cd => (cd \ "city_ditails").asOpt[List[play.api.libs.json.JsValue]].get map { inner => 
                                                                                (inner \ "districts").asOpt[List[String]].get map { x => 

                                                                                if (x.equals((iter \ "origin" \ "district").asOpt[String].get)) {
                                                                                    <option style="display:none" data-filter={(inner \ "city").asOpt[String].get} value={x} selected="">{x}</option>
                                                                                } else {
                                                                                    <option style="display:none" data-filter={(inner \ "city").asOpt[String].get} value={x}>{x}</option>
                                                                                }
                                                                            }}}};
                                                                        </select>   
                                                                    </div>
                                                                </div>          
                                                                <textarea type="text" class="form-control" data-name={"origin-address-" + product_id} rows="4" style="resize: none; margin-top:10px">{(iter \ "origin" \ "address").asOpt[String].get}</textarea>
                                                            </div>
                                                        </div>

                                                        <div class="form-group" style="display: none;" data-name={"origin-error-" + product_id} >
                                                            <label for="company-name" class="col-sm-2 control-label"></label>
                                                            <div class="col-sm-8">
                                                                <div class="alert alert-danger" role="alert">
                                                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                                    <span class="sr-only">Error:</span>
                                                                    请输入有效的起运地
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">目的地</label>
                                                            <div class="col-sm-8">
                                                                <div class="row">
                                                                    <div class="col-sm-3">
                                                                        <select class="form-control" data-name={"destination-province-" + product_id} data-index="2" onchange="cityChanges($(this), $(this).parent().parent(), 1)" >
                                                                            @{cities map { p => 
                                                                                if ({(p \ "province").asOpt[String].get}.equals((iter \ "destination" \ "province").asOpt[String].get)) {
                                                                                    <option value={(p \ "province").asOpt[String].get} selected="">{(p \ "province").asOpt[String].get}</option>
                                                                                } else {
                                                                                    <option value={(p \ "province").asOpt[String].get}>{(p \ "province").asOpt[String].get}</option>
                                                                                }
                                                                            }};
                                                                        </select>   
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                     {
                                                                        val province = (iter \ "destination" \ "province").asOpt[String].get
                                                                        val tmp = (iter \ "destination" \ "city").asOpt[String].get
                                                                        <select class="form-control" data-name={"destination-city-" + product_id} data-index="1" onchange="districtChanges($(this), $(this).parent().parent(), 1)" >
                                                                            @{cities map { p => (p \ "cities").asOpt[List[String]].get map { x => 
                                                                                if (x.equals(tmp)) {
                                                                                    <option data-filter={(p \ "province").asOpt[String].get} value={x} selected="">{x}</option>
                                                                                } else if (province.equals((p \ "province").asOpt[String].get)) {
                                                                                    <option data-filter={(p \ "province").asOpt[String].get} value={x} >{x}</option>
                                                                                } else {
                                                                                    <option style="display:none" data-filter={(p \ "province").asOpt[String].get} value={x}>{x}</option>
                                                                                }
                                                                            }}};
                                                                        </select>   
                                                                    }  
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <select class="form-control" data-name={"destination-district-" + product_id} >
                                                                            @{cities map { cd => (cd \ "city_ditails").asOpt[List[play.api.libs.json.JsValue]].get map { inner => 
                                                                                (inner \ "districts").asOpt[List[String]].get map { x => 

                                                                                if (x.equals((iter \ "destination" \ "district").asOpt[String].get)) {
                                                                                    <option style="display:none" data-filter={(inner \ "city").asOpt[String].get} value={x} selected="">{x}</option>
                                                                                } else {
                                                                                    <option style="display:none" data-filter={(inner \ "city").asOpt[String].get} value={x}>{x}</option>
                                                                                }
                                                                            }}}};
                                                                        </select>   
                                                                    </div>
                                                                </div>          
                                                                <textarea type="text" class="form-control" data-name={"destination-address-" + product_id} rows="4" style="resize: none; margin-top:10px">{(iter \ "destination" \ "address").asOpt[String].get}</textarea>
                                                            </div>
                                                        </div>

                                                        <div class="form-group" style="display: none;" data-name={"destination-error-" + product_id} >
                                                            <label for="company-name" class="col-sm-2 control-label"></label>
                                                            <div class="col-sm-8">
                                                                <div class="alert alert-danger" role="alert">
                                                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                                    <span class="sr-only">Error:</span>
                                                                    请输入有效的目的地
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">吨位</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control" data-name={"weight-" + product_id} placeholder="吨" value={(iter \ "weight").asOpt[Float].get.toString} />
                                                            </div>
                                                        </div>

                                                        <div class="form-group" style="display: none;" data-name={"weight-error-" + product_id} >
                                                            <label for="company-name" class="col-sm-2 control-label"></label>
                                                            <div class="col-sm-8">
                                                                <div class="alert alert-danger" role="alert">
                                                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                                    <span class="sr-only">Error:</span>
                                                                    请输入有效的吨位(数字)
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">体积</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control" data-name={"volume-" + product_id} placeholder="立方米" value={(iter \ "volume").asOpt[Float].get.toString} />
                                                            </div>
                                                        </div>

                                                        <div class="form-group" style="display: none;" data-name={"volume-error-" + product_id} >
                                                            <label for="company-name" class="col-sm-2 control-label"></label>
                                                            <div class="col-sm-8">
                                                                <div class="alert alert-danger" role="alert">
                                                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                                    <span class="sr-only">Error:</span>
                                                                    请输入有效的体积(数字)
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">需求车型</label>
                                                            <div class="col-sm-8">
                                                                { (vc \ "vehicle").asOpt[List[String]].get map { x =>
                                                                <div class="col-sm-2 checkbox">
                                                                    {if ( (iter \ "vehicle").asOpt[List[String]].get.contains(x) ) {
                                                                        <label><input data-name={"vehicle-" + product_id} type="checkbox" value={x} checked="" /> {x} </label>
                                                                    } else {
                                                                        <label><input data-name={"vehicle-" + product_id} type="checkbox" value={x} /> {x} </label>
                                                                    }}
                                                                </div>
                                                                }}
                                                            </div>
                                                        </div>

                                                        <div class="form-group" style="display: none;" data-name={"vehicle-error-" + product_id} >
                                                            <label for="company-name" class="col-sm-2 control-label"></label>
                                                            <div class="col-sm-8">
                                                                <div class="alert alert-danger" role="alert">
                                                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                                    <span class="sr-only">Error:</span>
                                                                    请选择有效的车型
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">需求车长</label>
                                                            <div class="col-sm-8">
                                                                { (vc \ "vehicle_length").asOpt[List[Double]].get map { x =>
                                                                <div class="col-sm-2 checkbox">
                                                                    {if ( (iter \ "vehicle_length").asOpt[List[Double]].get.filter(y => x - y < 0.0001 && x - y > -0.0001) ) {
                                                                        <label><input data-name={"vehicle-length-" + product_id} type="checkbox" value={x.toString} checked="" /> {x.toString}米 </label>
                                                                    } else {
                                                                        <label><input data-name={"vehicle-length-" + product_id} type="checkbox" value={x.toString} /> {x.toString}米 </label>
                                                                    }}
                                                                </div>
                                                                }}
                                                            </div>
                                                        </div>

                                                        <div class="form-group" style="display: none;" data-name={"vehicle-length-error-" + product_id} >
                                                            <label for="company-name" class="col-sm-2 control-label"></label>
                                                            <div class="col-sm-8">
                                                                <div class="alert alert-danger" role="alert">
                                                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                                    <span class="sr-only">Error:</span>
                                                                    请选择有效的车长
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">

                                                            <label class="col-sm-2 control-label">货物名称</label>

                                                            <div class="col-sm-8">

                                                                <div class="row">
                                                                    <div class="col-sm-8">
                                                                    <select class="form-control" data-name={"product-name-" + product_id} >
                                                                        <optgroup label="常用货物名称">
                                                                        @{ pdns map { iter =>
                                                                            <option>{iter}</option>    
                                                                        }}                                           
                                                                        </optgroup>
                                                                    </select>
                                                                    </div>
                                                                    <div class="col-sm-4">
                                                                    <button data-toggle="collapse" class="form-control" data-parent="#accordion" href={"#name-collapse-" + product_id} style="border: 1px solid #008bdc">
                                                                        添加新货物名称
                                                                    </button>
                                                                    </div>
                                                                </div>

                                                                <div class="row  collapse" id={"name-collapse-" + product_id} style="margin-top:10px">
                                                                    <div class="col-sm-8">
                                                                        <input type="text" data-name={"product-name-input" + product_id} class="form-control" />
                                                                    </div>
                                                                    <div class="col-sm-4">
                                                                        <input data-name={"product-name-save-" + product_id} type="checkbox" checked="true" value="save" style="margin-top:10px" /> 保存至货物名称管理
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div class="form-group" style="display: none;" data-name={"product-name-error-" + product_id} >
                                                            <label for="company-name" class="col-sm-2 control-label"></label>
                                                            <div class="col-sm-8">
                                                                <div class="alert alert-danger" role="alert">
                                                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                                    <span class="sr-only">Error:</span>
                                                                    请填写有效的货物名称信息
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">时效需求</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" data-name={"date-requirement-" + product_id} class="form-control" value={(iter \ "date_requirement").asOpt[String].get} />
                                                            </div>
                                                        </div>

                                                        <div class="form-group" style="display: none;" data-name='date-requirement-error'>
                                                            <label for="company-name" class="col-sm-2 control-label"></label>
                                                            <div class="col-sm-8">
                                                                <div class="alert alert-danger" role="alert">
                                                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                                    <span class="sr-only">Error:</span>
                                                                    请填写有效的失效需求
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">其他备注</label>
                                                            <div class="col-sm-8">
                                                                <textarea type="text" class="form-control" rows="3" data-name={"notes-" + product_id} style="resize: none;">{(iter \ "notes").asOpt[String].get}</textarea>
                                                            </div>
                                                        </div>

                                                        <div class="form-group" style="display: none;" data-name={"notes-error-" + product_id} >
                                                            <label for="company-name" class="col-sm-2 control-label"></label>
                                                            <div class="col-sm-8">
                                                                <div class="alert alert-danger" role="alert">
                                                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                                    <span class="sr-only">Error:</span>
                                                                    请填写有效的备注信息
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="row">
                                                            <label class="col-sm-2 control-label">调度员</label>
                                                                <div class="col-sm-8">

                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <select class="form-control" data-name={"contact-name-" + product_id} onchange={"contactNameChange(" + product_id + ")"} >
                                                                                <optgroup label="常用联系人">
                                                                                @{ contacts map { iter =>
                                                                                    <option data-ct-phone={(iter \ "contact_phone").asOpt[String].get} value={(iter \ "contact_name").asOpt[String].get} >{(iter \ "contact_name").asOpt[String].get}</option>    
                                                                                }}                                          
                                                                                </optgroup>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row" style="margin-top:10px">
                                                                <label class="col-sm-2 control-label">调度员电话</label>
                                                                <div class="col-sm-8">

                                                                    <div class="row">
                                                                        <div class="col-sm-8">
                                                                            <select class="form-control" data-name={"contact-phone-" + product_id} onchange={"contactPhoneChange(" + product_id + ")"}>
                                                                                <optgroup label="常用联系人电话">
                                                                                    @{ contacts map { iter =>
                                                                                        <option data-ct-name={(iter \ "contact_name").asOpt[String].get}  value={(iter \ "contact_phone").asOpt[String].get} >{(iter \ "contact_phone").asOpt[String].get}</option>
                                                                                    }}                                              
                                                                                </optgroup>
                                                                            </select>
                                                                        </div>
                                                                        <div class="col-sm-4">
                                                                        <button data-toggle="collapse" class="form-control" data-parent="#accordion" href={"#phone-collapse-" + product_id} style="border: 1px solid #008bdc">
                                                                            添加新调度员
                                                                        </button>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row  collapse" id={"phone-collapse-" + product_id} style="margin-top:10px">

                                                                        <div class="col-sm-12">
                                                                            <input type="text" data-name={"contact-name-input-" + product_id} class="form-control" placeholder="输入调度员姓名" /> 
                                                                        </div>
                                  
                                                                        <div class="col-sm-8" style="margin-top:10px">
                                                                            <input type="text" data-name={"contact-phone-input-" + product_id} class="form-control" placeholder="输入调度员联系电话" />
                                                                        </div>

                                                                        <div class="col-sm-4">
                                                                            <input data-name={"contact-save-" + product_id} type="checkbox" value="save" checked="true" style="margin-top:20px" /> 并保存调度员至调度信息管理
                                                                        </div>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="form-group" style="display: none;" data-name={"contact-error-" + product_id} >
                                                            <label for="company-name" class="col-sm-2 control-label"></label>
                                                            <div class="col-sm-8">
                                                                <div class="alert alert-danger" role="alert">
                                                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                                    <span class="sr-only">Error:</span>
                                                                    请填写有效的调度员信息
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">货源状态设置</label>

                                                            <div class="col-sm-2 col-sm-offset-1">
                                                                <button class="form-control" style="border: 1px solid #008bdc" onclick={"updateProduct(\"" + product_id + "\")"} >保存并发布</button> 
                                                            </div>                 
                                                            <div class="col-sm-2 col-sm-offset-1">
                                                                <button class="form-control" style="border: 1px solid #008bdc" onclick={"completProduct(\"" + product_id + "\")"}>交易完成</button>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <button class="form-control" style="border: none; color:#848484;"><i class="fa fa-trash-o fa-2x" style="color:#6E6E6E"></i> &nbsp;&nbsp;&nbsp; 删除</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

} {
    <script type="text/javascript">
        $(function(){
            $('li[data-current="index"]').addClass("active");
        });

        function contactNameChange(product_id) {
            var tmp = $('select[data-name="contact-name-' + product_id + '"]');
            var t = tmp.val();
            tmp.find('option[data-ct-name="' + t + '"]').attr("selected", true);
        }

        function contactPhoneChange(product_id) {
            var tmp = $('select[data-name="contact-phone-' + product_id + '"]');
            var t = tmp.val();
            tmp.find('option[data-ct-phone="' + t + '"]').attr("selected", true);
        }

        function validate(ele, result, name) {
            if (result) $(ele).removeClass('validate-error');
            else $(ele).addClass('validate-error');

            if (name) {
                if (result) $(String(name)).css({"display": "none"});
                else $(String(name)).css({"display": "block"});
            }

            return result;
        }

        function hasInput(str) {
            var result = (typeof(str) == "string") && (str != "");
            return result;
        }

        function cityChanges(ele, container, index) {
            var a = Number($(ele).attr("data-index"));
            var province = $(ele).val();
            $(container).find('select[data-index="' + String(a + 1) + '"]').children().css({"display":"none"});
            $(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="choice"]').css({"display":"block"});
            $(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="' + province + '"]').css({"display":"block"});
        }

        function districtChanges(ele, container, index) {
            var a = Number($(ele).attr("data-index"));
            var city = $(ele).val();
            $(container).find('select[data-index="' + String(a + 1) + '"]').children().css({"display":"none"});
            $(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="choice"]').css({"display":"block"});
            $(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="' + city + '"]').css({"display":"block"});
        }

        function updateProduct(product_id) {
            var result = true;

            var origin_province = $('select[data-name="origin-province-' + product_id + '"]').val();
            var origin_city = $('select[data-name="origin-city-' + product_id + '"]').val();
            var origin_district = $('select[data-name="origin-district-' + product_id + '"]').val();
            var origin_address = $('textarea[data-name="origin-address-' + product_id + '"]').val();

            result &= validate($('div[data-name="origin"]'), 
                        (origin_province != undefined) && (origin_city != undefined) && (origin_district != undefined) && hasInput(origin_address),
                        'div[data-name="origin-error-' + product_id + '"]');


            var destination_province = $('select[data-name="destination-province-' + product_id + '"]').val();
            var destination_city = $('select[data-name="destination-city-' + product_id + '"]').val();
            var destination_district = $('select[data-name="destination-district-' + product_id + '"]').val();
            var destination_address = $('textarea[data-name="destination-address-' + product_id + '"]').val();

            result &= validate($('div[data-name="destination"]'), 
                        (destination_province != undefined) && (destination_city != undefined) && (destination_district != undefined) && hasInput(destination_address),
                        'div[data-name="destination-error-' + product_id + '"]');


            var weight = $('input[data-name="weight-' + product_id + '"]').val();

            result &= validate($('input[data-name="weight-' + product_id + '"]'),
                        hasInput(weight) && !isNaN(Number(weight)),
                        'div[data-name="weight-error-' + product_id + '"]');


            var volume = $('input[data-name="volume-' + product_id + '"]').val();

            result &= validate($('div[data-name="volume-' + product_id + '"]'),
                        hasInput(volume) && !isNaN(Number(volume)),
                        'div[data-name="volume-error-' + product_id + '"]');


            var vehicle_lst = $('input[data-name="vehicle-' + product_id + '"]:checked');

            result &= validate($('div[data-name="vehicle-container"]'),
                        vehicle_lst.length > 0,
                        'div[data-name="vehicle-error-' + product_id + '"]');


            var vehicle_length_lst = $('input[data-name="vehicle-length-' + product_id + '"]:checked');

            result &= validate($('div[data-name="vehicle-length-container"]'),
                        vehicle_length_lst.length > 0,
                        'div[data-name="vehicle-length-error-' + product_id + '"]');


            var product_name = "";
            var product_name_save = 0;
            if($('#name-collapse').hasClass("in")) {
                product_name = $('input[data-name="product-name-input-' + product_id + '"]').val();
                if ($('input[data-name="product-name-save-' + product_id + '"]').is(':checked')) 
                    product_name_save = 1;
                else
                    product_name_save = 0;
            }else{
                product_name = $('select[data-name="product-name-' + product_id + '"]').val();
                product_name_save = 0;
            }

            result &= validate($('div[data-name="product-name-container"]'),
                        hasInput(product_name),
                        'div[data-name="product-name-error-' + product_id + '"]');


            var date_requirement = $('input[data-name="date-requirement-' + product_id + '"]').val();

            // result &= validate(
            //             $('input[data-name="date-requirement-' product_id + '"]'),
            //             hasInput(date_requirement),
            //             'div[data-name="date-requirement-error-' + product_id + '"]');


            var notes = $('textarea[data-name="notes-' + product_id + '"]').val();
            if (notes == undefined) {
                notes = "";
            }

            var contact_name = "";
            var contact_phone = "";
            var contact_save = 0;
            if($('#phone-collapse').hasClass("in")) {
                contact_name = $('input[data-name="contact-name-input-' + product_id + '"]').val();
                contact_phone = $('input[data-name="contact-phone-input-' + product_id + '"]').val();
                if ($('input[data-name="contact-save' + product_id + '"]').is(':checked')) 
                    contact_save = 1;
                else
                    contact_save = 0;
            } else {
                contact_name = $('select[data-name="contact-name-' + product_id + '"]').val();
                contact_phone = $('select[data-name="contact-phone-' + product_id + '"]').val();
                contact_save = 0;
            }

            // result &= validate($('div[data-name="contact-container"]'),
            //             hasInput(contact_name) && hasInput(contact_phone),
            //             'div[data-name="contact-error-' product_id + '"]');

            if (result) {
                var query_object = new Object();

                var origin = new Object();
                origin['origin_province'] = origin_province;
                origin['origin_city'] = origin_city;
                origin['origin_district'] = origin_district;
                origin['origin_address'] = origin_address;

                query_object['origin'] = origin;

                var destination = new Object();
                destination['destination_province'] = destination_province;
                destination['destination_city'] = destination_city;
                destination['destination_district'] = destination_district;
                destination['destination_address'] = destination_address;

                query_object['destination'] = destination;

                query_object['weight'] = Number(weight);
                query_object['volume'] = Number(volume);

                var vehicle_str_lst = [];
                $.each(vehicle_lst, function(index, value){
                    vehicle_str_lst.push($(this).val());
                });
                query_object['vehicle'] = vehicle_str_lst;

                var vehicle_length_number_lst = [];
                $.each(vehicle_length_lst, function(index, value){
                    vehicle_length_number_lst.push(Number($(this).val()));
                });
                query_object['vehicle_length'] = vehicle_length_number_lst;

                query_object['product_name_save'] = product_name_save;
                query_object['product_name'] = product_name;

                query_object['notes'] = notes;
                query_object['date_requirement'] = date_requirement;

                query_object['contact_name'] = contact_name;
                query_object['contact_phone'] = contact_phone;
                query_object['contact_save'] = contact_save;

                query_object['open_id'] = "@open_id";
                query_object['product_id'] = product_id;
                
                $.ajax({
                    url: "/data/company/product/update",
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json, charset=utf-8',
                    data: JSON.stringify(query_object),
                    cache: false,
                    success: function (data) {
                        if (data.status == "ok") {                                          
                        //     alert("注册成功审核！");
                             alert("发布成功");
                             location.reload();
                        } else {
                            alert(data.error.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("请检查您的输入");
                    }
                });
            }
        }

        function completProduct(product_id) {
            var query_object = new Object();

            query_object['status'] = 1;
            query_object['product_id'] = product_id;
            
            $.ajax({
                url: "/data/company/product/update",
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json, charset=utf-8',
                data: JSON.stringify(query_object),
                cache: false,
                success: function (data) {
                    if (data.status == "ok") {                                          
                    //     alert("注册成功审核！");
                         alert("success");
                         location.reload();
                    } else {
                        alert(data.error.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("请检查您的输入");
                }
            });
        }
    </script>
}