@(message: String)

@main("易聚货-公司介绍")  {
    
} {

	<section class="first">
		<div class="container"> 

			<div class="in-middle">
				<p class="in-middle-setting" style="color:#FFFFFF; font-size:27px">关于我们</br>About Us</p>
			</div>

		</div>
	</section>

	<section>
		<div class="container">
			
			<div class="col-sm-12" style="margin-top:30px">
				
				<div class="col-sm-6">
					<img class="img-responsive" src="@routes.Assets.at("images/company/main-one.png")">				
				</div>

				<div class="col-sm-6">
					<div class="col-sm-12">
						<img class="img-responsive pull-right" src="@routes.Assets.at("images/company/dec-right.png")">
					</div>

					<p style="font-size:20px">公司介绍</p>
					<p>易聚货网络平台基于计算机软件现下主流开发技术，为用户提供以公路运输服务为主的物流信息整合平台，为企业提供更完善更全面的的物流信息管理系统，有效提高企业运输效率，降低物流成本及货车空返率。</p> 

				</div>

			</div>		

			<div class="col-sm-12" style="margin-top:30px; margin-bottom: 30px">
				
				<div class="col-sm-6">
					<div class="col-sm-12">
						<img class="img-responsive pull-right" src="@routes.Assets.at("images/company/dec-right.png")">
					</div>

					<p style="font-size:20px">公司愿景</p>
					<p>易聚货为提高物流供需信息对接效率和使用效率，为厂家、物流公司、专线和驾驶员提供各种物流信息服务，以打造一条专业的线上物流信息链接，联通线下的厂家、物流公司、专线和货车驾驶员，为不同的服务主体提供不同的服务，满足多方的需求，以建立一个全方位的商业模式，有利于项目的可持续发展。</p>

				</div>

				<div class="col-sm-6">
					<img class="img-responsive" style="margin-top:60px;" src="@routes.Assets.at("images/company/main-two.png")">				
				</div>

			</div>
		</div>

		<div class="col-sm-12 in-middle" style="height: 150px; background-color: #50555e; text-align: center;">

			<p class="in-middle-setting" style="font-size: 32px; color:#40c3f3;">+&nbsp;&nbsp;关注我们</p>

		</div>

		<div class="col-sm-12 in-middle" style="height: 330px; background-color: #282e3a;">   

			<div class="col-sm-12 in-middle-setting-two" style="margin-top:80px">
					<div class="col-sm-3 col-sm-offset-3">
						<p class="footer-color col-sm-12"><i class="fa fa-home fa-lg" aria-hidden="true" style="margin-right:20px;"></i>浙江省杭州市余杭区望梅路578号</p></br>
						<p class="footer-color col-sm-12" style="margin-top:10px"><i class="fa fa-internet-explorer fa-lg footer-margin-right" aria-hidden="true"></i>www.elogco.com</p></br>
						<p class="footer-color col-sm-12" style="margin-top:10px"><i class="fa fa-phone-square fa-lg footer-margin-right" aria-hidden="true"></i>0571-89160770</p></br> 
						<p class="footer-color col-sm-12" style="margin-top:10px"><i class="fa fa-envelope fa-lg footer-margin-right" aria-hidden="true"></i>hz_hskj@@foxmail.com</p></br>	
						<p class="footer-color col-sm-12" style="margin-top:10px"><i class="fa fa-weixin fa-lg footer-margin-right" aria-hidden="true"></i>elogco</p>				
					</div>

					<div class="col-sm-3 col-sm-offset-1">
						<img style="width:200px; height:200px" src="@routes.Assets.at("images/weixin_public.jpg")">	
					</div>

			</div>
		</div> 

	</section>




} {
	<script type="text/javascript">
		$(function(){
		//	$('li[data-current="company"]').addClass("active");
		});
	</script>
}
