@(message: String)

@main("Welcome to Play")  {
    
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/company.css")">
} {
   	<div class="container-fluid" style="padding-left: 0; padding-right: 0">
		<img width="100%" src="@routes.Assets.at("images/aboutus-bkg.png")">
	</div>

	<div class="container-fluid company-content-bkg">
		<p>在这里写介绍</p>
	</div>
} {
	<script type="text/javascript">
		$(function(){
			$('li[data-current="company"]').addClass("active");
		});
	</script>
}
