@(message: String)

@index_main("易聚货-公司介绍")  {
    
} {
   	<div class="container-fluid" style="padding-left: 0; padding-right: 0">
		<img style="width: 100%" src="@routes.Assets.at("images/main-banner.png")">
	</div>

	<div class="container">
		
		<div class="col-sm-12" style="margin-top:30px">
			
			<div class="col-sm-6">
				<img class="img-responsive" src="@routes.Assets.at("images/company/main-one.png")">				
			</div>

			<div class="col-sm-6">
				<div class="col-sm-12">
					<img class="img-responsive pull-right" src="@routes.Assets.at("images/company/dec-right.png")">
				</div>

				<p>公司介绍</p>
				<p>易聚货网络平台基于计算机软件现下主流开发技术，为用户提供以公路运输服务为主的线上线下相结合的物流信息交互平台，为企业提供更完善更全面的的物流信息管理系统，有效提高企业运输效率，降低物流成本及货车空返率。</p>

			</div>

		</div>		

		<div class="col-sm-12" style="margin-top:30px; margin-bottom: 30px">
			
			<div class="col-sm-6">
				<div class="col-sm-12">
					<img class="img-responsive pull-right" src="@routes.Assets.at("images/company/dec-right.png")">
				</div>

				<p>公司愿望</p>
				<p>易聚货为提高物流供需信息对接效率和使用效率，为厂家、物流公司、专线和驾驶员提供各种物流信息服务，以打造一条专业的线上物流信息链接，联通线下的厂家、物流公司、专线和货车驾驶员,为不同的服务主体提供不同的服务，满足多方的需求，以建立一个全方位的商业模式，有利于项目的可持续发展。</p>

			</div>

			<div class="col-sm-6">
				<img class="img-responsive" style="margin-top:60px;" src="@routes.Assets.at("images/company/main-two.png")">				
			</div>



		</div>



	</div>



<!--
	<div class="container" >

		<div class="col-sm-12" style="margin-top:20px">

			<div class="col-sm-8">
				<div>
					<img src="" style="border:1px solid #000000;width:100%; height: 300px">
				</div>
			</div>

			<div class="col-sm-4" style="text-align:left; margin:0 auto;">
				<p style="margin-top:30px">
					公司介绍	
				</p>
				<p class="company-text" >
					易聚货网络平台基于计算机软件现下主流开发技术，为用户提供以公路运输服务为主的线上线下相结合的物流信息交互平台，为企业提供更完善更全面的的物流信息管理系统，有效提高企业运输效率，降低物流成本及货车空返率。
				</p>
				<img src="" style="border:1px solid #008bdc; width:100%; height: 50px">

			</div>	
		</div>
		<div class="col-sm-12" style="border:1px solid #008bdc">
			<div class="col-sm-12" style="margin-top:20px">
				<p class="text-center">
					公司愿望
				</p>
			</div>

			<div class="col-sm-12" style="margin-top:10px">
				<p>
					易聚货为提高物流供需信息对接效率和使用效率，为厂家、物流公司、专线和驾驶员提供各种物流信息服务，以打造一条专业的线上物流信息链接，联通线下的厂家、物流公司、专线和货车驾驶员,为不同的服务主体提供不同的服务，满足多方的需求，以建立一个全方位的商业模式，有利于项目的可持续发展。
				</p>
			</div>
		</div>
	</div>
-->


} {
	<script type="text/javascript">
		$(function(){
			$('li[data-current="company"]').addClass("active");
		});
	</script>
}
