@(message: String)

@main("易聚货公司协议")  {
    
} {
	<div class="container-fluid content-bkg">
		<div class="col-sm-2"></div>
		
		<div class="col-sm-8" style="text-align:left; margin:0 auto">
			<p style="font-size: 30px; text-align:center;">易聚货会员服务协议（物流公司/厂家/专线）</p>
			<p style="font-size: 14px;">
       		易聚货（以下简称“本网站”）依据《易聚货注册会员服务协议》（以下简称“本协议”）的规定提供服务，本协议具有合同效力。注册会员时，请您务必认真阅读本协议，您可以自主决定接受或拒绝条款内容。若您已经注册成为本网站会员，即表示您已充分阅读、理解并同意自己与本网站订立本协议，且您自愿受本协议的条款约束。本网站有权随时变更本协议并在本网站上予以公告。经修订的条款一经在本网站公布后，立即自动生效。如您不同意相关变更，请您立即停止使用本网站。本协议内容包括协议正文及所有易聚货已经发布的各类规则。所有规则为本协议不可分割的一部分，与本协议正文具有同等法律效力。一旦您继续使用本网站，则表示您已接受并自愿遵守经修订后的条款。除非得到本网站的书面授权，任何人将不得修改本协议。</br></br>
			一、会员资格</br>
			  只有符合下列条件之一的自然人或法人才能申请成为本网站会员，可以使用本网站的服务：</br>
			    1、年满十八岁，并具有民事权利能力和民事行为能力的自然人；</br>
			    2、根据中国法律、法规、行政规章成立并合法存在的机关、企事业单位、社团组织和其他组织。</br></br>
			二、会员权利与义务</br>
			1、会员有权根据本协议及本网站发布的相关规则，利用本网站发布货源信息、查询车辆信息、选择试运车辆承运货物，在本网站社区及对相关产品发布信息，参加本网站的有关活动及有权享受本网站提供的其他有关资讯及信息服务。</br>
			    2、会员须自行负责自己的会员账号和密码，且须对在会员账号密码下发生的所有活动（包括但不限于发布货源信息、网上点击同意各类协议、规则、选择试运车辆承运货物、网银支付等）承担责任。会员有权根据需要更改登录密码。因会员的过错导致的任何损失由会员自行承担，该过错包括但不限于：不按照交易提示操作、未及时进行交易操作、遗忘或泄漏密码、密码被他人破解、您使用的计算机被他人侵入。</br>
			    3、会员应当向本网站提供真实准确完整的注册、认证信息。同时，会员也应当在相关资料实际变更时及时更新有关注册资料。会员进一步同意其一旦将信息或资料在使用服务时提供，则表示同意放弃对此信息或资料所享有的隐私权、版权和相关财产权利。</br>
			    4、会员不得以任何形式擅自转让或授权他人使用自己在本网站的会员帐号。</br>
			    5、会员有义务确保在本网站上发布的货源信息真实、准确无误，包括但不限于货物信息、配送信息、保险信息和发票信息。</br>
			    6、会员应通知发货人仔细核对承运车辆的车牌号、司机的姓名和身份证号码与承运车辆信息是否一致，并复印留存司机的身份证、驾驶证、车辆行驶证和车辆营运证等证件。因发货人误认车辆导致错装的，由会员自行承担损失。</br>
			    7、会员托运的货物必须是自有物品或有合法来源。倘若协议托运的货物名称、数量、性质与实际委托托运的货物名称、数量、性质不符，或属禁运物品的，在运输过程中发生被执法部门查扣、罚款等情形的，其法律责任由会员自负。由于在货物中夹带、匿报危险货物，而招致货物破损、爆炸，造成人身伤亡的，会员应承担由此造成的一切责任。</br>
			    8、会员托运的货物按国家或者地方法律法规规定需要包装的，应当按规定的标准包装。没有统一包装标准的，应根据保证货物运输安全和有利于实现合同目的的原则进行包装。否则，因此造成的经济损失由会员自负。由于会员方无视货物包装缺陷而产生破损，致使其他货物或运输工具、机械设备被污染腐蚀、损坏或造成人身伤亡的，会员应承担赔偿责任。</br>
			    9、会员负责货物的装车和卸车工作，有责任为承运车辆营造良好的服务环境，如会员方工作人员在货物承运过程中发生以下现象之一的，应承运车辆的赔偿要求，会员应承担所有的违约金和相应的责任：</br>
			     (1)不按预约时间装卸货物；</br>
			     (2)装卸货物当中有野蛮装卸行为，承运车辆（主）指出，会员方工作人员不及时更改；</br>
			     (3)会员发错货，造成承运车辆承运货物到达目的地后，收货人拒收，由此产生的一切费用由会员负担。</br></br>
			    10、完成装卸货后，会员有义务为承运车辆开具具有法律效力且注明所承运货物详细清单的出入库凭证。若有货损货差，会员应当面要求承运车辆立即作出赔偿，赔偿标准由双方协商达成；若已购买货运保险的，及时联系向保险公司理赔；本网站在力所能及的范围内为会员提供服务，减少会员的经济损失。但因下列原因且不仅限下列原因造成的损失，则由货主自行承担责任：</br>
			     (1)属于政府征用或罚没的；</br>
			     (2)不可抗力；</br>
			     (3)货物本身的性质所引起的变质、减量、破坏或毁灭；</br>
			     (4)包装方式或容器不良，但从外部无法发现；</br>
			     (5)包装完整、标志无异状，而内件短少；</br>
			     (6)货物的合理损耗；</br>
			     (7)托运人或收货人的过错。</br>
			    11、会员在本网站交易中应当遵守诚实信用原则，不得以干预或操纵交易等不正当竞争方式扰乱网上交易秩序，不得从事与网上交易无关的不当行为。</br>
			    12、会员不应采取不正当手段（包括但不限于虚假需求、互换好评等方式）提高自身或他人信用度，或采用不正当手段恶意评价其他会员，降低其他会员信用度。</br>
			    13、会员承诺自己在使用本网站实施的所有行为遵守法律、法规、行政规章和本网站的相关规定以及各种社会公共利益或公共道德。如有违反导致任何法律后果的发生，会员将以自己的名义独立承担相应的法律责任。</br>
			    14、会员在本网站网上交易过程中如与其他会员因交易产生纠纷，可以请求本网站从中予以协调处理。会员如发现其他会员有违法或违反本协议的行为，可以向本网站举报。</br>
			    15、会员不得使用以下方式登录网站或破坏网站所提供的服务：</br>
			     (1)以任何机器人软件、蜘蛛软件、爬虫软件、刷屏软件或其它自动方式访问或登录本网站；</br>
			     (2)通过任何方式对本公司内部结构造成或可能造成不合理或不合比例的重大负荷的行为；</br>
			     (3)通过任何方式干扰或试图干扰网站的正常工作或网站上进行的任何活动。</br></br>
			    16、会员同意接收来自本网站的信息，包括但不限于活动信息、交易信息、促销信息等。</br></br>
			三、易聚货的权利与义务</br>
			1、本网站有无须发出书面通知，仅在平台网站公示的情况下，而无需征得会员的事先同意，暂时或永久地对服务及其相关功能、应用软件变更、升级、修改、停止、转移的权利。上述所有新的模块、功能、软件服务的提供，除非本网站另有说明，否则仍适用本服务协议。</br>
			    2、本网站有义务在现有技术水平的基础上努力确保整个网上交易平台的正常运行，尽力避免服务中断或将中断时间限制在最短时间内，保证会员网上交流活动的顺利进行。本网站在进行系统维护或者升级时，有时需要短时间中断服务，在时间许可的情况下，应在网站公告中通知会员。如因网络通路的偶然阻塞造成访问速度减慢或中断，不属于违约。</br>
			    3、本网站在任何情况下都无需向会员或第三方在使用服务时对其在传输或联络中的迟延、不准确、错误或疏漏及因此而致使的损害负责。</br>
			    4、本网站有义务对会员在注册使用本网站中所遇到的与交易或注册有关的问题及反映的情况及时作出回复。</br>
			    5、本网站有权对会员的注册资料进行审查，对存在任何问题或怀疑的注册资料，本网站有权发出通知询问会员并要求会员做出解释、改正。</br>
			    6、会员因在本网站网上交易与其他会员产生纠纷的，会员将纠纷告知本网站，或本网站知悉纠纷情况的，经审核后，本网站有权通过电子邮件及电话联系向纠纷双方了解纠纷情况，并将所了解的情况通过电子邮件互相通知对方。会员通过司法机关依照法定程序要求本网站提供相关资料，本网站将积极配合并提供有关资料。</br>
			    7、本网站保留对会员收取服务费用的权利，并有权根据行情仅在平台网站公示的情况下，而无需征得会员的事先同意，自行调整收费标准。在本网站修改服务条款后，会员继续使用服务应被视作其已接受了修改后的条款。</br>
			    8、因网上信息平台的特殊性，本网站没有义务对所有会员的交易行为以及与交易有关的其他事项进行事先审查，但如发生以下情形，本网站有权无需征得会员的同意即可限制会员的活动、并有权向会员核实有关资料或发出警告通知、扣减信用积分、暂时中止、无限期中止及拒绝向该会员提供服务：</br>
			     (1)会员违反本协议或因被提及而纳入本协议的相关规则；</br>
			     (2)存在会员或其他第三方通知本网站，认为某个会员或某个具体交易事项存在违法、违约或不当行为，并提供了相关证据，而本网站在核证情况时，无法联系到该会员或被验证的该会员又不能向本网站提供任何资料；</br>
			     (3)存在会员或其他第三方通知本网站，认为某个会员或某个具体交易事项存在违法、违约或不当行为，并提供了相关证据。本网站以普通非专业交易者的知识水平标准对相关内容进行判别，可以明显认为这些内容或行为可能对本网站会员或对本网站造成财产损失或法律责任。</br>
			    9、根据国家法律、法规、行政规章规定及本协议的内容和本网站所掌握的事实依据，可以认定该会员存在违法或违反本协议行为以及在本网站交易平台上的其他不当行为时，本网站有权无需征得会员的同意在本网站交易平台及所在网站上以网络发布形式公布该会员的违法、违约行为，并有权随时作出删除相关信息、终止服务提供等处理。</br>
			    10、本网站依据本协议及相关规则，可以冻结、先行赔付、退款、扣除交易服务费、处置会员缴存并冻结在本网站账户内的运费。被封会员的已付运费在处置后若仍有余额，本网站如数退还给会员。</br></br>
			四、保密条款</br>
			1、双方保证对在讨论、签订、执行本协议过程中所获悉的属于其他方的且无法自公开渠道获得的文件及资料（包括本协议的各项条款、有关本协议的谈判、商业秘密、公司计划、运营活动、财务信息、技术信息、经营信息及其他商业秘密）予以保密。未经该资料和文件原提供方的同意，另一方不得向任何第三方泄露该商业秘密的全部或部分内容。任何一方违反上述保密条款的，应承担相应的违约责任并赔偿由此造成的损失。但法律、法规另有规定或双方另有约定的除外。保密期限为本协议终止时间。</br>
			    2、本网站及本网站所使用的任何相关软件、程序、内容，包括但不限于图片、档案、资料、网站构架、网站版面的安排、网页设计、经由本网站或广告商向会员呈现的广告或资讯，受到相关法律的保护。未经本网站或权利人明示授权，会员保证不修改、散布本网站及本网站所使用的上述任何资料和资源，或根据上述资料和资源制作成任何种类产品。</br>
			    3、本网站授予会员不可转移及非专属的使用权，使会员可以通过单机计算机使用本网站的目标代码（以下简称“软件”），但会员不得且不得允许任何第三方复制、修改、创作衍生作品、进行还原工程、反向组译，或以其它方式破译或试图破译源代码，或出售、转让“软件”或对“软件”进行再授权，或以其它方式移转“软件”之任何权利。会员同意不以任何方式修改“软件”，或使用修改后的“软件”。</br>
			    4、会员不得经由非本网站所提供的界面使用本网站。</br></br>
			五、违约责任</br>
			1、会员违反本协议规定内容，给本网站造成损失的，应当承担违约责任，赔偿本网站因此所受的一切损失，包括但不限于本金损失、利息损失、因追索或诉讼而支出的诉讼费、合理的通讯费、交通费、住宿费、律师费等。</br>
			    2、协议一方违反协议规定的，另一方应当采取适当措施防止损失的扩大，因防止损失扩大而支出的合理费用，由违约方承担。另一方没有采取适当措施致使损失扩大的，对损失扩大之部分违约方不承担赔偿责任。</br></br>
			六、不可抗力</br>
			  因不可抗力或者其他意外事件，使得本协议的履行不可能、不必要或者无意义的，双方均不承担责任。本合同所称之不可抗力意指不能预见、不能避免并不能克服的客观情况，包括但不限于战争、自然灾害、罢工、暴动、法定疾病、黑客攻击、网络病毒、电信部门技术管制、政府行为或任何其它自然或人为造成的灾难等客观情况。“意外事件”指诸如光缆出现故障的影响或损坏，通信线路或服务器发生超出一方防范与预见能力的故障等类似事件。</br></br>
			七、争议解决</br>
			1、本协议及其规则的有效性、履行和与本协议及其规则效力有关的所有事宜，将受中华人民共和国法律管辖，任何争议仅适用中华人民共和国法律。</br>
			    2、本网站对本服务协议包括基于本服务协议制定的各项规则拥有最终解释权。</br>
			    3、本网站有权受理并调处您与其他会员因交易服务产生的争议，同时有权单方面独立判断其他会员对您的投诉及索偿是否成立，若本网站判断索偿成立，则本网站有权使用您已付的运费进行相应偿付。本网站没有使用自用资金进行偿付的义务，但若进行了该等支付，您应及时赔偿本网站的全部损失，否则本网站有权通过前述方式抵减相应资金或权益，如仍无法弥补本网站损失，则本网站保留继续追偿的权利。因本网站非司法机关，您完全理解并承认，本网站对证据的鉴别能力及对纠纷的处理能力有限，受理交易争议完全是基于您之委托，不保证争议处理结果符合您的期望，本网站有权决定是否参与争议的调处。</br></br>
			八．其他</br>杭州恒昇网络科技有限公司不负责货物的实际运输，实际运输货物的司机非杭州恒昇网络科技有限公司及其关联公司员工，杭州恒昇网络科技有限公司仅为本网站的运营提供服务。</br>
			    </br>
			    </br>
			    </br>
			    </br>
			</p>
		</div>

	</div>
} {
	<script type="text/javascript">
		$(function(){
			
		});
	</script>
}
