@(title: String)(name : String)(include: Html)(content: Html)(scripts: Html)

@driver_login_index_main("易聚货驾驶员平台")(name) {
    
} {
    <ul id="sidebar-menu">

        <li class="header"><span>驾驶员</span></li>

        <li>
            <a href="/driver/index">
                <i class="glyph-icon glyph-icon icon-tasks"></i>
                <span>主页面</span>
            </a>
        </li>

        <li class="header"><span>搜索栏目</span></li>

        <li>
            <a href="/driver/search/company">
                <i class="glyph-icon icon-home"></i>
                <span>按公司搜货源</span>
            </a>
        </li>

        <li class="divider"></li>

        <li>
            <a href="/driver/search/department">
                <i class="glyph-icon icon-flag"></i>
                <span>按起运地搜货源</span>
            </a>
        </li>

        <li class="divider"></li>

        <li>
            <a href="/driver/search/specialway">
                <i class="glyph-icon icon-road"></i>
                <span>专线合作车辆搜索</span>
            </a>
        </li>

        <li class="header"><span>物流公社</span></li>

        <li>
            <a href="/driver/recruitment">
                <i class="glyph-icon icon-list-alt"></i>
                <span>其他信息</span>
            </a>
        </li>

        <li class="header"><span>账户管理</span></li>

        <li>
            <a href="/driver/account/validateinfo">
                <i class="glyph-icon icon-lock"></i>
                <span>认证资料</span>
            </a>
        </li>

        <li class="divider"></li>

        <li>
            <a href="/driver/account/normalinfo">
                <i class="glyph-icon icon-bookmark"></i>
                <span>详情资料</span>
            </a>
        </li>

        <li class="divider"></li>

        <li>
            <a href="/driver/account/psw">
                <i class="glyph-icon icon-edit"></i>
                <span>修改密码</span>
            </a>
        </li>

        <li class="divider"></li>

        <li>
            <a href="/driver/account/followed">
                <i class="glyph-icon icon-star"></i>
                <span>公司收藏夹</span>
            </a>
        </li>

    </ul><!-- #sidebar-menu -->  
} {

    @content

} {
    @scripts
}
