@(message: String)

@driver_login_index_sliders("易聚货驾驶员平台")  {
    
} {

    <div id="page-content-wrapper">
        <div id="page-content">
            <div class="container">

                <div id="page-title"></div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel">
                            <div class="panel-body">

                                <h3 class="title-hero">
                                    专线合作车辆搜索选项栏
                                </h3>

                                <div class="example-box-wrapper">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="font-size:12px;">
                                                        主营路线
                                                        <i class="glyph-icon icon-angle-down"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <select class="form-control">
                                                                <option selected>浙江省</option>
                                                            </select>   
                                                        </div>

                                                        <div class="col-sm-2">
                                                            <select class="form-control">
                                                                <option selected>杭州市</option>
                                                            </select>   
                                                        </div>

                                            <div class="col-sm-1" style="text-align:center;">
                                            ^</br>
                                            I</br>
                                            V</br>
                                            <!--
                                                <img  src="@routes.Assets.at("images/arrow/oneway.png")" class="img-swap">
                                            -->
                                            </div>
                                                        <div class="col-sm-2">
                                                            <select class="form-control">
                                                                <option selected>北京</option>

                                                            </select>   
                                                        </div>

                                                        <div class="col-sm-2">
                                                            <select class="form-control">
                                                                <option selected>北京</option>

                                                            </select>   
                                                        </div>                                                                            
                                                    </div>          
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="font-size:12px;">
                                                        需求车型
                                                        <i class="glyph-icon icon-angle-down"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 平板车
                                                    </label>
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox"  value="vehicle"> 高栏车
                                                    </label>
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 厢式车
                                                    </label>
                                                </div>
                                                <div class="panel-body">
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 半挂车
                                                    </label>
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 高低板
                                                    </label>
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 起重车
                                                    </label>
                                                </div>
                                                <div class="panel-body">                                
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 牵引车
                                                    </label>
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 仓棚车
                                                    </label>
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 罐式车
                                                    </label>
                                                </div>
                                                <div class="panel-body">
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 特种车
                                                    </label>
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 危险品车
                                                    </label>
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 保温冷藏
                                                    </label>
                                                </div>
                                                <div class="panel-body">
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 集装箱车
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" style="font-size:12px;">
                                                        需求车长
                                                        <i class="glyph-icon icon-angle-down"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 4.2米
                                                    </label>
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 4.5米
                                                    </label>
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 5米
                                                    </label>
                                                </div>
                                                <div class="panel-body">
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 6.2
                                                    </label>
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 6.9
                                                    </label>
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 7.2
                                                    </label>
                                                </div>
                                                <div class="panel-body">                                
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 7.7
                                                    </label>
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 7.8
                                                    </label>
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 8.2
                                                    </label>
                                                </div>
                                                <div class="panel-body">
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 8.6
                                                    </label>
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 8.7
                                                    </label>
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 9.6
                                                    </label>
                                                </div>
                                                <div class="panel-body">
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 11.7
                                                    </label>
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 12.5
                                                    </label>
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 13
                                                    </label>
                                                </div>
                                                <div class="panel-body">
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 13.5
                                                    </label>
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 14
                                                    </label>
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 16
                                                    </label>
                                                </div>
                                                <div class="panel-body">
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 17
                                                    </label>
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 17.5
                                                    </label>
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="vehicle"> 18
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" style="font-size:12px;">
                                                        合作模式
                                                        <i class="glyph-icon icon-angle-down"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseFour" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <label class="radio-inline">
                                                      <input type="radio" value="vehicle"> 单程
                                                    </label>
                                                    <label class="radio-inline">
                                                      <input type="radio" value="vehicle"> 往返
                                                    </label>
                                                    <label class="radio-inline">
                                                      <input type="radio" value="vehicle"> 长期
                                                    </label>
                                                    <label class="radio-inline">
                                                      <input type="radio" value="vehicle"> 不限
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <button type="button" class="btn btn-info mrg20B col-sm-2 col-xs-12" style="font-size:15px">
                                    确认搜索
                                </button>
                 
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel">
                            <div class="panel-body">
                                <h3 class="title-hero">
                                    
                                </h3>

                                <div class="example-box-wrapper">
                                    <div class="row">

                                        <div class="col-sm-12">

                                            <div class="row">

                                            <div class="col-sm-6" style="font-size:15px">
                                                浙江杭州->北京北京
                                            </div>

                                            <div class="col-sm-4" style="font-size:15px">
                                                平板车  /  4.1米  / 单程 (传入数据)
                                            </div>  

                                            <button type="button" class="btn btn-info mrg20B col-sm-2 col-xs-12" data-toggle="collapse" data-target="#recruit-view" style="font-size:15px">
                                                查看详情
                                            </button>

                                            </div>
                <!-- close directly view the collapse
                                            <div id="recruit-view" class="collapse in"> -->
                                            <div id="recruit-view" class="collapse">

                                                <div class="panel">
                                                <!--
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">这里显示公司专线发送的招聘标题</h3>
                                                    </div>
                -->
                                                    <div class="panel-body">
                                                    <div class="form-horizontal bordered-row" role="form">
                                                        <div class="form-group">
                                                            <label for="certificate-type" class="col-sm-2 control-label">主营路线</label>
                                                            <div class="col-sm-8">
                                                                <div class="col-sm-7">
                                                                    <label type='text' class="control-label">浙江 杭州 --> 北京 北京</label> 
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            <label for="certificate-type" class="col-sm-2 control-label">仓库地址</label>
                                                            <div class="col-sm-8">
                                                                <div class="col-sm-7">
                                                                    <label type='text' class="control-label">浙江 杭州 </label> 
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">需求车型</label>
                                                            <div class="col-sm-6">
                                                                <label type="text" class="control-label">平板车</label>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">需求车长</label>
                                                            <div class="col-sm-6">
                                                                <label type="text" class="control-label">11米</label>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">合作模式</label>
                                                            <div class="col-sm-6">
                                                                <label type="text" class="control-label">长期</label>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">所属公司</label>
                                                            <div class="col-sm-6">
                                                                <label type="text" class="control-label">澳深科技有限公司</label>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">联系人</label>
                                                            <div class="col-sm-6">
                                                                <label type="text" class="control-label">林恩</label>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">联系人电话</label>
                                                            <div class="col-sm-6">
                                                                <label type="text" class="control-label">13857102787</label>
                                                            </div>
                                                        </div> 

                                                    </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

} {
	<script type="text/javascript">
		$(function(){
			$('li[data-current="index"]').addClass("active");
		});
	</script>
}
