@(token : String)(open_id : String)(name : String)(cities : List[play.api.libs.json.JsValue])(vc : play.api.libs.json.JsValue)(com_lst : List[play.api.libs.json.JsValue])

@driver_login_index_sliders("易聚货驾驶员平台")(name) {
    
} {

    <div id="page-content-wrapper">
        <div id="page-content">
            <div class="container">

                <div id="page-title"></div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel">
                            <div class="panel-body">

                                <h3 class="title-hero">
                                    专线合作信息搜索选项栏
                                </h3>

                                <div class="example-box-wrapper">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="font-size:12px;">
                                                        主营路线
                                                        <i class="glyph-icon icon-angle-down"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <select class="form-control" data-name="origin-province" data-index="0" onchange="cityChanges($(this), $(this).parent().parent(), 1)">
                                                                <option selected disabled>请选择省</option>
                                                                @{cities map { iter => 
                                                                    <option value={(iter \ "province").asOpt[String].get}>{(iter \ "province").asOpt[String].get}</option>
                                                                }};
                                                            </select> 
                                                        </div>

                                                        <div class="col-sm-2">
                                                            <select class="form-control" data-name="origin-city" data-index="1">
                                                                <option selected disabled data-filter="choice" >请选择市</option>
                                                                @{cities map { iter => (iter \ "cities").asOpt[List[String]].get map { x => 
                                                                    <option style="display:none" data-filter={(iter \ "province").asOpt[String].get} value={x}>{x}</option>
                                                                }}};
                                                            </select>  
                                                        </div>

                                                        <div class="col-sm-1 text-center" style="text-align:center;">
                                                            <i class="fa fa-arrows-v fa-2x" aria-hidden="true"></i>
                                                        </div>

                                                        <div class="col-sm-2">
                                                            <select class="form-control" data-name="destination-province" data-index="2" onchange="cityChanges($(this), $(this).parent().parent(), 3)">
                                                                <option selected disabled data-filter="choice" >请选择省</option>
                                                                @{cities map { iter => 
                                                                    <option value={(iter \ "province").asOpt[String].get}>{(iter \ "province").asOpt[String].get}</option>
                                                                }};
                                                            </select>
                                                        </div>

                                                        <div class="col-sm-2">
                                                            <select class="form-control" data-name="destination-city" data-index="3">
                                                                <option selected disabled data-filter="choice" >请选择市</option>
                                                                @{cities map { iter => (iter \ "cities").asOpt[List[String]].get map { x => 
                                                                    <option style="display:none" data-filter={(iter \ "province").asOpt[String].get} value={x}>{x}</option>
                                                                }}};
                                                            </select>   
                                                        </div>                                                                            
                                                    </div>          
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="font-size:12px;">
                                                        需求车型
                                                        <i class="glyph-icon icon-angle-down"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                @{(vc \ "vehicle").asOpt[List[String]].get map { x =>
                                                    <div class="col-sm-2 checkbox">
                                                        <label><input data-name="vehicle" type="checkbox" value={x} /> {x} </label>
                                                    </div>
                                                }}
                                            </div>
                                        </div>

                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" style="font-size:12px;">
                                                        需求车长
                                                        <i class="glyph-icon icon-angle-down"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                @{(vc \ "vehicle_length").asOpt[List[Float]].get map { x =>
                                                    <div class="col-sm-2 checkbox">
                                                        <label><input data-name="vehicle_length" type="checkbox" value={x.toString} /> {x.toString} 米 </label>
                                                    </div>
                                                }}
                                            </div>
                                        </div>

                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" style="font-size:12px;">
                                                        合作模式
                                                        <i class="glyph-icon icon-angle-down"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseFour" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <label class="radio-inline">
                                                      <input type="radio" data-name="cooperation_type" name="cooperation" value="vehicle"> 单程
                                                    </label>
                                                    <label class="radio-inline">
                                                      <input type="radio" data-name="cooperation_type" name="cooperation" value="vehicle"> 往返
                                                    </label>
                                                    <label class="radio-inline">
                                                      <input type="radio" data-name="cooperation_type" name="cooperation" value="vehicle"> 长期
                                                    </label>
                                                    <label class="radio-inline">
                                                      <input type="radio" data-name="cooperation_type" name="cooperation" value="vehicle"> 不限
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <button type="button" class="btn btn-info mrg20B col-sm-2 col-xs-12" style="font-size:15px">
                                    确认搜索
                                </button>
                 
                            </div>
                        </div>
                    </div>
                </div>


                <div data-name="result-container">
                @{ com_lst map { iter =>
                    val iter_open_id = (iter \ "open_id").asOpt[String].get
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel">
                                <div class="panel-body">
                                    <h3 class="title-hero">
                                        
                                    </h3>

                                    <div class="example-box-wrapper">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-6" style="font-size:15px">
                                                        {(iter \ "company_name").asOpt[String].get}
                                                    </div>
                                                    <div class="col-sm-4" style="font-size:15px">
                                                        <label type='text' class="control-label"> 
                                                            {
                                                                val x = (iter \ "special_lines").asOpt[List[play.api.libs.json.JsValue]].get.head
                                                                (x \ "origin_province").asOpt[String].get + " " + 
                                                                (x \ "origin_city").asOpt[String].get + " --> " + 
                                                                (x \ "destination_province").asOpt[String].get + " " +
                                                                (x \ "destination_city").asOpt[String].get
                                                            }
                                                        </label> 
                                                    </div>  
                                                    <button type="button" class="btn btn-info mrg20B col-sm-2 col-xs-12" data-toggle="collapse" data-target={"#recruit-view-" + iter_open_id} style="font-size:15px">
                                                        查看详情
                                                    </button>
                                                </div>

                                                <div id={"recruit-view-" + iter_open_id} class="collapse">

                                                    <div class="panel">

                                                        <div class="panel-body">
                                                            <div class="form-horizontal bordered-row" role="form">

                                                                <div class="form-group">
                                                                    <label class="col-sm-2 control-label">公司名字</label>
                                                                    <div class="col-sm-8">
                                                                        <label type="text" class="control-label">{(iter \ "company_name").asOpt[String].get}</label>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="certificate-type" class="col-sm-2 control-label">主营路线</label>
                                                                    {(iter \ "special_lines").asOpt[List[play.api.libs.json.JsValue]].get map { x => 
                                                                        <div class="col-sm-8">
                                                                            <label type='text' class="control-label">
                                                                            {
                                                                                (x \ "origin_province").asOpt[String].get + " " + 
                                                                                (x \ "origin_city").asOpt[String].get + " --> " + 
                                                                                (x \ "destination_province").asOpt[String].get + " " +
                                                                                (x \ "destination_city").asOpt[String].get
                                                                            }
                                                                            </label> 
                                                                        </div>
                                                                    }}
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="certificate-type" class="col-sm-2 control-label">仓库地址</label>
                                                                    {(iter \ "special_storage").asOpt[List[play.api.libs.json.JsValue]].get map { x => 
                                                                        <div class="col-sm-8">
                                                                            <label type='text' class="control-label">
                                                                            {
                                                                                (x \ "province").asOpt[String].get + " " + 
                                                                                (x \ "city").asOpt[String].get + " --> " + 
                                                                                (x \ "district").asOpt[String].get + " " +
                                                                                (x \ "address").asOpt[String].get
                                                                            }
                                                                            </label> 
                                                                        </div>
                                                                    }}
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="col-sm-2 control-label">拥有车型</label>
                                                                    <div class="col-sm-8">
                                                                        <label type="text" class="control-label">
                                                                            {
                                                                                val vehicle = (iter \ "vehicle").asOpt[List[String]].get
                                                                                (vehicle zipWithIndex) map { x => 
                                                                                    x._1 + (if (x._2 == vehicle.length - 1) ""
                                                                                            else "/")
                                                                                }
                                                                            }
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="col-sm-2 control-label">发车时效</label>
                                                                    <div class="col-sm-8">
                                                                        <label type="text" class="control-label">
                                                                            { 
                                                                                if ((iter \ "special_occation").asOpt[Int].get == 0) "天天发车"
                                                                                else "隔天发车"
                                                                            }
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="col-sm-2 control-label">联系人</label>
                                                                    <div class="col-sm-8">
                                                                        <label type="text" class="control-label">{(iter \ "cell_phone_owner").asOpt[String].get}</label>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="col-sm-2 control-label">联系人电话</label>
                                                                    <div class="col-sm-8">
                                                                        <label type="text" class="control-label">{(iter \ "cell_phone").asOpt[String].get}</label>
                                                                    </div>
                                                                </div> 

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }}
                </div> <!-- result container -->

            </div>
        </div>
    </div>

} {
	<script type="text/javascript">
		$(function(){
			$('li[data-current="index"]').addClass("active");
		});

        function cityChanges(ele, container, index) {
            var a = Number($(ele).attr("data-index"));
            var province = $(ele).val();
            $(container).find('select[data-index="' + String(a + 1) + '"]').children().css({"display":"none"});
            $(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="choice"]').css({"display":"block"});
            $(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="' + province + '"]').css({"display":"block"});
        }

        function districtChanges(ele, container, index) {
            var a = Number($(ele).attr("data-index"));
            var city = $(ele).val();
            $(container).find('select[data-index="' + String(a + 1) + '"]').children().css({"display":"none"});
            $(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="choice"]').css({"display":"block"});
            $(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="' + city + '"]').css({"display":"block"});
        }
	</script>
}
