@(companies : List[play.api.libs.json.JsValue])(token : String)(open_id : String)(screen_name : String)(following_lst : List[String])

@driver_login_index_sliders("易聚货驾驶员平台")(screen_name)  {
    
} {

    <div id="page-content-wrapper">
        <div id="page-content">
            <div class="container">
                <!-- Bootstrap Wizard -->
                <!--<link rel="stylesheet" type="text/css" href="@routes.Assets.at("assets/widgets/wizard/wizard.css")">-->
                <script type="text/javascript" src="@routes.Assets.at("widgets/wizard/wizard.js")"></script>
                <script type="text/javascript" src="@routes.Assets.at("widgets/wizard/wizard-demo.js")"></script>
                <!-- Boostrap Tabs -->
                <script type="text/javascript" src="@routes.Assets.at("widgets/tabs/tabs.js")"></script>

                <div id="page-title">
                </div>

                @{ (companies zipWithIndex) map { item => 
                val iter = item._1
                val index = item._2
                val target_id = (iter \ "open_id").asOpt[String].get
                <div class="panel">
                    <div class="panel-body">
                        <h4 class="title-hero">
                        { (iter \ "company_name").asOpt[String].get } 
                        {
                            if (following_lst.contains(target_id)) {
                                <button class="btn btn-link" style="color:#008bdc; border: none;" onclick={"unCollectCompany(\"" + target_id + "\")"} ><i class="glyph-icon icon-star"></i>已收藏</button>
                            } else {
                                <button class="btn btn-link" style="color:#008bdc; border: none;" onclick={"collectCompany(\"" + target_id + "\")"} ><i class="glyph-icon icon-star"></i>收藏</button>
                            }
                        }
                        </h4>
                        <div class="example-box-wrapper">
                            <div id={"followed_" + index}>
                                <a href={"#tab1-" + index} data-toggle="collapse" class="btn bg-blue" style="font-size:12px;">公司信息</a>
                                <a href={"#tab2-" + index} data-toggle="collapse" class="btn bg-blue" style="margin-left: 10px !important;font-size:12px;">货源信息</a>


                                <div class="tab-content">
                                    <div class="tab-pane" id={"tab1-" + index}>
                                        <div class="content-box">
                                            <div class="content-box-wrapper">
                                                <div class="form-horizontal bordered-row" role="form">

                                                    {if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.company.t) {
                                                        (iter \ "company_lines").asOpt[List[play.api.libs.json.JsValue]].get map { x => 
                                                            <div class="form-group">
                                                                <label for="certificate-type" class="col-sm-2 control-label">业务领域</label>
                                                                <div class="col-sm-8">
                                                                    <div class="col-sm-4">
                                                                        <label type='text' class="control-label">
                                                                        { (iter \ "company_business").asOpt[List[String]].get map { x => 
                                                                            {x + " "} 
                                                                        }}
                                                                        </label> 
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }}

                                                    <div class="form-group">
                                                        <label for="certificate-type" class="col-sm-2 control-label">营业范围</label>
                                                            {if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.company.t) {
                                                                (iter \ "company_lines").asOpt[List[play.api.libs.json.JsValue]].get map { x => 
                                                                    <div class="col-sm-8">
                                                                    <div class="col-sm-4">
                                                                        <label type='text' class="control-label"> 
                                                                            {(x \ "origin_province").asOpt[String].get + " " + 
                                                                            (x \ "origin_city").asOpt[String].get + " --> " + 
                                                                            (x \ "destination_province").asOpt[String].get + " " +
                                                                            (x \ "destination_city").asOpt[String].get}
                                                                        </label> 
                                                                    </div>
                                                                    </div>
                                                                }

                                                            } else if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.industry.t) { 

                                                            } else if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.specialway.t) { 
                                                                (iter \ "special_lines").asOpt[List[play.api.libs.json.JsValue]].get map { x => 
                                                                    <div class="col-sm-8">
                                                                    <div class="col-sm-4">
                                                                        <label type='text' class="control-label"> 
                                                                            {(x \ "origin_province").asOpt[String].get + " " + 
                                                                            (x \ "origin_city").asOpt[String].get + " --> " + 
                                                                            (x \ "destination_province").asOpt[String].get + " " +
                                                                            (x \ "destination_city").asOpt[String].get}
                                                                        </label> 
                                                                    </div>
                                                                    </div>
                                                                }
                                                            }}
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">公司官网</label>
                                                        <div class="col-sm-6">
                                                            {if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.company.t) {
                                                                <label type="text" class="control-label col-sm-6">
                                                                    {(iter \ "company_web").asOpt[String].get}
                                                                </label>

                                                            } else if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.industry.t) { 
                                                                <label type="text" class="control-label col-sm-6">
                                                                    {(iter \ "industry_web").asOpt[String].get}
                                                                </label>
                                                            } else if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.specialway.t) { 
                                                                <label type="text" class="control-label col-sm-6">
                                                                    {(iter \ "special_web").asOpt[String].get}
                                                                </label>
                                                            }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">公司传真</label>
                                                        <div class="col-sm-6">
                                                            {if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.company.t) {
                                                                <label type="text" class="control-label col-sm-6">
                                                                    {(iter \ "company_fax").asOpt[String].get}
                                                                </label>

                                                            } else if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.industry.t) { 
                                                                <label type="text" class="control-label col-sm-6">
                                                                    {(iter \ "industry_fax").asOpt[String].get}
                                                                </label>
                                                            } else if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.specialway.t) { 
                                                                <label type="text" class="control-label col-sm-6">
                                                                    {(iter \ "special_fax").asOpt[String].get}
                                                                </label>
                                                            }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">公司邮箱</label>
                                                        <div class="col-sm-6">
                                                            {if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.company.t) {
                                                                <label type="text" class="control-label col-sm-6">
                                                                    {(iter \ "company_email").asOpt[String].get}
                                                                </label>

                                                            } else if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.industry.t) { 
                                                                <label type="text" class="control-label col-sm-6">
                                                                    {(iter \ "industry_email").asOpt[String].get}
                                                                </label>
                                                            } else if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.specialway.t) { 
                                                                <label type="text" class="control-label col-sm-6">
                                                                    {(iter \ "special_email").asOpt[String].get}
                                                                </label>
                                                            }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">公司介绍</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label col-sm-6">{(iter \ "description").asOpt[String].get}</label>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                <div class="tab-pane" id={"tab2-" + index}>
                                    <div class="content-box">
                                        <div class="content-box-wrapper">
                                        当天货源数目:
                                        <div class="panel">
                                        <div class="panel-body">
                                        <h3 class="title-hero"></h3>

                                        <div class="example-box-wrapper">
                                        <div class="row">

                                        <div class="col-sm-12">

                                        <div class="row">

                                            <div class="col-sm-6" style="font-size:15px">
                                            浙江杭州->北京北京
                                            </div>

                                            <div class="col-sm-4" style="font-size:15px">
                                            货物名称  /  吨位  / 体积 (传入数据)
                                            </div>  

                                            <button type="button" class="btn btn-info mrg20B col-sm-2 col-xs-12" data-toggle="collapse" data-target="#depart-view" style="font-size:15px">
                                            查看详情
                                            </button>

                                        </div>
                                        <!-- close directly view the collapse
                                        <div id="recruit-view" class="collapse in"> -->
                                        <div id="depart-view" class="collapse">

                                        <div class="panel">
                                            <!--
                                            <div class="panel-heading">
                                            <h3 class="panel-title">这里显示公司专线发送的招聘标题</h3>
                                            </div>
                                            -->
                                            <div class="panel-body">
                                                <div class="form-horizontal bordered-row" role="form">
                                                    <div class="form-group">
                                                        <label for="certificate-type" class="col-sm-2 control-label">起运地</label>
                                                        <div class="col-sm-8">
                                                            <div class="col-sm-4">
                                                                <label type='text' class="control-label">浙江 杭州 </label> 
                                                            </div>
                                                            <div>
                                                                <button type="button" class="btn btn-info mrg5A col-sm-3 col-xs-12">导航</button>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <label for="certificate-type" class="col-sm-2 control-label">目的地</label>
                                                        <div class="col-sm-8">
                                                            <div class="col-sm-4">
                                                                <label type='text' class="control-label">北京 北京 </label> 
                                                            </div>
                                                            <div>
                                                                <button type="button" class="btn btn-info mrg5A col-sm-3 col-xs-12">导航</button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">需求吨位</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label">12</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">需求体积</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label">12</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">需求车型</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label">平板车</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">需求车长</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label">11米</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">货物名称</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label">什么</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">时效需求</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label">马上</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">其他备注</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label">林恩</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">所属公司</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label">澳深科技有限公司</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">联系人</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label">林恩</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">联系人电话</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label">13857102787</label>
                                                        </div>
                                                    </div> 

                                                </div>
                                            </div>
                                        </div>

                                        </div>
                                        </div>

                                        </div>
                                        </div>
                                        </div>
                                        </div>


                                        <div class="panel">
                                            <div class="panel-body">
                                                <h3 class="title-hero"></h3>

                                                    <div class="example-box-wrapper">
                                                        <div class="row">

                                                        <div class="col-sm-12">

                                                        <div class="row">

                                                        <div class="col-sm-6" style="font-size:15px">
                                                        浙江杭州->北京北京
                                                        </div>

                                                        <div class="col-sm-4" style="font-size:15px">
                                                        货物名称  /  吨位  / 体积 (传入数据)
                                                        </div>  

                                                        <button type="button" class="btn btn-info mrg20B col-sm-2 col-xs-12" data-toggle="collapse" data-target="#depart-view-2" style="font-size:15px">
                                                        查看详情
                                                        </button>

                                                        </div>
                                                        <!-- close directly view the collapse
                                                        <div id="recruit-view" class="collapse in"> -->
                                                        <div id="depart-view-2" class="collapse">

                                                            <div class="panel">
                                                                <!--
                                                                <div class="panel-heading">
                                                                <h3 class="panel-title">这里显示公司专线发送的招聘标题</h3>
                                                                </div>
                                                                -->
                                                                <div class="panel-body">
                                                                    <div class="form-horizontal bordered-row" role="form">

                                                                        <div class="form-group">
                                                                            <label for="certificate-type" class="col-sm-2 control-label">起运地</label>
                                                                            <div class="col-sm-8">
                                                                                <div class="col-sm-4">
                                                                                    <label type='text' class="control-label">浙江 杭州 </label> 
                                                                                </div>
                                                                                <div>
                                                                                    <button type="button" class="btn btn-info mrg5A col-sm-3 col-xs-12">导航</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>


                                                                        <div class="form-group">
                                                                            <label for="certificate-type" class="col-sm-2 control-label">目的地</label>
                                                                            <div class="col-sm-8">
                                                                                <div class="col-sm-4">
                                                                                    <label type='text' class="control-label">北京 北京 </label> 
                                                                                </div>
                                                                                <div>
                                                                                    <button type="button" class="btn btn-info mrg5A col-sm-3 col-xs-12">导航</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-sm-2 control-label">需求吨位</label>
                                                                            <div class="col-sm-6">
                                                                                <label type="text" class="control-label">12</label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-sm-2 control-label">需求体积</label>
                                                                            <div class="col-sm-6">
                                                                                <label type="text" class="control-label">12</label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-sm-2 control-label">需求车型</label>
                                                                            <div class="col-sm-6">
                                                                                <label type="text" class="control-label">平板车</label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-sm-2 control-label">需求车长</label>
                                                                            <div class="col-sm-6">
                                                                                <label type="text" class="control-label">11米</label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-sm-2 control-label">货物名称</label>
                                                                            <div class="col-sm-6">
                                                                                <label type="text" class="control-label">什么</label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-sm-2 control-label">时效需求</label>
                                                                            <div class="col-sm-6">
                                                                                <label type="text" class="control-label">马上</label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-sm-2 control-label">其他备注</label>
                                                                            <div class="col-sm-6">
                                                                                <label type="text" class="control-label">林恩</label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-sm-2 control-label">所属公司</label>
                                                                            <div class="col-sm-6">
                                                                                <label type="text" class="control-label">澳深科技有限公司</label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-sm-2 control-label">联系人</label>
                                                                            <div class="col-sm-6">
                                                                                <label type="text" class="control-label">林恩</label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-sm-2 control-label">联系人电话</label>
                                                                            <div class="col-sm-6">
                                                                                <label type="text" class="control-label">13857102787</label>
                                                                            </div>
                                                                        </div> 

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }}

            </div>
        </div>
    </div>

} {
	<script type="text/javascript">
		$(function(){
			$('li[data-current="index"]').addClass("active");
		});

        function collectCompany(open_id) {

            var query_object = new Object();
            query_object["target_open_id"] = open_id;
            query_object["driver_open_id"] = "@{open_id}";

            $.ajax({
                url: "/data/driver/collect/push",
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json, charset=utf-8',
                data: JSON.stringify(query_object),
                cache: false,
                success: function (data) {
                    if (data.status == "ok") { 
                         location.reload();
                    } else {
                        alert(data.error.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("请检查您的输入");
                }
            });
        }

        function unCollectCompany(open_id) {
            var query_object = new Object();
            query_object["target_open_id"] = open_id;
            query_object["driver_open_id"] = "@{open_id}";

            $.ajax({
                url: "/data/driver/collect/pop",
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json, charset=utf-8',
                data: JSON.stringify(query_object),
                cache: false,
                success: function (data) {
                    if (data.status == "ok") { 
                         location.reload();
                    } else {
                        alert(data.error.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("请检查您的输入");
                }
            });
        }
	</script>
}
