@(token : String)(open_id : String)(screen_name : String)(driver : play.api.libs.json.JsValue)(cities : List[play.api.libs.json.JsValue])(vc : play.api.libs.json.JsValue)

@driver_login_index_sliders("易聚货驾驶员平台")(screen_name) {
    
} {

    <div id="page-content-wrapper">
        <div id="page-content">
            <div class="container">
                <div id="page-title">
                    <h2>详细资料</h2>
                    <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:red; margin-top:10px;">
                    <span style="color:#424949;margin-left: 5px;"> 更改绑定手机号码后，登录账号自动变更为新的手机号码，请谨慎更改！</span>
            </i>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <h3 class="title-hero">
                        </h3>

                        <div class="example-box-wrapper">
                            <div class="form-horizontal bordered-row">

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">更改绑定手机号码</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control col-sm-3" data-name="phone-no" value=@{(driver \ "phone_no").asOpt[String].get} >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control col-sm-3" data-name="phone-code" placeholder="输入动态验证码">
                                        <button class="col-sm-3 btn bg-blue col-xs-12" style="margin-right:20px !important">
                                        获取动态验证码
                                        </button>
                                    </div>
                                </div>

                                <div class="form-group" style="display: none;" data-name='phone-no-error'>
                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-8">
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            请填写有效的电话号码
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">拥有车型</label>

                                    <div class="col-sm-6">
                                        @{(vc \ "vehicle").asOpt[List[String]].get map { x =>
                                        <div class="col-sm-2 checkbox">
                                            {if ((driver \ "vehicle").asOpt[List[String]].get.contains(x) ) {
                                                <label><input data-name="vehicle" type="checkbox" value={x} checked="" /> {x} </label>
                                            } else {
                                                <label><input data-name="vehicle" type="checkbox" value={x} /> {x} </label>
                                            }}
                                        </div>
                                        }}
                                    </div>
                                </div>

                                <div class="form-group" style="display: none;" data-name='vehicle-error'>
                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-8">
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            请选择有效的车型
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">拥有车长</label>
                                    <div class="col-sm-6">
                                        @{(vc \ "vehicle_length").asOpt[List[Double]].get map { x =>
                                        <div class="col-sm-2 checkbox">
                                            {
                                            (driver \ "vehicle_length").asOpt[List[Float]] match {
                                                case None => {
                                                    val v = (driver \ "vehicle_length").asOpt[Float].get
                                                    if (x - v < 0.0001 && x - v > - 0.0001) {
                                                        <label><input data-name="vehicle-length" type="checkbox" value={x.toString} checked="" /> {x.toString}米 </label>
                                                    } else {
                                                        <label><input data-name="vehicle-length" type="checkbox" value={x.toString} /> {x.toString}米 </label>
                                                    }
                                                }
                                                case Some(y) => {
                                                    y.filter(v => x - v < 0.0001 && x - v > - 0.0001) match {
                                                        case Nil => <label><input data-name="vehicle-length" type="checkbox" value={x.toString} /> {x.toString}米 </label>
                                                        case _ => <label><input data-name="vehicle-length" type="checkbox" value={x.toString} checked="" /> {x.toString}米 </label>
                                                    }}
                                                }
                                            }
                                            
                                        </div>
                                        }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">载重</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" data-name="capacity" value=@{(driver \ "capacity").asOpt[Int].get} >
                                    </div>
                                </div>

                                <div class="form-group" style="display: none;" data-name='capacity-error'>
                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-8">
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            请选择有效的载重
                                        </div>
                                    </div>
                                </div>

                                @{ ((driver \ "driver_lines").asOpt[List[play.api.libs.json.JsValue]].get.toList zipWithIndex) map { iter_index => 
                                val iter = iter_index._1
                                val index = iter_index._2
                                <div class="form-group driver-lines" data-name={"index-" + index}>
                                    <label class="col-sm-3 control-label">常跑路线</label>

                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                {
                                                val tmp = (iter \ "origin_province").asOpt[String].get
                                                <select class="form-control" data-name="origin-province" data-index="0" onchange="cityChanges($(this), $(this).parent().parent(), 1)" >
                                                    {cities map { p => 
                                                        if (tmp.equals((p \ "province").asOpt[String].get)) {
                                                            <option value={(p \ "province").asOpt[String].get} selected="">{(p \ "province").asOpt[String].get}</option>
                                                        } else {
                                                            <option value={(p \ "province").asOpt[String].get}>{(p \ "province").asOpt[String].get}</option>
                                                        }
                                                    }};
                                                </select>
                                                }
                                            </div>

                                            <div class="col-sm-2">
                                                {
                                                val province = (iter \ "origin_province").asOpt[String].get
                                                val tmp = (iter \ "origin_city").asOpt[String].get
                                                <select class="form-control" data-name="origin-city" data-index="1" >
                                                    {cities map { p => (p \ "cities").asOpt[List[String]].get map { x => 
                                                        if (tmp.equals(x)) {
                                                            <option data-filter={(p \ "province").asOpt[String].get} value={x} selected="">{x}</option>
                                                        } else if (province.equals((p \ "province").asOpt[String].get)) {
                                                            <option data-filter={(p \ "province").asOpt[String].get} value={x} selected="">{x}</option>
                                                        } else {
                                                            <option style="display:none" data-filter={(p \ "province").asOpt[String].get} value={x}>{x}</option>
                                                        }
                                                    }}};
                                                </select>
                                                }
                                            </div>

                                            <div class="col-sm-1 text-center" style="text-align:center;">
                                                <i class="fa fa-exchange fa-2x" aria-hidden="true"></i>
                                            </div>

                                            <div class="col-sm-2">
                                                {
                                                val tmp = (iter \ "destination_province").asOpt[String].get
                                                <select class="form-control" data-name="origin-province" data-index="2" onchange="cityChanges($(this), $(this).parent().parent(), 1)" >
                                                    {cities map { p => 
                                                        if (tmp.equals((p \ "province").asOpt[String].get)) {
                                                            <option value={(p \ "province").asOpt[String].get} selected="">{(p \ "province").asOpt[String].get}</option>
                                                        } else {
                                                            <option value={(p \ "province").asOpt[String].get}>{(p \ "province").asOpt[String].get}</option>
                                                        }
                                                    }};
                                                </select>
                                                } 
                                            </div>

                                            <div class="col-sm-2">
                                                {
                                                val province = (iter \ "destination_province").asOpt[String].get
                                                val tmp = (iter \ "destination_city").asOpt[String].get
                                                <select class="form-control" data-name="origin-city" data-index="3" >
                                                    {cities map { p => (p \ "cities").asOpt[List[String]].get map { x => 
                                                        if (tmp.equals(x)) {
                                                            <option data-filter={(p \ "province").asOpt[String].get} value={x} selected="">{x}</option>
                                                        } else if (province.equals((p \ "province").asOpt[String].get)) {
                                                            <option data-filter={(p \ "province").asOpt[String].get} value={x} selected="">{x}</option>
                                                        } else {
                                                            <option style="display:none" data-filter={(p \ "province").asOpt[String].get} value={x}>{x}</option>
                                                        }
                                                    }}};
                                                </select>
                                                }
                                            </div>      
                                            <div class="form-group text-center">
                                                <button class="btn bg-blue" style="margin-right:20px !important" onclick={"removeDriveLine(" + index + ")"}>
                                                    删除
                                                </button>
                                            </div>          
                                        </div>
                                    </div>
                                </div>
                                }}

                                <div class="row collapse" id="new-line-collapse" style="margin-top:10px">
                                    <label class="col-sm-3 control-label">新添路线</label>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <select class="form-control" data-name="origin-province" data-index="0" onchange="cityChanges($(this), $(this).parent().parent(), 1)" >
                                                    <option disabled="" >请选择省</option>
                                                    @{cities map { p => 
                                                        <option value={(p \ "province").asOpt[String].get}>{(p \ "province").asOpt[String].get}</option>
                                                    }};
                                                </select>
                                            </div>

                                            <div class="col-sm-2">
                                                <select class="form-control" data-name="origin-city" data-index="1" >
                                                    <option disabled="" >请选择市</option>
                                                    @{cities map { p => (p \ "cities").asOpt[List[String]].get map { x => 
                                                        <option style="display:none" data-filter={(p \ "province").asOpt[String].get} value={x}>{x}</option>
                                                    }}};
                                                </select>
                                            </div>

                                            <div class="col-sm-1 text-center" style="text-align:center;">
                                                <i class="fa fa-exchange fa-2x" aria-hidden="true"></i>
                                            </div>

                                            <div class="col-sm-2">
                                                <select class="form-control" data-name="origin-province" data-index="2" onchange="cityChanges($(this), $(this).parent().parent(), 1)" >
                                                    <option disabled="" >请选择省</option>
                                                    @{cities map { p => 
                                                        <option value={(p \ "province").asOpt[String].get}>{(p \ "province").asOpt[String].get}</option>
                                                    }};
                                                </select>
                                            </div>

                                            <div class="col-sm-2">
                                                <select class="form-control" data-name="origin-city" data-index="3" >
                                                    <option disabled="" >请选择市</option>
                                                    @{cities map { p => (p \ "cities").asOpt[List[String]].get map { x => 
                                                        <option style="display:none" data-filter={(p \ "province").asOpt[String].get} value={x}>{x}</option>
                                                    }}};
                                                </select>
                                            </div>                                                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group text-center">
                                    <label class="col-sm-2 control-label"></label>
                                    <button class="col-sm-4 col-xs-offset-2 col-xs-8 btn bg-blue" style="margin-right:20px !important" data-toggle="collapse" href="#new-line-collapse">
                                        新增路线
                                    </button>
                                </div>

                                <div class="form-group" style="display: none;" data-name='driver-line-error'>
                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-8">
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            请选择有效的路线
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group text-center">
                                    <label class="col-sm-2 control-label"></label>
                                    <button class="col-sm-4 col-xs-offset-2 col-xs-8 btn bg-blue" style="margin-right:20px !important" onclick="updateDriver()">
                                        保存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

} {
	<script type="text/javascript">
		$(function(){
			$('li[data-current="index"]').addClass("active");
		});

        function validate(ele, result, name) {
            if (result) $(ele).removeClass('validate-error');
            else $(ele).addClass('validate-error');

            if (name) {
                if (result) $(String(name)).css({"display": "none"});
                else $(String(name)).css({"display": "block"});
            }

            return result;
        }

        function hasInput(str) {
            var result = (typeof(str) == "string") && (str != "");
            return result;
        }

        function removeDriveLine(index) {
            $('div[data-name="index-' + index + '"]').remove();
        }

        function cityChanges(ele, container, index) {
            var a = Number($(ele).attr("data-index"));
            var province = $(ele).val();
            $(container).find('select[data-index="' + String(a + 1) + '"]').children().css({"display":"none"});
            $(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="choice"]').css({"display":"block"});
            $(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="' + province + '"]').css({"display":"block"});
        }

        function driverLines() {
            var lst = [];
            $.each($('div.driver-lines'), function(){
                var line = new Object();
                line["origin_province"] = $(this).find('selected[data-name="origin-province"]').val();
                line["origin_city"] = $(this).find('selected[data-name="origin-city"]').val();
                line["destination_province"] = $(this).find('selected[data-name="destination-province"]').val();
                line["destination_city"] = $(this).find('selected[data-name="destination_city"]').val();
                lst.push(line);
            });

            if ($('#new-line-collapse').hasClass('in')) {
                var line = new Object();
                line["origin_province"] = $('#new-line-collapse').find('selected[data-name="origin-province"]').val();
                line["origin_city"] = $('#new-line-collapse').find('selected[data-name="origin-city"]').val();
                line["destination_province"] = $('#new-line-collapse').find('selected[data-name="destination-province"]').val();
                line["destination_city"] = $('#new-line-collapse').find('selected[data-name="destination_city"]').val();
                lst.push(line);
            }
            return lst;
        }

        function updateDriver() {
            var result = true;

            var phone_no = $('input[data-name="phone-no"]').val();

            result &= validate($('div[data-name="phone-no"]'),
                        hasInput(phone_no),
                        'div[data-name="phone-no-error"]');
                        
            var vehicle_lst = $('input[data-name="vehicle"]:checked');

            result &= validate($('div[data-name="vehicle-container"]'),
                        vehicle_lst.length > 0,
                        'div[data-name="vehicle-error"]');

            var vehicle_length_lst = $('input[data-name="vehicle-length"]:checked');

            result &= validate($('div[data-name="vehicle-length-container"]'),
                        vehicle_length_lst.length > 0,
                        'div[data-name="vehicle-length-error"]');

            var lines = driverLines();

            result &= validate($('div[data-name="vehicle-length-container"]'),
                        lines.length > 0,
                        'div[data-name="driver-line-error"]');

            var capacity = $('input[data-name="capacity"]').val();

            result &= validate($('div[data-name="capacity"]'),
                        hasInput(capacity),
                        'div[data-name="capacity-error"]');

            if (result) {
                var query_object = new Object();

                query_object["phone_no"] = phone_no;
                query_object["capacity"] = Number(capacity);

                var vehicle_str_lst = [];
                $.each(vehicle_lst, function(index, value){
                    vehicle_str_lst.push($(this).val());
                });
                query_object['vehicle'] = vehicle_str_lst;

                var vehicle_length_number_lst = [];
                $.each(vehicle_length_lst, function(index, value){
                    vehicle_length_number_lst.push(Number($(this).val()));
                });
                query_object['vehicle_length'] = vehicle_length_number_lst;

                query_object['driver_lines'] = lines;

                query_object['open_id'] = "@{open_id}";

                $.ajax({
                    url: "/auth/driver/update",
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json, charset=utf-8',
                    data: JSON.stringify(query_object),
                    cache: false,
                    success: function (data) {
                        if (data.status == "ok") { 
                            alert("修改成功");
                            location.reload();
                        } else {
                            alert(data.error.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("请检查您的输入");
                    }
                });
            }
        }
	</script>
}
