@(token : String)(open_id : String)(name : String)(cities : List[play.api.libs.json.JsValue])(vc : play.api.libs.json.JsValue)(com_lst : List[play.api.libs.json.JsValue])

@driver_login_index_sliders("易聚货驾驶员平台")(name) {
    
} {

    <div id="page-content-wrapper">
        <div id="page-content">
            <div class="container">

                <div id="page-title"></div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel">
                            <div class="panel-body">

                                <h3 class="title-hero">
                                    专线合作信息搜索选项栏
                                </h3>

                                <div class="example-box-wrapper">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="font-size:12px;">
                                                        主营路线
                                                        <i class="glyph-icon icon-angle-down"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="col-sm-12">
                                                        <div class="row">
                                                            <div class="col-sm-2">
                                                                <select class="form-control" data-name="search-origin-province" data-index="0" onchange="cityChanges($(this), $(this).parent().parent(), 1)">
                                                                    <option selected disabled>请选择省</option>
                                                                    @{cities map { iter => 
                                                                        <option value={(iter \ "province").asOpt[String].get}>{(iter \ "province").asOpt[String].get}</option>
                                                                    }};
                                                                </select> 
                                                            </div>

                                                            <div class="col-sm-2">
                                                                <select class="form-control" data-name="search-origin-city" data-index="1">
                                                                    <option selected disabled data-filter="choice" >请选择市</option>
                                                                </select>  
                                                            </div>

                                                            <div class="col-sm-1 text-center" style="text-align:center;">
                                                                <i class="fa fa-arrows-v fa-2x" aria-hidden="true"></i>
                                                            </div>

                                                            <div class="col-sm-2">
                                                                <select class="form-control" data-name="search-destination-province" data-index="2" onchange="cityChanges($(this), $(this).parent().parent(), 3)">
                                                                    <option selected disabled data-filter="choice" >请选择省</option>
                                                                    @{cities map { iter => 
                                                                        <option value={(iter \ "province").asOpt[String].get}>{(iter \ "province").asOpt[String].get}</option>
                                                                    }};
                                                                </select>
                                                            </div>

                                                            <div class="col-sm-2">
                                                                <select class="form-control" data-name="search-destination-city" data-index="3">
                                                                    <option selected disabled data-filter="choice" >请选择市</option>
                                                                </select>   
                                                            </div>                                                                            
                                                        </div>          
                                                    </div>
                                                </div>

                                                <div class="form-group" style="display: none;" data-name='search-line-condition-error'>
                                                    <span class="col-sm-1 control-label"></span>
                                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                                    <div class="col-sm-9">
                                                        <div class="alert alert-danger" role="alert">
                                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                            <span class="sr-only">Error:</span>
                                                            请选择有效的路线条件
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="font-size:12px;">
                                                        需求车型
                                                        <i class="glyph-icon icon-angle-down"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                @{(vc \ "vehicle").asOpt[List[String]].get map { x =>
                                                    <div class="col-sm-2 checkbox">
                                                        <label><input data-name="vehicle" type="checkbox" value={x} /> {x} </label>
                                                    </div>
                                                }}
                                            </div>
                                        </div>

                                        <!-- <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" style="font-size:12px;">
                                                        需求车长
                                                        <i class="glyph-icon icon-angle-down"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                @{(vc \ "vehicle_length").asOpt[List[Float]].get map { x =>
                                                    <div class="col-sm-2 checkbox">
                                                        <label><input data-name="vehicle_length" type="checkbox" value={x.toString} /> {x.toString} 米 </label>
                                                    </div>
                                                }}
                                            </div>
                                        </div> -->

                                        <!-- <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" style="font-size:12px;">
                                                        合作模式
                                                        <i class="glyph-icon icon-angle-down"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseFour" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <label class="radio-inline">
                                                      <input type="radio" data-name="cooperation_type" name="cooperation" value="0"> 单程
                                                    </label>
                                                    <label class="radio-inline">
                                                      <input type="radio" data-name="cooperation_type" name="cooperation" value="1"> 往返
                                                    </label>
                                                    <label class="radio-inline">
                                                      <input type="radio" data-name="cooperation_type" name="cooperation" value="2"> 长期
                                                    </label>
                                                    <label class="radio-inline">
                                                      <input type="radio" data-name="cooperation_type" name="cooperation" value="3"> 不限
                                                    </label>
                                                </div>
                                            </div>
                                        </div> -->

                                    </div>
                                </div>

                                <button type="button" class="btn btn-info mrg20B col-sm-2 col-xs-12" style="font-size:15px" onclick="startSearch()">
                                    确认搜索
                                </button>
                 
                            </div>
                        </div>
                    </div>
                </div>


                <div data-name="result-container">
                @specialway_product_search_result(com_lst)
                </div> <!-- result container -->

            </div>
        </div>
    </div>

    <ul style="display: none;">
        @{cities map { iter => 
            <li data-category="province" data-value={(iter \ "province").asOpt[String].get}>{(iter \ "province").asOpt[String].get}</li>
        }};

        @{cities map { iter => (iter \ "cities").asOpt[List[String]].get map { x => 
            <li data-category="city" data-filter={(iter \ "province").asOpt[String].get} data-value={x}>{x}</li>
        }}};

        @{cities map { iter => (iter \ "city_ditails").asOpt[List[play.api.libs.json.JsValue]].get map { inner => 
            (inner \ "districts").asOpt[List[String]].get map { x => 
            <li data-category="district" data-filter={(inner \ "city").asOpt[String].get} data-value={x}>{x}</li>
        }}}};
    </ul>

} {
    <script src="@routes.Assets.at("javascripts/district-change2.js")"></script>
	<script type="text/javascript">
		$(function(){
			$('li[data-current="index"]').addClass("active");
		});

        function startSearch() {
            var result = true;

            var origin_province = $('select[data-name="search-origin-province"]').val();
            var origin_city = $('select[data-name="search-origin-city"]').val();
            var destination_province = $('select[data-name="search-destination-province"]').val();
            var destination_city = $('select[data-name="search-destination-city"]').val();

            var has_line_condition = (origin_province != null && origin_city != null && destination_province != null && destination_city != null);                            
            var has_no_line_condition = (origin_province == null && origin_city == null && destination_province == null && destination_city == null)

            // result &= validate( $('div[data-name="search-line-condition-container"]'),
            //                     has_line_condition || has_no_line_condition,
            //                     $('div[data-name="search-line-condition-error"]'));

            var has_vehicle_condition = false;
            var vehicle_lst = [];
            $.each($('input[data-name="vehicle"]:checked'), function(index, value){
                vehicle_lst.push($(this).val());
            });
            has_vehicle_condition = vehicle_lst.length > 0;

            var has_vehicle_length_condition = false;
            var vehicle_length_lst = [];
            $.each($('input[data-name="vehicle_length"]:checked'), function(index, value){
                vehicle_length_lst.push(Number($(this).val()));
            });
            has_vehicle_length_condition = vehicle_length_lst.length > 0;

            var cooperation_type = $('input[data-name="cooperation_type"]').val();
            var has_cooperation_type_condition = cooperation_type != null;

            if (result) {
                var query_object = new Object();
                query_object['type'] = 3;

                if(has_line_condition) {
                    var line_con = new Object();
                    line_con['origin_province'] = origin_province;
                    line_con['origin_city'] = origin_city;
                    line_con['destination_province'] = destination_province;
                    line_con['destination_city'] = destination_city;

                    query_object['line'] = line_con;
                }

                if (has_vehicle_condition) {
                    query_object['vehicle'] = vehicle_lst;
                }

                if (has_vehicle_length_condition) {
                    query_object['vehicle_length'] = vehicle_length_lst;
                }

                if (has_cooperation_type_condition) {
                    query_object['cooperation_type'] = cooperation_type;
                }

                $.ajax({
                    url: "/html/company/search/specialway",
                    type: 'POST',
                    // dataType: 'json',
                    dataType: 'html',
                    contentType: 'application/json, charset=utf-8',
                    data: JSON.stringify(query_object),
                    cache: false,
                    success: function (data) {
                        $("div[data-name='sw-result']").remove();
                        $("div[data-name='result-container']").add(data).appendTo($("div[data-name='result-container']"));
                    },
                    error: function (xhr, status, error) {
                        alert("请检查您的输入");
                    }
                });
            };
        }

        function appendCompanies() {
            var result = true;

            var origin_province = $('select[data-name="search-origin-province"]').val();
            var origin_city = $('select[data-name="search-origin-city"]').val();
            var destination_province = $('select[data-name="search-destination-province"]').val();
            var destination_city = $('select[data-name="search-destination-city"]').val();

            var has_line_condition = (origin_province != null && origin_city != null && destination_province != null && destination_city != null);                            
            var has_no_line_condition = (origin_province == null && origin_city == null && destination_province == null && destination_city == null)

            // result &= validate( $('div[data-name="search-line-condition-container"]'),
            //                     has_line_condition || has_no_line_condition,
            //                     $('div[data-name="search-line-condition-error"]'));

            var has_vehicle_condition = false;
            var vehicle_lst = [];
            $.each($('input[data-name="vehicle"]:checked'), function(index, value){
                vehicle_lst.push($(this).val());
            });
            has_vehicle_condition = vehicle_lst.length > 0;

            var has_vehicle_length_condition = false;
            var vehicle_length_lst = [];
            $.each($('input[data-name="vehicle_length"]:checked'), function(index, value){
                vehicle_length_lst.push(Number($(this).val()));
            });
            has_vehicle_length_condition = vehicle_length_lst.length > 0;

            var cooperation_type = $('input[data-name="cooperation_type"]').val();
            var has_cooperation_type_condition = cooperation_type != null;

            if (result) {
                var query_object = new Object();
                query_object['type'] = 3;

                if(has_line_condition) {
                    var line_con = new Object();
                    line_con['origin_province'] = origin_province;
                    line_con['origin_city'] = origin_city;
                    line_con['destination_province'] = destination_province;
                    line_con['destination_city'] = destination_city;

                    query_object['line'] = line_con;
                }

                if (has_vehicle_condition) {
                    query_object['vehicle'] = vehicle_lst;
                }

                if (has_vehicle_length_condition) {
                    query_object['vehicle_length'] = vehicle_length_lst;
                }

                if (has_cooperation_type_condition) {
                    query_object['cooperation_type'] = cooperation_type;
                }

                query_object[skip] = $("div[data-name='sw-result']").length;

                $.ajax({
                    url: "/html/company/search/specialway",
                    type: 'POST',
                    // dataType: 'json',
                    dataType: 'html',
                    contentType: 'application/json, charset=utf-8',
                    data: JSON.stringify(query_object),
                    cache: false,
                    success: function (data) {
                        $(data).appendTo($("div[data-name='result-container']"));
                    },
                    error: function (xhr, status, error) {
                        alert("请检查您的输入");
                    }
                });
            }
        }

        var $window = $(window);
        var $document = $(document);
        $window.scroll(function(){
            if ($document.scrollTop() + $window.height() >= $document.height()) {
                appendCompanies();
            } else {

            }
        });
	</script>
}
