@(companies : List[play.api.libs.json.JsValue])(token : String)(open_id : String)(screen_name : String)(following_lst : List[String])

@driver_login_index_sliders("易聚货驾驶员平台")(screen_name)  {
    
} {

    <div id="page-content-wrapper">
        <div id="page-content">
            <div class="container">
                <!-- Bootstrap Wizard -->
                <!--<link rel="stylesheet" type="text/css" href="@routes.Assets.at("assets/widgets/wizard/wizard.css")">-->
                <script type="text/javascript" src="@routes.Assets.at("widgets/wizard/wizard.js")"></script>
                <script type="text/javascript" src="@routes.Assets.at("widgets/wizard/wizard-demo.js")"></script>
                <!-- Boostrap Tabs -->
                <script type="text/javascript" src="@routes.Assets.at("widgets/tabs/tabs.js")"></script>

                <div id="page-title">
                </div>

                <div data-name="result-container">
                @driver_company_search_result(companies)(following_lst)
                </div>

            </div>
        </div>
    </div>

} {
	<script type="text/javascript">
		$(function(){
			$('li[data-current="index"]').addClass("active");
		});

        function tab1Click(index) {
            if ($("#tab2-" + index).hasClass('in'))
                $("#tab2-" + index).removeClass('in');
        }

        function tab2Click(index) {
            if ($("#tab1-" + index).hasClass('in'))
                $("#tab1-" + index).removeClass('in');
        }
        

        function collectCompany(open_id) {

            var query_object = new Object();
            query_object["target_open_id"] = open_id;
            query_object["driver_open_id"] = "@{open_id}";

            $.ajax({
                url: "/data/driver/collect/push",
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json, charset=utf-8',
                data: JSON.stringify(query_object),
                cache: false,
                success: function (data) {
                    if (data.status == "ok") { 
                         location.reload();
                    } else {
                        alert(data.error.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("请检查您的输入");
                }
            });
        }

        function unCollectCompany(open_id) {
            var query_object = new Object();
            query_object["target_open_id"] = open_id;
            query_object["driver_open_id"] = "@{open_id}";

            $.ajax({
                url: "/data/driver/collect/pop",
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json, charset=utf-8',
                data: JSON.stringify(query_object),
                cache: false,
                success: function (data) {
                    if (data.status == "ok") { 
                         location.reload();
                    } else {
                        alert(data.error.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("请检查您的输入");
                }
            });
        }

        function appendCompanies() {
            var query_object = new Object();

            // query_object['open_id'] = "@open_id";
            // query_object['status'] = 0;
            query_object['skip'] = $('div[data-result="company"').length;

            $.ajax({
                url: "/html/driver/search/company",
                type: 'POST',
                // dataType: 'json',
                dataType: 'html',
                contentType: 'application/json, charset=utf-8',
                data: JSON.stringify(query_object),
                cache: false,
                success: function (data) {
                    $(data).appendTo($('div[data-name="result-container"]'));
                },
                error: function (xhr, status, error) {
                    alert("请检查您的输入");
                }
            });
        }

        var $window = $(window);
        var $document = $(document);
        $window.scroll(function(){
            if ($document.scrollTop() + $window.height() >= $document.height()) {
                appendCompanies();
            } else {

            }
        });
	</script>
}
