@(token : String)(open_id : String)(screen_name : String)(following_lst : List[String])(companies : List[play.api.libs.json.JsValue])

@driver_login_index_sliders("易聚货驾驶员平台")(screen_name) {
    
} {

    <div id="page-content-wrapper">
        <div id="page-content">
            <div class="container" data-result='container'>

                <div id="page-title"></div>

                <div class="row" data-result='control'>
                    <div class="col-sm-12">
                        <div class="panel">
                            <div class="panel-body">

                                <h3 class="title-hero">
                                    按公司名称搜索
                                </h3>

                                <div class="example-box-wrapper">
                                    <div class="panel-group">

                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="font-size:12px;">
                                                        选择搜索内录
                                                        <i class="glyph-icon icon-angle-down"></i>
                                                    </a>
                                                </h4>
                                            </div>

                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <label class="radio-inline">
                                                    	<input type="radio" data-conditions='sort' value="com_volume"> 公司发货量
                                                    </label>
                                                </div>
                                                <div class="panel-body">
                                                    <label class="radio-inline">
                                                    	<input type="radio" data-conditions='sort' value="com_hit"> 公司点击率
                                                    </label>
                                                </div>
                                                <div class="panel-body">                                
                                                    <label class="radio-inline">
                                                    	<input type="radio" data-conditions='sort' value="com_collection"> 公司收藏数
                                                    </label>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <button type="button" class="btn btn-info mrg20B col-sm-2 col-xs-12" style="font-size:15px" onclick="startSearch()">
                                    确认搜索
                                </button>
                 
                            </div>
                        </div>
                    </div>
                 </div>

                @{ (companies zipWithIndex) map { item => 
                val iter = item._1
                val index = item._2
                val target_id = (iter \ "open_id").asOpt[String].get
                <div class="panel" data-result="company" >
                    <div class="panel-body">
                        <h4 class="title-hero">
                        { (iter \ "company_name").asOpt[String].get } 
                        
                        {
                            if (following_lst.contains(target_id)) {
                                <button class="btn btn-link" style="color:#008bdc; border: none;" onclick={"unCollectCompany(\"" + target_id + "\")"} ><i class="glyph-icon icon-star"></i>已收藏</button>
                            } else {
                                <button class="btn btn-link" style="color:#008bdc; border: none;" onclick={"collectCompany(\"" + target_id + "\")"} ><i class="glyph-icon icon-star"></i>收藏</button>
                            }
                        }
                        
                        </h4>
                        <div class="example-box-wrapper">
                            <div id={"followed_" + target_id}>
                                <a href={"#tab1-" + target_id} data-toggle="collapse" class="btn bg-blue" style="font-size:12px;" onclick={"tab1Click(\"" + target_id + "\")"}>公司信息</a>
                                <a href={"#tab2-" + target_id} data-toggle="collapse" class="btn bg-blue" style="margin-left: 10px !important;font-size:12px;" onclick={"tab2Click(\"" + target_id + "\")"}>货源信息</a>


                                <div class="tab-content">
                                    <div class="collapse" id={"tab1-" + target_id}>
                                        <div class="content-box">
                                            <div class="content-box-wrapper">
                                                <div class="form-horizontal bordered-row" role="form">

                                                    {if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.company.t) {
                                                        (iter \ "company_lines").asOpt[List[play.api.libs.json.JsValue]].get map { x => 
                                                            <div class="form-group">
                                                                <label for="certificate-type" class="col-sm-2 control-label">业务领悟</label>
                                                                <div class="col-sm-8">
                                                                    <div class="col-sm-4">
                                                                        <label type='text' class="control-label">
                                                                        { (iter \ "company_business").asOpt[List[String]].get map { x => 
                                                                            {x + " "} 
                                                                        }}
                                                                        </label> 
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }}

                                                    <div class="form-group">
                                                        <label for="certificate-type" class="col-sm-2 control-label">营业范围</label>
                                                            {if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.company.t) {
                                                                (iter \ "company_lines").asOpt[List[play.api.libs.json.JsValue]].get map { x => 
                                                                    <div class="col-sm-8">
                                                                    <div class="col-sm-4">
                                                                        <label type='text' class="control-label"> 
                                                                            {(x \ "origin_province").asOpt[String].get + " " + 
                                                                            (x \ "origin_city").asOpt[String].get + " --> " + 
                                                                            (x \ "destination_province").asOpt[String].get + " " +
                                                                            (x \ "destination_city").asOpt[String].get}
                                                                        </label> 
                                                                    </div>
                                                                    </div>
                                                                }

                                                            } else if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.industry.t) { 

                                                            } else if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.specialway.t) { 
                                                                (iter \ "special_lines").asOpt[List[play.api.libs.json.JsValue]].get map { x => 
                                                                    <div class="col-sm-8">
                                                                    <div class="col-sm-4">
                                                                        <label type='text' class="control-label"> 
                                                                            {(x \ "origin_province").asOpt[String].get + " " + 
                                                                            (x \ "origin_city").asOpt[String].get + " --> " + 
                                                                            (x \ "destination_province").asOpt[String].get + " " +
                                                                            (x \ "destination_city").asOpt[String].get}
                                                                        </label> 
                                                                    </div>
                                                                    </div>
                                                                }
                                                            }}
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">公司官网</label>
                                                        <div class="col-sm-6">
                                                            {if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.company.t) {
                                                                <label type="text" class="control-label col-sm-6">
                                                                    {(iter \ "company_web").asOpt[String].get}
                                                                </label>

                                                            } else if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.industry.t) { 
                                                                <label type="text" class="control-label col-sm-6">
                                                                    {(iter \ "industry_web").asOpt[String].get}
                                                                </label>
                                                            } else if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.specialway.t) { 
                                                                <label type="text" class="control-label col-sm-6">
                                                                    {(iter \ "special_web").asOpt[String].get}
                                                                </label>
                                                            }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">公司传真</label>
                                                        <div class="col-sm-6">
                                                            {if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.company.t) {
                                                                <label type="text" class="control-label col-sm-6">
                                                                    {(iter \ "company_fax").asOpt[String].get}
                                                                </label>

                                                            } else if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.industry.t) { 
                                                                <label type="text" class="control-label col-sm-6">
                                                                    {(iter \ "industry_fax").asOpt[String].get}
                                                                </label>
                                                            } else if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.specialway.t) { 
                                                                <label type="text" class="control-label col-sm-6">
                                                                    {(iter \ "special_fax").asOpt[String].get}
                                                                </label>
                                                            }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">公司邮箱</label>
                                                        <div class="col-sm-6">
                                                            {if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.company.t) {
                                                                <label type="text" class="control-label col-sm-6">
                                                                    {(iter \ "company_email").asOpt[String].get}
                                                                </label>

                                                            } else if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.industry.t) { 
                                                                <label type="text" class="control-label col-sm-6">
                                                                    {(iter \ "industry_email").asOpt[String].get}
                                                                </label>
                                                            } else if ((iter \ "type").asOpt[Int].get == module.auth.registerTypes.specialway.t) { 
                                                                <label type="text" class="control-label col-sm-6">
                                                                    {(iter \ "special_email").asOpt[String].get}
                                                                </label>
                                                            }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">公司介绍</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label col-sm-6">This is the introduction of the company.</label>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                <div class="collapse" id={"tab2-" + target_id}>
                                    <div class="content-box">
                                        <div class="content-box-wrapper">
                                        当天货源数目:
                                        <div class="panel">
                                        <div class="panel-body">
                                        <h3 class="title-hero"></h3>

                                        <div class="example-box-wrapper">
                                        <div class="row">

                                        <div class="col-sm-12">

                                        <div class="row">

                                            <div class="col-sm-6" style="font-size:15px">
                                            浙江杭州->北京北京
                                            </div>

                                            <div class="col-sm-4" style="font-size:15px">
                                            货物名称  /  吨位  / 体积 (传入数据)
                                            </div>  

                                            <button type="button" class="btn btn-info mrg20B col-sm-2 col-xs-12" data-toggle="collapse" data-target="#depart-view" style="font-size:15px">
                                            查看详情
                                            </button>

                                        </div>
                                        <!-- close directly view the collapse
                                        <div id="recruit-view" class="collapse in"> -->
                                        <div id="depart-view" class="collapse">

                                        <div class="panel">
                                            <!--
                                            <div class="panel-heading">
                                            <h3 class="panel-title">这里显示公司专线发送的招聘标题</h3>
                                            </div>
                                            -->
                                            <div class="panel-body">
                                                <div class="form-horizontal bordered-row" role="form">
                                                    <div class="form-group">
                                                        <label for="certificate-type" class="col-sm-2 control-label">起运地</label>
                                                        <div class="col-sm-8">
                                                            <div class="col-sm-4">
                                                                <label type='text' class="control-label">浙江 杭州 </label> 
                                                            </div>
                                                            <div>
                                                                <button type="button" class="btn btn-info mrg5A col-sm-3 col-xs-12">导航</button>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <label for="certificate-type" class="col-sm-2 control-label">目的地</label>
                                                        <div class="col-sm-8">
                                                            <div class="col-sm-4">
                                                                <label type='text' class="control-label">北京 北京 </label> 
                                                            </div>
                                                            <div>
                                                                <button type="button" class="btn btn-info mrg5A col-sm-3 col-xs-12">导航</button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">需求吨位</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label">12</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">需求体积</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label">12</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">需求车型</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label">平板车</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">需求车长</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label">11米</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">货物名称</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label">什么</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">时效需求</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label">马上</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">其他备注</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label">林恩</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">所属公司</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label">澳深科技有限公司</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">联系人</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label">林恩</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">联系人电话</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label">13857102787</label>
                                                        </div>
                                                    </div> 

                                                </div>
                                            </div>
                                        </div>

                                        </div>
                                        </div>

                                        </div>
                                        </div>
                                        </div>
                                        </div>


                                        <div class="panel">
                                            <div class="panel-body">
                                                <h3 class="title-hero"></h3>

                                                    <div class="example-box-wrapper">
                                                        <div class="row">

                                                        <div class="col-sm-12">

                                                        <div class="row">

                                                        <div class="col-sm-6" style="font-size:15px">
                                                        浙江杭州->北京北京
                                                        </div>

                                                        <div class="col-sm-4" style="font-size:15px">
                                                        货物名称  /  吨位  / 体积 (传入数据)
                                                        </div>  

                                                        <button type="button" class="btn btn-info mrg20B col-sm-2 col-xs-12" data-toggle="collapse" data-target="#depart-view-2" style="font-size:15px">
                                                        查看详情
                                                        </button>

                                                        </div>
                                                        <!-- close directly view the collapse
                                                        <div id="recruit-view" class="collapse in"> -->
                                                        <div id="depart-view-2" class="collapse">

                                                            <div class="panel">
                                                                <!--
                                                                <div class="panel-heading">
                                                                <h3 class="panel-title">这里显示公司专线发送的招聘标题</h3>
                                                                </div>
                                                                -->
                                                                <div class="panel-body">
                                                                    <div class="form-horizontal bordered-row" role="form">

                                                                        <div class="form-group">
                                                                            <label for="certificate-type" class="col-sm-2 control-label">起运地</label>
                                                                            <div class="col-sm-8">
                                                                                <div class="col-sm-4">
                                                                                    <label type='text' class="control-label">浙江 杭州 </label> 
                                                                                </div>
                                                                                <div>
                                                                                    <button type="button" class="btn btn-info mrg5A col-sm-3 col-xs-12">导航</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>


                                                                        <div class="form-group">
                                                                            <label for="certificate-type" class="col-sm-2 control-label">目的地</label>
                                                                            <div class="col-sm-8">
                                                                                <div class="col-sm-4">
                                                                                    <label type='text' class="control-label">北京 北京 </label> 
                                                                                </div>
                                                                                <div>
                                                                                    <button type="button" class="btn btn-info mrg5A col-sm-3 col-xs-12">导航</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-sm-2 control-label">需求吨位</label>
                                                                            <div class="col-sm-6">
                                                                                <label type="text" class="control-label">12</label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-sm-2 control-label">需求体积</label>
                                                                            <div class="col-sm-6">
                                                                                <label type="text" class="control-label">12</label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-sm-2 control-label">需求车型</label>
                                                                            <div class="col-sm-6">
                                                                                <label type="text" class="control-label">平板车</label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-sm-2 control-label">需求车长</label>
                                                                            <div class="col-sm-6">
                                                                                <label type="text" class="control-label">11米</label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-sm-2 control-label">货物名称</label>
                                                                            <div class="col-sm-6">
                                                                                <label type="text" class="control-label">什么</label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-sm-2 control-label">时效需求</label>
                                                                            <div class="col-sm-6">
                                                                                <label type="text" class="control-label">马上</label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-sm-2 control-label">其他备注</label>
                                                                            <div class="col-sm-6">
                                                                                <label type="text" class="control-label">林恩</label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-sm-2 control-label">所属公司</label>
                                                                            <div class="col-sm-6">
                                                                                <label type="text" class="control-label">澳深科技有限公司</label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-sm-2 control-label">联系人</label>
                                                                            <div class="col-sm-6">
                                                                                <label type="text" class="control-label">林恩</label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-sm-2 control-label">联系人电话</label>
                                                                            <div class="col-sm-6">
                                                                                <label type="text" class="control-label">13857102787</label>
                                                                            </div>
                                                                        </div> 

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }}

            </div>
        </div>
    </div>

    <div>
    	@{ following_lst map { iter =>
    		<div data-name="followings" style="display: none;">{iter}</div>	
    	}}
    </div>

} {
	<script type="text/javascript">
		var ft = [];
		
		$(function(){
			$('li[data-current="index"]').addClass("active");
		});

		function startSearch() {

			var sorts = $("input[data-conditions='sort']");

			var query_object = new Object();

			$.ajax({
	            url: "/data/driver/search/company",
	            type: 'POST',
	            dataType: 'json',
	            contentType: 'application/json, charset=utf-8',
	            data: JSON.stringify(query_object),
	            cache: false,
	            success: function (data) {
	                if (data.status == "ok") {

	                	$("div[data-result='company']").remove();

	                     var html = data2html(data.result);
	                     $("div[data-result='container']").add(html).appendTo($("div[data-result='container']"));
	                } else {
	                    alert(data.error.message);
	                }
	            },
	            error: function (xhr, status, error) {
	                alert("请检查您的输入");
	            }
	        });
		}

		function data2html(data) {

			var ft = [];
			$.each($('div[data-name="followings"]'), function(index, item){
				ft.push(item.innerHTML);
			});

			var count = data.length;
			var html = "";
			for (var i = 0; i < data.length; ++i) {
				var tmp = data[i];

				var index = ($("div[data-result='company']").length + i)* 2;
				html += "<div class=\“panel\" data-result='company' >";
				html += "<div class=\"panel-body\">"
				html += "<h5 class=\"title-hero\">"
				html += tmp["company_name"]+ " ";

				var temp = [];
				temp = $.grep(ft, function(val, key) {
				    if(val == tmp["open_id"])
				        return true;
				}, false);

				if (temp.length == 0) {
					html += "<button onclick='collectCompany(\"" + tmp["open_id"] + "\")' class=\"btn-link\" style=\"color:#008bdc\"><i class=\"glyph-icon icon-star\"></i>收藏</button></h5>"
				} else {
					html += "<button onclick='unCollectCompany(\"" + tmp["open_id"] + "\")' class=\"btn-link\" style=\"color:#008bdc\"><i class=\"glyph-icon icon-star\"></i>已收藏</button></h5>"
				}
				
				html += "<div class=\"example-box-wrapper\">"
				html += "<div id=\"form-wizard-1\">"
				html += "<ul class='nav nav-pills'><li><a href=" + "#tab" + index + " data-toggle=\"tab\">公司信息</a></li><li><a href=" + "#tab" + (index + 1) + " data-toggle=\"tab\">当天货源</a></li></ul>"

				html += "<div class=\"tab-content\">"
				
				html += "<div class=\"tab-pane\" id=" + "tab" + index + ">"
				html += "<div class=\"content-box\">"
				html += "<div class=\"content-box-wrapper\">"

				html += "<div class=\"form-horizontal bordered-row\" role=\"form\">"

				html += "<div class=\"form-group\">"
				html += "<label for=\"certificate-type\" class=\"col-sm-2 control-label\">业务领域</label>"
				html += "<div class=\"col-sm-8\"><div class=\"col-sm-4\">"
	            html += "<label type='text' class=\"control-label\">" 

	            if (tmp["company_business"] != undefined) {
	            	for (var j = 0; j < tmp["company_business"].length; j++) {
	   					html += tmp["company_business"][j] + " ";
	            	}
	            }

	            html += "</label>" 
	            html += "</div></div></div>"

	            html += "<div class=\"form-group\">"
	            html += "<label for=\"certificate-type\" class=\"col-sm-2 control-label\">营业范围</label>"
	            html += "<div class=\"col-sm-8\"><div class=\"col-sm-4\">"

	            var ct = tmp["type"];
	            if (ct == 1) {
	            	var lines = tmp["company_lines"];
	            	for (var j = 0; j < lines.length; j++) {
	            		html += "<label type='text' class=\"control-label\">" + lines[j]["origin_province"] + lines[j]["origin_city"]  + "<i class=\"fa fa-long-arrow-right\" aria-hidden=\"true\"></i>" + lines[j]["destination_province"] + lines[j]["destination_city"] + "</label>"
	            	}

	            } else if (ct == 2) {

	            } else if (ct == 3) {
	            	var lines = tmp["special_lines"];
	            	for (var j = 0; j < lines.length; j++) {
	            		html += "<label type='text' class=\"control-label\">" + lines[j]["origin_province"] + lines[j]["origin_city"]  + "<i class=\"fa fa-long-arrow-right\" aria-hidden=\"true\"></i>" + lines[j]["destination_province"] + lines[j]["destination_city"] + "</label>"
	            	}
	            }
	            html += "</div></div></div>"

	            html += "<div class=\"form-group\">"
	            html += "<label class=\"col-sm-2 control-label\">公司官网</label>"
	            html += "<div class=\"col-sm-6\">"

	            if (ct == 1) {
	            	html += "<label type=\"text\" class=\"control-label col-sm-6\">" + tmp["company_web"] + "</label>"
	            } else if (ct == 2) {
	            	html += "<label type=\"text\" class=\"control-label col-sm-6\">" + tmp["industry_web"] + "</label>"
	            } else if (ct == 3) {
	            	html += "<label type=\"text\" class=\"control-label col-sm-6\">" + tmp["special_web"] + "</label>"
	            }
	            html += "</div></div>"

	            html += "<div class=\"form-group\">"
	            html += "<label class=\"col-sm-2 control-label\">公司传真</label>"
	            html += "<div class=\"col-sm-6\">"

	            if (ct == 1) {
	            	html += "<label type=\"text\" class=\"control-label col-sm-6\">" + tmp["company_fax"] + "</label>"
	            } else if (ct == 2) {
	            	html += "<label type=\"text\" class=\"control-label col-sm-6\">" + tmp["industry_fax"] + "</label>"
	            } else if (ct == 3) {
	            	html += "<label type=\"text\" class=\"control-label col-sm-6\">" + tmp["special_fax"] + "</label>"
	            }
	            html += "</div></div>"

	            html += "<div class=\"form-group\">"
	            html += "<label class=\"col-sm-2 control-label\">公司邮箱</label>"
	            html += "<div class=\"col-sm-6\">"

                html += "<div class=\"form-group\">"
                html += "<label class=\"col-sm-2 control-label\">公司介绍</label>"
                html += "<div class=\"col-sm-6\">"
                html += "<label type=\"text\" class=\"control-label col-sm-6\">This is the introduction of the company.</label>"
                html += "</div></div>"

	            if (ct == 1) {
	            	html += "<label type=\"text\" class=\"control-label col-sm-6\">" + tmp["company_email"] + "</label>"
	            } else if (ct == 2) {
	            	html += "<label type=\"text\" class=\"control-label col-sm-6\">" + tmp["industry_email"] + "</label>"
	            } else if (ct == 3) {
	            	html += "<label type=\"text\" class=\"control-label col-sm-6\">" + tmp["special_email"] + "</label>"
	            }
	            html += "</div></div>"

	            html += "</div>"

				html += "</div>"
				html += "</div>"
				html += "</div>"
				
				html += "<div class=\"tab-pane\" id=" + "tab" + (index + 1) + ">"
				html += "<div class=\"content-box\">"
				html += "<div class=\"content-box-wrapper\">当天货源数目："
				
				html += "<div class=\"panel\"><div class=\"panel-body\">"

				html += "<h3 class=\"title-hero\"></h3>"

				html += "<div class=\"example-box-wrapper\"><div class=\"row\"><div class=\"col-sm-12\"><div class=\"row\">"

				html += "<div class=\"col-sm-6\" style=\"font-size:15px\">"
	            html += "浙江杭州->北京北京"
	            html += "</div>"

	            html += "<div class=\"col-sm-4\" style=\"font-size:15px\">"
	            html += "货物名称  /  吨位  / 体积 (传入数据)"
	            html += "</div>"

	            html += "<button type=\"button\" class=\"btn btn-info mrg20B col-sm-2 col-xs-12\" data-toggle=\"collapse\" data-target=\"#depart-view\" style=\"font-size:15px\">"
	            html += "查看详情"
	            html += "</button>"

				html += "</div>"

				html += "<div id=\"depart-view\" class=\"collapse\">"
				html += "<div class=\"panel\"><div class=\"panel-body\"><div class=\"form-horizontal bordered-row\" role=\"form\">"

				html += "<div class=\"form-group\">"
				html += "<label for=\"certificate-type\" class=\"col-sm-2 control-label\">起运地</label>"
				html += "<div class=\"col-sm-8\">"
				html += "<div class=\"col-sm-4\">"
				html += "<label type='text' class=\"control-label\">浙江 杭州 </label>"
				html += "</div></div></div>"

				html += "<div class=\"form-group\">"
	            html += "<label for=\"certificate-type\" class=\"col-sm-2 control-label\">目的地</label>"
	            html += "<div class=\"col-sm-8\">"
	            html += "<div class=\"col-sm-4\">"
	            html += "<label type='text' class=\"control-label\">北京 北京 </label>"
	            html += "</div><div>"
	            html += "<button type=\"button\" class=\"btn btn-info mrg5A col-sm-3 col-xs-12\">导航</button>"
	            html += "</div></div></div>"

	            html += "<div class=\"form-group\">"
	            html += "<label class=\"col-sm-2 control-label\">需求吨位</label>"
	            html += "<div class=\"col-sm-6\">"
	            html += "<label type=\"text\" class=\"control-label\">12</label>"
	            html += "</div></div>"

	            html += "<div class=\"form-group\">"
	            html += "<label class=\"col-sm-2 control-label\">需求体积</label>"
	            html += "<div class=\"col-sm-6\">"
	            html += "<label type=\"text\" class=\"control-label\">12</label>"
	            html += "</div></div>"

				html += "<div class=\"form-group\">"
	            html += "<label class=\"col-sm-2 control-label\">需求车型</label>"
	            html += "<div class=\"col-sm-6\">"
	            html += "<label type=\"text\" class=\"control-label\">平板车</label>"
	            html += "</div></div>"

	            html += "<div class=\"form-group\">"
	            html += "<label class=\"col-sm-2 control-label\">需求车长</label>"
	            html += "<div class=\"col-sm-6\">"
	            html += "<label type=\"text\" class=\"control-label\">11米</label>"
	            html += "</div></div>"

	            html += "<div class=\"form-group\">"
	            html += "<label class=\"col-sm-2 control-label\">货物名称</label>"
	            html += "<div class=\"col-sm-6\">"
	            html += "<label type=\"text\" class=\"control-label\">什么</label>"
	            html += "</div></div>"

	            html += "<div class=\"form-group\">"
	            html += "<label class=\"col-sm-2 control-label\">时效需求</label>"
	            html += "<div class=\"col-sm-6\">"
	            html += "<label type=\"text\" class=\"control-label\">马上</label>"
	            html += "</div></div>"

	            html += "<div class=\"form-group\">"
	            html += "<label class=\"col-sm-2 control-label\">其他备注</label>"
	            html += "<div class=\"col-sm-6\">"
	            html += "<label type=\"text\" class=\"control-label\">林恩</label>"
	            html += "</div></div>"

	            html += "<div class=\"form-group\">"
	            html += "<label class=\"col-sm-2 control-label\">所属公司</label>"
	            html += "<div class=\"col-sm-6\">"
	            html += "<label type=\"text\" class=\"control-label\">澳深科技有限公司</label>"
	            html += "</div></div>"

	            html += "<div class=\"form-group\">"
	            html += "<label class=\"col-sm-2 control-label\">联系人</label>"
	            html += "<div class=\"col-sm-6\">"
	            html += "<label type=\"text\" class=\"control-label\">林恩</label>"
	            html += "</div></div>"

	            html += "<div class=\"form-group\">"
	            html += "<label class=\"col-sm-2 control-label\">联系人电话</label>"
	            html += "<div class=\"col-sm-6\">"
	            html += "<label type=\"text\" class=\"control-label\">13857102787</label>"
	            html += "</div></div>"

				html += "</div></div></div></div>"

				html += "</div></div></div>"
				html += "</div></div>"

				html += "</div>"
				html += "</div>"
				html += "</div>"
				html += "</div>";

				html += "</div>";
				html += "</div>";
				html += "</div>";
				html += "</div>";
			}
			return html;
		}

		function collectCompany(open_id) {

			var query_object = new Object();
			query_object["target_open_id"] = open_id;
			query_object["driver_open_id"] = "@{open_id}";

			$.ajax({
                url: "/data/driver/collect/push",
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json, charset=utf-8',
                data: JSON.stringify(query_object),
                cache: false,
                success: function (data) {
                    if (data.status == "ok") { 
                         location.reload();
                    } else {
                        alert(data.error.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("请检查您的输入");
                }
            });
		}

		function unCollectCompany(open_id) {
			var query_object = new Object();
			query_object["target_open_id"] = open_id;
			query_object["driver_open_id"] = "@{open_id}";

			$.ajax({
                url: "/data/driver/collect/pop",
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json, charset=utf-8',
                data: JSON.stringify(query_object),
                cache: false,
                success: function (data) {
                    if (data.status == "ok") { 
                         location.reload();
                    } else {
                        alert(data.error.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("请检查您的输入");
                }
            });
		}

        function tab1Click(target_id) {
            $('#tab2-' + target_id).removeClass('in');
        }

        function tab2Click(target_id) {
            $('#tab1-' + target_id).removeClass('in');
        }
	</script>
}
