@(message: String)

@main("忘记密码") {
    <script src="@routes.Assets.at("javascripts/routes-manager.js")"></script>
} {

	<section class="first">
		<div class="container"> 

		<div class="in-middle">
			<p class="in-middle-setting" style="color:#FFFFFF; font-size:27px">忘记密码</p>
		</div>
		</div>
	</section>	

	<div class="container-fluid">
		<div class="container another-bkg third-bkg">
			<div class="" >


<!--
				<div style="margin:0; padding:0; width:100%; height:1px; background-color:#008bdc; overflow:hidden; margin-top:10px;"></div>
-->
				<p style="margin-top: 10px">请输入注册时填写的手机号码进行重置密码</p>

				<div class="form-horizontal" style="margin-top: 40px;">
				
					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="principal-phone-no" class="col-sm-2 control-label">手机号码</label>
						<div class="col-sm-3">
							<select class="form-control" disabled>
								<option value="china">中国大陆&nbsp;&nbsp;+86</option>
							</select>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" data-name="phone-no">
						</div>
					</div>

					<div class="form-group" style="display: none;" data-name='phone-no-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请填写有效的手机号码
							</div>
						</div>
					</div>

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="verifiable-code" class="col-sm-2 control-label" >动态验证码</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" data-name="phone-no-code" placeholder="在此输入验证码" >
						</div>
						<div class="col-sm-2 verifiable-code-btn">
							<button type="button" class="btn" data-toggle="modal" data-target="verifiable-code-btn" onclick="sendCode()">获取动态验证码</button>
						</div>
					</div>

					<div class="form-group" style="display: none;" data-name='code-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请填写有效的动态验证码
							</div>
						</div>
					</div>


					<div class="form-group" style="margin-top:30px;">
						<div class="col-sm-offset-2 col-sm-10 register-btn">
							<button class="btn btn-default" onclick="checkCode()">提交</button>
						</div>
					</div>

					
				</div>

			</div>
		</div>
	</div>
} {
	<script type="text/javascript">
		
		function validate(ele, result, name) {
            if (result) $(ele).removeClass('validate-error');
            else $(ele).addClass('validate-error');

            if (name) {
                if (result) $(String(name)).css({"display": "none"});
                else $(String(name)).css({"display": "block"});
            }

            return result;
        }

        function hasInput(str) {
            var result = (typeof(str) == "string") && (str != "");
            return result;
        }

		function sendCode() {
			var cell_phone = $('input[data-name="phone-no"]').val();			
			var cell_phone_reg = /^1[3|4|5|7|8]\d{9}$/;
			var result = validate($('input[data-name="phone-no"]'), hasInput(cell_phone) && cell_phone_reg.test(cell_phone), 'div[data-name="phone-no-error"]');

			if (result) {
				var tmp = new Object();
				tmp['cell_phone'] = cell_phone;

				$.ajax({
		            url: "/auth/send/code/fpw",
		            type: 'POST',
		            dataType: 'json',
		            contentType: 'application/json, charset=utf-8',
		            data: JSON.stringify(tmp),
		            cache: false,
		            success: function (data) {
		                if (data.status == "ok") {                                          
		                     alert("发送成功");
		                } else {
		                    alert(data.error.message);
		                }
		            },
		            error: function (xhr, status, error) {
		                alert("请检查您的输入");
		            }
		        });
			}
		}

		function checkCode() {
            
            var cell_phone = $('input[data-name="phone-no"]').val();
            var cell_phone_reg = /^1[3|4|5|7|8]\d{9}$/;
			var result = validate($('input[data-name="phone-no"]'), hasInput(cell_phone) && cell_phone_reg.test(cell_phone), 'div[data-name="phone-no-error"]');

			var code = $('input[data-name="phone-no-code"]').val();
			result &= validate($('input[data-name="phone-no-code"]'), hasInput(code), 'div[data-name="code-error"]');

			if (result) {
				var tmp = new Object();
	            tmp['cell_phone'] = cell_phone;
	            tmp['code'] = code;

	            $.ajax({
	                url: "/auth/code/check",
	                type: 'POST',
	                dataType: 'json',
	                contentType: 'application/json, charset=utf-8',
	                data: JSON.stringify(tmp),
	                cache: false,
	                success: function (data) {
	                    if (data.status == "ok") {
	                         resetPwd();
	                    } else {
	                        alert(data.error.message);
	                    }
	                },
	                error: function (xhr, status, error) {
	                    alert("请检查您的输入");
	                }
	            });
			}   
        }

        function resetPwd() {
        	var cell_phone = $('input[data-name="phone-no"]').val();
            var cell_phone_reg = /^1[3|4|5|7|8]\d{9}$/;
			var result = validate($('input[data-name="phone-no"]'), hasInput(cell_phone) && cell_phone_reg.test(cell_phone), 'div[data-name="phone-no-error"]');

			if (result) {
				var tmp = new Object();
	            tmp['cell_phone'] = cell_phone;

	            $.ajax({
	                url: "/auth/fpw/reset",
	                type: 'POST',
	                dataType: 'json',
	                contentType: 'application/json, charset=utf-8',
	                data: JSON.stringify(tmp),
	                cache: false,
	                success: function (data) {
	                    if (data.status == "ok") {
	                         alert("重置密码成功，如不知道初始密码请致电400-016-1956查询");
	                         location.href = "/index"
	                    } else {
	                        alert(data.error.message);
	                    }
	                },
	                error: function (xhr, status, error) {
	                    alert("请检查您的输入");
	                }
	            });
			}   
        }

	</script>
}

