@(message: String)

@main("易聚货-帮助")  {
    
} {
   	<div class="container-fluid" style="padding-left: 0; padding-right: 0">
		<img style="width: 100%" src="@routes.Assets.at("images/main-banner.png")">
	</div>	

	<div class="container-fluid">

		<div class="container">		

		   	<div class="text-center" style="padding-left: 0; padding-right: 0; margin-top: 67px;">
				<img src="@routes.Assets.at("images/help/question.png")">
			</div>				


			<div class="col-sm-12">
				<div class="col-sm-offset-1 col-sm-11">
					<p style="color:#fa8564">忘记登录账号怎么办?</p>
				</div>
			</div>

			<div class="col-sm-12">
				<div class="col-sm-1">
					<img src="@routes.Assets.at("images/help/01.png")">
				</div>

				<div class="col-sm-11">
					<p style="color: #333333">答：物流公司/厂家/专线 认证成功后登录账号为公司全称，分账号登录为运营者的手机号码（公司管理员自行设置）；驾驶员登录账号为注册所用的手机号码，若更改过绑定手机号则为新的手机号</p>
				</div>
			</div>

			<div class="col-sm-12" style="margin-top:20px;">
				<div class="col-sm-offset-1 col-sm-11">
					<p style="color:#fa8564">如果驾驶员变更了手机号码，登录账号是使用原来的还是现在的？交易信息会丢失吗？</p>
				</div>
			</div>

			<div class="col-sm-12">
				<div class="col-sm-1">
					<img src="@routes.Assets.at("images/help/02.png")">
				</div>

				<div class="col-sm-11">
					<p style="color: #333333">答：使用变更后手机号码作为登录账号。不排除丢失的风险，尽量谨慎修改。</p>
				</div>
			</div>

			<div class="col-sm-12" style="margin-top:20px;">
				<div class="col-sm-offset-1 col-sm-11">
					<p style="color:#fa8564">如果公司有多个运营者都是用认证过的公司账号进行登陆吗？</p>
				</div>
			</div>

			<div class="col-sm-12">
				<div class="col-sm-1">
					<img src="@routes.Assets.at("images/help/03.png")">
				</div>

				<div class="col-sm-11">
					<p style="color: #333333">答：不是，每一个认证过的公司都设有五个分账号。可以根据每个公司运营的需求，给运营者设置分账号登录。</p>
				</div>
			</div>

			<div class="col-sm-12" style="margin-top:20px;">
				<div class="col-sm-offset-1 col-sm-11">
					<p style="color:#fa8564">分账号的删除与更改，其历史操作信息会保留在主账号吗？</p>
				</div>
			</div>

			<div class="col-sm-12">
				<div class="col-sm-1">
					<img src="@routes.Assets.at("images/help/04.png")">
				</div>

				<div class="col-sm-11">
					<p style="color: #333333">答：分账号的任何操作信息都会保留在主账号上</p>
				</div>
			</div>

			<div class="col-sm-12" style="margin-top:20px;">
				<div class="col-sm-offset-1 col-sm-11">
					<p style="color:#fa8564">什么是平台福利车？</p>
				</div>
			</div>

			<div class="col-sm-12">
				<div class="col-sm-1">
					<img src="@routes.Assets.at("images/help/05.png")">
				</div>

				<div class="col-sm-11">
					<p style="color: #333333">答：平台福利车是为入驻平台的公司、专线提供低于市场价的预约发车服务。</p>
				</div>
			</div>

			<div class="col-sm-12" style="margin-top:20px;">
				<div class="col-sm-offset-1 col-sm-11">
					<p style="color:#fa8564">如何预约平台福利车？</p>
				</div>
			</div>

			<div class="col-sm-12">
				<div class="col-sm-1">
					<img src="@routes.Assets.at("images/help/06.png")">
				</div>

				<div class="col-sm-11">
					<p style="color: #333333">答：各大公司、专线可于每晚8点之后，根据次日发车详情，对可预约状态下的平台福利车致电预约，预约成功后不可取消，如若爽约将作降权处理，累计满三次将永久冻结此服务。</p>
				</div>
			</div>

			<div class="col-sm-12" style="margin-top:20px;">
				<div class="col-sm-offset-1 col-sm-11">
					<p style="color:#fa8564">是否可以加入平台福利车的行列？</p>
				</div>
			</div>

			<div class="col-sm-12">
				<div class="col-sm-1">
					<img src="@routes.Assets.at("images/help/07.png")">
				</div>

				<div class="col-sm-11">
					<p style="color: #333333">答：可以。平台需对车辆及车辆所属的个人或者公司进行审查并签订合约。详情可致电客服咨询。</p>
				</div>
			</div>

			<div class="col-sm-12" style="margin-top:20px;">
				<div class="col-sm-offset-1 col-sm-11">
					<p style="color:#fa8564">加入平台福利车有什么好处？</p>
				</div>
			</div>

			<div class="col-sm-12">
				<div class="col-sm-1">
					<img src="@routes.Assets.at("images/help/08.png")">
				</div>

				<div class="col-sm-11">
					<p style="color: #333333">答：减少找货拼货的时间，降低空返率，无论是否有货都可以拿到发车运费，并可以享受平台员工的福利。</p>
				</div>
			</div>

			<div class="text-center col-sm-12">
				<img src="@routes.Assets.at("images/help/separate.png")">
			</div>

			<div class="text-center col-sm-12" style="margin-top:15px">
				<p style="color: #333333; font-size: 25px">如果还有疑问，请联系易聚货人工服务电话：400-016-1956</p>
			</div>



		</div>
	</div>
} {
	<script type="text/javascript">
		$(function(){
			$('li[data-current="help"]').addClass("active");
		});
	</script>
}
