@(message: String)

@main("帮助")  {
    
} {
	<div class="container-fluid content-bkg">
		<div class="container another-bkg">
			<div class="third-bkg help-title">
				<label style="font-size: 36px;">常见问题</label> </br>
				<div style="margin:0; padding:0; width:100%; height:1px; background-color:#008bdc; overflow:hidden; margin-top:5px;"></div>
				<table>
					<th>
						<tr>Question One</tr>
						<tr>Question Two</tr>
						<tr>Question Three</tr>
					</th>




				</table>
			</div>
		</div>
	</div>
} {
	<script type="text/javascript">
		$(function(){
			$('li[data-current="help"]').addClass("active");
		});
	</script>
}
