@(message: String)

@index_main("易聚货")  {
    
} {

<!--
		<div class="col-sm-12 position-set">

			<img class="main-image" style="width: 100%" src="@routes.Assets.at("images/home/Banner.png")">

			<p class="main-text"></br><img class="img-responsive" src="@routes.Assets.at("images/home/Logo.png")"></br>
				<span style="color:#666666; font-size:32px">全国服务热线：400-016-1956</span></br>

		</div>

		<div class="col-sm-12 in-middle" style="height: 600px; background-color: #282e3a;">

			<div class="col-sm-12 in-middle-setting-two" style="margin-top:80px">

				<div class="col-sm-5 col-xs-12 col-sm-offset-1">

					<div class="col-sm-12">

						<i class="fa fa-cubes fa-lg" aria-hidden="true" style="color:#fdf210"><span style="color:#fdf210; margin-left: 44px">海量货源 降低空返</span></i>
					</div>

					<div class="col-sm-12" style="margin-top:44px">
						<p style="color:#FFFFFF">不收取任何信息费用，审核通过的用户可以免费查看货源信息，节省运输成本</p>
					</div>				
				</div>

				<div class="col-sm-5 col-xs-12">

					<div class="col-sm-12">
						<i class="fa fa-user fa-lg" aria-hidden="true" style="color:#fdf210"><span style="color:#fdf210; margin-left: 44px">实名认证更安全</span></i>	
					</div>

					<div class="col-sm-12" style="margin-top:44px">
						<p style="color:#FFFFFF">为保障每一位用户的利益，我们将对注册的用户进行人工审核，以确保资料的真实性</p>
					</div>
				</div>

			</div>

			<div class="col-sm-12 in-middle-setting-two" style="margin-top: 100px">

				<div class="col-sm-5 col-xs-12 col-sm-offset-1">

					<div class="col-sm-12">

						<i class="fa fa-wifi fa-lg" aria-hidden="true" style="color:#fdf210"><span style="color:#fdf210; margin-left: 44px">无需下载APP 节省流量</span></i>
					</div>

					<div class="col-sm-12" style="margin-top:44px">
						<p style="color:#FFFFFF">只需关注我们得微信公众号，无需繁琐的下载，占用手机内存。随时随地找货</p>
					</div>				
				</div>

				<div class="col-sm-5 col-xs-12">

					<div class="col-sm-12">
						<i class="fa fa-universal-access fa-lg" aria-hidden="true" style="color:#fdf210"><span style="color:#fdf210; margin-left: 44px">智能化物流管理</span></i>	
					</div>

					<div class="col-sm-12" style="margin-top:44px">
						<p style="color:#FFFFFF">通过认证的公司可以设置公司分账号，便于负责不同的货物的调度员安排货物及车辆的运输计划</p>
					</div>
				</div>

			</div>
			
		</div>
-->

<!--
		<div class="col-sm-12 in-middle" style="height: 300px; background-color: #282e3a;">


			<div class="col-sm-12 in-middle-setting-two" style="">

				<div class="col-sm-4 col-xs-12 col-sm-offset-2">

					<div class="col-sm-12">

						<i class="fa fa-wifi fa-lg" aria-hidden="true" style="color:#fdf210"><span style="color:#fdf210; margin-left: 44px">无需下载APP 节省流量</span></i>
					</div>

					<div class="col-sm-12" style="margin-top:44px">
						<p style="color:#FFFFFF">只需关注我们得微信公众号，无需繁琐的下载，占用手机内存。随时随地找货</p>
					</div>				
				</div>

				<div class="col-sm-4 col-xs-12">

					<div class="col-sm-12">
						<i class="fa fa-universal-access fa-lg" aria-hidden="true" style="color:#fdf210"><span style="color:#fdf210; margin-left: 44px">智能化物流管理</span></i>	
					</div>

					<div class="col-sm-12" style="margin-top:44px">
						<p style="color:#FFFFFF">通过认证的公司可以设置公司分账号，便于负责不同的货物的调度员安排货物及车辆的运输计划</p>
					</div>
				</div>

			</div>

			
		</div>
-->

<!--
		<img style="width: 100%" src="@routes.Assets.at("images/home/Banner-one.png")">
-->

<!--
		<img style="width: 100%" src="@routes.Assets.at("images/home/Banner-two.png")">
-->
<!--
		<div class="col-sm-12 banner-two-set">
			
		</div>

		<img style="width: 100%" src="@routes.Assets.at("images/home/Banner-three.png")">
		
		<img style="width: 100%" src="@routes.Assets.at("images/home/Banner-four.png")">

		<div class="col-sm-12 in-middle" style="height: 300px; background-color: #282e3a;text-align: center;">
			<p class="in-middle-setting"><span style="color:#666666; font-size:26px">实时信息</span><span style="color:#666666; font-size:26px; margin-left: 10px">海量车源</span><span style="color:#666666; font-size:26px; margin-left: 10px">多方合作</span><span style="color:#666666; font-size:26px;margin-left: 10px">互惠共赢</span>
			</p>
		</div>

		<div class="col-sm-12 in-middle" style="height: 450px; background-color: #FFFFFF;text-align: center;">
			<p class="in-middle-setting"><span style="color:#666666; font-size:64px">易聚货</span></br></br>
			<span style="color:#666666; font-size:24px">公路物流专业信息平台</span></br>
			<span style="color:#666666; font-size:24px">平台是基于计算机软件现下主流开发技术</span></br>
			<span style="color:#666666; font-size:24px">以公路运输服务为主 为不同的主体提供不同的服务</span></br>
			<span style="color:#666666; font-size:24px">以建立一个全方位的商业模式</span></br>
			<span style="color:#666666; font-size:24px">推进物流行业互联网化的可持续发展</span></br>
			</p>

		</div>
-->


} {
	<script type="text/javascript">
		$(function(){
			$('li[data-current="index"]').addClass("active");
		});
	</script>
}
