@(message: String)

@index_main("易聚货")  {
    
} {
	<div>
		<img style="width: 100%" src="@routes.Assets.at("images/home/Banner.png")">


	<!--
		<img style="position: absolute;" class="img-responsive" src="@routes.Assets.at("images/home/center-icon.png")">
	-->

		<div class="col-sm-12" style="height: 820px; background-color: #282e3a;">
			
		</div>

		<img style="width: 100%" src="@routes.Assets.at("images/home/Banner-one.png")">

		<img style="width: 100%" src="@routes.Assets.at("images/home/Banner-two.png")">

		<img style="width: 100%" src="@routes.Assets.at("images/home/Banner-three.png")">
		
		<img style="width: 100%" src="@routes.Assets.at("images/home/Banner-four.png")">

		<div class="col-sm-12 in-middle" style="height: 300px; background-color: #282e3a;text-align: center;">
			<p class="in-middle-setting"><span style="color:#666666; font-size:26px">实时信息</span><span style="color:#666666; font-size:26px; margin-left: 10px">海量车源</span><span style="color:#666666; font-size:26px; margin-left: 10px">多方合作</span><span style="color:#666666; font-size:26px;margin-left: 10px">互惠共赢</span>
			</p>
		</div>

		<div class="col-sm-12 in-middle" style="height: 450px; background-color: #FFFFFF;text-align: center;">
			<p class="in-middle-setting"><span style="color:#666666; font-size:64px">易聚货</span></br></br>
			<span style="color:#666666; font-size:24px">公路物流专业信息平台</span></br>
			<span style="color:#666666; font-size:24px">平台是基于计算机软件现下主流开发技术</span></br>
			<span style="color:#666666; font-size:24px">以公路运输服务为主 为不同的主体提供不同的服务</span></br>
			<span style="color:#666666; font-size:24px">以建立一个全方位的商业模式</span></br>
			<span style="color:#666666; font-size:24px">推进物流行业互联网化的可持续发展</span></br>
			</p>

		</div>
	</div>


} {
	<script type="text/javascript">
		$(function(){
			$('li[data-current="index"]').addClass("active");
		});
	</script>
}
