@(message: String)

@index_main("易聚货")  {
    
} {
    <div id="myCarousel" class="carousel slide home-img-wall">
		<img style="width: 100%" src="@routes.Assets.at("images/homePage/home-img-wall.png")">
		<!-- Indicators -->
<!--         <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>    --> 
	</div>

	<div class="home-table-container">
		<table class="home-table">
			<tr>
				<td class="home-table-icon">
					<img style="width: 100px;" src="@routes.Assets.at("images/homePage/security.png")">
				</td>
				<td class="home-table-icon">
        			<img style="width: 100px;" src="@routes.Assets.at("images/homePage/effectively.png")">
				</td>
				<td class="home-table-icon">
        			<img style="width: 100px;" src="@routes.Assets.at("images/homePage/economy.png")">
				</td>
			</tr>
			<tr>
				<td class="home-table-des-text">
					<p>安全</p>
				</td>
				<td class="home-table-des-text">
					<p>快速</p>
				</td>
				<td class="home-table-des-text">
					<p>经济</p>
				</td>
			</tr>
		</table>
	</div>
} {
	<script type="text/javascript">
		$(function(){
			$('li[data-current="index"]').addClass("active");
		});
	</script>
}
