@(message: String)

@main("忘记密码") {
    <script src="@routes.Assets.at("javascripts/routes-manager.js")"></script>
} {
	<div class="container-fluid">

		<div class="container another-bkg third-bkg"">

			<div class="" >

				<label style="font-size: 22px; margin-top: 10px" class="text-center">用户登录</label>

				<div style="margin:0; padding:0; width:100%; height:1px; background-color:#008bdc; overflow:hidden; margin-top:10px;"></div>

				<div class="form-horizontal" style="margin-top: 40px;">
				
					<div class="form-group">
						<label for="principal-phone-no" class="col-sm-2 control-label">用户名</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" data-name="phone-no" placeholder="公司名字/手机号码">
						</div>

					</div>

					<div class="form-group">
						<label for="verifiable-code" class="col-sm-2 control-label" >密码</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" data-name="code" placeholder="在此输入密码" >
						</div>
					</div>

					<div class="form-group" style="margin-top:30px;">
						<div class="col-sm-offset-2 col-sm-9">
							<a class="btn btn-default col-sm-12 col-xs-12" style="border: 1 solid #008bdc !important; background: transparent;">忘记密码</a>
						</div>
					</div>

					<div class="form-group" style="margin-top:30px;">
						<div class="col-sm-offset-2 col-sm-9">
							<button class="btn btn-default col-sm-12 col-xs-12" style="border: 1 solid #008bdc !important; background: transparent;">登录</button>
						</div>
					</div>

					
				</div>

			</div>
			
		</div>
	</div>
} {
	<script type="text/javascript">
		

		function getDriverCommonInfo() {
			var result = true;

			var driver_phone_no = $('input[data-name="phone-no"]').val();
			var cell_phone_reg = /^1[3|4|5|7|8]\d{9}$/;
			result &= validate($('input[data-name="phone-no"]'), hasInput(driver_phone_no) && cell_phone_reg.test(driver_phone_no), 'div[data-name="driver-cellphone-error"]');

			var code = $('input[data-name="code"]').val();
			result &= validate($('input[data-name="code"]'), hasInput(code), 'div[data-name="code-error"]');



			if (Boolean(result)) {
				query_object = new Object();
				query_object['phone_no'] = driver_phone_no;
				query_object['cell_phone'] = driver_phone_no;
				query_object['code'] = code;
			};

			return Boolean(result);
		}

		function sendCode() {
			var cell_phone = $('input[data-name="phone-no"]').val();

			var tmp = new Object();
			tmp['cell_phone'] = cell_phone;

			$.ajax({
	            url: "/auth/send/code",
	            type: 'POST',
	            dataType: 'json',
	            contentType: 'application/json, charset=utf-8',
	            data: JSON.stringify(tmp),
	            cache: false,
	            success: function (data) {
	                if (data.status == "ok") {                                          
	                     alert("发送成功");
	                } else {
	                    alert(data.error.message);
	                }
	            },
	            error: function (xhr, status, error) {
	                alert("请检查您的输入");
	            }
	        });
		}

	</script>
}

