@(message: String)

@main("易聚货-招贤纳士")  {
    
} {
	<section class="first">
		<div class="container"> 

			<div class="in-middle">
				<p class="in-middle-setting" style="color:#FFFFFF; font-size:27px">加入我们</br>Join Us</p>
			</div>

		</div>
	</section>

	<section>
	<div class="container" >

		<div class="col-sm-12" style="margin-top:20px; margin-bottom: 15px;">
			<div class="col-sm-6">

				<div class="col-sm-12">
					<i class="fa fa-paper-plane-o fa-lg" aria-hidden="true" style="color:#40c3f3"><span style="color:#40c3f3; margin-left:10px">市场推广专员</span></i>
				</div>

				<div class="col-sm-12" style="margin-top:15px;">

					<div class="col-sm-12" style="margin-top:10px">
						<p class="col-sm-12">岗位描述</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">1、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">参与公司品牌的宣传和推广，促进产品的普及</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">2、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">协助客户进行注册使用，向客户介绍“易聚货”平台涉及的各项功能及产品优势</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">3、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">跟进服务和解决客户在使用过程中遇到的问题</p>
					</div>

					<div class="col-sm-12" style="margin-top:10px">
						<p class="col-sm-12">岗位要求</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">1、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">高中以上学历，会基本智能手机的操作</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">2、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">性格开朗，有较好的沟通能力，热情乐观，吃苦耐劳，能承载工作中遇到的各种压力</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">3、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">有较强的团队精神、责任心和积极的工作态度</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">4、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">有物流及相关市场推广经验者优先考虑</p>
					</div>

				</div>
			</div>

			<div class="col-sm-6">
				<div class="col-sm-12">
					<i class="fa fa-paper-plane-o fa-lg" aria-hidden="true" style="color:#40c3f3"><span style="color:#40c3f3; margin-left:10px">文案编辑</span></i>
				</div>

				<div class="col-sm-12" style="margin-top:15px;">

					<div class="col-sm-12" style="margin-top:10px">
						<p class="col-sm-12">岗位描述</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">1、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">负责公司相关新闻报道及各类宣传策划方案的文字撰稿</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">2、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">负责公司品牌形象宣传性软文的撰稿、组稿、编辑工作</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">3、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">撰写各种活动策划、广告推广方案、营销文案与实施方案</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">4、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">负责公司资料的搜集和整理分析工作</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">5、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">相关宣传及活动方案的收集、分析</p>
					</div>

					<div class="col-sm-12" style="margin-top:10px">
						<p class="col-sm-12">岗位要求</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">1、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">大专及以上学历，具有广告、新闻类或中文类专业知识</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">2、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">具备相关的文案知识、文字功底扎实，具有流畅的沟通及语言表达和丰富的广告文案表现能力、能独立完成项目活动的文案撰写</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">3、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">能够准确地捕捉产品亮点、具备恰如其分的文字表达能力，有一年以上相关工作经验者优先考虑</p>
					</div>

				</div>
			</div>


			<div class="col-sm-6">
				<div class="col-sm-12" style="margin-top:30px">
					<i class="fa fa-paper-plane-o fa-lg" aria-hidden="true" style="color:#40c3f3"><span style="color:#40c3f3; margin-left:10px">客服</span></i>
				</div>

				<div class="col-sm-12" style="margin-top:15px;">

					<div class="col-sm-12" style="margin-top:10px">
						<p class="col-sm-12">岗位描述</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">1、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">能熟练操作“易聚货”平台的各项功能并熟知使用过程中常见的问题并向客户进行解答</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">2、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">将客户提出的不能解决的问题及需求建议进行记录并及时向部门主管进行反馈跟进</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">3、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">能积极完成部门主管分配的相应工作</p>
					</div>

					<div class="col-sm-12" style="margin-top:10px">
						<p class="col-sm-12">岗位要求</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">1、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">高中及以上学历，年龄30岁以下</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">2、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">性格开朗，有较好的沟通能力，普通话标准，有足够的耐心</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">3、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">能熟练的操作基本的办公软件及微信、QQ等软件</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">4、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">有客服相关经验者优先录取</p>
					</div>

				</div>

			</div>


			<div class="col-sm-6">
				<div class="col-sm-12" style="margin-top:30px">
					<i class="fa fa-paper-plane-o fa-lg" aria-hidden="true" style="color:#40c3f3"><span style="color:#40c3f3; margin-left:10px">调度经理</span></i>
				</div>
				
				<div class="col-sm-12" style="margin-top:15px;">

					<div class="col-sm-12" style="margin-top:10px">
						<p class="col-sm-12">岗位描述</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">1、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">进行线路车辆运营规划（含运作模式、运输方式、线路、运量、运输成本等）</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">2、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">根据资源分布及运力流向分析，制定资源与运力匹配计划，提出运力需求</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">3、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">监督车辆在途情况交接、车辆路上调度安排</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">4、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">围绕货车资源组织完成运费、运力等大数据的整理、建设、维护工作</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">5、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">分析每天运单运行情况，对问题提出改进；参与公司整体运营工作的跨部门协调工作</p>
					</div>

					<div class="col-sm-12" style="margin-top:10px">
						<p class="col-sm-12">岗位要求</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">1、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">高中及以上学历，对物流市场有一定了解，熟知公路网络结构，有较强的沟通协调能力</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">2、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">有三年以上物流计划、调度工作经验或有车队管理经验的人员优先考虑</p>
					</div>

				</div>
			</div>

			<div class="col-sm-6">

				<div class="col-sm-12" style="margin-top:10px">
					<i class="fa fa-paper-plane-o fa-lg" aria-hidden="true" style="color:#40c3f3"><span style="color:#40c3f3; margin-left:10px">运营经理</span></i>
				</div>

				<div class="col-sm-12" style="margin-top:15px;">

					<div class="col-sm-12" style="margin-top:10px">
						<p class="col-sm-12">岗位描述</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">1、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">负责公司运营团队，优化现有的运营体系，打造一流的移动互联网产品运营团队</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">2、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">能够针对产品功能进行运营上的统筹规划，通过线上运营提升品牌认知、用户活跃度等核心指标，通过日常数据分析及用户调研，对产品不断地提出优化和解决方案，提升用户体验</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">3、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">通过对用户的定位、分析和运营，培养核心的用户群体</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">4、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">建立并提升品牌形象、运用创新的传播理念，制定并执行自媒体。社交媒体等领域的传播策略</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">5、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">分析每天运单运行情况，对问题提出改进；参与公司整体运营工作的跨部门协调工作</p>
					</div>

					<div class="col-sm-12" style="margin-top:10px">
						<p class="col-sm-12">岗位要求</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">1、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">本科及以上学历，有三年以上的相关运营经验</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">2、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">深入理解在线运营的方法，并有过成功经验，例如广告推广、商业活动策划等</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">3、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">对移动互联网有浓厚兴趣和热情，有创新精神，敢于突破，有担当，执行能力强，能承受较大的压力并擅长沟通协调</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">4、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">对产品运营、用户运营、品牌营销、活动策划等方面有一定经验者优先考虑</p>
					</div>

				</div>
			</div>

			<div class="col-sm-6">
				<div class="col-sm-12" style="margin-top:30px">
					<i class="fa fa-paper-plane-o fa-lg" aria-hidden="true" style="color:#40c3f3"><span style="color:#40c3f3; margin-left:10px">商务经理</span></i>
				</div>

				<div class="col-sm-12" style="margin-top:15px;">

					<div class="col-sm-12" style="margin-top:10px">
						<p class="col-sm-12">岗位描述</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">1、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">全国物流园区及货车相关工作场景的资源合作谈判</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">2、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">资源置换谈判工作，如各种品牌之间的联合推广合作</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">3、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">政府资源拓展工作</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">4、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">行业间的合作谈判</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">5、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">其他市场工作</p>
					</div>

					<div class="col-sm-12" style="margin-top:10px">
						<p class="col-sm-12">岗位要求</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">1、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">大专及以上学历，能吃苦耐劳，具有亲和力，谈判能力强并适应长期出差</p>
					</div>

					<div class="col-sm-1 col-sm-offset-1">
						<p class="col-sm-12">2、</p>
					</div>
					<div class="col-sm-10">
						<p class="col-sm-12">有三年以上相关工作经验，或有物流行业内，互联网行业或政府背景者优先考虑</p>
					</div>

				</div>


			</div>

		</div>

	</div>
	
		<div class="col-sm-12 in-middle" style="height: 150px; background-color: #50555e; text-align: center;">

			<p class="in-middle-setting" style="font-size: 32px; color:#40c3f3;">+&nbsp;&nbsp;关注我们</p>

		</div>
		<div class="col-sm-12 in-middle" style="height: 330px; background-color: #282e3a;">   

			<div class="col-sm-12 in-middle-setting-two" style="margin-top:80px">
					<div class="col-sm-3 col-sm-offset-3">
						<p class="footer-color col-sm-12"><i class="fa fa-home fa-lg" aria-hidden="true" style="margin-right:20px;"></i>浙江省杭州市余杭区望梅路578号</p></br>
						<p class="footer-color col-sm-12" style="margin-top:10px"><i class="fa fa-internet-explorer fa-lg footer-margin-right" aria-hidden="true"></i>www.elogco.com</p></br>
						<p class="footer-color col-sm-12" style="margin-top:10px"><i class="fa fa-phone-square fa-lg footer-margin-right" aria-hidden="true"></i>0571-89160770</p></br> 
						<p class="footer-color col-sm-12" style="margin-top:10px"><i class="fa fa-envelope fa-lg footer-margin-right" aria-hidden="true"></i>hz_hskj@@foxmail.com</p></br>	
						<p class="footer-color col-sm-12" style="margin-top:10px"><i class="fa fa-weixin fa-lg footer-margin-right" aria-hidden="true"></i>elogco</p>				
					</div>

					<div class="col-sm-3 col-sm-offset-1">
						<img style="width:200px; height:200px" src="@routes.Assets.at("images/weixin_public.jpg")">	
					</div>

			</div>
		</div> 
	</section>

} {
	<script type="text/javascript">
		$(function(){
			//$('li[data-current="recruit"]').addClass("active");
		});
	</script>
}

