@(message: String)

@main("Welcome to Play")  {
    
} {
   	<div class="container-fluid" style="padding-left: 0; padding-right: 0">
		<img style="height: 600px; width: 100%" src="@routes.Assets.at("images/recruit-bkg.png")">
	</div>

	<div class="container-fluid content-bkg" >
		<div style="text-align:left; margin:0 auto; width: 800px;">
			<p style="margin-top: 60px; ">
			一、【市场推广专员】</br>
			岗位职责：</br>
			   1、参与公司品牌的宣传和推广，促进产品的普及</br>
			   2、协助客户进行注册使用，向客户介绍“易聚货”平台涉及的各项功能及产品优势</br>
			   3、跟进服务和解决客户在使用过程中遇到的问题</br>
			任职资质及要求：</br>
			   1、高中以上学历，会基本智能手机的操作</br>
			   2、性格开朗，有较好的沟通能力，热情乐观，吃苦耐劳，能承载工作中遇到的各种压力</br>
			   3、有较强的团队精神、责任心和积极的工作态度</br>
			   4、有物流及相关市场推广经验者优先考虑</br>

			二、【文案编辑】</br>
			岗位职责：</br>
			   1、负责公司相关新闻报道及各类宣传策划方案的文字撰稿</br>
			   2、负责公司品牌形象宣传性软文的撰稿、组稿、编辑工作</br>
			   3、撰写各种活动策划、广告推广方案、营销文案与实施方案</br>
			   4、负责公司资料的搜集和整理分析工作</br>
			   5、相关宣传及活动方案的收集、分析</br>
			任职资质及要求：</br>
			   1、大专及以上学历，具有广告、新闻类或中文类专业知识</br>
			   2、具备相关的文案知识、文字功底扎实，具有流畅的沟通及语言表达和丰富的广告文案表现能力、能独立完成项目活动的文案撰写  </br>
			   3、能够准确地捕捉产品亮点、具备恰如其分的文字表达能力，有一年以上相关工作经验者优先考虑</br>

			三、【客服】</br>
			岗位职责：</br>
			   1、能熟练操作“易聚货”平台的各项功能并熟知使用过程中常见的问题并向客户进行解答</br>
			   2、将客户提出的不能解决的问题及需求建议进行记录并及时向部门主管进行反馈跟进</br>
			   3、能积极完成部门主管分配的相应工作</br>
			任职资质及要求：</br>
			   1、高中及以上学历，年龄30岁以下</br>
			   2、性格开朗，有较好的沟通能力，普通话标准，有足够的耐心</br>
			   3、能熟练的操作基本的办公软件及微信、QQ等软件</br>
			   4、有客服相关经验者优先录取</br>

			四、【调度经理】</br>
			岗位职责：</br>
			   1、进行线路车辆运营规划（含运作模式、运输方式、线路、运量、运输成本等）</br>
			   2、根据资源分布及运力流向分析，制定资源与运力匹配计划，提出运力需求</br>
			   3、监督车辆在途情况交接、车辆路上调度安排</br>
			   4、围绕货车资源组织完成运费、运力等大数据的整理、建设、维护工作</br>
			   5、分析每天运单运行情况，对问题提出改进；参与公司整体运营工作的跨部门协调工作</br>
			任职资质及要求：</br>
			   1、高中及以上学历，对物流市场有一定了解，熟知公路网络结构，有较强的沟通协调能力   </br>
			   2、有三年以上物流计划、调度工作经验或有车队管理经验的人员优先考虑</br>


			五、【运营经理】</br>
			岗位职责：</br>
			   1、负责公司运营团队，优化现有的运营体系，打造一流的移动互联网产品运营团队</br>
			   2、能够针对产品功能进行运营上的统筹规划，通过线上运营提升品牌认知、用户活跃度等核心指标，通过日常数据分析及用户调研，对产品不断地提出优化和解决方案，提升用户体验</br>
			   3、通过对用户的定位、分析和运营，培养核心的用户群体</br>
			   4、建立并提升品牌形象、运用创新的传播理念，制定并执行自媒体。社交媒体等领域的传播策略</br>
			   5、策划产品相关的商业运营模式，并取得目标</br>
			任职资质及要求：</br>
			   1、本科及以上学历，有三年以上的相关运营经验</br>
			   2、深入理解在线运营的方法，并有过成功经验，例如广告推广、商业活动策划等</br>
			   3、对移动互联网有浓厚兴趣和热情，有创新精神，敢于突破，有担当，执行能力强，能承受较大的压力并擅长沟通协调</br>
			   4、对产品运营、用户运营、品牌营销、活动策划等方面有一定经验者优先考虑</br>
			六、【商务经理】</br>
			岗位职责：</br>
			   1、全国物流园区及货车相关工作场景的资源合作谈判</br>
			   2、资源置换谈判工作，如各种品牌之间的联合推广合作</br>
			   3、政府资源拓展工作</br>
			   4、行业间的合作谈判</br>
			   5、其他市场工作</br>
			任职资质及要求：</br>
			   1、大专及以上学历，能吃苦耐劳，具有亲和力，谈判能力强并适应长期出差</br>
			   2、有三年以上相关工作经验，或有物流行业内，互联网行业或政府背景者优先考虑</br>

			七、【行政经理】</br>
			岗位职责：</br>
			   1、公司品牌规划及推广策略的制定及执行</br>
			   2、全年市场公共关系策略的制定及执行</br>
			   3、品牌的日常维护推广，微信、微博等自媒体的维护</br>
			   4、危机公关工作</br>
			   5、主要行业媒体关系的维护</br>
			任职资质及要求：</br>
			   1、大专以上学历，有三年以上的相关工作经验，具有一定的法律基础知识</br>
			   2、有互联网思维，有优秀的文案功底，思维敏捷，有一定的媒体资源，熟悉媒体的运作流程</br>
			   3、有品牌建设、物流行业及互联网相关经验者优先考虑</br>
		</p>


		</div>
		

	</div>
} {
	<script type="text/javascript">
		$(function(){
			$('li[data-current="recruit"]').addClass("active");
		});
	</script>
}

