@(message: String)

@main("驾驶员注册") {
    <script src="@routes.Assets.at("javascripts/routes-manager.js")"></script>
} {
	<div class="container-fluid content-bkg">
		<div class="container another-bkg">
			<div class="third-bkg">

				<label style="font-size: 22px; text-align: left;">驾驶员注册认证</label></br>

				<div style="margin:0; padding:0; width:100%; height:1px; background-color:#008bdc; overflow:hidden; margin-top:5px;"></div>

				<div class="form-horizontal" style="margin-top: 40px;">
				
					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label">姓名</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" data-name="driver-name">
						</div>
					</div>

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="legal-person" class="col-sm-2 control-label">身份证号码</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" data-name="driver-secial-id">
						</div>
					</div>

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="business-license" class="col-sm-2 control-label">驾驶员行驶证</label>
						<div class="col-sm-9 business-license-btn">
							<input id="driver-image-upload" name="driver-image-upload[]" type="file" multiple=true class="file-loading">
						</div>
					</div>

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="business-license" class="col-sm-2 control-label">驾驶员驾驶证</label>
						<div class="col-sm-9 business-license-btn">
							<input id="driver-road-image" name="driver-road-image" type="file" multiple=true class="file-loading">
						</div>
					</div>

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="principal-phone-no" class="col-sm-2 control-label">手机号码</label>
						<div class="col-sm-2">
							<select class="form-control" disabled>
								<option value="china">中国大陆&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+86</option>
							</select>
						</div>
						<div class="col-sm-7">
							<input type="text" class="form-control" data-name="phone-no">
						</div>
					</div>

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="verifiable-code" class="col-sm-2 control-label" >动态验证码</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" data-name="code" placeholder="在此输入验证码" >
						</div>
						<div class="col-sm-2 verifiable-code-btn">
							<button type="button" class="btn" data-toggle="modal" data-target="verifiable-code-btn" onclick="sendCode()">获取动态验证码</button>
						</div>
					</div>

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="certificate-type" class="col-sm-2 control-label" >拥有车型</label>

						<div class="col-sm-9">
							<div class="col-sm-2 checkbox">
								<label>
									<input name="vehicle" type="checkbox" value="平板车"> 平板车
								</label>
							</div>

							<div class="col-sm-2 checkbox">
								<label>
									<input name="vehicle" type="checkbox" value="高栏车"> 高栏车
								</label>
							</div>						
							
							<div class="col-sm-2 checkbox">
								<label>
									<input name="vehicle" type="checkbox" value="厢式车"> 厢式车
								</label>
							</div>

							<div class="col-sm-2 checkbox">
								<label>
									<input name="vehicle" type="checkbox" value="保温冷藏"> 保温冷藏
								</label>
							</div>

							<div class="col-sm-2 checkbox">
								<label>
									<input name="vehicle" type="checkbox" value="半挂车"> 半挂车
								</label>
							</div>

							<div class="col-sm-2 checkbox">
								<label>
									<input name="vehicle" type="checkbox" value="危险品车"> 危险品车
								</label>
							</div>						
							
							<div class="col-sm-2 checkbox">
								<label>
									<input name="vehicle" type="checkbox" value="高地板"> 高低板
								</label>
							</div>

							<div class="col-sm-2 checkbox">
								<label>
									<input name="vehicle" type="checkbox" value="起重车"> 起重车
								</label>
							</div>

							<div class="col-sm-2 checkbox">
								<label>
									<input name="vehicle" type="checkbox" value="牵引车"> 牵引车
								</label>
							</div>

							<div class="col-sm-2 checkbox">
								<label>
									<input name="vehicle" type="checkbox" value="仓棚车"> 仓棚车
								</label>
							</div>

							<div class="col-sm-2 checkbox">
								<label>
									<input name="vehicle" type="checkbox" value="罐式车"> 罐式车
								</label>
							</div>

							<div class="col-sm-2 checkbox">
								<label>
									<input name="vehicle" type="checkbox" value="特种车"> 特种车
								</label>
							</div>

							<div class="col-sm-2 checkbox">
								<label>
									<input name="vehicle" type="checkbox" value="集装箱车"> 集装箱车
								</label>
							</div>	
						</div>
					</div>	

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="legal-person" class="col-sm-2 control-label">载重</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" data-name="capacity">
						</div>
					</div>

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="legal-person-id" class="col-sm-2 control-label">车长</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" data-name="vehicle-length">
						</div>
					</div>			  

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="principal-phone-no" class="col-sm-2 control-label">常用路线</label>
						<div class="driver-line">

							<div class="col-sm-2">

								<select name="sheng" id="to_cn" onchange="set_city(this, document.getElementById('city'));" class="login_text_input form-control" data-name="origin-province"> 
									<option value=0>请选择省</option> 
									<option value=台湾>台湾</option> 
									<option value=马来西亚>马来西亚</option> 
									<option value=北京>北京</option> 
									<option value=上海>上海</option> 
									<option value=天津>天津</option> 
									<option value=重庆>重庆</option> 
									<option value=河北省>河北省</option> 
									<option value=山西省>山西省</option> 
									<option value=辽宁省>辽宁省</option> 
									<option value=吉林省>吉林省</option> 
									<option value=黑龙江省>黑龙江省</option> 
									<option value=江苏省>江苏省</option> 
									<option value=浙江省>浙江省</option> 
									<option value=安徽省>安徽省</option> 
									<option value=福建省>福建省</option> 
									<option value=江西省>江西省</option> 
									<option value=山东省>山东省</option> 
									<option value=河南省>河南省</option> 
									<option value=湖北省>湖北省</option> 
									<option value=湖南省>湖南省</option> 
									<option value=广东省>广东省</option> 
									<option value=海南省>海南省</option> 
									<option value=四川省>四川省</option> 
									<option value=贵州省>贵州省</option> 
									<option value=云南省>云南省</option> 
									<option value=陕西省>陕西省</option> 
									<option value=甘肃省>甘肃省</option> 
									<option value=青海省>青海省</option> 
									<option value=内蒙古>内蒙古</option> 
									<option value=广西>广西</option> 
									<option value=西藏>西藏</option> 
									<option value=宁夏>宁夏</option> 
									<option value=新疆>新疆</option> 
									<option value=香港>香港</option> 
									<option value=澳门>澳门</option> 
								</select>

							</div>

							<div class="col-sm-2">
								<select id="city" class="login_text_input form-control" name="shi" data-name="origin-city"> 
									<option value=0>请选择市</option> 
								</select> 
							</div>

							<div class="col-sm-1" style="text-align:center;">
								<img  src="@routes.Assets.at("images/arrow/oneway.png")" class="img-swap">
							</div>

							<div class="col-sm-2">
								<select name="sheng" id="to_cn_2" onchange="set_city_sec(this, document.getElementById('city_2'));" class="login_text_input form-control" data-name="destination-province"> 
									<option value=0>请选择省</option> 
									<option value=台湾>台湾</option> 
									<option value=马来西亚>马来西亚</option> 
									<option value=北京>北京</option> 
									<option value=上海>上海</option> 
									<option value=天津>天津</option> 
									<option value=重庆>重庆</option> 
									<option value=河北省>河北省</option> 
									<option value=山西省>山西省</option> 
									<option value=辽宁省>辽宁省</option> 
									<option value=吉林省>吉林省</option> 
									<option value=黑龙江省>黑龙江省</option> 
									<option value=江苏省>江苏省</option> 
									<option value=浙江省>浙江省</option> 
									<option value=安徽省>安徽省</option> 
									<option value=福建省>福建省</option> 
									<option value=江西省>江西省</option> 
									<option value=山东省>山东省</option> 
									<option value=河南省>河南省</option> 
									<option value=湖北省>湖北省</option> 
									<option value=湖南省>湖南省</option> 
									<option value=广东省>广东省</option> 
									<option value=海南省>海南省</option> 
									<option value=四川省>四川省</option> 
									<option value=贵州省>贵州省</option> 
									<option value=云南省>云南省</option> 
									<option value=陕西省>陕西省</option> 
									<option value=甘肃省>甘肃省</option> 
									<option value=青海省>青海省</option> 
									<option value=内蒙古>内蒙古</option> 
									<option value=广西>广西</option> 
									<option value=西藏>西藏</option> 
									<option value=宁夏>宁夏</option> 
									<option value=新疆>新疆</option> 
									<option value=香港>香港</option> 
									<option value=澳门>澳门</option> 
								</select>
							</div>

							<div class="col-sm-2">
								<select id="city_2" class="login_text_input form-control" name="shi" data-name="destination-city"> 
									<option value=0>请选择市</option> 
								</select> 
							</div>

						</div>
					</div>		

					<div class="form-group">
						<span class="col-sm-1 control-label"></span>
						<label for="" class="col-sm-2 control-label"></label>
						<div class="col-sm-9 business-license-btn">
							<button type="button" class="btn" data-toggle="modal" data-target="newroute">常用路线添加</button>
						</div>
					</div>	

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="certificate-type" class="col-sm-2 control-label" >是否购买货物险</label>
						<div class="col-sm-9">
							<div class="radio">
								<label>
									<input type="radio" name="insurance" value="1"> 已购买
								</label>

								<label style="margin-left: 90px">
									<input type="radio" name="insurance" value="0"> 未购买
								</label>

							</div>
						</div>
					</div>	  

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox" style="text-align: center;">
								<label>
									<input type="checkbox" checked="true"><a href>注册视为认同《易聚货会员服务协议》</a>
								</label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10 register-btn">
							<button class="btn btn-lg" onclick="register()">注册</button>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10 register-btn">
							
						</div>
					</div>
					
				</div>

			</div>
		</div>
	</div>
} {
	<script type="text/javascript">
		var query_object;

		/**swap image one way & two way**/
        $(function(){
	        $(".img-swap").click(function(){
	            var src = ($(this).attr("src") == "@routes.Assets.at("images/arrow/oneway.png")")
	                    ?"@routes.Assets.at("images/arrow/twoway.png")"
	                    :"@routes.Assets.at("images/arrow/oneway.png")";
	            $(this).attr("src", src);
	        });
    	});
			

        /** 驾驶员行驶证图片上传**/
		var drive_image = new fileUpload($("#driver-image-upload"));
		/** 驾驶员驾驶证图片上传**/
		var road_image = new fileUpload($("#driver-road-image"));

	    /**省市选择**/
		cities = new Object(); 
		cities['台湾']=new Array('台北','台南','其他'); 
		cities['马来西亚']=new Array('Malaysia'); 
		cities['北京']=new Array('北京'); 
		cities['上海']=new Array('上海'); 
		cities['天津']=new Array('天津'); 
		cities['重庆']=new Array('重庆'); 
		cities['河北省']=new Array('石家庄', '张家口', '承德', '秦皇岛', '唐山', '廊坊', '保定', '沧州', '衡水', '邢台', '邯郸'); 
		cities['山西省']=new Array('太原', '大同', '朔州', '阳泉', '长治', '晋城', '忻州', '吕梁', '晋中', '临汾', '运城');
		cities['辽宁省']=new Array('沈阳', '朝阳', '阜新', '铁岭', '抚顺', '本溪', '辽阳', '鞍山', '丹东', '大连', '营口', '盘锦', '锦州', '葫芦岛'); 
		cities['吉林省']=new Array('长春', '白城', '松原', '吉林', '四平', '辽源', '通化', '白山', '延边'); 
		cities['黑龙江省']=new Array('哈尔滨', '齐齐哈尔', '黑河', '大庆', '伊春', '鹤岗', '佳木斯', '双鸭山', '七台河', '鸡西', '牡丹江', '绥化', '大兴安'); 
		cities['江苏省']=new Array('南京', '徐州', '连云港', '宿迁', '淮阴', '盐城', '扬州', '泰州', '南通', '镇江', '常州', '无锡', '苏州'); 
		cities['浙江省']=new Array('杭州', '湖州', '嘉兴', '舟山', '宁波', '绍兴', '金华', '台州', '温州', '丽水'); 
		cities['安徽省']=new Array('合肥', '宿州', '淮北', '阜阳', '蚌埠', '淮南', '滁州', '马鞍山', '芜湖', '铜陵', '安庆', '黄山', '六安', '巢湖', '池州', '宣城'); 
		cities['福建省']=new Array('福州', '南平', '三明', '莆田', '泉州', '厦门', '漳州', '龙岩', '宁德'); 
		cities['江西省']=new Array('南昌', '九江', '景德镇', '鹰潭', '新余', '萍乡', '赣州', '上饶', '抚州', '宜春', '吉安'); 
		cities['山东省']=new Array('济南', '聊城', '德州', '东营', '淄博', '潍坊', '烟台', '威海', '青岛', '日照', '临沂', '枣庄', '济宁', '泰安', '莱芜', '滨州', '菏泽'); 
		cities['河南省']=new Array('郑州', '三门峡', '洛阳', '焦作', '新乡', '鹤壁', '安阳', '濮阳', '开封', '商丘', '许昌', '漯河', '平顶山', '南阳', '信阳', '周口', '驻马店'); 
		cities['湖北省']=new Array('武汉', '十堰', '襄攀', '荆门', '孝感', '黄冈', '鄂州', '黄石', '咸宁', '荆州', '宜昌', '恩施', '襄樊'); 
		cities['湖南省']=new Array('长沙', '张家界', '常德', '益阳', '岳阳', '株洲', '湘潭', '衡阳', '郴州', '永州', '邵阳', '怀化', '娄底', '湘西'); 
		cities['广东省']=new Array('广州', '清远', '韶关', '河源', '梅州', '潮州', '汕头', '揭阳', '汕尾', '惠州', '东莞', '深圳', '珠海', '江门', '佛山', '肇庆', '云浮', '阳江', '茂名', '湛江'); 
		cities['海南省']=new Array('海口', '三亚'); 
		cities['四川省']=new Array('成都', '广元', '绵阳', '德阳', '南充', '广安', '遂宁', '内江', '乐山', '自贡', '泸州', '宜宾', '攀枝花', '巴中', '达川', '资阳', '眉山', '雅安', '阿坝', '甘孜', '凉山'); 
		cities['贵州省']=new Array('贵阳', '六盘水', '遵义', '毕节', '铜仁', '安顺', '黔东南', '黔南', '黔西南'); 
		cities['云南省']=new Array('昆明', '曲靖', '玉溪', '丽江', '昭通', '思茅', '临沧', '保山', '德宏', '怒江', '迪庆', '大理', '楚雄', '红河', '文山', '西双版纳'); 
		cities['陕西省']=new Array('西安', '延安', '铜川', '渭南', '咸阳', '宝鸡', '汉中', '榆林', '商洛', '安康'); 
		cities['甘肃省']=new Array('兰州', '嘉峪关', '金昌', '白银', '天水', '酒泉', '张掖', '武威', '庆阳', '平凉', '定西', '陇南', '临夏', '甘南'); 
		cities['青海省']=new Array('西宁', '海东', '西宁', '海北', '海南', '黄南', '果洛', '玉树', '海西'); 
		cities['内蒙古']=new Array('呼和浩特', '包头', '乌海', '赤峰', '呼伦贝尔盟', '兴安盟', '哲里木盟', '锡林郭勒盟', '乌兰察布盟', '鄂尔多斯', '巴彦淖尔盟', '阿拉善盟'); 
		cities['广西']=new Array('南宁', '桂林', '柳州', '梧州', '贵港', '玉林', '钦州', '北海', '防城港', '南宁', '百色', '河池', '柳州', '贺州'); 
		cities['西藏']=new Array('拉萨', '那曲', '昌都', '林芝', '山南', '日喀则', '阿里'); 
		cities['宁夏']=new Array('银川', '石嘴山', '吴忠', '固原'); 
		cities['新疆']=new Array('乌鲁木齐', '克拉玛依', '喀什', '阿克苏', '和田', '吐鲁番', '哈密', '博尔塔拉', '昌吉', '巴音郭楞', '伊犁', '塔城', '阿勒泰'); 
		cities['香港']=new Array('香港'); 
		cities['澳门']=new Array('澳门'); 

		function set_city(province, city) { 

			var pv, cv; 
			var i, ii; 

			pv=province.value; 
			cv=city.value; 
			city.length=1; 

			if(pv=='0') return; 
			if(typeof(cities[pv])=='undefined') return; 

			for(i=0; i<cities[pv].length; i++) 
				{ 
					ii = i+1; 
					city.options[ii] = new Option(); 
					city.options[ii].text = cities[pv][i]; 
					city.options[ii].value = cities[pv][i]; 
				} 
		}

	    /**省市选择**/
		cities_sec = new Object(); 
		cities_sec['台湾']=new Array('台北','台南','其他'); 
		cities_sec['马来西亚']=new Array('Malaysia'); 
		cities_sec['北京']=new Array('北京'); 
		cities_sec['上海']=new Array('上海'); 
		cities_sec['天津']=new Array('天津'); 
		cities_sec['重庆']=new Array('重庆'); 
		cities_sec['河北省']=new Array('石家庄', '张家口', '承德', '秦皇岛', '唐山', '廊坊', '保定', '沧州', '衡水', '邢台', '邯郸'); 
		cities_sec['山西省']=new Array('太原', '大同', '朔州', '阳泉', '长治', '晋城', '忻州', '吕梁', '晋中', '临汾', '运城');
		cities_sec['辽宁省']=new Array('沈阳', '朝阳', '阜新', '铁岭', '抚顺', '本溪', '辽阳', '鞍山', '丹东', '大连', '营口', '盘锦', '锦州', '葫芦岛'); 
		cities_sec['吉林省']=new Array('长春', '白城', '松原', '吉林', '四平', '辽源', '通化', '白山', '延边'); 
		cities_sec['黑龙江省']=new Array('哈尔滨', '齐齐哈尔', '黑河', '大庆', '伊春', '鹤岗', '佳木斯', '双鸭山', '七台河', '鸡西', '牡丹江', '绥化', '大兴安'); 
		cities_sec['江苏省']=new Array('南京', '徐州', '连云港', '宿迁', '淮阴', '盐城', '扬州', '泰州', '南通', '镇江', '常州', '无锡', '苏州'); 
		cities_sec['浙江省']=new Array('杭州', '湖州', '嘉兴', '舟山', '宁波', '绍兴', '金华', '台州', '温州', '丽水'); 
		cities_sec['安徽省']=new Array('合肥', '宿州', '淮北', '阜阳', '蚌埠', '淮南', '滁州', '马鞍山', '芜湖', '铜陵', '安庆', '黄山', '六安', '巢湖', '池州', '宣城'); 
		cities_sec['福建省']=new Array('福州', '南平', '三明', '莆田', '泉州', '厦门', '漳州', '龙岩', '宁德'); 
		cities_sec['江西省']=new Array('南昌', '九江', '景德镇', '鹰潭', '新余', '萍乡', '赣州', '上饶', '抚州', '宜春', '吉安'); 
		cities_sec['山东省']=new Array('济南', '聊城', '德州', '东营', '淄博', '潍坊', '烟台', '威海', '青岛', '日照', '临沂', '枣庄', '济宁', '泰安', '莱芜', '滨州', '菏泽'); 
		cities_sec['河南省']=new Array('郑州', '三门峡', '洛阳', '焦作', '新乡', '鹤壁', '安阳', '濮阳', '开封', '商丘', '许昌', '漯河', '平顶山', '南阳', '信阳', '周口', '驻马店');
		cities_sec['湖北省']=new Array('武汉', '十堰', '襄攀', '荆门', '孝感', '黄冈', '鄂州', '黄石', '咸宁', '荆州', '宜昌', '恩施', '襄樊'); 
		cities_sec['湖南省']=new Array('长沙', '张家界', '常德', '益阳', '岳阳', '株洲', '湘潭', '衡阳', '郴州', '永州', '邵阳', '怀化', '娄底', '湘西'); 
		cities_sec['广东省']=new Array('广州', '清远', '韶关', '河源', '梅州', '潮州', '汕头', '揭阳', '汕尾', '惠州', '东莞', '深圳', '珠海', '江门', '佛山', '肇庆', '云浮', '阳江', '茂名', '湛江'); 
		cities_sec['海南省']=new Array('海口', '三亚'); 
		cities_sec['四川省']=new Array('成都', '广元', '绵阳', '德阳', '南充', '广安', '遂宁', '内江', '乐山', '自贡', '泸州', '宜宾', '攀枝花', '巴中', '达川', '资阳', '眉山', '雅安', '阿坝', '甘孜', '凉山'); 
		cities_sec['贵州省']=new Array('贵阳', '六盘水', '遵义', '毕节', '铜仁', '安顺', '黔东南', '黔南', '黔西南'); 
		cities_sec['云南省']=new Array('昆明', '曲靖', '玉溪', '丽江', '昭通', '思茅', '临沧', '保山', '德宏', '怒江', '迪庆', '大理', '楚雄', '红河', '文山', '西双版纳'); 
		cities_sec['陕西省']=new Array('西安', '延安', '铜川', '渭南', '咸阳', '宝鸡', '汉中', '榆林', '商洛', '安康'); 
		cities_sec['甘肃省']=new Array('兰州', '嘉峪关', '金昌', '白银', '天水', '酒泉', '张掖', '武威', '庆阳', '平凉', '定西', '陇南', '临夏', '甘南'); 
		cities_sec['青海省']=new Array('西宁', '海东', '西宁', '海北', '海南', '黄南', '果洛', '玉树', '海西'); 
		cities_sec['内蒙古']=new Array('呼和浩特', '包头', '乌海', '赤峰', '呼伦贝尔盟', '兴安盟', '哲里木盟', '锡林郭勒盟', '乌兰察布盟', '鄂尔多斯', '巴彦淖尔盟', '阿拉善盟'); 
		cities_sec['广西']=new Array('南宁', '桂林', '柳州', '梧州', '贵港', '玉林', '钦州', '北海', '防城港', '南宁', '百色', '河池', '柳州', '贺州'); 
		cities_sec['西藏']=new Array('拉萨', '那曲', '昌都', '林芝', '山南', '日喀则', '阿里'); 
		cities_sec['宁夏']=new Array('银川', '石嘴山', '吴忠', '固原'); 
		cities_sec['新疆']=new Array('乌鲁木齐', '克拉玛依', '喀什', '阿克苏', '和田', '吐鲁番', '哈密', '博尔塔拉', '昌吉', '巴音郭楞', '伊犁', '塔城', '阿勒泰'); 
		cities_sec['香港']=new Array('香港'); 
		cities_sec['澳门']=new Array('澳门');  

		function set_city_sec(province, city) { 

			var pv, cv; 
			var i, ii; 

			pv=province.value; 

			cv=city.value; 
			city.length=1; 

			if(pv=='0') return; 
			if(typeof(cities_sec[pv])=='undefined') return; 

			for(i=0; i<cities_sec[pv].length; i++) 
				{ 
					ii = i+1; 
					city.options[ii] = new Option(); 
					city.options[ii].text = cities_sec[pv][i]; 
					city.options[ii].value = cities_sec[pv][i]; 
				} 
		}


		function hasInput(str) {
			var result = (typeof(str) == "string") && (str != "");
			return result;
		}	

		function validate(ele, result) {
			if (result) $(ele).removeClass('validate-error');
			else $(ele).addClass('validate-error');
			return result;
		}

		function validate_number(ele, value) {
			var tmp = Number(value);
			var result = typeof(tmp) != "undefined";
			if (result) $(ele).removeClass('validate-error');
			else $(ele).addClass('validate-error');
			return result;
		}

		function getDriverCommonInfo() {
			var result = true;
/**
			var driver_name = $('input[data-name="driver-name"]').val();
			result &= validate($('input[data-name="driver-name"]'), hasInput(driver_name));

			var driver_secial_id = $('input[data-name="driver-secial-id"]').val();
			result &= validate($('input[data-name="driver-secial-id"]'), hasInput(driver_secial_id));

			var driver_phone_no = $('input[data-name="phone-no"]').val();
			result &= validate($('input[data-name="phone-no"]'), hasInput(driver_phone_no));
			result &= validate_number($('input[data-name="phone-no"]'), driver_phone_no);

			var driver_capacity = $('input[data-name="capacity"]').val();
			result &= validate($('input[data-name="capacity"]'), hasInput(driver_capacity));
			result &= validate_number($('input[data-name="capacity"]'), driver_capacity);

			var driver_vehicle_length = $('input[data-name="vehicle-length"]').val();
			result &= validate($('input[data-name="vehicle-length"]'), hasInput(driver_vehicle_length));
			result &= validate_number($('input[data-name="vehicle-length"]'), driver_phone_no);

**/

			var driver_name = $('input[data-name="driver-name"]').val();
			var regName = /[\u4E00-\u9FA5]{2,5}(?:·[\u4E00-\u9FA5]{2,5})*/; 
			if (driver_name.length == 0){ 
		        alert("必须输入姓名");  
		        return false; 
		    } else if(regName.test(driver_name) === false) {
		    	alert("你的名字不对！写中文名！别乱打！");
		    	return false;
		    }


			var driver_secial_id = $('input[data-name="driver-secial-id"]').val();
			var regID = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/; 
			if (driver_secial_id.length == 0){ 
		        alert("必须输入身份证号码");  
		        return false; 
		    } else if(regID.test(driver_secial_id) === false) {
		    	alert("身份证号码不对！");
		    	return false;
		    }



			var driver_phone_no = $('input[data-name="phone-no"]').val();
			if (driver_phone_no.length == 0){ 
		        alert("必须输入手机号");  
		        return false; 
		    } else if(!(/^1[3|4|5|7|8]\d{9}$/.test(driver_phone_no))) {
		    	alert("手机号不对！");
		    	return false;
		    }

			var driver_capacity = $('input[data-name="capacity"]').val();
			if (driver_capacity.length == 0) {
				alert("必输输入载重");
				return false;
			} else if (driver_capacity.length > 3) {
				alert("请输入正确的载重吨位");
				return false;
			}

			var driver_vehicle_length = $('input[data-name="vehicle-length"]').val();
			if (driver_vehicle_length.length == 0) {
				alert("必须输入车长");
				return false;
			} else if (driver_vehicle_length.length > 2) {
				alert("请输入正确的车长");
				return false;
			}

			var driver_insurance = $('input[name="insurance"]:checked').val();
			result &= validate($('input[name="insurance"]'), (typeof(driver_insurance) != "undefined"));

			var driver_images_arr = drive_image.queryFileNames();
			if (driver_images_arr.length != 1) {
				alert("驾驶员行驶证图片上传有误，请有且仅上传一张图片");
				result &= false;
			} 

			var road_image_arr = road_image.queryFileNames();
			if (road_image_arr.length != 1) {
				alert("驾驶员驾驶证图片上传有误，请有且仅上传一张图片");
				result &= false;
			}

			var code = $('input[data-name="code"]').val();
			result &= validate($('input[data-name="code"]'), hasInput(code));

			if (Boolean(result)) {
				query_object = new Object();
				query_object['driver_name'] = driver_name;
				query_object['driver_secial_id'] = driver_secial_id;
				query_object['phone_no'] = driver_phone_no;
				query_object['cell_phone'] = driver_phone_no;
				query_object['capacity'] = Number(driver_capacity);
				query_object['vehicle_length'] = Number(driver_vehicle_length);
				query_object['insurance'] = Number(driver_insurance);
				query_object['driver_image'] = driver_images_arr[0];
				query_object['road_image'] = road_image_arr[0];
				query_object['company_type'] = 0;
				query_object['code'] = code;
			};

			return Boolean(result);
		}

		function getDriverVehicle() {
			var result = true;
			var vehicle_lst = [];
			$.each($('input[name="vehicle"]:checked'), function(index, value){
				vehicle_lst.push($(this).val());
			});
			result &= validate($('input[name="vehicle"]'), vehicle_lst.length > 0)

			query_object['vehicle'] = vehicle_lst;
			return Boolean(result);
		}

		function getDriverLines() {
			var result = true;
			var lines_lst = [];
			$.each($('.driver-line'), function( index, value ) {
				var origin_province = $(this).find('select[data-name="origin-province"]').val();
				result &= validate($(this).find('select[data-name="origin-province"]'), (typeof(origin_province) != "undefined"));

				var origin_city = $(this).find('select[data-name="origin-city"]').val();
				result &= validate($(this).find('select[data-name="origin-city"]'), (typeof(origin_city) != "undefined"));

				var destination_province = $(this).find('select[data-name="destination-province"]').val();
				result &= validate($(this).find('select[data-name="destination_province"]'), (typeof(destination_province) != "undefined"));

				var destination_city = $(this).find('select[data-name="destination-city"]').val();
				result &= validate($(this).find('select[data-name="destination_city"]'), (typeof(destination_city) != "undefined"));		

				if (Boolean(result)) {
					var tmp = new Object();
					tmp['origin_province'] = origin_province;
					tmp['origin_city'] = origin_city;
					tmp['destination_province'] = destination_province;
					tmp['destination_city'] = destination_city;

					lines_lst.push(tmp);
				};
			});
			query_object['driver_lines'] = lines_lst;
			return Boolean(result);
		}

		function register() {
			var result = getDriverCommonInfo();
			result &= getDriverLines();
			result &= getDriverVehicle();

			if (Boolean(result)) { 
				$.ajax({
		            url: "/auth/driver/register",
		            type: 'POST',
		            dataType: 'json',
		            contentType: 'application/json, charset=utf-8',
		            data: JSON.stringify(query_object),
		            cache: false,
		            success: function (data) {
		                if (data.status == "ok") {                                          
		                     alert("注册成功审核！");
		                     location.href = "/register/complete";
		                } else {
		                    alert(data.error.message);
		                }
		            },
		            error: function (xhr, status, error) {
		                alert("请检查您的输入");
		            }
		        });
			}
		}

		function sendCode() {
			var cell_phone = $('input[data-name="phone-no"]').val();

			var tmp = new Object();
			tmp['cell_phone'] = cell_phone;

			$.ajax({
	            url: "/auth/send/code",
	            type: 'POST',
	            dataType: 'json',
	            contentType: 'application/json, charset=utf-8',
	            data: JSON.stringify(tmp),
	            cache: false,
	            success: function (data) {
	                if (data.status == "ok") {                                          
	                     alert("发送成功");
	                } else {
	                    alert(data.error.message);
	                }
	            },
	            error: function (xhr, status, error) {
	                alert("请检查您的输入");
	            }
	        });
		}

	</script>
}
