@(cities : List[play.api.libs.json.JsValue])(vc : play.api.libs.json.JsValue)

@main_sub("驾驶员注册") {
    <script src="@routes.Assets.at("javascripts/routes-manager.js")"></script>
} {
	<div class="container-fluid content-bkg">
		<div class="container another-bkg">
			<div class="third-bkg">

				<label class="text-center driver-title">驾驶员注册认证</label>

				<i class="glyphicon glyphicon-star pull-right driver-compulsory"><span>为必填项目</span></i>

				<div class="driver-sep-line"></div>

				<div class="form-horizontal driver-mt" >
				
					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="driver-name" class="col-sm-2 control-label">姓名</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" data-name="driver-name">
						</div>
					</div>

					<div class="form-group" style="display: none;" data-name='driver-name-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请输入有效的驾驶员姓名
							</div>
						</div>
					</div>

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="legal-person" class="col-sm-2 control-label">身份证号码</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" data-name="driver-secial-id">
						</div>
					</div>

					<div class="form-group" style="display: none;" data-name='driver-id-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请输入有效的身份证号码
							</div>
						</div>
					</div>

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="business-license" class="col-sm-2 control-label">驾驶员行驶证</label>
						<div class="col-sm-9 business-license-btn">
							<input id="driver-image-upload" name="driver-image-upload[]" type="file" multiple=true class="file-loading">
						</div>
					</div>

					<div class="form-group" style="display: none;" data-name='driver-image-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请上传一张有效清晰的驾驶员行驶证
							</div>
						</div>
					</div>

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="business-license" class="col-sm-2 control-label">驾驶员驾驶证</label>
						<div class="col-sm-9 business-license-btn">
							<input id="driver-road-image" name="driver-road-image" type="file" multiple=true class="file-loading">
						</div>
					</div>

					<div class="form-group" style="display: none;" data-name='driver-road-image-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请上传一张有效清晰的驾驶员驾驶证照片
							</div>
						</div>
					</div>

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="principal-phone-no" class="col-sm-2 control-label">手机号码</label>
						<div class="col-sm-3">
							<select class="form-control" disabled>
								<option value="china">中国大陆&nbsp;&nbsp;+86</option>
							</select>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" data-name="phone-no">
						</div>
					</div>

					<div class="form-group" style="display: none;" data-name='driver-cellphone-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请填写有效的手机号码
							</div>
						</div>
					</div>

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="verifiable-code" class="col-sm-2 control-label" >动态验证码</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" data-name="code" placeholder="在此输入验证码" >
						</div>
						<div class="col-sm-2 verifiable-code-btn">
							<button type="button" class="btn" data-toggle="modal" data-target="verifiable-code-btn" onclick="sendCode()">获取动态验证码</button>
						</div>
					</div>

					<div class="form-group" style="display: none;" data-name='code-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请填写有效的动态验证码
							</div>
						</div>
					</div>

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="certificate-type" class="col-sm-2 control-label" >拥有车型</label>

						<div class="col-sm-9">
						@{(vc \ "vehicle").asOpt[List[String]].get map { x => 
							<div class="col-sm-2 checkbox">
								<label>
									<input data-name="vehicle" type="checkbox" value={x} /> {x}
								</label>
							</div>
						}}
						</div>
					</div>					

					<div class="form-group" style="display: none;" data-name='driver-own-vehicle-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请选择拥有车型
							</div>
						</div>
					</div>

<!-- 					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="legal-person" class="col-sm-2 control-label">载重</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" data-name="capacity" placeholder="吨">
						</div>
					</div>

					<div class="form-group" style="display: none;" data-name='driver-weight-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请填写有效的载重
							</div>
						</div>
					</div> -->

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="legal-person-id" class="col-sm-2 control-label">拥有车长</label>
						<div class="col-sm-9">
						@{(vc \ "vehicle_length").asOpt[List[Float]].get map { x => 
							<div class="col-sm-2 checkbox">
								<label>
									<input data-name="vehicle-length" type="checkbox" value={x.toString} /> {x.toString}米
								</label>
							</div>
						}}
						</div>			
					</div>			  

					<div class="form-group" style="display: none;" data-name='driver-length-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请填写有效的车长
							</div>
						</div>
					</div>

					<div class="form-group">
						<span class="col-sm-1 control-label"></span>
						<label for="principal-phone-no" class="col-sm-2 control-label">常用路线</label>

						<fieldset class="driver-line-lst">
							<div class="driver-line" style="min-height: 40px !important">

								<div class="col-sm-2" style="padding-right: 0px !important">
									<select class="form-control" data-name="origin-province" data-index="0" onchange="cityChanges($(this), $(this).parent().parent(), 1)">
										<option selected disabled>请选择省</option>
										@{cities map { iter => 
											<option value={(iter \ "province").asOpt[String].get}>{(iter \ "province").asOpt[String].get}</option>
										}};
									</select>
								</div>

								<div class="col-sm-2" style="padding-right: 0px !important">
									<select class="form-control" data-name="origin-city" data-index="1">
										<option selected disabled data-filter="choice" >请选择市</option>
										@{cities map { iter => (iter \ "cities").asOpt[List[String]].get map { x => 
											<option style="display:none" data-filter={(iter \ "province").asOpt[String].get} value={x}>{x}</option>
										}}};
									</select>
								</div>

								<div class="col-sm-2" style="text-align:center;">
								<!--
									<img  src="@routes.Assets.at("images/arrow/twoway.png")"> -->
									<i class="fa fa-exchange fa-2x" aria-hidden="true"></i>
								</div>

								<div class="col-sm-2" style="padding-right: 0px !important">
									<select class="form-control" data-name="destination-province" data-index="2" onchange="cityChanges($(this), $(this).parent().parent(), 3)">
										<option selected disabled data-filter="choice" >请选择省</option>
										@{cities map { iter => 
											<option value={(iter \ "province").asOpt[String].get}>{(iter \ "province").asOpt[String].get}</option>
										}};
									</select>
								</div>

								<div class="col-sm-2" style="padding-right: 0px !important">
									<select class="form-control" data-name="destination-city" data-index="3">
										<option selected disabled data-filter="choice" >请选择市</option>
										@{cities map { iter => (iter \ "cities").asOpt[List[String]].get map { x => 
											<option style="display:none" data-filter={(iter \ "province").asOpt[String].get} value={x}>{x}</option>
										}}};
									</select>
								</div>
						
								<button class="btn btn-sm btn-default driver-delete-btn" onclick="deleteRoute('driver-line', $(this), 5)"><i class="fa fa-trash-o fa-2x" style="color:#6E6E6E"></i> &nbsp;&nbsp;&nbsp; 删除</button> 


							</div>
						</fieldset>
					</div>		

					<div class="form-group">
						<span class="col-sm-1 control-label"></span>
						<label for="" class="col-sm-3 control-label"></label>
						<div class="business-license-btn">
							<button  data-name="driver-line-add" type="button" class="btn col-sm-7" onclick="addRoute('driver-line', $(this), 5)">新增常用路线</button>
						</div>
					</div>	

					<div class="form-group" style="display: none;" data-name='driver-line-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请填写有效的路线信息
							</div>
						</div>
					</div>

<!-- 					<div class="form-group">
						<span class="col-sm-1 control-label"></span>
						<label for="certificate-type" class="col-sm-2 control-label" >是否购买货物险</label>
						<div class="col-sm-4">
							<div class="radio">
								<label class="">
									<input type="radio" name="insurance" value="1"> 是
								</label>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="radio">
								<label class="">
									<input type="radio" name="insurance" value="0"> 否
								</label>
							</div>

						</div>
						
					</div>	   -->

<!--
					<div class="form-group" style="display: none;" data-name='driver-insurance-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请填写有效的车长
							</div>
						</div>
					</div>
-->

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox driver-register" >
								<label>
									<input type="checkbox" checked="true"><a href="/contract/driver" target="_blank">注册视为认同《易聚货会员服务协议》</a>
								</label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10 register-btn">
							<button class="btn btn-lg"  onclick="register()">注册</button>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10 register-btn">
							
						</div>
					</div>
					
				</div>

			</div>
		</div>
	</div>
} {
	<script type="text/javascript">
		var query_object;

		/**swap image one way & two way**/
        $(function(){
	        $(".img-swap").click(function(){
	            var src = ($(this).attr("src") == "@routes.Assets.at("images/arrow/oneway.png")")
	                    ?"@routes.Assets.at("images/arrow/twoway.png")"
	                    :"@routes.Assets.at("images/arrow/oneway.png")";
	            $(this).attr("src", src);
	        });
    	});

        /** 驾驶员行驶证图片上传**/
		var drive_image = new fileUpload($("#driver-image-upload"));
		/** 驾驶员驾驶证图片上传**/
		var road_image = new fileUpload($("#driver-road-image"));

		function set_city(province, city) { 

			var pv, cv; 
			var i, ii; 

			pv=province.value; 
			cv=city.value; 
			city.length=1; 

			if(pv=='0') return; 
			if(typeof(cities[pv])=='undefined') return; 

			for(i=0; i<cities[pv].length; i++) 
				{ 
					ii = i+1; 
					city.options[ii] = new Option(); 
					city.options[ii].text = cities[pv][i]; 
					city.options[ii].value = cities[pv][i]; 
				} 
		}

		function set_city_sec(province, city) { 

			var pv, cv; 
			var i, ii; 

			pv=province.value; 

			cv=city.value; 
			city.length=1; 

			if(pv=='0') return; 
			if(typeof(cities_sec[pv])=='undefined') return; 

			for(i=0; i<cities_sec[pv].length; i++) 
				{ 
					ii = i+1; 
					city.options[ii] = new Option(); 
					city.options[ii].text = cities_sec[pv][i]; 
					city.options[ii].value = cities_sec[pv][i]; 
				} 
		}


		function hasInput(str) {
			var result = (typeof(str) == "string") && (str != "");
			return result;
		}	

		function validate(ele, result, name) {
			if (result) $(ele).removeClass('validate-error');
			else $(ele).addClass('validate-error');

			if (name) {
				if (result) $(String(name)).css({"display": "none"});
				else $(String(name)).css({"display": "block"});
			}

			return result;
		}

		function validate_number(ele, value) {
			var tmp = Number(value);
			var result = typeof(tmp) != "undefined";
			if (result) $(ele).removeClass('validate-error');
			else $(ele).addClass('validate-error');
			return result;
		}

		function getDriverCommonInfo() {
			var result = true;

			var driver_name = $('input[data-name="driver-name"]').val();
			var regNameL = /[\u4E00-\u9FA5]{2,4}/; 
			result &= validate($('input[data-name="driver-name"]'), hasInput(driver_name) && regNameL.test(driver_name), 'div[data-name="driver-name-error"]');

			var driver_secial_id = $('input[data-name="driver-secial-id"]').val();
			var regIDL = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/; 
			result &= validate($('input[data-name="driver-secial-id"]'), hasInput(driver_secial_id) && regIDL.test(driver_secial_id), 'div[data-name="driver-id-error"]');

			var driver_images_arr = drive_image.queryFileNames();
			result &= validate(drive_image.getElement(), driver_images_arr.length == 1, 'div[data-name="driver-image-error"]');

			var road_image_arr = road_image.queryFileNames();
			result &= validate(road_image.getElement(), road_image_arr.length == 1, 'div[data-name="driver-road-image-error"]');

			var driver_phone_no = $('input[data-name="phone-no"]').val();
			var cell_phone_reg = /^1[3|4|5|7|8]\d{9}$/;
			result &= validate($('input[data-name="phone-no"]'), hasInput(driver_phone_no) && cell_phone_reg.test(driver_phone_no), 'div[data-name="driver-cellphone-error"]');

			var code = $('input[data-name="code"]').val();
			result &= validate($('input[data-name="code"]'), hasInput(code), 'div[data-name="code-error"]');

			// var driver_capacity = $('input[data-name="capacity"]').val();
			// var capacityReg = /^[0-9]*$/;
			// result &= validate($('input[data-name="capacity"]'), hasInput(driver_capacity) && capacityReg.test(driver_capacity), 'div[data-name="driver-weight-error"]');	
			
			// var driver_vehicle_length = $('input[data-name="vehicle-length"]').val();
			// var vehicleLengthReg = /^[0-9]*$/;
			// result &= validate($('input[data-name="vehicle-length"]'), hasInput(driver_vehicle_length) && vehicleLengthReg.test(driver_vehicle_length), 'div[data-name="driver-length-error"]');

			// var driver_type = $('input[data-name="vehicle"]:checked').val();
			// result &= validate($('input[data-name="vehicle"]'), (typeof(driver_type) != "undefined"), 'div[data-name="driver-own-vehicle-error"]');

//			var driver_insurance = $('input[data-name="insurance"]:checked').val();
//			result &= validate($('input[data-name="insurance"]'), (typeof(driver_insurance) != "undefined"), 'div[data-name="driver-insurance-error"]');

			if (Boolean(result)) {
				query_object = new Object();
				query_object['driver_name'] = driver_name;
				query_object['driver_secial_id'] = driver_secial_id;
				query_object['phone_no'] = driver_phone_no;
				query_object['cell_phone'] = driver_phone_no;
				// query_object['capacity'] = Number(driver_capacity);
				// query_object['vehicle_length'] = Number(driver_vehicle_length);
				//query_object['insurance'] = Number(driver_insurance);
				query_object['driver_image'] = driver_images_arr[0];
				query_object['road_image'] = road_image_arr[0];
				query_object['company_type'] = 0;
				query_object['code'] = code;
			};

			return Boolean(result);
		}

		function getDriverVehicle() {
			var result = true;
			var vehicle_lst = [];
			$.each($('input[data-name="vehicle"]:checked'), function(index, value){
				vehicle_lst.push($(this).val());
			});
			result &= validate($('input[data-name="vehicle"]'), vehicle_lst.length > 0)

			query_object['vehicle'] = vehicle_lst;
			return Boolean(result);
		}

		function getDriverVehicleLength() {
			var result = true;
			var vehicle_lst = [];
			$.each($('input[data-name="vehicle-length"]:checked'), function(index, value){
				vehicle_lst.push(Number($(this).val()));
			});
			result &= validate($('input[data-name="vehicle-length"]'), vehicle_lst.length > 0)

			query_object['vehicle_length'] = vehicle_lst;
			return Boolean(result);
		}

		function getDriverLines() {
			var result = true;
			var lines_lst = [];
			$.each($('.driver-line'), function( index, value ) {
				var origin_province = $(this).find('select[data-name="origin-province"]').val();
				result &= validate($(this).find('select[data-name="origin-province"]'), origin_province != null, 'div[data-name="driver-line-error"]');

				var origin_city = $(this).find('select[data-name="origin-city"]').val();
				result &= validate($(this).find('select[data-name="origin-city"]'), origin_city != null, 'div[data-name="driver-line-error"]');

				var destination_province = $(this).find('select[data-name="destination-province"]').val();
				result &= validate($(this).find('select[data-name="destination-province"]'), destination_province != null, 'div[data-name="driver-line-error"]');

				var destination_city = $(this).find('select[data-name="destination-city"]').val();
				result &= validate($(this).find('select[data-name="destination-city"]'), destination_city != null, 'div[data-name="driver-line-error"]');		

				if (Boolean(result)) {
					var tmp = new Object();
					tmp['origin_province'] = origin_province;
					tmp['origin_city'] = origin_city;
					tmp['destination_province'] = destination_province;
					tmp['destination_city'] = destination_city;

					lines_lst.push(tmp);
				};
			});
			query_object['driver_lines'] = lines_lst;
			return Boolean(result);
		}

		function register() {
			var result = getDriverCommonInfo();
			result &= getDriverLines();
			result &= getDriverVehicle();
			result &= getDriverVehicleLength();

			if (Boolean(result)) { 
				// $.ajax({
		  //           url: "/auth/driver/register",
		  //           type: 'POST',
		  //           dataType: 'json',
		  //           contentType: 'application/json, charset=utf-8',
		  //           data: JSON.stringify(query_object),
		  //           cache: false,
		  //           success: function (data) {
		  //               if (data.status == "ok") {                                          
		  //                    alert("提交成功，请等待审核！");
		  //                    location.href = "/register/complete";
		  //               } else {
		  //                   alert(data.error.message);
		  //               }
		  //           },
		  //           error: function (xhr, status, error) {
		  //               alert("请检查您的输入");
		  //           }
		  //       });

				codeCheck();
			}
		}

		function sendApplication() {
			var app_object = new Object();
			app_object['company_name'] = query_object['driver_name'];
			app_object['apply_type'] = 1; // driver_registration
			app_object['content'] = query_object;

			$.ajax({
	            url: "/apply/push",
	            type: 'POST',
	            dataType: 'json',
	            contentType: 'application/json, charset=utf-8',
	            data: JSON.stringify(app_object),
	            cache: false,
	            success: function (data) {
	                if (data.status == "ok") {                                          
	                     alert("提交成功，请等待审核！");
	                     location.href = "/register/complete";
	                } else {
	                    alert(data.error.message);
	                }
	            },
	            error: function (xhr, status, error) {
	                alert("请检查您的输入");
	            }
	        });
		}

		function sendCode() {
			var cell_phone = $('input[data-name="phone-no"]').val();

			var tmp = new Object();
			tmp['cell_phone'] = cell_phone;

			$.ajax({
	            url: "/auth/send/code",
	            type: 'POST',
	            dataType: 'json',
	            contentType: 'application/json, charset=utf-8',
	            data: JSON.stringify(tmp),
	            cache: false,
	            success: function (data) {
	                if (data.status == "ok") {                                          
	                     alert("发送成功");
	                } else {
	                    alert(data.error.message);
	                }
	            },
	            error: function (xhr, status, error) {
	                alert("请检查您的输入");
	            }
	        });
		}

		function codeCheck() {
			// var cell_phone = $('input[data-name="cell-phone"]').val();

			// var tmp = new Object();
			// tmp['cell_phone'] = cell_phone;

			$.ajax({
	            url: "/auth/code/check",
	            type: 'POST',
	            dataType: 'json',
	            contentType: 'application/json, charset=utf-8',
	            data: JSON.stringify(query_object),
	            cache: false,
	            success: function (data) {
	                if (data.status == "ok") {                                          
	                     sendApplication();
	                } else {
	                    alert(data.error.message);
	                }
	            },
	            error: function (xhr, status, error) {
	                alert("请检查您的输入");
	            }
	        });
		}

		function cityChanges(ele, container, index) {
			var a = Number($(ele).attr("data-index"));
			var province = $(ele).val();
			$(container).find('select[data-index="' + String(a + 1) + '"]').children().css({"display":"none"});
			$(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="choice"]').css({"display":"block"});
			$(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="' + province + '"]').css({"display":"block"});
		}
	</script>
}
