@(message: String)

@main("注册成功")  {
    
} {
	<section class="first">
		<div class="container"> 

		</div>
	</section>

	<div class="container-fluid">
		<div class="container">

			<div class="text-center col-sm-12 rc-mt">

				<div>
					<label class="rc-size">认证资料已提交成功，请耐心等待1-2个工作日的审核时间</label></br>
					<label class="rc-size rc-mt-setting">认证成功后系统将自动发送初始密码至您的手机，请尽快登录修改您的登录密码</label>
				</div>

				<div style="rc-mt-reset">
					<i class="fa fa-check-square fa-5x rc-color" aria-hidden="true"></i>
				</div>

			</div>

			<div class="text-center col-sm-12">
				<label class="rc-line"><a href="/index">等待三秒系统将自动跳转，若无法自动跳转，请手动点击跳转。谢谢！</a></label>
			</div>

		</div>
	</div>
} {
	<script type="text/javascript">
		$(function(){
			
		});
	</script>
}
