@(message: String)

@main("注册成功")  {
    
} {
	<div class="container-fluid">
		<div class="container another-bkg">
			<div class="text-center" style="margin-top: 200px">
				<div>
					<label style="font-size: 20px; ">认证资料已提交成功，请耐心等待1-2个工作日的审核时间</label>
					<label style="font-size: 20px; margin-top: 15px;">认证成功后系统将自动发送初始密码至您的手机，请尽快登录修改您的登录密码</label>
				</div>

				<div style="margin-top: 55px;">
					<img  src="@routes.Assets.at("images/certification/complete-logo.png")">
				</div>

				<div>
					<label style="font-size: 10px; margin-top: 140px;"><a href="/index">等待三秒系统将自动跳转，若无法自动跳转，请手动点击跳转。谢谢！</a></label>
				</div>

				</table>
			</div>
		</div>
	</div>
} {
	<script type="text/javascript">
		$(function(){
			
		});
	</script>
}
