@(cities : List[play.api.libs.json.JsValue])(vc : play.api.libs.json.JsValue)

@main("机构注册") {
    <script src="@routes.Assets.at("javascripts/routes-manager.js")"></script>
} {
	<div class="container-fluid content-bkg">
		<div class="container another-bkg">

			<!-- common step -->
			<div class="third-bkg" id='common-step'>
				<label style="font-size: 22px; margin-top: 10px" class="text-center">物流公司/厂家/专线 注册认证</label>

				<i class="glyphicon glyphicon-star pull-right" style="font-size: 15px; margin-top: 20px; margin-bottom: 5px;">为必填项目</i>

				<div style="margin:0; padding:0; width:100%; height:1px; background-color:#008bdc; overflow:hidden; margin-top:10px;"></div>

				<div class="form-horizontal" style="margin-top: 40px;">
					
					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label">企业全称</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" data-name='company-name' />
						</div>
					</div>

					<div class="form-group" style="display: none;" data-name='company-name-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请输入有效的公司名
							</div>
						</div>
					</div>

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="business-license" class="col-sm-2 control-label">工商营业执照</label>
						<div class="col-sm-9 business-license-btn">
							<input id="register-business-image" type="file" multiple=true class="file-loading" />
						</div>
					</div>

					<div class="form-group" style="display: none;" data-name='register-business-image-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请上传一张有效清晰的工商营业执照照片
							</div>
						</div>
					</div>

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="legal-person" class="col-sm-2 control-label">法定代表人</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" data-name='legal-person'>
						</div>
					</div>

					<div class="form-group" style="display: none;" data-name='legal-person-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请填写法定代表人
							</div>
						</div>
					</div>

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="legal-person-id" class="col-sm-2 control-label">法定代表人身份证</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" data-name='legal-person-id'>
						</div>
					</div>

					<div class="form-group" style="display: none;" data-name='legal-person-id-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请填写有效的法定代表人身份证
							</div>
						</div>
					</div>	  

					<div class="form-group">
						<span class="col-sm-1 control-label"></span>
						<label for="road-license" class="col-sm-2 control-label">道路运输许可证</label>
						<div class="col-sm-9 road-license-btn">
							<input id="road-image" type="file" multiple=true class="file-loading">
						</div>
						<div class="col-sm-9 col-sm-offset-3">
							<i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#F39C12;"><span style="color:#000000;margin-left: 10px">交通运输企业必须上传道路运输许可证，否则认证无法通过</span></i>
						</div>
					</div>

<!-- 道路许可证不是必填
					<div class="form-group" style="display: none;" data-name='road-image-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请上传一张有效清晰的道路运输许可证照片
							</div>
						</div>
					</div>
-->
					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="company-reg-address" class="col-sm-2 control-label">企业注册地址</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" data-name="reg-address" data-target="company-reg-address">
						</div>
					</div>

					<div class="form-group" style="display: none;" data-name='reg-address-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请填写有效的企业注册地址（不能输入特殊字符）
							</div>
						</div>
					</div>

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="company-phone-no" class="col-sm-2 control-label">企业办公电话</label>
						<div class="col-sm-2">
							<select class="form-control" disabled>
								<option value="china">中国大陆&nbsp;&nbsp;+86</option>
							</select>
						</div>
						<div class="col-sm-2">
							<input type="text" class="form-control" data-name="company-phone-dir" placeholder="区号">
						</div>
						<div class="col-sm-3">
							<input type="text" class="form-control" data-name="company-phone-no" placeholder="电话号">
						</div>
						<div class="col-sm-2">
							<input type="text" class="form-control" data-name="company-phone-sep" placeholder="分机(选填)">
						</div>
					</div>

					<div class="form-group" style="display: none;" data-name='company-phone-dir-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请填写有效的区号
							</div>
						</div>
					</div>  

					<div class="form-group" style="display: none;" data-name='company-phone-no-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请填写有效的办公室电话
							</div>
						</div>
					</div> 

					<div class="form-group" style="display: none;" data-name='company-phone-sep-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请填写有效的办公室分机号
							</div>
						</div>
					</div>    

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="principal-name" class="col-sm-2 control-label">主要负责人姓名</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" data-name="principal-name">
						</div>
					</div>

					<div class="form-group" style="display: none;" data-name='people-name-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请填写有效的姓名
							</div>
						</div>
					</div> 

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="principal-phone-no" class="col-sm-2 control-label">主要负责人手机号码</label>
						<div class="col-sm-3">
							<select class="form-control" disabled>
								<option value="china">中国大陆&nbsp;&nbsp;+86</option>
							</select>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" data-name="cell-phone">
						</div>
					</div>

					<div class="form-group" style="display: none;" data-name='cell-phone-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请填写有效的手机号
							</div>
						</div>
					</div>    

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="verifiable-code" class="col-sm-2 control-label" >动态验证码</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" data-name="code" placeholder="在此输入验证码" >
						</div>
						<div class="col-sm-2 verifiable-code-btn">
							<button type="button" class="btn" data-toggle="modal" data-target="verifiable-code-btn" onclick="sendCode()">获取动态验证码</button>
						</div>
					</div>

					<div class="form-group" style="display: none;" data-name='code-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请填写有效的动态验证码
							</div>
						</div>
					</div> 

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="certificate-type" class="col-sm-2 control-label" >认证类型</label>
						
						<div class="checkbox col-sm-2">
							<label>
								<input name='company-type' type="radio" value=1> 物流公司
							</label>
						</div>

						<div class="checkbox col-sm-2">
							<label>
								<input name='company-type' type="radio" value=2> 厂家
							</label>
						</div>

						<div class="checkbox col-sm-2">
							<label>
								<input name='company-type' type="radio" value=3> 专线
							</label>
						</div>
					</div>

					<div class="form-group" style="display: none;" data-name='company-type-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请选择公司注册类型
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox" style="text-align: center;">
								<label>
									<input type="checkbox" checked="true"><a href="/contract/company" target="_blank">注册视为认同《易聚货会员服务协议》</a>
								</label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10 register-btn">
							<button type="submit" class="btn btn-lg" onclick="nextStep()">下一步</button>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10"></div>
					</div>

				</div>
			</div>

			<!-- company step -->
			<div class="third-bkg" id='company-step'>
				<label style="font-size: 22px; margin-top: 10px" class="text-center">物流公司注册认证</label>

				<i class="glyphicon glyphicon-star pull-right" style="font-size: 15px; margin-top: 20px; margin-bottom: 5px;">为必填项目</i>

				<div style="margin:0; padding:0; width:100%; height:1px; background-color:#008bdc; overflow:hidden; margin-top:10px;"></div>

				<div class="form-horizontal" style="margin-top: 40px;">
				
					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="certificate-type" class="col-sm-2 control-label" >业务领域</label>

						<div class="col-sm-2 checkbox">
							<label>
								<input name="field" type="checkbox" value="公路"> 公路
							</label>
						</div>
						<div class="col-sm-2 checkbox">
							<label>
								<input name="field" type="checkbox" value="铁路"> 铁路
							</label>
						</div>						
						<div class="col-sm-2 checkbox">
							<label>
								<input name="field" type="checkbox" value="船运"> 船运
							</label>
						</div>
						<div class="col-sm-2 checkbox">
							<label>
								<input name="field" type="checkbox" value="航空"> 航空
							</label>
						</div>							
					</div>

					<div class="form-group" style="display: none;" data-name='field-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-8">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请至少选择一个业务领域
							</div>
						</div>
					</div> 	

					<div class="form-group" >
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="principal-phone-no" class="col-sm-2 control-label">营业范围</label>

						<fieldset class="company-line-lst" >
							<div class="company-line" style="min-height: 40px !important">
								<div class="col-sm-2" style="padding-right: 0px !important">
									<select class="form-control" data-name="origin-province" data-index="0" onchange="cityChanges($(this), $(this).parent().parent(), 1)">
										<option selected disabled>请选择省</option>
										@{cities map { iter => 
											<option value={(iter \ "province").asOpt[String].get}>{(iter \ "province").asOpt[String].get}</option>
										}};
									</select>
								</div>

								<div class="col-sm-2" style="padding-right: 0px !important">
									<select class="form-control" data-name="origin-city" data-index="1">
										<option selected disabled data-filter="choice" >请选择市</option>
										@{cities map { iter => (iter \ "cities").asOpt[List[String]].get map { x => 
											<option style="display:none" data-filter={(iter \ "province").asOpt[String].get} value={x}>{x}</option>
										}}};
									</select>
								</div>

							<div class="col-sm-2" style="text-align:center;">
							<!--
								<img  src="@routes.Assets.at("images/arrow/twoway.png")"> -->
								<i class="fa fa-exchange fa-2x" aria-hidden="true"></i>
							</div>

								<div class="col-sm-2" style="padding-right: 0px !important">
									<select class="form-control" data-name="destination-province" data-index="2" onchange="cityChanges($(this), $(this).parent().parent(), 3)">
										<option selected disabled data-filter="choice" >请选择省</option>
										@{cities map { iter => 
											<option value={(iter \ "province").asOpt[String].get}>{(iter \ "province").asOpt[String].get}</option>
										}};
									</select>
								</div>

								<div class="col-sm-2" style="padding-right: 0px !important">
									<select class="form-control" data-name="destination-city" data-index="3">
										<option selected disabled data-filter="choice" >请选择市</option>
										@{cities map { iter => (iter \ "cities").asOpt[List[String]].get map { x => 
											<option style="display:none" data-filter={(iter \ "province").asOpt[String].get} value={x}>{x}</option>
										}}};
									</select>
								</div>
								<button class="btn btn-sm btn-default" style="margin-left: 5px !important; background: none !important; border:none !important" onclick="deleteRoute('company-line', $(this), 6)"><i class="fa fa-trash-o fa-2x" style="color:#6E6E6E"></i>删除</button>

							</div>
						</fieldset>
					</div>	

					<div class="form-group">
					<span class="col-sm-1 control-label"></span>
						<label for="" class="col-sm-3 control-label"></label>
						<div class="col-sm-offset-4 col-sm-8 business-license-btn">
							<button data-name="company-line-add" onclick="addRoute('company-line', $(this), 6)" type="button" class="btn col-sm-9">新增主营路线</button>
						</div>
					</div>	

					<div class="form-group" style="display: none;" data-name='company-line-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-8">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	至少选择一个完整的主营路线
							</div>
						</div>
					</div>								

					<div class="form-group">
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label">公司网站</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" data-name="company-web">
						</div>
					</div>

					<div class="form-group">
						<span class="col-sm-1 control-label"></span>
						<label for="legal-person" class="col-sm-2 control-label">公司传真</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" data-name="company-fax">
						</div>
					</div>

					<div class="form-group">
						<span class="col-sm-1 control-label"></span>
						<label for="legal-person-id" class="col-sm-2 control-label">公司邮箱</label>
						<div class="col-sm-9">
							<input type="email" class="form-control" data-name="company-email">
						</div>
					</div>			  


					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox" style="text-align: center;">
								<label>
									<input type="checkbox" checked><a href="/contract/company" target="_blank">注册视为认同《易聚货会员服务协议》</a>
								</label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-4 register-btn">
							<button type="submit" class="btn btn-lg" style="margin-bottom: 20px" onclick="proviousStep()">上一步</button>
						</div>
						<div class="col-sm-offset-2 col-sm-4 register-btn">
							<button type="submit" class="btn btn-lg" style="margin-bottom: 20px" onclick="register()">注册</button>
						</div>
					</div>

				</div>
			</div>

			<!-- indusry step -->
			<div class="third-bkg" id='industry-step' style="height: 600px;">
				<label style="font-size: 22px; margin-top: 10px" class="text-center">厂家注册认证</label>

				<i class="glyphicon glyphicon-star pull-right" style="font-size: 15px; margin-top: 20px; margin-bottom: 5px;">为必填项目</i>

				<div style="margin:0; padding:0; width:100%; height:1px; background-color:#008bdc; overflow:hidden; margin-top:10px;"></div>

				<div class="form-horizontal" style="margin-top: 40px;">								
				
					<div class="form-group">
						<label for="company-name" class="col-sm-2 control-label">公司网站</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" data-name="industry-web">
						</div>
					</div>

					<div class="form-group">
						<label for="legal-person" class="col-sm-2 control-label">公司传真</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" data-name="industry-fax">
						</div>
					</div>

					<div class="form-group">
						<label for="legal-person-id" class="col-sm-2 control-label">公司邮箱</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" data-name="industry-email">
						</div>
					</div>			  


					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox" style="text-align: center;">
								<label>
									<input type="checkbox" checked="true"><a href="/contract/company" target="_blank">注册视为认同《易聚货会员服务协议》</a>
								</label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-4 register-btn">
							<button type="submit" class="btn btn-lg" style="margin-bottom: 20px" onclick="proviousStep()">上一步</button>
						</div>
						<div class="col-sm-offset-2 col-sm-4 register-btn">
							<button type="submit" class="btn btn-lg" style="margin-bottom: 20px" onclick="register()">注册</button>
						</div>
					</div>
				</div>
			</div>

			<!-- spical step -->
			<div class="third-bkg" id='spical-step'>
				<label style="font-size: 22px; margin-top: 10px" class="text-center">专线注册认证</label>

				<i class="glyphicon glyphicon-star pull-right" style="font-size: 15px; margin-top: 20px; margin-bottom: 5px;">为必填项目</i>

				<div style="margin:0; padding:0; width:100%; height:1px; background-color:#008bdc; overflow:hidden; margin-top:10px;"></div>

				<div class="form-horizontal" style="margin-top: 40px;">			

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>

						<label for="principal-phone-no" class="col-sm-2 control-label">主营线路</label>

						<fieldset class="special-lines-lst" >
							<div class="special-line" style="min-height: 40px !important">
								<div class="col-sm-2" style="padding-right: 0px !important">
									<select class="form-control" data-name="origin-province" data-index="0" onchange="cityChanges($(this), $(this).parent().parent(), 1)">
										<option selected disabled>请选择省</option>
										@{cities map { iter => 
											<option value={(iter \ "province").asOpt[String].get}>{(iter \ "province").asOpt[String].get}</option>
										}};
									</select>
								</div>

								<div class="col-sm-2" style="padding-right: 0px !important">
									<select class="form-control" data-name="origin-city" data-index="1">
										<option selected disabled data-filter="choice" >请选择市</option>
										@{cities map { iter => (iter \ "cities").asOpt[List[String]].get map { x => 
											<option style="display:none" data-filter={(iter \ "province").asOpt[String].get} value={x}>{x}</option>
										}}};
									</select>
								</div>

								<div class="col-sm-2" style="text-align:center;">
									<i class="fa fa-long-arrow-right fa-2x" aria-hidden="true"></i>
								</div>

								<div class="col-sm-2" style="padding-right: 0px !important">
									<select class="form-control" data-name="destination-province" data-index="2" onchange="cityChanges($(this), $(this).parent().parent(), 3)">
										<option selected disabled data-filter="choice" >请选择省</option>
										@{cities map { iter => 
											<option value={(iter \ "province").asOpt[String].get}>{(iter \ "province").asOpt[String].get}</option>
										}};
									</select>
								</div>

								<div class="col-sm-2" style="padding-right: 0px !important">
									<select class="form-control" data-name="destination-city" data-index="3">
										<option selected disabled data-filter="choice" >请选择市</option>
										@{cities map { iter => (iter \ "cities").asOpt[List[String]].get map { x => 
											<option style="display:none" data-filter={(iter \ "province").asOpt[String].get} value={x}>{x}</option>
										}}};
									</select>
								</div>
								<button class="btn btn-sm btn-default" style="margin-left: 20px !important; background: none !important; border:none !important;" onclick="deleteRoute('special-line', $(this), 5)"><i class="fa fa-trash-o fa-2x" style="color:#6E6E6E"></i>删除</button>
							</div>
						</fieldset>
					</div>
				
					<div class="form-group">
						<label for="" class="col-sm-3 control-label"></label>
						<div class="col-sm-offset-4 col-sm-8 business-license-btn">
							<button  data-name="special-line-add" type="button" class="btn col-sm-9" onclick="addRoute('special-line', $(this), 5)">新增主营路线</button>
						</div>
					</div>

					<div class="form-group" style="display: none;" data-name='special-line-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-8">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	至少选择一个完整的主营路线
							</div>
						</div>
					</div>	


					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="principal-phone-no" class="col-sm-2 control-label">仓库地址</label>
						
					<fieldset class="special-storage-lst">
						<div class="special-storage" style="min-height: 40px !important;"> 
							
							<div class="col-sm-2" style="padding-right: 0px !important">
								<select class="form-control" data-name="province" data-index="0" onchange="cityChanges($(this), $(this).parent().parent(), 1)">
									<option selected disabled>请选择省</option>
									@{cities map { iter => 
										<option value={(iter \ "province").asOpt[String].get}>{(iter \ "province").asOpt[String].get}</option>
									}};
								</select>
							</div>

							<div class="col-sm-2" style="padding-right: 0px !important">
								<select class="form-control" data-name="city" data-index="1" onchange="districtChanges($(this), $(this).parent().parent(), 1)">
									<option selected disabled data-filter="choice" >请选择市</option>
									@{cities map { iter => (iter \ "cities").asOpt[List[String]].get map { x => 
										<option style="display:none" data-filter={(iter \ "province").asOpt[String].get} value={x}>{x}</option>
									}}};
								</select>
							</div>

							<div class="col-sm-2" style="padding-right: 0px !important">
								<select class="form-control" data-name='district' data-index='2'>
									<option selected disabled data-filter="choice" >请选择区</option>
									@{cities map { iter => (iter \ "city_ditails").asOpt[List[play.api.libs.json.JsValue]].get map { inner => 
										(inner \ "districts").asOpt[List[String]].get map { x => 
										<option style="display:none" data-filter={(inner \ "city").asOpt[String].get} value={x}>{x}</option>
									}}}};
								</select>
							</div>

							<button class="btn btn-sm btn-default" style="margin-left: 5px !important; background: none !important; border:none !important" onclick="deleteRoute('special-storage', $(this), 5)"><i class="fa fa-trash-o fa-2x" style="color:#6E6E6E"></i>删除</button>

							<div class="col-sm-12" style="margin-top: 5px;">
								<textarea type="address" data-name='address' class="form-control" rows="3" placeholder="填写详细地址"></textarea>
							</div>
					
						</div>
					</fieldset>
					</div>

					<div class="form-group">
						<label for="" class="col-sm-3 control-label"></label>
						<div class="col-sm-offset-4 col-sm-8 business-license-btn" style="margin-bottom: 10px">
							<button data-name="special-storage-add" type="button" class="btn col-sm-9" onclick="addRoute('special-storage', $(this), 5)">新增仓库地址</button>
						</div>
					</div>									
				
					<div class="form-group" style="display: none;" data-name='special-storage-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-8">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	至少填写一个完整的仓库地址
							</div>
						</div>
					</div>	

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="certificate-type" class="col-sm-2 control-label" >发车时效</label>

						<div class="col-sm-3 radio">
							<label>
								<input name="occation" type="radio" value="0"> 天天发车
							</label>
						</div>

						<div class="col-sm-3 radio">
							<label>
								<input name="occation" type="radio" value="1"> 隔天发车
							</label>
						</div>						
						
					</div>

					<div class="form-group" style="display: none;" data-name='special-way-time-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请选择发车时效
							</div>
						</div>
					</div>	

					<div class="form-group">
						<span class="glyphicon glyphicon-star col-sm-1 control-label"></span>
						<label for="certificate-type" class="col-sm-2 control-label" >拥有车型</label>

						<div class="col-sm-offset-3">
						@{(vc \ "vehicle").asOpt[List[String]].get map { x =>
                            <div class="col-sm-2 checkbox">
                                <label><input name="vehicle" type="checkbox" value={x} /> {x} </label>
                            </div>
                        }}
						</div>
					</div>

					<div class="form-group" style="display: none;" data-name='special-field-error'>
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<div class="alert alert-danger" role="alert">
							  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  	<span class="sr-only">Error:</span>
							  	请至少选择一个拥有车型
							</div>
						</div>
					</div> 	

					<div class="form-group">
						<span class="col-sm-1 control-label"></span>
						<label for="company-name" class="col-sm-2 control-label">公司网站</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" data-name="specialway-web">
						</div>
					</div>


					<div class="form-group">
						<span class="col-sm-1 control-label"></span>
						<label for="legal-person" class="col-sm-2 control-label">公司传真</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" data-name="specialway-fax">
						</div>
					</div>

					<div class="form-group">
						<span class="col-sm-1 control-label"></span>
						<label for="legal-person-id" class="col-sm-2 control-label">公司邮箱</label>
						<div class="col-sm-9">
							<input type="email" class="form-control" data-name="specialway-email">
						</div>
					</div>			  


					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox" style="text-align: center;">
								<label>
									<input type="checkbox" checked="true"><a href>注册视为认同《易聚货会员服务协议》</a>
								</label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-4 register-btn">
							<button type="submit" class="btn btn-lg" style="margin-bottom: 20px" onclick="proviousStep()">上一步</button>
						</div>
						<div class="col-sm-offset-2 col-sm-4 register-btn">
							<button type="submit" class="btn btn-lg" style="margin-bottom: 20px" onclick="register()">注册</button>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
} {
	<script type="text/javascript">
		var query_object;

		$(function(){
			$('#company-step').hide();
			$('#industry-step').hide();
			$('#spical-step').hide();
		});

		/**swap image one way & two way**/
        
        $(".img-swap").click(function(){
            var src = ($(this).attr("src") == "@routes.Assets.at("images/arrow/oneway.png")")
                    ?"@routes.Assets.at("images/arrow/twoway.png")"
                    :"@routes.Assets.at("images/arrow/oneway.png")";
            $(this).attr("src", src);
        });

		/** 工商营业执照图片上传**/
		var register_business_image = new fileUpload($("#register-business-image"));
		/** 道路许可证图片上传**/
		var road_image = new fileUpload($("#road-image"));

		function validate(ele, result, name) {
			if (result) $(ele).removeClass('validate-error');
			else $(ele).addClass('validate-error');

			if (name) {
				if (result) $(String(name)).css({"display": "none"});
				else $(String(name)).css({"display": "block"});
			}

			return result;
		}

		function nextStep() {
			var result = getIndexInfo();
			if (!result) {
				return;
			};

			var t = $('input[name="company-type"]:checked').val();
			$('#common-step').hide();
			if (t == 1) {
				$('#company-step').show();
			} else if (t == 2) {
				$('#industry-step').show();
			} else if (t == 3) {
				$('#spical-step').show();
			}
		} 

		function getIndexInfo() {
			var result = true;

			var company_name = $('input[data-name="company-name"]').val();
			var regCompName = /[\u4e00-\u9fa5]/;
			result &= validate($('input[data-name="company-name"]'), hasInput(company_name) && regCompName.test(company_name), 'div[data-name="company-name-error"]');

			var legal_person = $('input[data-name="legal-person"]').val();
			var regNameL = /[\u4E00-\u9FA5]{2,5}(?:·[\u4E00-\u9FA5]{2,5})*/; 
			result &= validate($('input[data-name="legal-person"]'), hasInput(legal_person) && regNameL.test(legal_person), 'div[data-name="legal-person-error"]');

			var legal_person_id = $('input[data-name="legal-person-id"]').val();
			var regIDL = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/; 
			result &= validate($('input[data-name="legal-person-id"]'), hasInput(legal_person_id) && regIDL.test(legal_person_id), 'div[data-name="legal-person-id-error"]');

			var company_reg_address = $('input[data-name="reg-address"]').val();

			//var regCPAD = /^[0-9]*$/;
			//var regCPADD =/^[A-Za-z]+$/;
			//result &= validate($('input[data-name="reg-address"]'), hasInput(company_reg_address) && !regCPAD.test(company_reg_address) && !regCPADD.test(company_reg_address), 'div[data-name="reg-address-error"]');

			//地址只能输入中文，英文或者数字
			var newCPA = /"[a-zA-Z\u4e00-\u9fa5][a-zA-Z0-9\u4e00-\u9fa5]+"/;
			result &= validate($('input[data-name="reg-address"]'), hasInput(company_reg_address) && !newCPA.test(company_reg_address), 'div[data-name="reg-address-error"]');


			var company_phone_dir = $('input[data-name="company-phone-dir"]').val();
			var regIDLD = /^[0-9]*$/;
			result &= validate($('input[data-name="company-phone-dir"]'), regIDLD.test(company_phone_dir), 'div[data-name="company-phone-dir-error"]');

			var company_phone_no = $('input[data-name="company-phone-no"]').val();
			var regCPN = /^[0-9]*$/;
			result &= validate($('input[data-name="company-phone-no"]'), hasInput(company_phone_no) && regCPN.test(company_phone_no), 'div[data-name="company-phone-no-error"]');			
			
			var company_phone_sep = $('input[data-name="company-phone-sep"]').val();
			var regIDLDS = /^[0-9]*$/; 
			result &= validate($('input[data-name="company-phone-sep"]'), !hasInput(company_phone_sep) || regIDLDS.test(company_phone_sep), 'div[data-name="company-phone-sep-error"]');

			var company_type = $('input[name="company-type"]:checked').val();
			result &= validate($('input[name="company-type"]'), (typeof(company_type) != "undefined"), 'div[data-name="company-type-error"]');

			var business_images = register_business_image.queryFileNames();
			result &= validate(register_business_image.getElement(), business_images.length == 1, 'div[data-name="register-business-image-error"]');

			var road_image_arr = road_image.queryFileNames();
//			result &= validate(road_image.getElement(), road_image_arr.length == 1, 'div[data-name="road-image-error"]');

			var principal_person = $('input[data-name="principal-name"]').val();
			var regNamePL = /[\u4E00-\u9FA5]{2,5}(?:·[\u4E00-\u9FA5]{2,5})*/; 
			result &= validate($('input[data-name="principal-name"]'), hasInput(principal_person) && regNamePL.test(principal_person), 'div[data-name="people-name-error"]');
			
			var cell_phone = $('input[data-name="cell-phone"]').val();
			var cell_phone_reg = /^1[3|4|5|7|8]\d{9}$/;
			result &= validate($('input[data-name="cell-phone"]'), hasInput(cell_phone) && cell_phone_reg.test(cell_phone), 'div[data-name="cell-phone-error"]');

			var code = $('input[data-name="code"]').val();
			result &= validate($('input[data-name="code"]'), hasInput(code), 'div[data-name="code-error"]');

			if (Boolean(result)) {
				query_object = new Object();
				query_object['company_type'] = Number(company_type);
        		query_object['company_name'] = company_name;
        		query_object['legal_person'] = legal_person;
        		query_object['legal_person_id'] = legal_person_id;
        		query_object['address'] = company_reg_address;
        		query_object['phone_dir'] = company_phone_dir;
        		query_object['phone_no'] = company_phone_no;
        		query_object['phone_sep'] = company_phone_sep;
        		query_object['business_image'] = business_images[0];
        		if (road_image_arr.length > 0)
        			query_object['road_image'] = road_image_arr[0];
        		query_object['cell_phone'] = cell_phone;
        		query_object['code'] = code;
			}

			return Boolean(result);
		}

		function getCompanylines() {
			var lines_lst = [];
			$.each($('.company-line'), function( index, value ) {
				var result = true;
				var origin_province = $(this).find('select[data-name="origin-province"]').val();
				result &= validate($(this).find('select[data-name="origin-province"]'), (origin_province != null));

				var origin_city = $(this).find('select[data-name="origin-city"]').val();
				result &= validate($(this).find('select[data-name="origin-city"]'), (origin_city != null));

				var destination_province = $(this).find('select[data-name="destination-province"]').val();
				result &= validate($(this).find('select[data-name="destination-province"]'), (destination_province != null));

				var destination_city = $(this).find('select[data-name="destination-city"]').val();
				result &= validate($(this).find('select[data-name="destination-city"]'), (destination_city != null));

				if (Boolean(result)) {
					var tmp = new Object();
					tmp['origin_province'] = origin_province;
					tmp['origin_city'] = origin_city;
					tmp['destination_province'] = destination_province;
					tmp['destination_city'] = destination_city;

					lines_lst.push(tmp);
				};
			});
			var final_result = lines_lst.length > 0;
			if (final_result) {
				query_object['company_lines'] = lines_lst;
			}
			validate($(), final_result, 'div[data-name="company-line-error"]');
			return Boolean(final_result);
		}

		function getCompanyBusinessInfo() {
			var result = false;
			var field_lst = [];
			$.each($('input[name="field"]:checked'), function(index, value) {
				field_lst.push($(this).val());
			});

			if (field_lst.length > 0) {
				result = true;
				query_object['company_business'] = field_lst;
			}

			validate($('input[name="field"]'), result, 'div[data-name="field-error"]');
			return result;
		}

		function getCompanyInfo() {
			var result = true;

			result &= getCompanyBusinessInfo();
			result &= getCompanylines();

			var company_web = $('input[data-name="company-web"]').val();
			var company_fax = $('input[data-name="company-fax"]').val();
			var company_email = $('input[data-name="company-email"]').val();	 

			if (Boolean(result)) {
				query_object['company_web'] = company_web;
				query_object['company_fax'] = company_fax;
				query_object['company_email'] = company_email;
			}

			return Boolean(result);
		}

		function getSpecialWayVechile() {

			var result = false;
			var field_lst = [];
			$.each($('input[name="vehicle"]:checked'), function(index, value) {
				field_lst.push($(this).val());
			});

			if (field_lst.length > 0) {
				result = true;
				query_object['company_business'] = field_lst;
			}

			validate($('input[name="vehicle"]'), result, 'div[data-name="special-field-error"]');
			return result;

		}

		function getIndustryInfo() {
			var result = true;
			var industry_web = $('input[data-name="industry-web"]').val();
			var industry_fax = $('input[data-name="industry-fax"]').val();
			var industry_email = $('input[data-name="industry-email"]').val();

/**			
			result &= validate($('input[data-name="industry-email"]'), hasInput(industry_email));
**/
			if (Boolean(result)) {
				query_object['industry_web'] = industry_web;
				query_object['industry_fax'] = industry_fax;
				query_object['industry_email'] = industry_email;
			}

			return Boolean(result);
		}

		function getSpecialwaylines() {
			var result = true;
			var lines_lst = [];
			$.each($('.special-line'), function( index, value ) {
				var origin_province = $(this).find('select[data-name="origin-province"]').val();
				result &= validate($(this).find('select[data-name="origin-province"]'), origin_province != null);

				var origin_city = $(this).find('select[data-name="origin-city"]').val();
				result &= validate($(this).find('select[data-name="origin-city"]'), origin_city != null);

				var destination_province = $(this).find('select[data-name="destination-province"]').val();
				result &= validate($(this).find('select[data-name="destination-province"]'), destination_province != null);

				var destination_city = $(this).find('select[data-name="destination-city"]').val();
				result &= validate($(this).find('select[data-name="destination-city"]'), destination_city != null);		

				if (Boolean(result)) {
					var tmp = new Object();
					tmp['origin_province'] = origin_province;
					tmp['origin_city'] = origin_city;
					tmp['destination_province'] = destination_province;
					tmp['destination_city'] = destination_city;

					lines_lst.push(tmp);
				};
			});

			var final_result = lines_lst.length > 0;
			if(final_result) {
				query_object['special_lines']=lines_lst;
			}
			validate($(),final_result,'div[data-name="special-line-error"]');
			query_object['special_lines'] = lines_lst;
			return Boolean(result);
		}

		function getSpecialwayStorage() {
			var result = true;
			var storage_lst = [];
			$.each($('.special-storage'), function( index, value ) {
				var province = $(this).find('select[data-name="province"]').val();
				result &= validate($(this).find('select[data-name="province"]'), (typeof(province) != "undefined"));

				var city = $(this).find('select[data-name="city"]').val();
				result &= validate($(this).find('select[data-name="city"]'), (typeof(city) != "undefined"));

				var district = $(this).find('select[data-name="district"]').val();
				result &= validate($(this).find('select[data-name="district"]'), (typeof(district) != "undefined"));

				var address = $(this).find('textarea[data-name="address"]').val();
				result &= validate($(this).find('select[data-name="address"]'), hasInput(address));

				if (Boolean(result)) {
					var tmp = new Object();
					tmp['province'] = province;
					tmp['city'] = city;
					tmp['district'] = district;
					tmp['address'] = address;

					storage_lst.push(tmp);
				};
			});

			var final_result = storage_lst.length > 0;
			if(final_result) {
				query_object['special_storage'] = storage_lst;
			}
			validate($(),final_result,'div[data-name="special-storage-error"]');
			
			return Boolean(result);
		}

		function getSpecialwayVehicle() {
			var result = true;
			var vehicle_lst = [];
			$.each($('input[name="vehicle"]:checked'), function(index, value){
				vehicle_lst.push($(this).val());
			});
			result &= validate($('input[name="vehicle"]'), vehicle_lst.length > 0)

			query_object['vehicle'] = vehicle_lst;
			return Boolean(result);
		}

		function getSpecialwayInfo() {
			var result = true;

			var special_occation = $('input[name="occation"]:checked').val();
			result &= validate($('input[name="occation"]'), (typeof(special_occation) != "undefined"),'div[data-name="special-way-time-error"]');


			var driver_type = $('input[name="vehicle"]:checked').val();
			result &= validate($('input[name="vehicle"]'), (typeof(driver_type) != "undefined"), 'div[data-name="special-field-error"]');

			result &= getSpecialwayStorage();
			result &= getSpecialwaylines();
			result &= getSpecialwayVehicle();



			var special_web = $('input[data-name="specialway-web"]').val();
			var special_fax = $('input[data-name="specialway-fax"]').val();
			var special_email = $('input[data-name="specialway-email"]').val();

/**
			result &= validate($('input[data-name="specialway-email"]'), hasInput(special_email));
			**/
			if (Boolean(result)) {
				query_object['special_occation'] = Number(special_occation)
				query_object['special_web'] = special_web;
				query_object['special_fax'] = special_fax;
				query_object['special_email'] = special_email;
			}

			return Boolean(result);
		}

		function hasInput(str) {
			var result = (typeof(str) == "string") && (str != "");
			return result;
		}

		function register() {
			var t = $('input[name="company-type"]:checked').val();
			// $('#common-step').hide();
			var result;
			if (t == 1) {
				result = getCompanyInfo();
			} else if (t == 2) {
				result = getIndustryInfo();
			} else if (t == 3) {
				result = getSpecialwayInfo();
			}

			if (!result) return;


			// $.ajax({
	  //           url: "/auth/register",
	  //           type: 'POST',
	  //           dataType: 'json',
	  //           contentType: 'application/json, charset=utf-8',
	  //           data: JSON.stringify(query_object),
	  //           cache: false,
	  //           success: function (data) {
	  //               if (data.status == "ok") {                                          
	  //                    alert("提交成功，请等待审核！");
	  //                    location.href = "/register/complete";
	  //               } else {
	  //                   alert(data.error.message);
	  //               }
	  //           },
	  //           error: function (xhr, status, error) {
	  //               alert("请检查您的输入");
	  //           }
	  //       });

			codeCheck();
		}

		function sendApplication() {
			var app_object = new Object();
			app_object['company_name'] = query_object['company_name'];
			app_object['apply_type'] = 0; // company_registration
			app_object['content'] = query_object;

			$.ajax({
	            url: "/apply/push",
	            type: 'POST',
	            dataType: 'json',
	            contentType: 'application/json, charset=utf-8',
	            data: JSON.stringify(app_object),
	            cache: false,
	            success: function (data) {
	                if (data.status == "ok") {                                          
	                     alert("提交成功，请等待审核！");
	                     location.href = "/register/complete";
	                } else {
	                    alert(data.error.message);
	                }
	            },
	            error: function (xhr, status, error) {
	                alert("请检查您的输入");
	            }
	        });
		}

		function sendCode() {
			var cell_phone = $('input[data-name="cell-phone"]').val();

			var tmp = new Object();
			tmp['cell_phone'] = cell_phone;

			$.ajax({
	            url: "/auth/send/code",
	            type: 'POST',
	            dataType: 'json',
	            contentType: 'application/json, charset=utf-8',
	            data: JSON.stringify(tmp),
	            cache: false,
	            success: function (data) {
	                if (data.status == "ok") {                                          
	                     alert("发送成功");
	                } else {
	                    alert(data.error.message);
	                }
	            },
	            error: function (xhr, status, error) {
	                alert("请检查您的输入");
	            }
	        });
		}

		function codeCheck() {
			// var cell_phone = $('input[data-name="cell-phone"]').val();

			// var tmp = new Object();
			// tmp['cell_phone'] = cell_phone;

			$.ajax({
	            url: "/auth/code/check",
	            type: 'POST',
	            dataType: 'json',
	            contentType: 'application/json, charset=utf-8',
	            data: JSON.stringify(query_object),
	            cache: false,
	            success: function (data) {
	                if (data.status == "ok") {                                          
	                     sendApplication();
	                } else {
	                    alert(data.error.message);
	                }
	            },
	            error: function (xhr, status, error) {
	                alert("请检查您的输入");
	            }
	        });
		}

		function cityChanges(ele, container, index) {
			var a = Number($(ele).attr("data-index"));
			var province = $(ele).val();
			$(container).find('select[data-index="' + String(a + 1) + '"]').children().css({"display":"none"});
			$(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="choice"]').css({"display":"block"});
			$(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="' + province + '"]').css({"display":"block"});
		}

		function districtChanges(ele, container, index) {
			var a = Number($(ele).attr("data-index"));
			var city = $(ele).val();
			$(container).find('select[data-index="' + String(a + 1) + '"]').children().css({"display":"none"});
			$(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="choice"]').css({"display":"block"});
			$(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="' + city + '"]').css({"display":"block"});
		}

		function proviousStep() {
			$('#company-step').hide();
			$('#industry-step').hide();
			$('#spical-step').hide();
			$('#common-step').show();
		}
	</script>
}
