@(message: String)

@main("注册成功")  {
    
} {
	<div class="container-fluid">
		<div class="container">
			<div class="col-sm-12">
				<img src="@routes.Assets.at("images/registercomplete/dec-one.png")">
			</div>

			<div class="text-center col-sm-12">

				<div>
					<label style="font-size: 15px; ">认证资料已提交成功，请耐心等待1-2个工作日的审核时间</label></br>
					<label style="font-size: 15px; margin-top: 15px;">认证成功后系统将自动发送初始密码至您的手机，请尽快登录修改您的登录密码</label>
				</div>

				<div style="margin-top: 55px;">
					<i class="fa fa-check-square fa-5x" aria-hidden="true" style="color: #40c3f3"></i>
				</div>

			</div>

			<div class="text-center col-sm-12">
				<label style="font-size: 10px; margin-top: 100px;"><a href="/index">等待三秒系统将自动跳转，若无法自动跳转，请手动点击跳转。谢谢！</a></label>
			</div>

		</div>
	</div>
} {
	<script type="text/javascript">
		$(function(){
			
		});
	</script>
}
