@(title: String)(name : String)(include: Html)(siders : Html)(content: Html)(scripts: Html)

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="keywords" content="keywords">
        <meta name="description" content="description">

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script> 
        <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <link href="@routes.Assets.at("bootstrap/css/bootstrap.css")" rel="stylesheet">

        <!-- HELPERS -->
        <link href="@routes.Assets.at("stylesheets/helpers/animate.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/helpers/backgrounds.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/helpers/boilerplate.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/helpers/border-radius.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/helpers/grid.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/helpers/page-transitions.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/helpers/spacing.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/helpers/typography.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/helpers/utils.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/helpers/colors.css")" rel="stylesheet">

        <!-- Admin responsive -->
        <link href="@routes.Assets.at("stylesheets/helpers/responsive-elements.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/helpers/admin-responsive.css")" rel="stylesheet">

        <!-- ELEMENTS -->
        <link href="@routes.Assets.at("stylesheets/elements/badges.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/elements/buttons.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/elements/content-box.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/elements/dashboard-box.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/elements/forms.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/elements/images.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/elements/info-box.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/elements/invoice.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/elements/loading-indicators.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/elements/menus.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/elements/panel-box.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/elements/response-messages.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/elements/responsive-tables.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/elements/ribbon.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/elements/social-box.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/elements/tables.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/elements/tile-box.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/elements/timeline.css")" rel="stylesheet">

        <!-- ICONS -->
        <link href="@routes.Assets.at("font-awesome/css/font-awesome.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/icons/fontawesome/fontawesome.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/icons/linecons/linecons.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/icons/spinnericon/spinnericon.css")" rel="stylesheet">

        <!-- WIDGETS -->
        <link href="@routes.Assets.at("widgets/accordion-ui/accordion.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/calendar/calendar.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/carousel/carousel.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/charts/justgage/justgage.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/charts/morris/morris.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/charts/piegage/piegage.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/charts/xcharts/xcharts.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/chosen/chosen.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/colorpicker/colorpicker.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/datatable/datatable.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/datepicker/datepicker.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/datepicker-ui/datepicker.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/daterangepicker/daterangepicker.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/dialog/dialog.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/dropdown/dropdown.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/dropzone/dropzone.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/file-input/fileinput.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/input-switch/inputswitch.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/input-switch/inputswitch-alt.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/ionrangeslider/ionrangeslider.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/jgrowl-notifications/jgrowl.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/loading-bar/loadingbar.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/maps/vector-maps/vectormaps.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/markdown/markdown.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/modal/modal.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/multi-select/multiselect.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets//multi-upload/fileupload.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/nestable/nestable.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/noty-notifications/noty.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/popover/popover.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/pretty-photo/prettyphoto.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/progressbar/progressbar.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/range-slider/rangeslider.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/slidebars/slidebars.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/slider-ui/slider.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/summernote-wysiwyg/summernote-wysiwyg.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/tabs-ui/tabs.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/theme-switcher/themeswitcher.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/timepicker/timepicker.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/tocify/tocify.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/tooltip/tooltip.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/touchspin/touchspin.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/uniform/uniform.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/wizard/wizard.css")" rel="stylesheet">
        <link href="@routes.Assets.at("widgets/xeditable/xeditable.css")" rel="stylesheet">

        <!-- SNIPPETS -->
        <link href="@routes.Assets.at("stylesheets/snippets/chat.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/snippets/files-box.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/snippets/login-box.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/snippets/notification-box.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/snippets/progress-box.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/snippets/todo.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/snippets/user-profile.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/snippets/mobile-navigation.css")" rel="stylesheet">

        <!-- APPLICATIONS -->
        <link href="@routes.Assets.at("stylesheets/applications/mailbox.css")" rel="stylesheet">

        <!-- Admin theme -->
        <link href="@routes.Assets.at("stylesheets/admin/layout.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/admin/color-schemes/default.css")" rel="stylesheet">    

        <!-- Components theme -->
        <link href="@routes.Assets.at("stylesheets/components/default.css")" rel="stylesheet"> 
        <link href="@routes.Assets.at("stylesheets/components/border-radius.css")" rel="stylesheet"> 

        <!-- JS Core 
        <script src="@routes.Assets.at("javascripts/js-core/jquery-core.js")"></script>
        <script src="@routes.Assets.at("javascripts/js-core/jquery-ui-core.js")"></script>
        <script src="@routes.Assets.at("javascripts/js-core/jquery-ui-widget.js")"></script>
        <script src="@routes.Assets.at("javascripts/js-core/jquery-ui-mouse.js")"></script>
        <script src="@routes.Assets.at("javascripts/js-core/jquery-ui-position.js")"></script>-->


        <!--<script type="text/javascript" src="../../assets/js-core/transition.js"></script>-->
        <script src="@routes.Assets.at("javascripts/js-core/jquery-cookie.js")"></script>
        <script src="@routes.Assets.at("javascripts/js-core/modernizr.js")"></script>

        <!--font awesome -->
        <link href="@routes.Assets.at("font-awesome/css/font-awesome.min.css")" rel="stylesheet">

        <!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/wizard/wizard.css">-->
        <script src="@routes.Assets.at("widgets/wizard/wizard.js")"></script>
        <script src="@routes.Assets.at("widgets/wizard/wizard-demo.js")"></script>

        <!-- Boostrap Tabs -->
        <script src="@routes.Assets.at("widgets/tabs/tabs.js")"></script>

        <!-- Bootstrap Progress Bar -->
        <script src="@routes.Assets.at("widgets/progressbar/progressbar.js")"></script>

        <!-- Superclick -->
        <script src="@routes.Assets.at("widgets/superclick/superclick.js")"></script>

        <!-- Input switch alternate -->
        <script src="@routes.Assets.at("widgets/input-switch/inputswitch-alt.js")"></script>

        <!-- Slim scroll -->
        <script src="@routes.Assets.at("widgets/slimscroll/slimscroll.js")"></script>

        <!-- Slidebars -->
        <script src="@routes.Assets.at("widgets/slidebars/slidebars.js")"></script>
        <script src="@routes.Assets.at("widgets/slidebars/slidebars-demo.js")"></script>

        <!-- PieGage -->
        <script src="@routes.Assets.at("widgets/charts/piegage/piegage.js")"></script>
        <script src="@routes.Assets.at("widgets/charts/piegage/piegage-demo.js")"></script>

        <!-- Screenfull -->
        <script src="@routes.Assets.at("widgets/screenfull/screenfull.js")"></script>

        <!-- Content box -->
        <script src="@routes.Assets.at("widgets/content-box/contentbox.js")"></script>

        <!-- Overlay -->
        <script src="@routes.Assets.at("widgets/overlay/overlay.js")"></script>

        <!-- Widgets init for demo -->
        <script src="@routes.Assets.at("javascripts/js-init/widgets-init.js")"></script>

        <!-- Theme layout -->
        <script src="@routes.Assets.at("javascripts/admin/layout.js")"></script>
        <!-- Theme switcher -->
        <script src="@routes.Assets.at("widgets/theme-switcher/themeswitcher.js")"></script>

        <script src="@routes.Assets.at("widgets/accordion-ui/accordion.js")"></script>

        <script src="@routes.Assets.at("widgets/summernote-wysiwyg/summernote-wysiwyg.js")"></script>

        <script type="text/javascript">
            /* WYSIWYG editor */

            $(function() { "use strict";
                $('.wysiwyg-editor').summernote({
                    height: 350
                });
            });
            $(function() { "use strict";
                $('.wysiwyg-editor-air').summernote({
                    airMode: true
                });
            });
        </script>



        <style type="text/css">
            object,
            embed {
                -webkit-animation-duration: .001s;
                -webkit-animation-name: playerInserted;
                -ms-animation-duration: .001s;
                -ms-animation-name: playerInserted;
                -o-animation-duration: .001s;
                -o-animation-name: playerInserted;
                animation-duration: .001s;
                animation-name: playerInserted;
            }
            
            -webkit-keyframes playerInserted {
                from {
                    opacity: 0.99;
                }
                to {
                    opacity: 1;
                }
            }
            
            -ms-keyframes playerInserted {
                from {
                    opacity: 0.99;
                }
                to {
                    opacity: 1;
                }
            }
            
            -o-keyframes playerInserted {
                from {
                    opacity: 0.99;
                }
                to {
                    opacity: 1;
                }
            }
            
            keyframes playerInserted {
                from {
                    opacity: 0.99;
                }
                to {
                    opacity: 1;
                }
            }

            html,body{padding:0; margin:0;}
            input,button,select,textarea{outline:none} textarea{resize:none}
        </style>

        @include
    </head>

    <body>

    <div id="loading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div id="page-wrapper">

        <div id="page-header" class="bg-gradient-9">

            <div id="mobile-navigation">
                <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar"><span></span></button>
                <a href="/specialway/index" class="logo-content-small" title="MonarchUI"></a>
            </div>

            <div id="header-logo" class="logo-bg">

                <a href="/company/index" class="logo-content-big" title="MonarchUI">
                    Elogco <i>易聚货</i>
                    <span>专线</span>
                </a>

                <a href="/company/index" class="logo-content-small" title="MonarchUI">
                    Elogco <i>易聚货</i>
                    <span>专线</span>
                </a>

                <a id="close-sidebar" href="#" title="Close sidebar">
                    <i class="glyph-icon icon-angle-left"></i>
                </a>

            </div>


            <div id="header-nav-left">    
                <div class="user-account-btn dropdown">
                    <a href="#" title="My Account" class="user-profile clearfix" data-toggle="dropdown">
                        <img width="28" src="@routes.Assets.at("images/account-img.jpeg")" alt="Profile image">
                        <span>@{name}</span>
                        <i class="glyph-icon icon-angle-down"></i>
                    </a>

                    <div class="dropdown-menu float-left">
                        <div class="box-sm">

                            <div class="login-box clearfix">
                                <div class="user-info">
                                    <span>
                                        <i>退出账户</i>
                                    </span>
                                </div>

                            <div class="pad5A button-pane button-pane-alt text-center">
                                <a onclick="logout()" class="btn display-block font-normal btn-danger">
                                    <i class="glyph-icon icon-power-off"></i>
                                    退出
                                </a>
                            </div>

                            </div>
                        </div>
                    </div>

                </div>
         
            </div><!-- #header-nav-left -->


            <!-- #header-nav-right -->
            <div id="header-nav-right">

            </div><!-- #header-nav-right -->

         </div>

        <div id="page-sidebar">
            <div class="scroll-sidebar">
                @siders
            </div>
        </div>
        @content
    </div>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(window).load(function(){
            setTimeout(function() {
                $('#loading').fadeOut( 400, "linear" );
            }, 300);
        });

        
    </script>

    <script type="text/javascript">
        function setCookie(cname,cvalue,expiredays) {
            var exp  = new Date();
            exp.setTime(exp.getTime() + expiredays*24*60*60*1000);
            document.cookie = cname + "="+ escape(cvalue) + ";expires=" + exp.toGMTString()+";path="+"/";
        }

        function clearCookie(name) {  
            var exp = new Date();
            exp.setTime(exp.getTime() - 1);
            document.cookie= name + "=''"+";expires="+exp.toGMTString()+";path="+"/";
        }

        function logout() {
            clearCookie('user_id');
            clearCookie('token');
            clearCookie('screen_name');
            clearCookie('type')
            location.href = "/index";   
        };

        function adminLogout() {
            clearCookie('user_id');
            clearCookie('token');
            clearCookie('screen_name');
            clearCookie('type')
            location.href = "/admin/login";                 
        }
    </script>

    @scripts

    </body>

</html>
