@(token : String)(open_id : String)(company_name : String)(infos : List[play.api.libs.json.JsValue])

@sw_login_index_sliders("易聚货-专线")(company_name)  {
    
} {

<div id="page-content-wrapper">
    <div id="page-content">
        <div class="container">

            <div id="page-title">
                <h2>已完成商业信息</h2>

            </div>

            <div class="panel">
                <div class="panel-body">
                    <div data-name="result-container">
                    @company_sent_info(infos)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

} {
    <script type="text/javascript">
        $(function(){
            $('li[data-current="index"]').addClass("active");
            $('div[data-name="compay-sent-item"]').find('input').attr('disabled', true); 
            $('div[data-name="compay-sent-item"]').find('.form-control').attr('disabled', true); 
        });

        function setDefault(edit, html) {
            $('div[data-name="' + edit + '"]').find('.note-editable').html(html);
        }

        function resetInfo(info_id) {
            var query_object = new Object();
            query_object['info_id'] = info_id;
            query_object['status'] = 0;

            $.ajax({
                url: "/data/company/info/update",
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json, charset=utf-8',
                data: JSON.stringify(query_object),
                cache: false,
                success: function (data) {
                    if (data.status == "ok") {
                        alert("重新发布成功");
                        location.reload();
                    } else {
                        alert(data.error.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("请检查您的输入");
                }
            });
        }

        function appendInfos() {
            var query_object = new Object();

            query_object['open_id'] = "@open_id";
            query_object['status'] = 1;
            query_object['skip'] = $('div[data-name="info-item"]').length;

            $.ajax({
                url: "/html/company/sentinfo/append",
                type: 'POST',
                // dataType: 'json',
                dataType: 'html',
                contentType: 'application/json, charset=utf-8',
                data: JSON.stringify(query_object),
                cache: false,
                success: function (data) {
                    $(data).appendTo($('div[data-name="result-container"]'));
                    $('.wysiwyg-editor').summernote({height: 350});
                    $('.wysiwyg-editor-air').summernote({airMode: true});
                    $('div[data-name="compay-sent-item"]').find('input').attr('disabled', true); 
                    $('div[data-name="compay-sent-item"]').find('.form-control').attr('disabled', true); 
                },
                error: function (xhr, status, error) {
                    alert("请检查您的输入");
                }
            });
        }

        var $window = $(window);
        var $document = $(document);
        $window.scroll(function(){
            if ($document.scrollTop() + $window.height() >= $document.height()) {
                appendInfos();
            } else {

            }
        });
    </script>
}
