@(token : String)(open_id : String)(name : String)(auth : Int)(spc : play.api.libs.json.JsValue)(cities : List[play.api.libs.json.JsValue])(vc : play.api.libs.json.JsValue)

@sw_login_index_sliders("易聚货-专线")(name)(auth) {
    
} {

    <div id="page-content-wrapper">
        <div id="page-content">
            <div class="container">
            
                <div id="page-title">
                    <h2>专线资料</h2>
                </div>

                <div class="panel">
                    <div class="panel-body">
                        <h3 class="title-hero">
                        </h3>
                        <div class="example-box-wrapper">
                            <div class="form-horizontal bordered-row">

                                <div class="form-group" data-name="special-storage-container">

                                    <label class="col-sm-2 control-label">仓库地址</label>
                                    @{((spc \ "special_storage").asOpt[List[play.api.libs.json.JsValue]].get zipWithIndex) map { item =>
                                        val iter = item._1
                                        val index = item._2
                                        <div class="col-sm-8" data-name="storage-item" data-index={"storage-index-" + index} >
                                            <div class="row">                        
                                                <div class="col-xs-3">
                                                    {
                                                    val tmp = (iter \ "province").asOpt[String].get
                                                    <select class="form-control" data-name="storage-province" data-index="0" onchange="cityChanges2($(this), $(this).parent().parent(), 1)" >
                                                        {cities map { p => 
                                                            if (tmp.equals((p \ "province").asOpt[String].get)) {
                                                                <option value={(p \ "province").asOpt[String].get} selected="">{(p \ "province").asOpt[String].get}</option>
                                                            } else {
                                                                <option value={(p \ "province").asOpt[String].get}>{(p \ "province").asOpt[String].get}</option>
                                                            }
                                                        }};
                                                    </select>
                                                    }
                                                </div>

                                                <div class="col-xs-3">
                                                    {
                                                    val province = (iter \ "province").asOpt[String].get
                                                    val tmp = (iter \ "city").asOpt[String].get
                                                    <select class="form-control" data-name="storage-city" data-index="1" onchange="districtChanges($(this), $(this).parent().parent(), 1)" >
                                                        {cities map { p => (p \ "cities").asOpt[List[String]].get map { x => 
                                                            if (tmp.equals(x)) {
                                                                <option data-filter={(p \ "province").asOpt[String].get} value={x} selected="">{x}</option>
                                                            } else if (province.equals((p \ "province").asOpt[String].get)) {
                                                                <option data-filter={(p \ "province").asOpt[String].get} value={x} selected="">{x}</option>
                                                            } else {
                                                                <option style="display:none" data-filter={(p \ "province").asOpt[String].get} value={x}>{x}</option>
                                                            }
                                                        }}};
                                                    </select>
                                                    }
                                                </div>
                                                <div class="col-xs-3">
                                                    {
                                                    val city = (iter \ "city").asOpt[String].get
                                                    val tmp = (iter \ "district").asOpt[String].get
                                                    <select class="form-control" data-name='storage-district' data-index='2'>
                                                        @{cities map { iter => (iter \ "city_ditails").asOpt[List[play.api.libs.json.JsValue]].get map { inner => 
                                                            (inner \ "districts").asOpt[List[String]].get map { x => 
                                                            
                                                            if (tmp.equals(x) && city.equals((inner \ "city").asOpt[String].get)) {
                                                                <option data-filter={(inner \ "city").asOpt[String].get} value={x} selected="">{x}</option>
                                                            } else if (city.equals((inner \ "city").asOpt[String].get)) {
                                                                <option data-filter={(inner \ "city").asOpt[String].get} value={x} >{x}</option>
                                                            } else {
                                                                <option style="display:none" data-filter={(inner \ "city").asOpt[String].get} value={x}>{x}</option>
                                                            }
                                                        }}}};
                                                    </select>
                                                    }
                                                </div>
                                                <div class="col-xs-3">
                                                    <button class="form-control" style="border: none; color:#848484;"><i class="fa fa-trash-o fa-2x" style="color:#6E6E6E"></i> &nbsp;&nbsp;&nbsp; 删除</button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                <textarea type="text" class="form-control" data-name="storage-address" rows="4" style="resize: none; margin-top:10px;">{(iter \ "address").asOpt[String].get}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    }}
                                </div>

                                <div class="form-group" style="display: none;" data-name='storage-item-error'>
                                    <span class="col-sm-1 control-label"></span>
                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-9">
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            请至少选择一个仓库地址
                                        </div>
                                    </div>
                                </div> 

                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <button class="col-sm-6 col-xs-offset-1 col-xs-8 btn" style="border:1px solid #008bdc; background-color:#FFFFFF;" onclick="addSpecialStorage()" >
                                        新增仓库地址
                                    </button>
                                </div>

                                <div class="form-group" data-name="special-lines-container">
                                    <label class="col-sm-2 control-label">主营路线</label>

                                    @{((spc \ "special_lines").asOpt[List[play.api.libs.json.JsValue]].get zipWithIndex) map { item => 
                                        val iter = item._1
                                        val index = item._2
                                        <div class="col-sm-8" data-name="line-item" data-index={"lines-index-" + index} >
                                            <div class="col-xs-2">
                                            {
                                                val tmp = (iter \ "origin_province").asOpt[String].get
                                                <select class="form-control" data-name="origin-province" data-index="0" onchange="cityChanges($(this), $(this).parent().parent(), 1)" >
                                                    {cities map { p => 
                                                        if ({(p \ "province").asOpt[String].get}.equals((iter \ "origin_province").asOpt[String].get)) {
                                                            <option value={(p \ "province").asOpt[String].get} selected="">{(p \ "province").asOpt[String].get}</option>
                                                        } else {
                                                            <option value={(p \ "province").asOpt[String].get}>{(p \ "province").asOpt[String].get}</option>
                                                        }
                                                    }};
                                                </select>
                                            }
                                            </div>

                                            <div class="col-xs-2">
                                            {
                                                val province = (iter \ "origin_province").asOpt[String].get
                                                val tmp = (iter \ "origin_city").asOpt[String].get
                                                <select class="form-control" data-name="origin-city" data-index="1" >
                                                    {cities map { p => (p \ "cities").asOpt[List[String]].get map { x => 
                                                        if (tmp.equals(x)) {
                                                            <option data-filter={(p \ "province").asOpt[String].get} value={x} selected="">{x}</option>
                                                        } else if (province.equals((p \ "province").asOpt[String].get)) {
                                                            <option data-filter={(p \ "province").asOpt[String].get} value={x}>{x}</option>
                                                        } else {
                                                            <option style="display:none" data-filter={(p \ "province").asOpt[String].get} value={x}>{x}</option>
                                                        }
                                                    }}};
                                                </select>
                                            }
                                            </div>
                                            <div class="col-sm-1 text-center">
                                                <label><i class="fa fa-long-arrow-right fa-2x" aria-hidden="true"></i></label>
                                            </div>
                                            <div class="col-xs-2">
                                            {
                                                val tmp = (iter \ "destination_province").asOpt[String].get
                                                <select class="form-control" data-name="destination-province" data-index="0" onchange="cityChanges($(this), $(this).parent().parent(), 1)" >
                                                    {cities map { p => 
                                                        if (tmp.equals((p \ "province").asOpt[String].get)) {
                                                            <option value={(p \ "province").asOpt[String].get} selected="">{(p \ "province").asOpt[String].get}</option>
                                                        } else {
                                                            <option value={(p \ "province").asOpt[String].get}>{(p \ "province").asOpt[String].get}</option>
                                                        }
                                                    }};
                                                </select>
                                            }
                                            </div>
                                            <div class="col-xs-2">
                                            {
                                                val province = (iter \ "destination_province").asOpt[String].get
                                                val tmp = (iter \ "destination_city").asOpt[String].get
                                                <select class="form-control" data-name="destination-city" data-index="1" >
                                                    {cities map { p => (p \ "cities").asOpt[List[String]].get map { x => 
                                                        if (tmp.equals(x)) {
                                                            <option data-filter={(p \ "province").asOpt[String].get} value={x} selected="">{x}</option>
                                                        } else if (province.equals((p \ "province").asOpt[String].get)) {
                                                            <option data-filter={(p \ "province").asOpt[String].get} value={x}>{x}</option>
                                                        } else {
                                                            <option style="display:none" data-filter={(p \ "province").asOpt[String].get} value={x}>{x}</option>
                                                        }
                                                    }}};
                                                </select>
                                            }
                                            </div>
                                            <div class="col-xs-2 col-xs-offset-1">
                                                <button class="form-control" style="border: none; color:#848484;"><i class="fa fa-trash-o fa-2x" style="color:#6E6E6E"></i> &nbsp;&nbsp;&nbsp; 删除</button>
                                            </div>
                                        </div>
                                    }}
                                </div>

                                <div class="form-group" style="display: none;" data-name='line-error'>
                                    <span class="col-sm-1 control-label"></span>
                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-9">
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            请选择有效的路线信息
                                        </div>
                                    </div>
                                </div> 

                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <button class="col-sm-6 col-xs-offset-1 col-xs-8 btn" style="border:1px solid #008bdc; background-color:#FFFFFF;" onclick="addSpecialLines()">
                                        新增主营路线
                                    </button>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">发车时效</label>
                                    <div class="col-sm-8">
                                    @{
                                        if ((spc \ "special_occation").asOpt[Int].get == 0) {
                                            <div class="col-sm-2 radio">
                                                <label>
                                                    <input name="vehicle" data-name="special-occation" type="radio" value="0" checked="" /> 天天发车
                                                </label>
                                            </div>

                                            <div class="col-sm-2 radio">
                                                <label>
                                                    <input name="vehicle" data-name="special-occation" type="radio" value="1" /> 隔天发车
                                                </label>
                                            </div>   
                                        } else {
                                            <div class="col-sm-2 radio">
                                                <label>
                                                    <input name="vehicle" data-name="special-occation" type="radio" value="0" /> 天天发车
                                                </label>
                                            </div>

                                            <div class="col-sm-2 radio">
                                                <label>
                                                    <input name="vehicle" data-name="special-occation" type="radio" value="1" checked="" /> 隔天发车
                                                </label>
                                            </div>
                                        }
                                    }
                                    </div>
                                </div>

                                <div class="form-group" style="display: none;" data-name='special-occation-error'>
                                    <span class="col-sm-1 control-label"></span>
                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-9">
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            请选择发车频率
                                        </div>
                                    </div>
                                </div> 

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">拥有车型</label>
                                    <div class="col-sm-8">
                                        @{(vc \ "vehicle").asOpt[List[String]].get map { x =>
                                        <div class="col-sm-2 checkbox">
                                            {if ((spc \ "vehicle").asOpt[List[String]].get.contains(x) ) {
                                                <label><input data-name="vehicle" type="checkbox" value={x} checked="" /> {x} </label>
                                            } else {
                                                <label><input data-name="vehicle" type="checkbox" value={x} /> {x} </label>
                                            }}
                                        </div>
                                        }}
                                    </div>
                                </div>

                                <div class="form-group" style="display: none;" data-name='vehicle-error'>
                                    <span class="col-sm-1 control-label"></span>
                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-9">
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            请至少选择一个车型
                                        </div>
                                    </div>
                                </div> 

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">公司官网</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" data-name="web" value=@{(spc \ "special_web").asOpt[String].get} >
                                    </div>
                                </div>

                                <div class="form-group" style="display: none;" data-name='web-error'>
                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-8">
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            请填写公司官网
                                        </div>
                                    </div>
                                </div> 

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">公司传真</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" data-name="fax" value=@{(spc \ "special_fax").asOpt[String].get} >
                                    </div>
                                </div>

                                <div class="form-group" style="display: none;" data-name='fax-error'>
                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-8">
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            请填写公司传真
                                        </div>
                                    </div>
                                </div> 

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">公司邮箱</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" data-name="email" value=@{(spc \ "special_email").asOpt[String].get} >
                                    </div>
                                </div>

                                <div class="form-group" style="display: none;" data-name='email-error'>
                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-8">
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            请填写公司邮箱
                                        </div>
                                    </div>
                                </div> 

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">公司介绍</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" data-name="description" value=@{(spc \ "description").asOpt[String].get} >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">负责人</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" data-name="cell-phone-owner" value=@{(spc \ "cell_phone_owner").asOpt[String].get} >
                                    </div>
                                </div>

                                <div class="form-group" style="display: none;" data-name='cell-phone-owner-error'>
                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-8">
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            请填写公司负责人
                                        </div>
                                    </div>
                                </div> 

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">负责人电话</label>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" data-name="cell-phone" value=@{(spc \ "cell_phone").asOpt[String].get} >
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top:10px">
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" data-name="cell-phone-code"> 
                                            </div>
                                            
                                            <div class="col-sm-4">
                                                <button class="form-control" style="border: 1px solid #008bdc" onclick="sendCode()">获取动态验证码</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" style="display: none;" data-name='cell-phone--error'>
                                    <label for="company-name" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-8">
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            请填写公司负责人电话
                                        </div>
                                    </div>
                                </div> 

                                <div class="form-group text-center">
                                    <label class="col-sm-2 control-label"></label>
                                    <button class="col-sm-6 col-xs-offset-1 col-xs-8 btn bg-blue" style="margin-right:20px !important" onclick="checkCode()">
                                        保存
                                    </button>
                                </div>              
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div data-name="special-lines-lst" class="col-sm-8 col-sm-offset-2" style="display: none; clear: both; margin-top: 10px" >
        <div class="col-xs-2" style="padding-right: 0px !important">
            <select class="form-control" data-name="origin-province" data-index="0" onchange="cityChanges($(this), $(this).parent().parent(), 1)">
                <option selected disabled>请选择省</option>
                @{cities map { iter => 
                    <option value={(iter \ "province").asOpt[String].get}>{(iter \ "province").asOpt[String].get}</option>
                }};
            </select>
        </div>

        <div class="col-xs-2" style="padding-right: 0px !important">
            <select class="form-control" data-name="origin-city" data-index="1">
                <option selected disabled data-filter="choice" >请选择市</option>
                @{cities map { iter => (iter \ "cities").asOpt[List[String]].get map { x => 
                    <option style="display:none" data-filter={(iter \ "province").asOpt[String].get} value={x}>{x}</option>
                }}};
            </select>
        </div>

        <div class="col-xs-1" style="text-align:center;">
            <i class="fa fa-long-arrow-right fa-2x" aria-hidden="true"></i>
        </div>

        <div class="col-xs-2" style="padding-right: 0px !important">
            <select class="form-control" data-name="destination-province" data-index="2" onchange="cityChanges($(this), $(this).parent().parent(), 3)">
                <option selected disabled data-filter="choice" >请选择省</option>
                @{cities map { iter => 
                    <option value={(iter \ "province").asOpt[String].get}>{(iter \ "province").asOpt[String].get}</option>
                }};
            </select>
        </div>

        <div class="col-xs-2" style="padding-right: 0px !important">
            <select class="form-control" data-name="destination-city" data-index="3">
                <option selected disabled data-filter="choice" >请选择市</option>
                @{cities map { iter => (iter \ "cities").asOpt[List[String]].get map { x => 
                    <option style="display:none" data-filter={(iter \ "province").asOpt[String].get} value={x}>{x}</option>
                }}};
            </select>
        </div>
        <div class="col-xs-2 col-xs-offset-1">
            <button class="form-control" style="border: none; color:#848484;"><i class="fa fa-trash-o fa-2x" style="color:#6E6E6E"></i>&nbsp;&nbsp;&nbsp; 删除</button>
        </div>
    </div>



    <div class="col-sm-8 col-sm-offset-2" data-name="special-storage-lst" data-index={"storage-index-" + index} style="display: none; margin-top: 10px" >
        <div class="row">                        
            <div class="col-xs-3">
                <select class="form-control" data-name="storage-province" data-index="0" onchange="cityChanges2($(this), $(this).parent().parent(), 1)" >
                    <option selected disabled>请选择省</option>
                    @{cities map { iter => 
                        <option value={(iter \ "province").asOpt[String].get}>{(iter \ "province").asOpt[String].get}</option>
                    }};
                </select>
            </div>

            <div class="col-xs-3">
                <select class="form-control" data-name="storage-city" data-index="1" onchange="districtChanges($(this), $(this).parent().parent(), 1)" >
                    <option selected disabled data-filter="choice" >请选择市</option>
                    @{cities map { iter => (iter \ "cities").asOpt[List[String]].get map { x => 
                        <option style="display:none" data-filter={(iter \ "province").asOpt[String].get} value={x}>{x}</option>
                    }}};
                </select>
            </div>
            <div class="col-xs-3">
                <select class="form-control" data-name='storage-district' data-index='2'>
                    <option selected disabled data-filter="choice" >请选择区</option>
                    @{cities map { iter => (iter \ "city_ditails").asOpt[List[play.api.libs.json.JsValue]].get map { inner => 
                        (inner \ "districts").asOpt[List[String]].get map { x => 
                        <option style="display:none" data-filter={(inner \ "city").asOpt[String].get} value={x}>{x}</option>
                    }}}};
                </select>
            </div>
            <div class="col-xs-3">
                <button class="form-control col-xs-3" style="border: none; color:#848484;"><i class="fa fa-trash-o fa-2x" style="color:#6E6E6E"></i> &nbsp;&nbsp;&nbsp; 删除</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
            <textarea type="text" class="form-control" data-name="storage-address" rows="4" style="resize: none; margin-top:10px;"></textarea>
            </div>
        </div>
    </div>

} {
    <script src="@routes.Assets.at("javascripts/district-change.js")"></script>
    <script type="text/javascript">
        $(function(){
            $('li[data-current="index"]').addClass("active");
            $('div[data-name="storage-item"]').find('button').click(deleteSpecialStorage);
            $('div[data-name="line-item"]').find('button').click(deleteSpecialLine2);
        });

        function validate(ele, result, name) {
            if (result) $(ele).removeClass('validate-error');
            else $(ele).addClass('validate-error');

            if (name) {
                if (result) $(String(name)).css({"display": "none"});
                else $(String(name)).css({"display": "block"});
            }

            return result;
        }

        function hasInput(str) {
            var result = (typeof(str) == "string") && (str != "");
            return result;
        }

        function getStorageAddress() {
            var elem = $('div[data-name="storage-item"]');
            var result = true;
            var storage_lst = [];
            $.each(elem, function(){
                var storage_item = new Object;
                storage_item['province'] = $(this).find('select[data-name="storage-province"]').val();
                result &= validate($(this), storage_item['province'] != null);

                storage_item['city'] = $(this).find('select[data-name="storage-city"]').val();
                result &= validate($(this), storage_item['city'] != null);

                storage_item['district'] = $(this).find('select[data-name="storage-district"]').val();
                result &= validate($(this), storage_item['district'] != null);

                storage_item['address'] = $(this).find('textarea[data-name="storage-address"]').val();
                result &= validate($(this), storage_item['address'] != null);

                storage_lst.push(storage_item);
            });

            if (result) {
                return storage_lst;
            } else {
                return [];
            }
        }

        function getSpecialLines() {
            var elem = $('div[data-name="line-item"]');
            var result = true;
            var line_lst = [];
            $.each(elem, function(){
                var line_item = new Object;
                line_item['origin_province'] = $(this).find('select[data-name="origin-province"]').val();
                result &= validate($(this), line_item['origin_province'] != null, 'div[data-name="line-error"]');

                line_item['origin_city'] = $(this).find('select[data-name="origin-city"]').val();
                result &= validate($(this), line_item['origin_city'] != null, 'div[data-name="line-error"]');

                line_item['destination_province'] = $(this).find('select[data-name="destination-province"]').val();
                result &= validate($(this), line_item['destination_province'] != null, 'div[data-name="line-error"]');

                line_item['destination_city'] = $(this).find('select[data-name="destination-city"]').val();
                result &= validate($(this), line_item['destination_city'] != null, 'div[data-name="line-error"]');

                if (result)
                    line_lst.push(line_item);
            });

            if (result) {
                return line_lst;
            } else {
                return [];
            }
        }

        function getVehicles() {
            var elem = $('input[data-name="vehicle"]:checked');
            var vl = [];
            $.each(elem, function(){
                vl.push($(this).val());
            });
            return vl;
        }

        function updateNormalInfo(bUpdatePhone) {
            var result = true;
            var special_occation = $('input[data-name="special-occation"]:checked').val();
            result &= validate($('input[data-name="special-occation"]'), typeof(special_occation) != undefined, 'div[data-name="special-occation-error"]');

            var web = $('input[data-name="web"]').val();
            // result &= validate($('input[data-name="web"]'), hasInput(web), 'div[data-name="web-error"]');

            var fax = $('input[data-name="fax"]').val();
            // result &= validate($('input[data-name="fax"]'), hasInput(fax), 'div[data-name="fax-error"]');

            var email = $('input[data-name="email"]').val();
            // result &= validate($('input[data-name="email"]'), hasInput(email), 'div[data-name="email-error"]');

            var description = $('input[data-name="description"]').val();

            var cell_phone_owner = $('input[data-name="cell-phone-owner"]').val();
            result &= validate($('input[data-name="cell-phone-owner"]'), hasInput(cell_phone_owner), 'div[data-name="cell-phone-owner-error"]');

            var cell_phone = $('input[data-name="cell-phone"]').val();
            result &= validate($('input[data-name="cell-phone"]'), hasInput(cell_phone), 'div[data-name="cell-phone--error"]');

            var storage_lst = getStorageAddress();
            result &= validate($('input[data-name="storage-item"]'), storage_lst.length > 0, 'div[data-name="storage-item-error"]');

            var lines = getSpecialLines();
            result &= validate($('input[data-name="line-item"]'), lines.length > 0);

            var vehicle = getVehicles();
            result &= validate($('input[data-name="vehicle"]'), vehicle.length > 0);

            if (result) {

                var query_object = new Object();
                query_object["special_occation"] = Number(special_occation);
                query_object["web"] = web;
                query_object["fax"] = fax;
                query_object["email"] = email;
                query_object["description"] = description;
                query_object["cell_phone_owner"] = cell_phone_owner;
                query_object["special_storage"] = storage_lst;
                query_object["special_lines"] = lines;
                query_object["vehicle"] = vehicle;
                query_object["open_id"] = "@{open_id}";

                if (bUpdatePhone)
                    query_object["cell_phone"] = cell_phone;    

                $.ajax({
                    url: "/auth/update",
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json, charset=utf-8',
                    data: JSON.stringify(query_object),
                    cache: false,
                    success: function (data) {
                        if (data.status == "ok") {                                          
                             alert("更新用户信息成功！");
                             location.reload();
                        } else {
                            alert(data.error.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("请检查您的输入");
                    }
                });
            }
        }

        function deleteSpecialLine() {
            $(this).parent().parent().remove();
        }

        function deleteSpecialLine2() {
            $(this).parent().parent().remove();
        }

        function addSpecialLines() {
            var l = $('div[data-name="special-lines-lst"]')
            var cp = l.clone();
            cp.removeAttr('data-name');
            cp.attr('data-name', 'line-item');
            cp.appendTo($("div[data-name='special-lines-container']"));
            cp.show();

            var count = $('div[data-name="line-item"]').length;
            cp.attr('data-index', 'lines-index-' + (count - 1));

            var btn = cp.find('button');
            btn.click(deleteSpecialLine);
        }

        function deleteSpecialStorage() {
            $(this).parent().parent().parent().remove();
        }

        function addSpecialStorage() {
            var l = $('div[data-name="special-storage-lst"]')
            var cp = l.clone();
            cp.removeAttr('data-name');
            cp.attr('data-name', 'storage-item');
            cp.appendTo($("div[data-name='special-storage-container']"));
            cp.show();

            // var count = $('div[data-name="storage-item"]').length;
            // cp.attr('data-index', 'storage-index-' + (count - 1));

            var btn = cp.find('button');
            btn.click(deleteSpecialStorage);
        }          

        function sendCode() {
            var cell_phone = $('input[data-name="cell-phone"]').val();

            var tmp = new Object();
            tmp['cell_phone'] = cell_phone;

            $.ajax({
                url: "/auth/send/code",
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json, charset=utf-8',
                data: JSON.stringify(tmp),
                cache: false,
                success: function (data) {
                    if (data.status == "ok") {                                          
                         alert("发送成功");
                    } else {
                        alert(data.error.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("请检查您的输入");
                }
            });
        }

        function checkCode() {
            var code = $('input[data-name="cell-phone-code"]').val();
            if (hasInput(code)) {
                var cell_phone = $('input[data-name="cell-phone"]').val();

                var tmp = new Object();
                tmp['cell_phone'] = cell_phone;
                tmp['code'] = code;

                $.ajax({
                    url: "/auth/code/check",
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json, charset=utf-8',
                    data: JSON.stringify(tmp),
                    cache: false,
                    success: function (data) {
                        if (data.status == "ok") {
                             updateNormalInfo(true);
                        } else {
                            alert(data.error.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("请检查您的输入");
                    }
                });

            } else {
                updateNormalInfo(false);
            }
        }
    </script>
}