@(message: String)

@sw_login_index_sliders("易聚货专线")("")  {
    
} {

<div id="page-content-wrapper">
    <div id="page-content">
        <div class="container">

        <div id="page-title">
            <h2>其他信息</h2>
            <p>可添加文案</p>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-body">
                        <h3 class="title-hero">
                            
                        </h3>

                        <div class="example-box-wrapper">
                            <div class="row">

                                <div class="col-sm-12">

                                    <div class="row">

                                    <div class="col-sm-4" style="font-size:15px">
                                        发出时间
                                    </div>

                                    <div class="col-sm-6" style="font-size:15px">
                                        公司专线发送的招聘标题
                                    </div>    


                                    <button type="button" class="btn btn-info mrg20B col-sm-2 col-xs-12" data-toggle="collapse" data-target="#recruit-view" style="font-size:15px">
                                        查看详情
                                    </button>

                                    </div>
        <!-- close directly view the collapse
                                    <div id="recruit-view" class="collapse in"> -->
                                    <div id="recruit-view" class="collapse">

                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">这里显示公司专线发送的招聘标题</h3>
                                            </div>

                                            <div class="panel-body">
                                                显示由公司专线发出的招聘内容：显示由公司专线发出的招聘内容：显示由公司专线发出的招聘内容：显示由公司专线发出的招聘内容：显示由公司专线发出的招聘内容
                                            </div>

                                            <div class="col-sm-12 panel-body">
                                                <form class="form-horizontal bordered-row">
                                                    <div class="form-group">
                                                        <label class="col-xs-12 control-label">联系人：林恩</label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-xs-12 control-label">联系人电话：13857102787</label>
                                                    </div>             
                                                </form>                                            
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-body">
                        <h3 class="title-hero">
                            
                        </h3>

                        <div class="example-box-wrapper">
                            <div class="row">

                                <div class="col-sm-12">

                                    <div class="row">

                                    <div class="col-sm-4" style="font-size:15px">
                                        发出时间
                                    </div>

                                    <div class="col-sm-6" style="font-size:15px">
                                        公司专线发送的招聘标题
                                    </div>    


                                    <button type="button" class="btn btn-info mrg20B col-sm-2 col-xs-12" data-toggle="collapse" data-target="#recruit-view-2" style="font-size:15px">
                                        查看详情
                                    </button>

                                    </div>



                                    <div id="recruit-view-2" class="collapse">

                                        <div class="pane2">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">这里显示公司专线发送的招聘标题</h3>
                                            </div>

                                            <div class="panel-body">
                                                显示由公司专线发出的招聘内容：显示由公司专线发出的招聘内容：显示由公司专线发出的招聘内容：显示由公司专线发出的招聘内容：显示由公司专线发出的招聘内容
                                            </div>

                                            <div class="col-sm-12 panel-body">
                                                <form class="form-horizontal bordered-row">
                                                    <div class="form-group">
                                                        <label class="col-xs-12 control-label">联系人：林恩</label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-xs-12 control-label">联系人电话：13857102787</label>
                                                    </div>             
                                                </form>                                            
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        </div>
    </div>
</div>

} {
    <script type="text/javascript">
        $(function(){
            $('li[data-current="index"]').addClass("active");
        });
    </script>
}