@(token : String)(open_id : String)(company_name : String)

@sw_login_index_sliders("易聚货-专线")(company_name)  {
    
} {

<div id="page-content-wrapper">
    <div id="page-content">
        <div class="container">
            <div id="page-title">
                <h2>修改密码</h2>
            </div>

            <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#D4AC0D; margin-top:10px;">
                            <span style="color:#424949;margin-left: 5px;">密码长度不少于6位</span>
                        </i>
                    </h3>
                    <div class="example-box-wrapper">
                        <div class="form-horizontal bordered-row">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">输入旧密码</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" data-name="old" placeholder="输入旧密码" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">输入新密码</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" data-name="new1" placeholder="输入新密码" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">再次输入新密码</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" data-name="new2" placeholder="再次输入新密码" />
                                </div>
                            </div>

                            <div class="form-group" style="display: none;" data-name='pwd-error'>
                                <label for="company-name" class="col-sm-3 control-label"></label>
                                <div class="col-sm-6">
                                    <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        密码不得低于6位
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" style="display: none;" data-name='pwd-same-error'>
                                <label for="company-name" class="col-sm-3 control-label"></label>
                                <div class="col-sm-6">
                                    <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        两次输入的密码不一致
                                    </div>
                                </div>
                            </div>

                            <div class="form-group text-center">
                                <label class="col-sm-2 control-label"></label>
                                <button class="col-sm-4 col-xs-offset-2 col-xs-8 btn bg-blue" style="margin-right:20px !important" onclick="resetPwd()">
                                    保存
                                </button>
                            </div>             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

} {
    <script type="text/javascript">
        $(function(){
            $('li[data-current="index"]').addClass("active");
        });

        function validate(ele, result, name) {
            if (result) $(ele).removeClass('validate-error');
            else $(ele).addClass('validate-error');

            if (name) {
                if (result) $(String(name)).css({"display": "none"});
                else $(String(name)).css({"display": "block"});
            }

            return result;
        }

        function hasInput(str) {
            var result = (typeof(str) == "string") && (str != "");
            return result;
        }

        function resetPwd() {
            var result = true;

            var old = $('input[data-name="old"]').val();
            var new1 = $('input[data-name="new1"]').val();
            var new2 = $('input[data-name="new2"]').val();

            result &= validate($('input[data-name="new1"]'), new1.length > 5, 'div[data-name="pwd-error"]');
            result &= validate($('input[data-name="new2"]'), new1 == new2, 'div[data-name="pwd-same-error"]');

            if (result) {

                var query_object = new Object();
                query_object["old"] = old;
                query_object["pwd"] = new1;
                query_object["token"] = "@{token}";
                query_object["open_id"] = "@{open_id}";

                $.ajax({
                    url: "/auth/pwd/reset",
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json, charset=utf-8',
                    data: JSON.stringify(query_object),
                    cache: false,
                    success: function (data) {
                        if (data.status == "ok") {                                          
                             alert("修改成功");
                        } else {
                            alert(data.error.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("请检查您的输入");
                    }
                });
            }
        }
    </script>
}
