@(token : String)(open_id : String)(company_name : String)(auth : Int)(cities : List[play.api.libs.json.JsValue])(vc : play.api.libs.json.JsValue)(product_lst : List[play.api.libs.json.JsValue])

@sw_login_index_sliders("易聚货-专线")(company_name)(auth) {
    
} {
<div id="page-content-wrapper">
    <div id="page-content">
        <div class="container">

        <div id="page-title"></div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-body">

                        <h3 class="title-hero">
                            其他公司货源信息列表搜索选项栏
                        </h3>

                        <div class="example-box-wrapper">

                            <div class="panel-group" id="accordion">

                                <div class="panel">

                                    <div class="panel-heading">
                                        <div class="form-horizontal bordered-row">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">按路线搜索</label>
                                                <div class="col-sm-5 col-sm-offset-2">
                                                <button type="button" class="col-sm-2 col-xs-12 form-control" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" style="font-size:15px; border:1px solid #008bdc">
                                                    路线选择
                                                    <i class="glyph-icon icon-angle-down"></i>
                                                </button>

                                                </div>
                                            </div>              
                                        </div>
                                    </div>

                                    <div id="collapseOne" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="form-horizontal bordered-row" data-name="search-line-condition-container">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-2 col-sm-offset-1">
                                                            <select class="form-control" data-name="search-origin-province" data-index="0" onchange="cityChanges($(this), $(this).parent().parent(), 1)" >
                                                                <option selected="" disabled="">请选择省</option>
                                                                @{cities map { p => 
                                                                    <option value={(p \ "province").asOpt[String].get}>{(p \ "province").asOpt[String].get}</option>
                                                                }};
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <select class="form-control" data-name="search-origin-city" data-index="1" >
                                                                <option selected="" disabled="">请选择市</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <label><i class="fa fa-long-arrow-right fa-2x" aria-hidden="true"></i></label>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <select class="form-control" data-name="search-destination-province" data-index="2" onchange="cityChanges($(this), $(this).parent().parent(), 1)" >
                                                                <option selected="" disabled="">请选择省</option>
                                                                @{cities map { p => 
                                                                    <option value={(p \ "province").asOpt[String].get}>{(p \ "province").asOpt[String].get}</option>
                                                                }};
                                                            </select>  
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <select class="form-control" data-name="search-destination-city" data-index="3" >
                                                                <option selected="" disabled="">请选择市</option>
                                                            </select> 
                                                        </div>
                                                    </div>          
                                                </div>  
                                            </div>      
                                        </div>
                                    </div>

                                    <div class="form-group" style="display: none;" data-name='search-line-condition-error'>
                                        <span class="col-sm-1 control-label"></span>
                                        <label for="company-name" class="col-sm-2 control-label"></label>
                                        <div class="col-sm-9">
                                            <div class="alert alert-danger" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                请选择有效的路线条件
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="form-horizontal bordered-row">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">按车型搜索</label>
                                                <div class="col-sm-5 col-sm-offset-2">
                                                <button type="button" class="col-sm-2 col-xs-12 form-control" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" style="font-size:15px; border:1px solid #008bdc">
                                                    需求车型选择
                                                    <i class="glyph-icon icon-angle-down"></i>
                                                </button>
                                                </div>
                                            </div>              
                                        </div>
                                    </div>

                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="form-horizontal bordered-row">
                                                <div class="form-group">
                                                    <div class="col-sm-offset-1">
                                                        @{(vc \ "vehicle").asOpt[List[String]].get map { x =>
                                                        <div class="col-sm-2 checkbox">
                                                            <label><input data-name="vehicle" type="checkbox" value={x} /> {x} </label>
                                                        </div>
                                                        }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="form-horizontal bordered-row">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">按车长搜索</label>
                                                <div class="col-sm-5 col-sm-offset-2">
                                                <button type="button" class="col-sm-2 col-xs-12 form-control" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" style="font-size:15px; border:1px solid #008bdc">
                                                    需求车长选择
                                                    <i class="glyph-icon icon-angle-down"></i>
                                                </button>

                                                </div>
                                            </div>              
                                        </div>
                                    </div>

                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="form-horizontal bordered-row">
                                                <div class="form-group">
                                                    <div class="col-sm-offset-1">
                                                        @{(vc \ "vehicle_length").asOpt[List[Double]].get map { x =>
                                                        <div class="col-sm-2 checkbox">
                                                            <label><input data-name="vehicle-length" type="checkbox" value={x.toString} /> {x.toString}米 </label>
                                                        </div>
                                                        }}
                                                    </div>
                                                </div>                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel">

                                    <div class="panel-heading">
                                        <div class="form-horizontal bordered-row">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">按载重搜索</label>
                                                <div class="col-sm-5 col-sm-offset-2">
                                                    <button type="button" class="col-sm-2 col-xs-12 form-control" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSix" style="font-size:15px; border:1px solid #008bdc">
                                                        吨位
                                                        <i class="glyph-icon icon-angle-down"></i>
                                                    </button>

                                                </div>
                                            </div>              
                                        </div>
                                    </div>

                                    <div id="collapseSix" class="panel-collapse collapse">
                                        <div class="panel-body">
                                                 <div class="row">
                                                    <div class="col-xs-4 col-sm-offset-1">
                                                         <input type="text" data-name="min-weight" class="form-control col-xs-12" placeholder="最低吨位">  
                                                    </div>

                                                    <div class="col-xs-2 text-center">
                                                        <i class="fa fa-long-arrow-right fa-2x" aria-hidden="true"></i>
                                                    </div>

                                                    <div class="col-xs-4">
                                                        <input type="text" data-name="max-weight" class="form-control col-xs-12" placeholder="最高吨位">  
                                                    </div>
                                             
                                                </div>      
                                        </div>
                                    </div>

                                    <div class="form-group" style="display: none;" data-name='weight-error'>
                                        <span class="col-sm-1 control-label"></span>
                                        <label for="company-name" class="col-sm-2 control-label"></label>
                                        <div class="col-sm-9">
                                            <div class="alert alert-danger" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                请正确填写吨位信息
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel">

                                    <div class="panel-heading">
                                        <div class="form-horizontal bordered-row">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">按体积搜索</label>
                                                <div class="col-sm-5 col-sm-offset-2">
                                                <button type="button" class="col-sm-2 col-xs-12 form-control" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive" style="font-size:15px; border:1px solid #008bdc">
                                                    体积
                                                    <i class="glyph-icon icon-angle-down"></i>
                                                </button>
                                                </div>
                                            </div>              
                                        </div>
                                    </div>

                                    <div id="collapseFive" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="form-horizontal bordered-row">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-xs-4 col-sm-offset-1">
                                                             <input type="text" data-name="min-volume" class="form-control col-xs-12" placeholder="最低体积">  
                                                        </div>

                                                        <div class="col-xs-2 text-center">
                                                            <i class="fa fa-long-arrow-right fa-2x" aria-hidden="true"></i>
                                                        </div>

                                                        <div class="col-xs-4">
                                                            <input type="text" data-name="max-volume" class="form-control col-xs-12" placeholder="最高体积">  
                                                        </div>
                                                 
                                                    </div>           
                                                </div>  
                                            </div>      
                                        </div>
                                    </div>

                                    <div class="form-group" style="display: none;" data-name='volume-error'>
                                        <span class="col-sm-1 control-label"></span>
                                        <label for="company-name" class="col-sm-2 control-label"></label>
                                        <div class="col-sm-9">
                                            <div class="alert alert-danger" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                请正确填写体积信息
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group text-center">
                            <label class="col-sm-2 control-label"></label>
                            <button class="col-sm-6 col-xs-offset-1 col-xs-8 btn bg-blue" style="margin-right:20px !important" onclick="startSearch()">
                                确认搜索
                            </button>
                        </div>
         
                    </div>
                </div>
            </div>
         </div>


        <div data-name="result-container">
        @company_product_search_result(product_lst)
        </div>

        </div>
    </div>
</div>

    <ul style="display: none;">
        @{cities map { iter => 
            <li data-category="province" data-value={(iter \ "province").asOpt[String].get}>{(iter \ "province").asOpt[String].get}</li>
        }};

        @{cities map { iter => (iter \ "cities").asOpt[List[String]].get map { x => 
            <li data-category="city" data-filter={(iter \ "province").asOpt[String].get} data-value={x}>{x}</li>
        }}};

        @{cities map { iter => (iter \ "city_ditails").asOpt[List[play.api.libs.json.JsValue]].get map { inner => 
            (inner \ "districts").asOpt[List[String]].get map { x => 
            <li data-category="district" data-filter={(inner \ "city").asOpt[String].get} data-value={x}>{x}</li>
        }}}};
    </ul>

} {
    <script src="@routes.Assets.at("javascripts/district-change2.js")"></script>
    <script type="text/javascript">
        $(function(){
            $('li[data-current="index"]').addClass("active");
        });

        function validate(ele, result, name) {
            if (result) $(ele).removeClass('validate-error');
            else $(ele).addClass('validate-error');

            if (name) {
                if (result) $(String(name)).css({"display": "none"});
                else $(String(name)).css({"display": "block"});
            }

            return result;
        }

        function hasInput(str) {
            var result = (typeof(str) == "string") && (str != "");
            return result;
        }

        function startSearch() {
            var result = true;

            var origin_province = $('select[data-name="search-origin-province"]').val();
            var origin_city = $('select[data-name="search-origin-city"]').val();
            var destination_province = $('select[data-name="search-destination-province"]').val();
            var destination_city = $('select[data-name="search-destination-city"]').val();

            var has_line_condition = (origin_province != null && origin_city != null && destination_province != null && destination_city != null);                            
            var has_no_line_condition = (origin_province == null && origin_city == null && destination_province == null && destination_city == null)

            // result &= validate( $('div[data-name="search-line-condition-container"]'),
            //                     has_line_condition || has_no_line_condition,
            //                     $('div[data-name="search-line-condition-error"]'));

            var has_vehicle_condition = false;
            var vehicle_lst = [];
            $.each($('input[data-name="vehicle"]:checked'), function(index, value){
                vehicle_lst.push($(this).val());
            });
            has_vehicle_condition = vehicle_lst.length > 0;

            var has_vehicle_length_condition = false;
            var vehicle_length_lst = [];
            $.each($('input[data-name="vehicle-length"]:checked'), function(index, value){
                vehicle_length_lst.push(Number($(this).val()));
            });
            has_vehicle_length_condition = vehicle_length_lst.length > 0;

            var min_weight = $('input[data-name="min-weight').val();
            var max_weight = $('input[data-name="max-weight').val();

            var has_weight_conditions = hasInput(min_weight) && hasInput(max_weight);
            var has_no_weight_conditions = min_weight == "" && max_weight == "";

            // result &= validate( $('div[data-name="weight-container"]'),
            //                     has_weight_conditions || has_no_weight_conditions,
            //                     $('div[data-name="weight-error"]'));

            var min_volume = $('input[data-name="min-volume').val();
            var max_volume = $('input[data-name="max-volume').val();

            var has_volume_conditions = hasInput(min_volume) && hasInput(max_volume);
            var has_no_volume_conditions = min_volume == "" && max_volume == "";

            // result &= validate( $('div[data-name="volume-container"]'),
            //                     has_volume_conditions || has_no_volume_conditions,
            //                     $('div[data-name="volume-error"]'));

            if (result) {
                var query_object = new Object();

                if(has_line_condition) {
                    var origin_line = new Object();
                    origin_line['province'] = origin_province;
                    origin_line['city'] = origin_city;
                    query_object['origin'] = origin_line;

                    var destination_line = new Object();
                    destination_line['province'] = destination_province;
                    destination_line['city'] = destination_city;
                    query_object['destination'] = destination_line;
                }

                if (has_vehicle_condition) {
                    query_object['vehicle'] = vehicle_lst;
                }

                if (has_vehicle_length_condition) {
                    query_object['vehicle_length'] = vehicle_length_lst;
                }

                if (has_weight_conditions) {
                    var weight = new Object();
                    weight['min'] = Number(min_weight);
                    weight['max'] = Number(max_weight);

                    query_object['weight'] = weight;
                }

                if (has_volume_conditions) {
                    var volume = new Object();
                    volume['min'] = Number(min_volume);
                    volume['max'] = Number(max_volume);

                    query_object['weight'] = volume;
                }

                query_object['status'] = 0;

                $.ajax({
                    // url: "/html/driver/search/company",
                    url: "/html/company/product/query",
                    type: 'POST',
                    // dataType: 'json',
                    dataType: 'html',
                    contentType: 'application/json, charset=utf-8',
                    data: JSON.stringify(query_object),
                    cache: false,
                    success: function (data) {
                        $("div[data-name='product-result']").remove();
                        $("div[data-name='result-container']").add(data).appendTo($("div[data-name='result-container']"));
                    },
                    error: function (xhr, status, error) {
                        alert("请检查您的输入");
                    }
                });
            }
        }

        function appendProducts() {
            var result = true;

            var origin_province = $('select[data-name="search-origin-province"]').val();
            var origin_city = $('select[data-name="search-origin-city"]').val();
            var destination_province = $('select[data-name="search-destination-province"]').val();
            var destination_city = $('select[data-name="search-destination-city"]').val();

            var has_line_condition = (origin_province != null && origin_city != null && destination_province != null && destination_city != null);                            
            var has_no_line_condition = (origin_province == null && origin_city == null && destination_province == null && destination_city == null)

            // result &= validate( $('div[data-name="search-line-condition-container"]'),
            //                     has_line_condition || has_no_line_condition,
            //                     $('div[data-name="search-line-condition-error"]'));

            var has_vehicle_condition = false;
            var vehicle_lst = [];
            $.each($('input[data-name="vehicle"]:checked'), function(index, value){
                vehicle_lst.push($(this).val());
            });
            has_vehicle_condition = vehicle_lst.length > 0;

            var has_vehicle_length_condition = false;
            var vehicle_length_lst = [];
            $.each($('input[data-name="vehicle-length"]:checked'), function(index, value){
                vehicle_length_lst.push(Number($(this).val()));
            });
            has_vehicle_length_condition = vehicle_length_lst.length > 0;

            var min_weight = $('input[data-name="min-weight').val();
            var max_weight = $('input[data-name="max-weight').val();

            var has_weight_conditions = hasInput(min_weight) && hasInput(max_weight);
            var has_no_weight_conditions = min_weight == "" && max_weight == "";

            // result &= validate( $('div[data-name="weight-container"]'),
            //                     has_weight_conditions || has_no_weight_conditions,
            //                     $('div[data-name="weight-error"]'));

            var min_volume = $('input[data-name="min-volume').val();
            var max_volume = $('input[data-name="max-volume').val();

            var has_volume_conditions = hasInput(min_volume) && hasInput(max_volume);
            var has_no_volume_conditions = min_volume == "" && max_volume == "";

            // result &= validate( $('div[data-name="volume-container"]'),
            //                     has_volume_conditions || has_no_volume_conditions,
            //                     $('div[data-name="volume-error"]'));

            if (result) {
                var query_object = new Object();

                if(has_line_condition) {
                    var origin_line = new Object();
                    origin_line['province'] = origin_province;
                    origin_line['city'] = origin_city;
                    query_object['origin'] = origin_line;

                    var destination_line = new Object();
                    destination_line['province'] = destination_province;
                    destination_line['city'] = destination_city;
                    query_object['destination'] = destination_line;
                }

                if (has_vehicle_condition) {
                    query_object['vehicle'] = vehicle_lst;
                }

                if (has_vehicle_length_condition) {
                    query_object['vehicle_length'] = vehicle_length_lst;
                }

                if (has_weight_conditions) {
                    var weight = new Object();
                    weight['min'] = Number(min_weight);
                    weight['max'] = Number(max_weight);

                    query_object['weight'] = weight;
                }

                if (has_volume_conditions) {
                    var volume = new Object();
                    volume['min'] = Number(min_volume);
                    volume['max'] = Number(max_volume);

                    query_object['weight'] = volume;
                }

                query_object['skip'] = $("div[data-name='product-result']").length;
                query_object['status'] = 0;

                $.ajax({
                    // url: "/html/driver/search/company",
                    url: "/html/company/product/query",
                    type: 'POST',
                    // dataType: 'json',
                    dataType: 'html',
                    contentType: 'application/json, charset=utf-8',
                    data: JSON.stringify(query_object),
                    cache: false,
                    success: function (data) {
                        $(data).appendTo($("div[data-name='result-container']"));
                    },
                    error: function (xhr, status, error) {
                        alert("请检查您的输入");
                    }
                })
            }
        }

        var $window = $(window);
        var $document = $(document);
        $window.scroll(function(){
            if ($document.scrollTop() + $window.height() >= $document.height()) {
                appendProducts();
            } else {

            }
        });
    </script>
}