@(token : String)(open_id : String)(company_name : String)(auth : Int)(cities : List[play.api.libs.json.JsValue])(vc : play.api.libs.json.JsValue)(com_lst : List[play.api.libs.json.JsValue])

@sw_login_index_sliders("易聚货-专线")(company_name)(auth) {
    
} {

<div id="page-content-wrapper">
    <div id="page-content">
        <div class="container">


        <div id="page-title"></div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-body">

                        <h3 class="title-hero">
                            专线信息列表搜索选项栏
                        </h3>

                        <div class="example-box-wrapper">

                            <div class="panel-group" id="accordion">

                                <div class="panel">

                                    <div class="panel-heading">
                                        <div class="form-horizontal bordered-row">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">按主营路线搜索</label>
                                                <div class="col-sm-5 col-sm-offset-2">
                                                <button type="button" class="col-sm-2 col-xs-12 form-control" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" style="font-size:15px; border:1px solid #008bdc">
                                                    主营路线选择
                                                    <i class="glyph-icon icon-angle-down"></i>
                                                </button>

                                                </div>
                                            </div>              
                                        </div>
                                    </div>

                                    <div id="collapseOne" class="panel-collapse collapse">
                                        <div class="panel-body">
                                        <div class="form-horizontal bordered-row">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-2 col-sm-offset-1">
                                                        <select class="form-control" data-name="search-origin-province" data-index="0" onchange="cityChanges($(this), $(this).parent().parent(), 1)">
                                                            <option selected disabled>请选择省</option>
                                                            @{cities map { iter => 
                                                                <option value={(iter \ "province").asOpt[String].get}>{(iter \ "province").asOpt[String].get}</option>
                                                            }};
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <select class="form-control" data-name="search-origin-city" data-index="1">
                                                            <option selected disabled data-filter="choice" >请选择市</option>
                                                            @{cities map { iter => (iter \ "cities").asOpt[List[String]].get map { x => 
                                                                <option style="display:none" data-filter={(iter \ "province").asOpt[String].get} value={x}>{x}</option>
                                                            }}};
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <label><i class="fa fa-long-arrow-right fa-2x" aria-hidden="true"></i></label>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <select class="form-control" data-name="search-destination-province" data-index="2" onchange="cityChanges($(this), $(this).parent().parent(), 3)">
                                                            <option selected disabled data-filter="choice" >请选择省</option>
                                                            @{cities map { iter => 
                                                                <option value={(iter \ "province").asOpt[String].get}>{(iter \ "province").asOpt[String].get}</option>
                                                            }};
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <select class="form-control" data-name="search-destination-city" data-index="3">
                                                            <option selected disabled data-filter="choice" >请选择市</option>
                                                            @{cities map { iter => (iter \ "cities").asOpt[List[String]].get map { x => 
                                                                <option style="display:none" data-filter={(iter \ "province").asOpt[String].get} value={x}>{x}</option>
                                                            }}};
                                                        </select> 
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>      
                                        </div>
                                    </div>

                                    <div class="form-group" style="display: none;" data-name='search-line-condition-error'>
                                        <span class="col-sm-1 control-label"></span>
                                        <label for="company-name" class="col-sm-2 control-label"></label>
                                        <div class="col-sm-9">
                                            <div class="alert alert-danger" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                请选择有效的路线条件
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="form-horizontal bordered-row">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">按拥有车型搜索</label>
                                                <div class="col-sm-5 col-sm-offset-2">
                                                <button type="button" class="col-sm-2 col-xs-12 form-control" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" style="font-size:15px; border:1px solid #008bdc">
                                                    拥有车型选择
                                                    <i class="glyph-icon icon-angle-down"></i>
                                                </button>
                                                </div>
                                            </div>              
                                        </div>
                                    </div>

                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="form-horizontal bordered-row">
                                                <div class="form-group">
                                                    <div class="col-sm-offset-1">
                                                    @{(vc \ "vehicle").asOpt[List[String]].get map { x =>
                                                        <div class="col-sm-2 checkbox">
                                                            <label><input data-name="vehicle" type="checkbox" value={x} /> {x} </label>
                                                        </div>
                                                    }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-center">
                            <label class="col-sm-2 control-label"></label>
                            <button class="col-sm-6 col-xs-offset-1 col-xs-8 btn bg-blue" style="margin-right:20px !important" onclick="startSearch()">
                                确认搜索
                            </button>
                        </div>
         
                    </div>
                </div>
            </div>
         </div>


        <div data-name="result-container">
        @specialway_product_search_result(com_lst)
        </div> <!-- result container -->

        </div>
    </div>
</div>

} {
    <script src="@routes.Assets.at("javascripts/district-change.js")"></script>
    <script type="text/javascript">
        $(function(){
            $('li[data-current="index"]').addClass("active");
        });

        function startSearch() {
            var result = true;

            var origin_province = $('select[data-name="search-origin-province"]').val();
            var origin_city = $('select[data-name="search-origin-city"]').val();
            var destination_province = $('select[data-name="search-destination-province"]').val();
            var destination_city = $('select[data-name="search-destination-city"]').val();

            var has_line_condition = (origin_province != null && origin_city != null && destination_province != null && destination_city != null);                            
            var has_no_line_condition = (origin_province == null && origin_city == null && destination_province == null && destination_city == null)

            // result &= validate( $('div[data-name="search-line-condition-container"]'),
            //                     has_line_condition || has_no_line_condition,
            //                     $('div[data-name="search-line-condition-error"]'));

            var has_vehicle_condition = false;
            var vehicle_lst = [];
            $.each($('input[data-name="vehicle"]:checked'), function(index, value){
                vehicle_lst.push($(this).val());
            });
            has_vehicle_condition = vehicle_lst.length > 0;

            if (result) {
                var query_object = new Object();
                query_object['type'] = 3;

                if(has_line_condition) {
                    var line_con = new Object();
                    line_con['origin_province'] = origin_province;
                    line_con['origin_city'] = origin_city;
                    line_con['destination_province'] = destination_province;
                    line_con['destination_city'] = destination_city;

                    query_object['line'] = line_con;
                }

                if (has_vehicle_condition) {
                    query_object['vehicle'] = vehicle_lst;
                }

                $.ajax({
                    url: "/html/company/search/specialway",
                    type: 'POST',
                    // dataType: 'json',
                    dataType: 'html',
                    contentType: 'application/json, charset=utf-8',
                    data: JSON.stringify(query_object),
                    cache: false,
                    success: function (data) {
                        $("div[data-name='sw-result']").remove();
                        $("div[data-name='result-container']").add(data).appendTo($("div[data-name='result-container']"));
                    },
                    error: function (xhr, status, error) {
                        alert("请检查您的输入");
                    }
                });
            };
        }
    </script>
}