@(message: String)

@sw_login_index_sliders("易聚货专线")("")  {
    
} {

<div id="page-content-wrapper">
    <div id="page-content">
        <div class="container">

                    <div id="page-title">
                        <h2>已完成其他信息</h2>

                    </div>

                    <div class="panel">
                        <div class="panel-body">
                            <h3 class="title-hero">
                                #可以写文案
                            </h3>

                            <div class="example-box-wrapper"> 
                                                <div class="row">

                        <div class="col-sm-12">

                            <div class="row">

                            <div class="col-sm-4" style="font-size:15px">
                                <label>2016年6月30日</label>
                            </div>
  
                            <div class="col-sm-6" style="font-size:15px">
                                <label>这里显示的是该条信息的标题</label>
                            </div>

                            <button type="button" class="btn btn-info mrg20B col-sm-2 col-xs-12" data-toggle="collapse" data-target="#depart-view" style="font-size:15px">
                                查看详情
                            </button>

                            </div>   
                            <div id="depart-view" class="collapse">

                                <div class="panel">

                                    <div class="panel-body">
                            <div class="form-horizontal bordered-row">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">标题</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" disabled="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">正文</label>
                                    <div class="col-sm-8" style="pointer-events: none;">
                                        <div class="wysiwyg-editor"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">联系人</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" disabled="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">联系人电话</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" disabled="true">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">其他信息状态设置</label>

                                    <div class="col-sm-6 col-sm-offset-1">
                                        <button class="form-control" style="border: 1px solid #008bdc;">重新发布信息</button> 
                                    </div> 
<!--
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <button class="form-control" style="border: none; color:#848484;"><i class="fa fa-trash-o fa-2x" style="color:#6E6E6E"></i> &nbsp;&nbsp;&nbsp; 彻底删除</button>
                                    </div>
-->
                                </div>  

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                </div>
                                </div>
                            </div>
                        </div>
                    </div>



        </div>
    </div>
</div>

} {
    <script type="text/javascript">
        $(function(){
            $('li[data-current="index"]').addClass("active");
        });
    </script>
}
