@(token : String)(open_id : String)(company_name : String)(cities : List[play.api.libs.json.JsValue])(vc : play.api.libs.json.JsValue)(product_lst : List[play.api.libs.json.JsValue])

@sw_login_index_sliders("易聚货专线")(company_name) {
    
} {
<div id="page-content-wrapper">
    <div id="page-content">
        <div class="container">

        <div id="page-title"></div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-body">

                        <h3 class="title-hero">
                            其他公司货源信息列表搜索选项栏
                        </h3>

                        <div class="example-box-wrapper">

                            <div class="panel-group" id="accordion">

                                <div class="panel">

                                    <div class="panel-heading">
                                        <div class="form-horizontal bordered-row">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">按路线搜索</label>
                                                <div class="col-sm-5 col-sm-offset-2">
                                                <button type="button" class="col-sm-2 col-xs-12 form-control" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" style="font-size:15px; border:1px solid #008bdc">
                                                    路线选择
                                                    <i class="glyph-icon icon-angle-down"></i>
                                                </button>

                                                </div>
                                            </div>              
                                        </div>
                                    </div>

                                    <div id="collapseOne" class="panel-collapse collapse">
                                        <div class="panel-body">
                                        <div class="form-horizontal bordered-row">
                                            <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-2 col-sm-offset-1">
                                                            <select class="form-control" data-name="origin-province" data-index="0" onchange="cityChanges($(this), $(this).parent().parent(), 1)" >
                                                                @{cities map { p => 
                                                                    <option value={(p \ "province").asOpt[String].get}>{(p \ "province").asOpt[String].get}</option>
                                                                }};
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <select class="form-control" data-name="origin-city" data-index="1" >
                                                                @{cities map { p => (p \ "cities").asOpt[List[String]].get map { x => 
                                                                    <option style="display:none" data-filter={(p \ "province").asOpt[String].get} value={x}>{x}</option>
                                                                }}};
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <label><i class="fa fa-long-arrow-right fa-2x" aria-hidden="true"></i></label>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <select class="form-control" data-name="origin-province" data-index="2" onchange="cityChanges($(this), $(this).parent().parent(), 1)" >
                                                                @{cities map { p => 
                                                                    <option value={(p \ "province").asOpt[String].get}>{(p \ "province").asOpt[String].get}</option>
                                                                }};
                                                            </select>  
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <select class="form-control" data-name="origin-city" data-index="3" >
                                                                @{cities map { p => (p \ "cities").asOpt[List[String]].get map { x => 
                                                                    <option style="display:none" data-filter={(p \ "province").asOpt[String].get} value={x}>{x}</option>
                                                                }}};
                                                            </select> 
                                                        </div>
                                                    </div>          
                                            </div>  
                                        </div>      
                                        </div>
                                    </div>
                                </div>

                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="form-horizontal bordered-row">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">按车型搜索</label>
                                                <div class="col-sm-5 col-sm-offset-2">
                                                <button type="button" class="col-sm-2 col-xs-12 form-control" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" style="font-size:15px; border:1px solid #008bdc">
                                            需求车型选择
                                            <i class="glyph-icon icon-angle-down"></i>
                                                </button>

                                                </div>
                                            </div>              
                                        </div>
                                    </div>

                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="form-horizontal bordered-row">
                                                <div class="form-group">
                                                    <div class="col-sm-offset-1">
                                                        @{(vc \ "vehicle").asOpt[List[String]].get map { x =>
                                                        <div class="col-sm-2 checkbox">
                                                            <label><input data-name="vehicle" type="checkbox" value={x} /> {x} </label>
                                                        </div>
                                                        }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="form-horizontal bordered-row">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">按车长搜索</label>
                                                <div class="col-sm-5 col-sm-offset-2">
                                                <button type="button" class="col-sm-2 col-xs-12 form-control" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" style="font-size:15px; border:1px solid #008bdc">
                                                    需求车长选择
                                                    <i class="glyph-icon icon-angle-down"></i>
                                                </button>

                                                </div>
                                            </div>              
                                        </div>
                                    </div>

                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="form-horizontal bordered-row">
                                                <div class="form-group">
                                                    <div class="col-sm-offset-1">
                                                        @{(vc \ "vehicle_length").asOpt[List[Double]].get map { x =>
                                                        <div class="col-sm-2 checkbox">
                                                            <label><input data-name="vehicle-length" type="checkbox" value={x.toString} /> {x.toString}米 </label>
                                                        </div>
                                                        }}
                                                    </div>
                                                </div>                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel">

                                    <div class="panel-heading">
                                        <div class="form-horizontal bordered-row">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">按载重搜索</label>
                                                <div class="col-sm-5 col-sm-offset-2">
                                                    <button type="button" class="col-sm-2 col-xs-12 form-control" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSix" style="font-size:15px; border:1px solid #008bdc">
                                                        吨位
                                                        <i class="glyph-icon icon-angle-down"></i>
                                                    </button>

                                                </div>
                                            </div>              
                                        </div>
                                    </div>

                                    <div id="collapseSix" class="panel-collapse collapse">
                                        <div class="panel-body">
                                                 <div class="row">
                                                    <div class="col-xs-4 col-sm-offset-1">
                                                         <input type="text" class="form-control col-xs-12" placeholder="最低吨位">  
                                                    </div>

                                                    <div class="col-xs-2 text-center">
                                                        <i class="fa fa-long-arrow-right fa-2x" aria-hidden="true"></i>
                                                    </div>

                                                    <div class="col-xs-4">
                                                        <input type="text" class="form-control col-xs-12" placeholder="最高吨位">  
                                                    </div>
                                             
                                                </div>      
                                        </div>
                                    </div>
                                </div>

                                <div class="panel">

                                    <div class="panel-heading">
                                        <div class="form-horizontal bordered-row">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">按体积搜索</label>
                                                <div class="col-sm-5 col-sm-offset-2">
                                                <button type="button" class="col-sm-2 col-xs-12 form-control" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive" style="font-size:15px; border:1px solid #008bdc">
                                                    体积
                                                    <i class="glyph-icon icon-angle-down"></i>
                                                </button>
                                                </div>
                                            </div>              
                                        </div>
                                    </div>

                                    <div id="collapseFive" class="panel-collapse collapse">
                                        <div class="panel-body">
                                        <div class="form-horizontal bordered-row">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-xs-4 col-sm-offset-1">
                                                         <input type="text" class="form-control col-xs-12" placeholder="最低体积">  
                                                    </div>

                                                    <div class="col-xs-2 text-center">
                                                        <i class="fa fa-long-arrow-right fa-2x" aria-hidden="true"></i>
                                                    </div>

                                                    <div class="col-xs-4">
                                                        <input type="text" class="form-control col-xs-12" placeholder="最高体积">  
                                                    </div>
                                             
                                                </div>           
                                            </div>  
                                        </div>      
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group text-center">
                            <label class="col-sm-2 control-label"></label>
                            <button class="col-sm-6 col-xs-offset-1 col-xs-8 btn bg-blue" style="margin-right:20px !important">
                                确认搜索
                            </button>
                        </div>
         
                    </div>
                </div>
            </div>
         </div>



        @{ (product_lst zipWithIndex) map { item => 
            val iter = item._1
            val index = item._2

            val origin = (iter \ "origin").asOpt[play.api.libs.json.JsValue].get
            val destination = (iter \ "destination").asOpt[play.api.libs.json.JsValue].get

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-body">
                            <h3 class="title-hero">
                                
                            </h3>

                            <div class="example-box-wrapper">
                                <div class="row">

                                    <div class="col-sm-12">

                                        <div class="row">
                                            <div class="col-sm-6" style="font-size:15px">
                                                {
                                                    (origin \ "province").asOpt[String].get + (origin \ "city").asOpt[String].get
                                                }
                                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                                {
                                                    (destination \ "province").asOpt[String].get + (destination \ "city").asOpt[String].get
                                                }
                                            </div>

                                            

                                            {if ((iter \ "isSpecialWay").asOpt[Int].get == 1) {
                                                <div class="col-sm-4" style="font-size:15px">
                                                    专线发布
                                                </div> 
                                            } else {
                                                <div class="col-sm-4" style="font-size:15px">
                                                    {(iter \ "product_name").asOpt[String].get}  /  {(iter \ "weight").asOpt[Float].get} 吨  / {(iter \ "volume").asOpt[Float].get} 立方米
                                                </div>  
                                            }}

                                            <button type="button" class="btn btn-info mrg20B col-sm-2 col-xs-12" data-toggle="collapse" data-target={"#" + index} style="font-size:15px">
                                                查看详情
                                            </button>

                                        </div>

                                        <div id={"" + index} class="collapse">

                                            <div class="panel">

                                                <div class="panel-body">
                                                <div class="form-horizontal bordered-row" role="form">
                                                    <div class="form-group">
                                                        <label for="certificate-type" class="col-sm-2 control-label">起运地</label>
                                                        <div class="col-sm-8">
                                                            <label type='text' class="control-label">{(origin \ "province").asOpt[String].get + " " + (origin \ "city").asOpt[String].get}</label> 
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="certificate-type" class="col-sm-2 control-label">目的地</label>
                                                        <div class="col-sm-8">
                                                            <label type='text' class="control-label"> {(destination \ "province").asOpt[String].get + " " + (destination \ "city").asOpt[String].get}</label> 
                                                        </div>
                                                    </div>

                                                    {if ((iter \ "isSpecialWay").asOpt[Int].get == 0) {
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">吨位</label>
                                                            <div class="col-sm-6">
                                                                <label type="text" class="control-label">{(iter \ "weight").asOpt[Float].get} 吨</label>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">体积</label>
                                                            <div class="col-sm-6">
                                                                <label type="text" class="control-label">{(iter \ "volume").asOpt[Float].get} 立方米</label>
                                                            </div>
                                                        </div>
                                                    }}

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">需求车型</label>
                                                        <div class="col-sm-6">
                                                            { (iter \ "vehicle").asOpt[List[String]].get map { v => 
                                                                <label type="text" class="control-label">{v}</label>
                                                            }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">需求车长</label>
                                                        <div class="col-sm-6">
                                                            { (iter \ "vehicle_length").asOpt[List[Double]].get map { v => 
                                                                <label type="text" class="control-label">{"%.1f".format(v)}米</label>
                                                            }}
                                                            
                                                        </div>
                                                    </div>

                                                    {if ((iter \ "isSpecialWay").asOpt[Int].get == 0) {
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">货物名称</label>
                                                            <div class="col-sm-6">
                                                                <label type="text" class="control-label">{(iter \ "product_name").asOpt[String].get}</label>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">时效需求</label>
                                                            <div class="col-sm-6">
                                                                <label type="text" class="control-label">{(iter \ "date_requirement").asOpt[String].get}</label>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">其他备注</label>
                                                            <div class="col-sm-6">
                                                                <label type="text" class="control-label">{(iter \ "notes").asOpt[String].get}</label>
                                                            </div>
                                                        </div>
                                                    }}
                                                    
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">所属公司</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label">{(iter \ "company_name").asOpt[String].get}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">联系人</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label">{(iter \ "contact_name").asOpt[String].get}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">联系人电话</label>
                                                        <div class="col-sm-6">
                                                            <label type="text" class="control-label">{(iter \ "contact_phone").asOpt[String].get}</label>
                                                        </div>
                                                    </div> 

                                                </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }}

        </div>
    </div>
</div>

} {
    <script type="text/javascript">
        $(function(){
            $('li[data-current="index"]').addClass("active");
        });

        function validate(ele, result, name) {
            if (result) $(ele).removeClass('validate-error');
            else $(ele).addClass('validate-error');

            if (name) {
                if (result) $(String(name)).css({"display": "none"});
                else $(String(name)).css({"display": "block"});
            }

            return result;
        }

        function hasInput(str) {
            var result = (typeof(str) == "string") && (str != "");
            return result;
        }

        function cityChanges(ele, container, index) {
            var a = Number($(ele).attr("data-index"));
            var province = $(ele).val();
            $(container).find('select[data-index="' + String(a + 1) + '"]').children().css({"display":"none"});
            $(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="choice"]').css({"display":"block"});
            $(container).find('select[data-index="' + String(a + 1) + '"]').children('option[data-filter="' + province + '"]').css({"display":"block"});
        }
    </script>
}